<template>
  <div class>
    <CCard class="card-content">
      <CCardHeader class="card-header ">
        <h4 id="" class="mt-0 mb-0">
          การบันทึก/แก้ไข ความสัมพันธ์ผ้าใบและแถบสี
        </h4>
      </CCardHeader>
      <CCardBody>
        <CRow class="mx-1" v-if="HReport == true">
          <CCol md="6">
            <CRow class="form-group">
              <CCol md="6" class="my-2">
                <span>Code ผ้าใบและแถบสี</span>
                <input autocomplete="off"
                  maxlength="2"
                  @keyup.enter="SearchCanvasnBar"
                  v-model="search.canvasnbar_cd"
                  style="text-transform: uppercase !important"
                  class="input-box"
                />
              </CCol>
              <CCol md="6" class="my-2">
                <span>รายละเอียด</span>
                <input autocomplete="off"
                  v-model="search.txtsearch"
                  style="text-transform: uppercase !important"
                  @keyup.enter="SearchCanvasnBar"
                  class="input-box"
                />
              </CCol>
            </CRow>
          </CCol>
          <CCol md="1">
            <CRow class="">
                <CButton
                  class="mt-4"
                  color="info"
                  block
                  @click="SearchCanvasnBar"
                >
                  <CIcon name="cil-magnifying-glass" />ค้นหา
                </CButton>
            </CRow>
          </CCol>
        </CRow>
        <CRow class="mx-3">
          <CButton
            class="mt-1 mr-3"
            color="success"
            @click="openAddModal = true"
          >
            <i class="fa fa-plus"></i>
            เพิ่ม
          </CButton>
          <CButton
            class="mt-1 mr-3 text-white"
            color="warning"
            v-if="checkItemID.length == 1 && itemsTabs1 == true"
            @click="EditCanvasnBarButton"
          >
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton class="mt-1 mr-3 text-white" color="warning" v-else disabled>
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="info"
            v-if="checkItemID.length == 1"
            @click="ViewCanvasnBarButton()"
          >
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton class="mt-1 mr-3" color="info" disabled v-else>
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="danger"
            v-if="checkItemID.length == 1 && itemsTabs3 == false"
            @click="DeleteView()"
          >
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton class="mt-1 mr-3" color="danger" disabled v-else>
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton
            variant="outline"
            color="secondary"
            class="mt-1 mr-3"
            :pressed.sync="HReport"
            >{{ HReport ? "ซ่อน" : "แสดง" }}เงื่อนไข</CButton
          >
        </CRow>
      </CCardBody>
      <hr class="my-0" />
      <CCardBody>
        <CNav variant="tabs">
          <CNavItem v-model="itemsTabs1" active>
            <CButton
              @click="
                (itemsTabs1 = true), (itemsTabs2 = false), (itemsTabs3 = false)
              "
              >ข้อมูลผ้าใบและแถบสีที่ Active</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs2">
            <CButton
              @click="
                (itemsTabs2 = true), (itemsTabs1 = false), (itemsTabs3 = false)
              "
              >ข้อมูลผ้าใบและแถบสีที่หมดอายุ (Inactive)</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs3">
            <CButton
              @click="
                (itemsTabs3 = true), (itemsTabs1 = false), (itemsTabs2 = false)
              "
              >ข้อมูลผ้าใบและแถบสีที่ถูกลบ</CButton
            >
          </CNavItem>
        </CNav>
        <CCard>
          <CCardBody style="overflow-x: auto" v-if="itemsTabs1 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPageA">แสดง</label>
                <select
                  class="mx-1 selectPage-box"
                  name="selectPageA"
                  id="selectPageA"
                  v-model="perPageA"
                  @click="setPagesActive()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage"
                  >/ {{ dataCanvasnBarCount }} รายการ</label
                >
              </div>
            </form>
            <table class="table styled-table">
              <thead class="tableTab1">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col">ID</th>
                  <th scope="col">รหัสผ้าใบและแถบสี</th>
                  <th scope="col">รายละเอียดผ้าใบและแถบสี</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                  <th scope="col">ผู้บันทึก</th>
                  <th scope="col">วันที่บันทึก</th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="p in displayedPostsActive" :key="p.canvasnbar_id">
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.canvasnbar_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      @click="checkItems(p.canvasnbar_id)"
                    />
                  </th>
                  <td class="td-fontsize">{{ p.canvasnbar_id }}</td>
                  <td class="td-fontsize text-center">{{ p.canvasnbar_cd }}</td>
                  <td class="td-fontsize">{{ p.canvasnbar_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                  <td class="td-fontsize">{{ p.user_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    color="primary"
                    v-if="pageA != 1"
                    @click="pageA--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="page-link" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageA++"
                    color="primary"
                    v-if="pageA < pagesA.length"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="page-link"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>

          <CCardBody style="overflow-x: auto" v-if="itemsTabs2 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPageI">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPageI"
                  id="selectPageI"
                  v-model="perPageI"
                  @click="setPagesIntive()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage"
                  >/ {{ dataICanvasnBarCount }} รายการ</label
                >
              </div>
            </form>
            <table class="table styled-table">
              <thead class="tableTab2">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col">ID</th>
                  <th scope="col">รหัสผ้าใบและแถบสี</th>
                  <th scope="col">รายละเอียดผ้าใบและแถบสี</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                  <th scope="col">ผู้บันทึก</th>
                  <th scope="col">วันที่บันทึก</th>
                </tr>
              </thead>
              <tbody v-if="showTable == true && dataICanvasnBarCount != 0">
                <tr v-for="p in displayedPostsInactive" :key="p.canvasnbar_id">
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.canvasnbar_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      @click="checkItems(p.canvasnbar_id)"
                    />
                  </th>
                  <td class="td-fontsize">{{ p.canvasnbar_id }}</td>
                  <td class="td-fontsize text-center">{{ p.canvasnbar_cd }}</td>
                  <td class="td-fontsize">{{ p.canvasnbar_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                  <td class="td-fontsize">{{ p.user_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
              <tbody v-else>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><h5>ไม่พบข้อมูล</h5></td>
                <td></td>
                <td></td>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class="text-info"
                    v-if="pageI != 1"
                    @click="pageI--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="text-info" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageI++"
                    v-if="pageI < pagesI.length"
                    class="text-info"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="text-info"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>

          <CCardBody style="overflow-x: auto" v-if="itemsTabs3 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPage">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPage"
                  id="selectPage"
                  v-model="perPageC"
                  @click="setPagesCancel()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage"
                  >/ {{ dataCCanvasnBarCount }} รายการ</label
                >
              </div>
            </form>
            <table class="table styled-table">
              <thead class="tableTab3">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col">ID</th>
                  <th scope="col">รหัสผ้าใบและแถบสี</th>
                  <th scope="col">รายละเอียดผ้าใบและแถบสี</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                  <th scope="col">ผู้ยกเลิก</th>
                  <th scope="col">วันที่ยกเลิก</th>
                </tr>
              </thead>
              <tbody v-if="showTable == true && dataCCanvasnBarCount != 0">
                <tr v-for="p in displayedPostsCancel" :key="p.canvasnbar_id">
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.canvasnbar_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      @click="checkItems(p.canvasnbar_id)"
                    />
                  </th>
                  <td class="td-fontsize">{{ p.canvasnbar_id }}</td>
                  <td class="td-fontsize text-center">{{ p.canvasnbar_cd }}</td>
                  <td class="td-fontsize">{{ p.canvasnbar_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                  <td class="td-fontsize">{{ p.cancel_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.cancel_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
              <tbody v-else>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><h5>ไม่พบข้อมูล</h5></td>
                <td></td>
                <td></td>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class="text-danger"
                    v-if="pageC != 1"
                    @click="pageC--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="text-danger" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageC++"
                    v-if="pageC < pagesC.length"
                    class="text-danger"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="text-danger"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>
        </CCard>
      </CCardBody>
      <CCardFooter>
        <CRow class>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-if="itemsTabs3 == true">
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_u_canvasnbar
          </CCol>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-else>
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_s_canvasnbar
          </CCol>
        </CRow>
      </CCardFooter>
    </CCard>

    <!-- openAddModal -->
    <CModal
      :show.sync="openAddModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="lg"
      color="success"
    >
      <CRow class="form-group mx-5">
        <CCol md="12" class="mt-3">
          <CRow>
            <CCol md="3">
              <span class="label-formInput">ID ผ้าใบและแถบสี</span>
            </CCol>
            <CCol md="2">
              <CInput disabled v-model="maxCanvasnBarID" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ผ้าใบ</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="6" class="mb-2">
              <multiselect
                :allow-empty="false"
                id="CanvasOptions-filter"
                placeholder
                v-model="CanvasOptions.selected"
                :multiple="false"
                :options="CanvasOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="canvas_id"
                @input="GenDataCanvasnBar()"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">แถบสี</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="6" class="mb-2">
              <multiselect
                :allow-empty="false"
                id="BarcolorOptions-filter"
                placeholder
                v-model="BarcolorOptions.selected"
                :multiple="false"
                :options="BarcolorOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="barcolor_id"
                @input="GenDataCanvasnBar()"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow>
            <CCol md="3">
              <span class="label-formInput">รหัสผ้าใบและแถบสี</span>
            </CCol>
            <CCol md="2">
              <CInput v-model="insert.canvasnbar_cd" disabled />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ชื่อข้อมูลผ้าใบและแถบสี</span>
            </CCol>
            <CCol md="6">
              <CTextarea
                maxlength="100"
                v-model="insert.canvasnbar_name"
                disabled
                rows="3"
              />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="mb-2">
                วันที่ประกาศใช้
                <span class="text-danger">*</span>
              </span>
            </CCol>
            <CCol md="9" class="mb-3">
              <date-picker
                v-model="insert.canvasnbar_st"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
              <!-- <CInput v-model="insert.canvasnbar_st" type="da.te" max="3000-12-31" /> -->
            </CCol>

            <CCol md="3">
              <span>วันที่หมดอายุ</span>
            </CCol>
            <CCol md="9" class="mb-2">
              <date-picker
                v-model="insert.canvasnbar_en"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
              <!-- <CInput v-model="insert.canvasnbar_en" type="da.te" max="3000-12-31" /> -->
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">เพิ่มข้อมูลความสัมพันธ์ผ้าใบและแถบสี</h5>
        <CButtonClose
          @click="(openAddModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openAddModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
        <CButton @click="CheckInsertCanvasnBarButton" color="success"
          >บันทึก</CButton
        >
      </template>
    </CModal>
    <!-- openEditModal -->
    <div>
      <CModal
        :show.sync="openEditModal"
        :closeOnBackdrop="false"
        :centered="true"
        title="Modal title 2"
        size="lg"
        color="warning"
      >
        <CRow
          class="form-group mx-5"
          v-if="editCanvasnBar.canvasnbar_st < currentDate"
        >
          <h5 class="text-danger">
            * ไม่สามารถแก้ไขได้ เนื่องจากมีวันประกาศใช้ไปแล้ว
            แก้ไขได้เฉพาะวันที่หมดอายุ
          </h5>
          <CCol md="12" class="mt-3">
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">ID ผ้าใบและแถบสี</span>
              </CCol>
              <CCol md="4">
                <CInput disabled v-model="editCanvasnBar.canvasnbar_id" />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">ผ้าใบ</span>
              </CCol>
              <CCol md="6" class="mb-2">
                <CInput v-model="editCanvasnBar.canvas_name" disabled />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">แถบสี</span>
              </CCol>
              <CCol md="6" class="mb-2">
                <CInput v-model="editCanvasnBar.barcolor_name" disabled />
              </CCol>
            </CRow>
            <CRow>
              <CCol md="3">
                <span class="label-formInput">รหัสผ้าใบและแถบสี</span>
              </CCol>
              <CCol md="2">
                <CInput v-model="editCanvasnBar.canvasnbar_cd" disabled />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">ชื่อข้อมูลผ้าใบและแถบสี</span>
              </CCol>
              <CCol md="6">
                <CTextarea
                  maxlength="100"
                  v-model="editCanvasnBar.canvasnbar_name"
                  disabled
                  rows="3"
                />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="mb-2"> วันที่ประกาศใช้ </span>
              </CCol>
              <CCol md="9" class="mb-3">
                <date-picker
                  v-model="editCanvasnBar.canvasnbar_st"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                  disabled
                ></date-picker>
                <!-- <CInput disabled v-model="editCanvasnBar.canvasnbar_st" type="da.te" max="3000-12-31" /> -->
              </CCol>

              <CCol md="3">
                <span>วันที่หมดอายุ</span>
              </CCol>
              <CCol md="9" class="mb-2">
                <date-picker
                  v-model="editCanvasnBar.canvasnbar_en"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                ></date-picker>
                <!-- <CInput v-model="editCanvasnBar.canvasnbar_en" type="da.te" max="3000-12-31" /> -->
              </CCol>
            </CRow>
          </CCol>
        </CRow>
        <CRow class="form-group mx-5" v-else>
          <CCol md="12" class="mt-3">
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">ID ผ้าใบและแถบสี</span>
              </CCol>
              <CCol md="4">
                <CInput disabled v-model="editCanvasnBar.canvasnbar_id" />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">ผ้าใบ</span>
              </CCol>
              <CCol md="6" class="mb-2">
                <multiselect
                  :allow-empty="false"
                  id="CanvasOptions-filter-edit"
                  placeholder
                  v-model="CanvasOptions.selected"
                  :multiple="false"
                  :options="CanvasOptions.lists"
                  :show-labels="false"
                  label="_label"
                  track-by="canvas_id"
                  @input="GenEditDataCanvasnBar()"
                ></multiselect>
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">แถบสี</span>
              </CCol>
              <CCol md="6" class="mb-2">
                <multiselect
                  id="BarcolorOptions-filter-edit"
                  placeholder=""
                  v-model="BarcolorOptions.selected"
                  :multiple="false"
                  :options="BarcolorOptions.lists"
                  :show-labels="false"
                  label="_label"
                  track-by="barcolor_id"
                  @input="GenEditDataCanvasnBar_bar()"
                ></multiselect>
              </CCol>
            </CRow>
            <CRow>
              <CCol md="3">
                <span class="label-formInput">รหัสผ้าใบและแถบสี</span>
              </CCol>
              <CCol md="2">
                <CInput v-model="editCanvasnBar.canvasnbar_cd" disabled />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">ชื่อข้อมูลผ้าใบและแถบสี</span>
              </CCol>
              <CCol md="6">
                <CTextarea
                  maxlength="100"
                  v-model="editCanvasnBar.canvasnbar_name"
                  disabled
                  rows="3"
                />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="mb-2"> วันที่ประกาศใช้ </span>
              </CCol>
              <CCol md="9" class="mb-3">
                <date-picker
                  v-model="editCanvasnBar.canvasnbar_st"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                ></date-picker>
                <!-- <CInput v-model="editCanvasnBar.canvasnbar_st" type="da.te" max="3000-12-31" /> -->
              </CCol>

              <CCol md="3">
                <span>วันที่หมดอายุ</span>
              </CCol>
              <CCol md="9" class="mb-2">
                <date-picker
                  v-model="editCanvasnBar.canvasnbar_en"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                ></date-picker>
                <!-- <CInput v-model="editCanvasnBar.canvasnbar_en" type="da.te" max="3000-12-31" /> -->
              </CCol>
            </CRow>
          </CCol>
        </CRow>
        <template #header>
          <h5 class="modal-title">แก้ไขความสัมพันธ์ผ้าใบและแถบสี</h5>
          <CButtonClose @click="openEditModal = false" class="text-white" />
        </template>
        <template #footer>
          <CButton @click="(openEditModal = false), resetData()" color="danger"
            >ยกเลิก</CButton
          >
          <CButton
            v-if="editCanvasnBar.canvasnbar_st < currentDate"
            @click="SaveEditCanvasnBarButton"
            color="success"
            >บันทึก</CButton
          >
          <CButton v-else @click="CheckEditCanvasnBarButton" color="success"
            >บันทึก</CButton
          >
        </template>
      </CModal>
    </div>
    <!-- openViewModal -->
    <CModal
      :show.sync="openViewModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="lg"
      color="info"
    >
      <CRow class="form-group mx-5">
        <CCol md="12" class="mt-3">
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ID ผ้าใบและแถบสี</span>
            </CCol>
            <CCol md="4">
              <CInput disabled v-model="viewCanvasnBar.canvasnbar_id" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ผ้าใบ</span>
            </CCol>
            <CCol md="6" class="mb-2">
              <CInput v-model="viewCanvasnBar.canvas_name" disabled />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">แถบสี</span>
            </CCol>
            <CCol md="6" class="mb-2">
              <CInput v-model="viewCanvasnBar.barcolor_name" disabled />
            </CCol>
          </CRow>
          <CRow>
            <CCol md="3">
              <span class="label-formInput">รหัสผ้าใบและแถบสี</span>
            </CCol>
            <CCol md="2">
              <CInput v-model="viewCanvasnBar.canvasnbar_cd" disabled />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ชื่อข้อมูลผ้าใบและแถบสี</span>
            </CCol>
            <CCol md="6">
              <CTextarea
                maxlength="100"
                v-model="viewCanvasnBar.canvasnbar_name"
                disabled
                rows="3"
              />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="mb-2"> วันที่ประกาศใช้ </span>
            </CCol>
            <CCol md="9" class="mb-3">
              <date-picker
                v-model="viewCanvasnBar.canvasnbar_st"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
                disabled
              ></date-picker>
              <!-- <CInput disabled v-model="viewCanvasnBar.canvasnbar_st" type="da.te" max="3000-12-31" /> -->
            </CCol>
            <CCol md="3">
              <span>วันที่หมดอายุ</span>
            </CCol>
            <CCol md="9" class="mb-2">
              <date-picker
                v-model="viewCanvasnBar.canvasnbar_en"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
                disabled
              ></date-picker>
              <!-- <CInput disabled v-model="viewCanvasnBar.canvasnbar_en" type="da.te" max="3000-12-31" /> -->
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">ดูรายละเอียดความสัมพันธ์ผ้าใบและแถบสี</h5>
        <CButtonClose @click="openViewModal = false" class="text-white" />
      </template>
      <template #footer>
        <CButton @click="openViewModal = false" color="danger">ปิด</CButton>
      </template>
    </CModal>
    <!-- openDeleteModal -->
    <div>
      <CModal
        :show.sync="openDeleteModal"
        :closeOnBackdrop="false"
        :centered="true"
        title="Modal title 2"
        color="danger"
      >
        <CRow class="form-group mx-5">
          <h6>ยืนยันการลบข้อมูลผ้าใบและแถบสี ดังต่อไปนี้</h6>
          <CCol md="12">
            <div v-for="i in deleteCanvasnBar" :key="i.index" class="mb-2">
              <CRow>
                <CCol md="12" class="">
                  รหัส {{ i.canvasnbar_cd }} {{ i.canvasnbar_name }}
                </CCol>
                <!-- <CCol md="7">{{ i.canvasnbar_name }} </CCol> -->
              </CRow>
            </div>
          </CCol>
        </CRow>
        <template #header>
          <h5 class="modal-title">ลบข้อมูลความสัมพันธ์ผ้าใบและแถบสี</h5>
          <CButtonClose @click="openDeleteModal = false" class="text-white" />
        </template>
        <template #footer>
          <CButton
            @click="openDeleteModal = false"
            color="danger"
            variant="ghost"
            >ยกเลิก</CButton
          >
          <CButton @click="DeleteCanvasnBarButton" color="danger">ลบ</CButton>
        </template>
      </CModal>
    </div>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import { GetObjValJoin, GetDate, FileToBase64 } from "@/shared/utils";
import setupmixin from "@/shared/setupmixin";
import swal from "sweetalert";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import { loadPartialConfig } from "@babel/core";

export default {
  name: "CanvasandBar",
  data() {
    return {
      HReport: true,
      search: {
        canvasnbar_id: "",
        canvasnbar_cd: "",
        txtsearch: "",
      },
      checkItemID: [],

      showTable: false,
      itemsTabs1: true,
      itemsTabs2: false,
      itemsTabs3: false,
      CanvasOptions: {
        lists: [],
        selected: null,
      },
      BarcolorOptions: {
        lists: [],
        selected: null,
      },
      // Active
      dataCanvasnBar: [],
      CancelCanvasnBar: [],
      dataActive: [],
      dataCanvasnBarCount: 0,
      pageA: 1,
      perPageA: 10,
      pagesA: [],

      // InActive
      dataICanvasnBar: [],
      dataInactive: [],
      dataICanvasnBarCount: 0,
      pageI: 1,
      perPageI: 5,
      pagesI: [],

      // Cancel
      dataCCanvasnBar: [],
      dataCancel: [],
      dataCCanvasnBarCount: 0,
      pageC: 1,
      perPageC: 5,
      pagesC: [],

      CanvasnBarImg: null,
      insert: {
        canvasnbar_cd: "",
        canvasnbar_name: "",
        canvasnbar_st: "",
        canvasnbar_en: "",
      },
      viewCanvasnBar: {
        canvasnbar_id: "",
        canvasnbar_cd: "",
        canvasnbar_name: "",
        canvas_id: "",
        canvas_cd: "",
        canvas_name: "",
        barcolor_id: "",
        barcolor_cd: "",
        barcolor_name: "",
        canvasnbar_st: "",
        canvasnbar_en: "",
        status: "",
      },
      editCanvasnBar: {
        canvasnbar_id: "",
        canvasnbar_cd: "",
        canvasnbar_name: "",
        canvas_id: "",
        canvas_cd: "",
        canvas_name: "",
        barcolor_id: "",
        barcolor_cd: "",
        barcolor_name: "",
        canvasnbar_st: "",
        canvasnbar_en: "",
        barvalue: {},
        canvasvalue: {},
        status: "",
      },
      openAddModal: false,
      openEditModal: false,
      openViewModal: false,
      openDeleteModal: false,
      checked: [],
      deleteCanvasnBar: [],
      maxCanvasnBarID: 0,
      currentDate: "",
      oldcanvasnbar_cd: "",
    };
  },
  components: {
    Multiselect,
    DatePicker,
  },
  created() {
    let nowDate = new Date();
    this.currentDate = GetDate(nowDate.setDate(nowDate.getDate()));
    let defaultExDate = "2000-01-01";
    this.insert.canvasnbar_st = this.currentDate;
    this.insert.canvasnbar_en = defaultExDate;
  },
  mounted() {
    this.$root.api.Master_s_CanvasSearch({
      data: {},
      callback: (res) => {
        res.forEach(
          (x) => (x._label = GetObjValJoin(x, ["canvas_cd", "canvas_name"]))
        );
        this.CanvasOptions.lists = res;
      },
    });
    this.$root.api.Master_s_BarcolorSearch({
      data: {},
      callback: (res) => {
        res.forEach(
          (x) => (x._label = GetObjValJoin(x, ["barcolor_cd", "barcolor_name"]))
        );
        this.BarcolorOptions.lists = res;
        // console.log(this.BarcolorOptions.lists);
      },
    });

    this.$root.api.Master_s_CanvasnBarSearch({
      data: {},
      callback: (res) => {
        this.dataCanvasnBar = res;
        // max canvasnbar id now
        this.maxCanvasnBarID = res[res.length - 1].canvasnbar_id + 1;
      },
    });
  },
  updated() {
    $(document).ready(function() {
      $("#MyTable").DataTable({
        initComplete: function() {
          this.api()
            .columns()
            .every(function() {
              var column = this;
              var select = $('<select><option value=""></option></select>')
                .appendTo($(column.footer()).empty())
                .on("change", function() {
                  var val = $.fn.dataTable.util.escapeRegex($(this).val());
                  //to select and search from grid
                  column.search(val ? "^" + val + "$" : "", true, false).draw();
                });

              column
                .data()
                .unique()
                .sort()
                .each(function(d, j) {
                  select.append('<option value="' + d + '">' + d + "</option>");
                });
            });
        },
      });
    });
  },
  methods: {
    SearchCanvasnBar() {
      this.dataCanvasnBarCount = 0;
      this.dataICanvasnBarCount = 0;
      this.dataCCanvasnBarCount = 0;
      this.checked = [];
      this.checkItemID = [];
      this.dataCanvasnBar = [];
      this.CancelCanvasnBar = [];
      this.$root.api.Master_s_CanvasnBarSearch({
        data: {
          canvasnbar_cd: this.search.canvasnbar_cd,
          txtsearch: this.search.txtsearch,
        },
        callback: (res) => {
          //   // console.log(res);
          if (res.length == 0) {
            swal({
              title: "ผิดพลาด!",
              text: "ไม่พบรายากรผ้าใบและแถบสีที่ค้นหา",
              icon: "warning",
              button: "ตกลง",
            });
            this.search = [];
          }
          // max canvasnbar id now
          this.maxCanvasnBarID = res[res.length - 1].canvasnbar_id + 1;
          this.dataCanvasnBar = res;
          for (let i = 0; i < res.length; i++) {
            if (res[i].status == "A") {
              this.dataCanvasnBarCount = this.dataCanvasnBarCount + 1;
            } else if (res[i].status == "I") {
              this.dataICanvasnBarCount = this.dataICanvasnBarCount + 1;
            } else if (res[i].status == "C") {
              this.dataCCanvasnBarCount = this.dataCCanvasnBarCount + 1;
            }
            this.getDataCanvasnBar();
          }
          this.setPagesActive();
          this.setPagesInactive();
          this.setPagesCancel();
          this.showTable = true;
        },
      });
      this.$root.api.Master_s_CanvasnBarSearchU({
        data: {
          canvasnbar_cd: this.search.canvasnbar_cd,
          txtsearch: this.search.txtsearch,
        },
        callback: (res) => {
          this.CancelCanvasnBar = res;
          this.getCancelCanvasnBar();
        },
      });
    },
    getDataCanvasnBar() {
      this.dataActive = [];
      this.dataInactive = [];

      for (let i = 0; i < this.dataCanvasnBar.length; i++) {
        if (this.dataCanvasnBar[i].status == "A") {
          this.dataActive.push({
            canvasnbar_id: this.dataCanvasnBar[i].canvasnbar_id,
            canvasnbar_cd: this.dataCanvasnBar[i].canvasnbar_cd,
            canvasnbar_name: this.dataCanvasnBar[i].canvasnbar_name,
            effdate_en: this.dataCanvasnBar[i].effdate_en,
            effdate_st: this.dataCanvasnBar[i].effdate_st,
            path_pic: this.dataCanvasnBar[i].path_pic,
            status: this.dataCanvasnBar[i].status,
            user_date: this.dataCanvasnBar[i].user_date,
            user_id: this.dataCanvasnBar[i].user_id,
            user_name: this.dataCanvasnBar[i].user_name,
          });
        } else if (this.dataCanvasnBar[i].status == "I") {
          this.dataInactive.push({
            canvasnbar_id: this.dataCanvasnBar[i].canvasnbar_id,
            canvasnbar_cd: this.dataCanvasnBar[i].canvasnbar_cd,
            canvasnbar_name: this.dataCanvasnBar[i].canvasnbar_name,
            effdate_en: this.dataCanvasnBar[i].effdate_en,
            effdate_st: this.dataCanvasnBar[i].effdate_st,
            path_pic: this.dataCanvasnBar[i].path_pic,
            status: this.dataCanvasnBar[i].status,
            user_date: this.dataCanvasnBar[i].user_date,
            user_id: this.dataCanvasnBar[i].user_id,
            user_name: this.dataCanvasnBar[i].user_name,
          });
        }
        // else if (this.dataCanvasnBar[i].status == "C") {
        //   this.dataCancel.push({
        //     canvasnbar_id: this.dataCanvasnBar[i].canvasnbar_id,
        //     canvasnbar_cd: this.dataCanvasnBar[i].canvasnbar_cd,
        //     canvasnbar_name: this.dataCanvasnBar[i].canvasnbar_name,
        //     effdate_en: this.dataCanvasnBar[i].effdate_en,
        //     effdate_st: this.dataCanvasnBar[i].effdate_st,
        //     path_pic: this.dataCanvasnBar[i].path_pic,
        //     status: this.dataCanvasnBar[i].status,
        //     user_date: this.dataCanvasnBar[i].user_date,
        //     user_id: this.dataCanvasnBar[i].user_id,
        //     user_name: this.dataCanvasnBar[i].user_name,
        //   });
        // }
      }
    },
    getCancelCanvasnBar() {
      this.dataCancel = [];
      for (let i = 0; i < this.CancelCanvasnBar.length; i++) {
        this.dataCancel.push({
          canvasnbar_id: this.CancelCanvasnBar[i].canvasnbar_id,
          canvasnbar_cd: this.CancelCanvasnBar[i].canvasnbar_cd,
          canvasnbar_name: this.CancelCanvasnBar[i].canvasnbar_name,
          effdate_en: this.CancelCanvasnBar[i].effdate_en,
          effdate_st: this.CancelCanvasnBar[i].effdate_st,
          path_pic: this.CancelCanvasnBar[i].path_pic,
          status: this.CancelCanvasnBar[i].status,
          user_date: this.CancelCanvasnBar[i].user_date,
          user_id: this.CancelCanvasnBar[i].user_id,
          user_name: this.CancelCanvasnBar[i].user_name,
          cancel_date: this.CancelCanvasnBar[i].cancel_date,
          cancel_name: this.CancelCanvasnBar[i].cancel_name,
        });
      }
    },
    setPagesActive() {
      this.pagesA = [];
      let numberOfPages = Math.ceil(this.dataCanvasnBarCount / this.perPageA);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesA.push(index);
      }
      this.pageA = 1;
    },
    setPagesInactive() {
      this.pagesI = [];
      let numberOfPages = Math.ceil(this.dataICanvasnBarCount / this.perPageI);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesI.push(index);
      }
      this.pageI = 1;
    },
    setPagesCancel() {
      this.pagesC = [];
      let numberOfPages = Math.ceil(this.dataCCanvasnBarCount / this.perPageI);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesC.push(index);
      }
      this.pageC = 1;
    },
    paginate(Active) {
      let pageA = this.pageA;
      let perPageA = this.perPageA;
      let from = pageA * perPageA - perPageA;
      let to = pageA * perPageA;
      return Active.slice(from, to);
    },
    paginateInactive(Inactive) {
      let pageI = this.pageI;
      let perPageI = this.perPageI;
      let from = pageI * perPageI - perPageI;
      let to = pageI * perPageI;
      return Inactive.slice(from, to);
    },
    paginateCancel(Cancel) {
      let pageC = this.pageC;
      let perPageC = this.perPageC;
      let from = pageC * perPageC - perPageC;
      let to = pageC * perPageC;
      return Cancel.slice(from, to);
    },
    checkItems(val) {
      this.checkItemID = $("input[type=checkbox][name=Choosed]:checked")
        .map(function(_, el) {
          return $(el).val();
        })
        .get();
    },
    EditCanvasnBarButton() {
      this.openEditModal = true;
      var x = this.checkItemID[0];
      this.$root.api.Master_s_CanvasnBarSearch({
        data: {
          canvasnbar_id: x,
        },
        callback: (res) => {
          this.editCanvasnBar.canvasnbar_id = res[0].canvasnbar_id;
          this.editCanvasnBar.canvasnbar_cd = res[0].canvasnbar_cd;
          this.editCanvasnBar.canvasnbar_name = res[0].canvasnbar_name.trim();
          this.editCanvasnBar.canvasnbar_st = res[0].effdate_st.split("T")[0];
          this.editCanvasnBar.canvasnbar_en = res[0].effdate_en.split("T")[0];
          this.editCanvasnBar.status = res[0].status;
          this.editCanvasnBar.barcolor_id = res[0].barcolor_id;
          this.editCanvasnBar.barcolor_cd = res[0].barcolor_cd;
          this.editCanvasnBar.barcolor_name =
            res[0].barcolor_cd + " : " + res[0].barcolor_name;
          this.editCanvasnBar.canvas_id = res[0].canvas_id;
          this.editCanvasnBar.canvas_cd = res[0].canvas_cd;
          this.editCanvasnBar.canvas_name =
            res[0].canvas_cd + " : " + res[0].canvas_name;
          this.oldcanvasnbar_cd = res[0].canvasnbar_cd;

          this.$root.api.Master_s_BarcolorSearch({
            data: {
              barcolor_cd: this.editCanvasnBar.barcolor_cd,
            },
            callback: (res) => {
              res.forEach(
                (x) =>
                  (x._label = GetObjValJoin(x, [
                    "barcolor_cd",
                    "barcolor_name",
                  ]))
              );
              this.BarcolorOptions.selected = res;
            },
          });
          this.$root.api.Master_s_CanvasSearch({
            data: { canvas_cd: this.editCanvasnBar.canvas_cd },
            callback: (res) => {
              res.forEach(
                (x) =>
                  (x._label = GetObjValJoin(x, ["canvas_cd", "canvas_name"]))
              );
              this.CanvasOptions.selected = res;
            },
          });
        },
      });
    },
    ViewCanvasnBarButton() {
      this.openViewModal = true;
      var x = this.checkItemID[0];
      this.$root.api.Master_s_CanvasnBarSearch({
        data: {
          canvasnbar_id: x,
        },
        callback: (res) => {
          this.viewCanvasnBar.canvasnbar_id = res[0].canvasnbar_id;
          this.viewCanvasnBar.canvasnbar_cd = res[0].canvasnbar_cd;
          this.viewCanvasnBar.canvasnbar_name = res[0].canvasnbar_name.trim();
          this.viewCanvasnBar.canvasnbar_st = res[0].effdate_st.split("T")[0];
          this.viewCanvasnBar.canvasnbar_en = res[0].effdate_en.split("T")[0];
          this.viewCanvasnBar.barcolor_name =
            res[0].barcolor_cd + " : " + res[0].barcolor_name;
          this.viewCanvasnBar.canvas_name =
            res[0].canvas_cd + " : " + res[0].canvas_name;
          this.oldcanvasnbar_cd = res[0].canvasnbar_cd;
          this.viewCanvasnBar.status = res[0].status;
        },
      });
    },
    CheckEditCanvasnBarButton() {
      this.$root.api.Master_s_CanvasnBarSearch({
        data: {
          canvasnbar_cd: this.editCanvasnBar.canvasnbar_cd,
        },
        callback: (res) => {
          if (res.length != 0) {
            swal({
              title: "Code ผ้าใบและแถบสีซ้ำ!",
              text: "ไม่สามารถใช้ รหัสผ้าใบและแถบสี นี้ได้",
              icon: "error",
              button: "ตกลง",
            });
            // this.editCanvasnBar.canvasnbar_cd = this.oldcanvasnbar_cd;
          } else {
            this.SaveEditCanvasnBarButton();
          }
        },
      });
    },
    SaveEditCanvasnBarButton() {
      // console.log(this.editCanvasnBar.canvasnbar_cd);
      // console.log(this.editCanvasnBar.canvasnbar_name);
      //   console.log(this.BarcolorOptions.selected);
      //   console.log(this.CanvasOptions.selected);
      var barcolor_id = "";
      var barcolor_cd = "";
      var barcolor_name = "";
      var canvas_id = "";
      var canvas_cd = "";
      var canvas_name = "";
      if (this.CanvasOptions.selected.length == 1) {
        for (let i = 0; i < 1; i++) {
          canvas_id = this.CanvasOptions.selected[i].canvas_id;
          canvas_cd = this.CanvasOptions.selected[i].canvas_cd;
          canvas_name = this.CanvasOptions.selected[i].canvas_name;
          //   console.log("ไม่เลือกใหม่", canvas_id, canvas_cd, canvas_name);
        }
      } else {
        canvas_id = this.CanvasOptions.selected.canvas_id;
        canvas_cd = this.CanvasOptions.selected.canvas_cd;
        canvas_name = this.CanvasOptions.selected.canvas_name;
        // console.log("เลือกใหม่",canvas_id, canvas_cd, canvas_name);
      }
      if (this.BarcolorOptions.selected.length == 1) {
        for (let i = 0; i < 1; i++) {
          barcolor_id = this.BarcolorOptions.selected[i].barcolor_id;
          barcolor_cd = this.BarcolorOptions.selected[i].barcolor_cd;
          barcolor_name = this.BarcolorOptions.selected[i].barcolor_name;
          // console.log("ไม่เลือกใหม่", barcolor_id, barcolor_cd, barcolor_name);
        }
      } else {
        barcolor_id = this.BarcolorOptions.selected.barcolor_id;
        barcolor_cd = this.BarcolorOptions.selected.barcolor_cd;
        barcolor_name = this.BarcolorOptions.selected.barcolor_name;
        // console.log("เลือกใหม่", barcolor_id, barcolor_cd, barcolor_name);
      }
      if (
        this.editCanvasnBar.canvasnbar_en == "2000-01-01" ||
        (this.editCanvasnBar.canvasnbar_en > this.currentDate &&
          this.editCanvasnBar.canvasnbar_en > this.editCanvasnBar.canvasnbar_st)
      ) {
        // console.log("บันทึก");
        if (this.editCanvasnBar.canvasnbar_name != "") {
          this.$root.api.Master_s_CanvasnBarSave({
            data: {
              barcolor_id: barcolor_id,
              barcolor_cd: barcolor_cd,
              barcolor_name: barcolor_name,
              canvasnbar_id: this.editCanvasnBar.canvasnbar_id,
              canvasnbar_cd: this.editCanvasnBar.canvasnbar_cd,
              canvasnbar_name: this.editCanvasnBar.canvasnbar_name,
              canvas_id: canvas_id,
              canvas_cd: canvas_cd,
              canvas_name: canvas_name,
              effdate_st: this.editCanvasnBar.canvasnbar_st,
              effdate_en: this.editCanvasnBar.canvasnbar_en,
              status: "A",
              user_id: localStorage.getItem("UserID"),
              user_name: localStorage.getItem("User"),
            },
            callback: (res) => {
              if (res.status == "S") {
                swal({
                  title: "สำเร็จ",
                  text: "บันทึกข้อมูลความสัมพันธ์ผ้าใบและแถบสีเสร็จสิ้น",
                  icon: "success",
                  button: "ตกลง",
                });
              } else if (res.status == "F") {
                swal({
                  title: "ผิดพลาด!",
                  text: "ไม่สามารถบันทึกข้อมูลความสัมพันธ์ผ้าใบและแถบสีได้",
                  icon: "error",
                  button: "ตกลง",
                });
              }
              this.resetData();
              this.SearchCanvasnBar();
              this.openEditModal = false;
            },
          });
        } else {
          swal({
            title: "ผิดพลาด",
            text: "กรุณากรอกข้อมูลรายละเอียดความสัมพันธ์ผ้าใบและแถบสี",
            icon: "error",
            button: "ตกลง",
          });
        }
      } else {
        swal({
          title: "ข้อมูลไม่ถูกต้อง!",
          text: "วันหมดอายุจะต้องมากกว่าวันที่ประกาศใช้และวันปัจจุบัน",
          icon: "error",
          button: "ตกลง",
        });
      }
    },
    DeleteView() {
      this.openDeleteModal = true;
      var x = this.checkItemID[0];
      this.$root.api.Master_s_CanvasnBarSearch({
        data: {
          canvasnbar_id: x,
        },
        callback: (res) => {
          this.deleteCanvasnBar = res;
        },
      });
    },
    DeleteCanvasnBarButton() {
      var x = this.deleteCanvasnBar[0].canvasnbar_id;
      this.$root.api.Master_s_CanvasnBarMove({
        data: {
          canvasnbar_move: [
            {
              canvasnbar_id: this.deleteCanvasnBar[0].canvasnbar_id,
              canvasnbar_cd: this.deleteCanvasnBar[0].canvasnbar_cd,
              user_id: localStorage.getItem("UserID"),
              user_name: localStorage.getItem("User"),
            },
          ],
        },
        callback: (res) => {
          if (res[0].status == "S") {
            swal({
              title: "สำเร็จ",
              text: "ลบข้อมูลความสัมพันธ์ผ้าใบและแถบสีเสร็จสิ้น",
              icon: "success",
              button: "ตกลง",
            });
          } else {
            swal({
              title: "ผิดพลาด!",
              text: "ไม่สามารถลบข้อมูลความสัมพันธ์ผ้าใบและแถบสีได้",
              icon: "error",
              button: "ตกลง",
            });
          }
          this.openDeleteModal = false;
          this.SearchCanvasnBar();
        },
      });
    },
    CheckInsertCanvasnBarButton() {
      if (
        this.CanvasOptions.selected != null &&
        this.BarcolorOptions.selected != null
      ) {
        this.$root.api.Master_s_CanvasnBarSearch({
          data: {
            canvasnbar_cd: this.insert.canvasnbar_cd,
          },
          callback: (res) => {
            if (res.length != 0) {
              swal({
                title: "รหัสผ้าใบและแถบสีซ้ำ!",
                text: "กรุณาเลือกความสัมพันธ์ผ้าใบและแถบสีใหม่",
                icon: "error",
                button: "ตกลง",
              });
            } else {
              this.InsertCanvasnBarButton();
            }
          },
        });
      } else {
        swal({
          title: "กรุณากรอกข้อมูลให้ครบถ้วน",
          text: "รหัสผ้าใบและรหัสแถบสีห้ามว่าง",
          icon: "error",
          button: "ตกลง",
        });
      }
    },
    GenDataCanvasnBar() {
      if (
        this.CanvasOptions.selected != null &&
        this.BarcolorOptions.selected != null
      ) {
        this.insert.canvasnbar_cd =
          this.CanvasOptions.selected.canvas_cd +
          this.BarcolorOptions.selected.barcolor_cd;
        this.insert.canvasnbar_name =
          this.CanvasOptions.selected.canvas_name.trim() +
          " " +
          this.BarcolorOptions.selected.barcolor_name.trim();
      }
    },
    GenEditDataCanvasnBar() {
      let x = this.editCanvasnBar.canvasnbar_cd[1];
      let y = this.editCanvasnBar.canvasnbar_name.split(" ")[1];
      this.editCanvasnBar.canvasnbar_cd =
        this.CanvasOptions.selected.canvas_cd + x;
      this.editCanvasnBar.canvasnbar_name =
        this.CanvasOptions.selected.canvas_name.trim() + " " + y;
    },
    GenEditDataCanvasnBar_bar() {
      let x = this.editCanvasnBar.canvasnbar_cd[0];
      let y = this.editCanvasnBar.canvasnbar_name.split(" ")[0];
      this.editCanvasnBar.canvasnbar_cd =
        x + this.BarcolorOptions.selected.barcolor_cd;
      this.editCanvasnBar.canvasnbar_name =
        y + "  " + this.BarcolorOptions.selected.barcolor_name.trim();
    },
    InsertCanvasnBarButton() {
      if (
        this.insert.canvasnbar_en == "2000-01-01" ||
        (this.insert.canvasnbar_en > this.currentDate &&
          this.insert.canvasnbar_en > this.insert.canvasnbar_st)
      ) {
        if (this.insert.canvasnbar_name != "") {
          this.$root.api.Master_s_CanvasnBarSave({
            data: {
              barcolor_id: this.BarcolorOptions.selected.barcolor_id,
              barcolor_cd: this.BarcolorOptions.selected.barcolor_cd,
              barcolor_name: this.BarcolorOptions.selected.barcolor_name,
              canvasnbar_cd: this.insert.canvasnbar_cd,
              canvasnbar_name: this.insert.canvasnbar_name,
              canvas_id: this.CanvasOptions.selected.canvas_id,
              canvas_cd: this.CanvasOptions.selected.canvas_cd,
              canvas_name: this.CanvasOptions.selected.canvas_name,
              effdate_st: this.insert.canvasnbar_st,
              effdate_en: this.insert.canvasnbar_en,
              status: "A",
              user_id: localStorage.getItem("UserID"),
              user_name: localStorage.getItem("User"),
            },
            callback: (res) => {
              if (res.status == "S") {
                swal({
                  title: "สำเร็จ",
                  text: "บันทึกข้อมูลความสัมพันธ์ผ้าใบและแถบสีเสร็จสิ้น",
                  icon: "success",
                  button: "ตกลง",
                });
              } else if (res.status == "F") {
                swal({
                  title: "ผิดพลาด!",
                  text: "ไม่สามารถบันทึกข้อมูลความสัมพันธ์ผ้าใบและแถบสีได้",
                  icon: "error",
                  button: "ตกลง",
                });
              }
              this.resetData();
              this.SearchCanvasnBar();
              this.openAddModal = false;
            },
          });
        } else {
          swal({
            title: "ผิดพลาด",
            text: "กรุณากรอกข้อมูลรายละเอียดความสัมพันธ์ผ้าใบและแถบสี",
            icon: "error",
            button: "ตกลง",
          });
        }
      } else {
        swal({
          title: "ข้อมูลไม่ถูกต้อง!",
          text: "วันหมดอายุจะต้องมากกว่าวันที่ประกาศใช้และวันปัจจุบัน",
          icon: "error",
          button: "ตกลง",
        });
      }
    },
    resetData() {
      this.CanvasOptions.selected = null;
      this.BarcolorOptions.selected = null;
      this.insert.canvasnbar_name = "";
      this.insert.canvasnbar_cd = "";

      this.insert.canvasnbar_st = this.currentDate;
      this.insert.canvasnbar_en = "2000-01-01";
    },
  },
  computed: {
    displayedPostsActive() {
      return this.paginate(this.dataActive);
    },
    displayedPostsInactive() {
      return this.paginateInactive(this.dataInactive);
    },
    displayedPostsCancel() {
      return this.paginateCancel(this.dataCancel);
    },
  },
  watch: {
    Active() {
      this.setPagesActive();
    },
    Inactive() {
      this.setPagesIntive();
    },
    Cancel() {
      this.setPagesCancel();
    },
  },
};
</script>

<style scoped></style>
