<template>
  <div class>
    <CCard class="card-content">
      <CCardHeader class="card-header ">
        <h4 id="" class="mt-0 mb-0">
          การกำหนดมาตรฐานเงื่อนไขการใช้ผ้าใบและแถบสี
        </h4>
      </CCardHeader>
      <CCardBody>
        <CRow class="mx-1" v-if="HReport == true">
          <CCol md="6">
            <CRow class="form-group">
              <CCol md="6" class="my-2">
                <span>รหัสลูกค้า</span>
                <input autocomplete="off"
                  v-model="search.cuscod_id"
                  style="text-transform: uppercase !important"
                  class="input-box"
                />
              </CCol>
              <CCol md="6" class="my-2">
                <span>รหัสผ้าใบและแถบสี</span>
                <input autocomplete="off"
                  v-model="search.canvasnbar_cd"
                  style="text-transform: uppercase !important"
                  maxlength="2"
                  class="input-box"
                />
              </CCol>
              <CCol md="12" class="my-2">
                <span>ชื่อลูกค้าหรือชื่อผ้าใบและแถบสี</span>
                <input autocomplete="off" v-model="search.txtsearch" type class="input-box" />
              </CCol>
            </CRow>
          </CCol>
          <CCol md="1">
            <CRow class="">
                <CButton
                  class="mt-4"
                  color="info"
                  block
                  @click="SearchCanvasandBarSpec"
                >
                  <CIcon name="cil-magnifying-glass" /> ค้นหา
                </CButton>
            </CRow>
          </CCol>
        </CRow>
        <CRow class="mx-3">
          <CButton
            class="mt-1 mr-3"
            color="success"
            @click="openAddModal = true"
          >
            <i class="fa fa-plus"></i>
            เพิ่ม
          </CButton>
          <CButton
            class="mt-1 mr-3 text-white"
            color="warning"
            v-if="checkedSpec > 0 && itemsTabs1 == true"
            @click="EditCanvasandBarSpecButton"
          >
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton class="mt-1 mr-3 text-white" color="warning" v-else disabled>
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="info"
            v-if="checkedSpec > 0"
            @click="ViewCanvasandBarSpecButton"
          >
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton class="mt-1 mr-3" color="info" disabled v-else>
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="danger"
            v-if="checkedSpec > 0 && itemsTabs3 == false"
            @click="ViewDeleteCanvasandBarSpec"
          >
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton class="mt-1 mr-3" color="danger" disabled v-else>
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton
            variant="outline"
            color="secondary"
            class="mt-1 mr-3"
            :pressed.sync="HReport"
            >{{ HReport ? "ซ่อน" : "แสดง" }}เงื่อนไข</CButton
          >
        </CRow>
      </CCardBody>
      <hr class="my-0" />
      <CCardBody>
        <CNav variant="tabs">
          <CNavItem v-model="itemsTabs1" active>
            <CButton
              @click="
                (itemsTabs1 = true), (itemsTabs2 = false), (itemsTabs3 = false)
              "
              >ข้อมูลมตฐ.เงื่อนไขการใช้ผ้าใบและแถบสี Active</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs2">
            <CButton
              @click="
                (itemsTabs2 = true), (itemsTabs1 = false), (itemsTabs3 = false)
              "
              >ข้อมูลมตฐ.เงื่อนไขการใช้ผ้าใบและแถบสี (Inactive)</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs3">
            <CButton
              @click="
                (itemsTabs3 = true), (itemsTabs1 = false), (itemsTabs2 = false)
              "
              >ข้อมูลมตฐ.เงื่อนไขการใช้ผ้าใบและแถบสีที่ถูกลบ</CButton
            >
          </CNavItem>
        </CNav>
        <CCard>
          <CCardBody style="overflow-x: auto" v-if="itemsTabs1 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPageA">แสดง</label>
                <select
                  class="mx-1 selectPage-box"
                  name="selectPageA"
                  id="selectPageA"
                  v-model="perPageA"
                  @click="setPagesActive()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage"
                  >/ {{ dataCanvasandBarSpecCount }} รายการ</label
                >
              </div>
            </form>
            <table class="table styled-table">
              <thead class="tableTab1">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col">ประเภทการขาย</th>
                  <th scope="col">รหัสลูกค้า</th>
                  <th scope="col">ชื่อลูกค้า</th>
                  <th scope="col">ประเภทสินค้า</th>
                  <th scope="col">เบอร์ใยต่ำสุด</th>
                  <th scope="col">เบอร์ใยสูงสุด</th>
                  <th scope="col">รหัสป้าย</th>
                  <th scope="col">รหัสผ้าใบและแถบสี</th>
                  <th scope="col">รายละเอียด</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                </tr>
              </thead>

              <tbody
                v-for="p in displayedPostsActive"
                :key="p.canvasnbarspec_id"
              >
                <tr>
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.canvasnbarspec_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      id="Choosed"
                      @click="
                        checkItems(p.canvasnbarspec_id),
                          showHideRow(p.canvasnbarspec_id)
                      "
                    />
                  </th>
                  <td class="td-fontsize" v-if="p.tsale == 0">ขายในประเทศ</td>
                  <td class="td-fontsize" v-else>ขายต่างประเทศ</td>
                  <td class="td-fontsize">{{ p.cus_cod }}</td>
                  <td class="td-fontsize">{{ p.cus_name }}</td>
                  <td class="td-fontsize">{{ p.producttype }}</td>
                  <td class="td-fontsize">{{ p.min_twinesize }}</td>
                  <td class="td-fontsize">{{ p.max_twinesize }}</td>
                  <td class="td-fontsize">{{ p.label }}</td>
                  <td class="td-fontsize">{{ p.canvasnbar_cd }}</td>
                  <td class="td-fontsize">{{ p.canvasnbar_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
                <tr class="sub">
                  <td
                    name="hiddenrow"
                    :id="p.canvasnbarspec_id"
                    colspan="12"
                    class="text-right hidden_row"
                  >
                    ผู้บันทึก {{ p.user_name }} <br />
                    วันที่บันทึก
                    {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    color="primary"
                    v-if="pageA != 1"
                    @click="pageA--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="page-link" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageA++"
                    color="primary"
                    v-if="pageA < pagesA.length"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="page-link"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>

          <CCardBody style="overflow-x: auto" v-if="itemsTabs2 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPageI">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPageI"
                  id="selectPageI"
                  v-model="perPageI"
                  @click="setPagesIntive()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage"
                  >/ {{ dataICanvasandBarSpecCount }} รายการ</label
                >
              </div>
            </form>
            <table class="table styled-table">
              <thead class="tableTab2">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  < <th scope="col">ประเภทการขาย</th>
                  <th scope="col">รหัสลูกค้า</th>
                  <th scope="col">ชื่อลูกค้า</th>
                  <th scope="col">ประเภทสินค้า</th>
                  <th scope="col">เบอร์ใยต่ำสุด</th>
                  <th scope="col">เบอร์ใยสูงสุด</th>
                  <th scope="col">รหัสป้าย</th>
                  <th scope="col">รหัสผ้าใบและแถบสี</th>
                  <th scope="col">รายละเอียด</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                </tr>
              </thead>
              <tbody
                v-for="p in displayedPostsInactive"
                :key="p.canvasnbarspec_id"
              >
                <tr>
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.canvasnbarspec_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      @click="
                        checkItems(p.canvasnbarspec_id),
                          showHideRow(p.canvasnbarspec_id)
                      "
                    />
                  </th>
                  <td class="td-fontsize" v-if="p.tsale == 0">ขายในประเทศ</td>
                  <td class="td-fontsize" v-else>ขายต่างประเทศ</td>
                  <td class="td-fontsize">{{ p.cus_cod }}</td>
                  <td class="td-fontsize">{{ p.cus_name }}</td>
                  <td class="td-fontsize">{{ p.producttype }}</td>
                  <td class="td-fontsize">{{ p.min_twinesize }}</td>
                  <td class="td-fontsize">{{ p.max_twinesize }}</td>
                  <td class="td-fontsize">{{ p.label }}</td>
                  <td class="td-fontsize">{{ p.canvasnbar_cd }}</td>
                  <td class="td-fontsize">{{ p.canvasnbar_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
                <tr class="sub">
                  <td
                    name="hiddenrow"
                    :id="p.canvasnbarspec_id"
                    colspan="12"
                    class="text-right hidden_row"
                  >
                    ผู้บันทึก {{ p.user_name }} <br />
                    วันที่บันทึก
                    {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class="text-info"
                    v-if="pageI != 1"
                    @click="pageI--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="text-info" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageI++"
                    v-if="pageI < pagesI.length"
                    class="text-info"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="text-info"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>

          <CCardBody style="overflow-x: auto" v-if="itemsTabs3 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPage">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPage"
                  id="selectPage"
                  v-model="perPageC"
                  @click="setPagesCancel()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage"
                  >/ {{ dataCCanvasandBarSpecCount }} รายการ</label
                >
              </div>
            </form>
            <table class="table styled-table">
              <thead class="tableTab3">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                   <th scope="col">ประเภทการขาย</th>
                  <th scope="col">รหัสลูกค้า</th>
                  <th scope="col">ชื่อลูกค้า</th>
                  <th scope="col">ประเภทสินค้า</th>
                  <th scope="col">เบอร์ใยต่ำสุด</th>
                  <th scope="col">เบอร์ใยสูงสุด</th>
                  <th scope="col">รหัสป้าย</th>
                  <th scope="col">รหัสผ้าใบและแถบสี</th>
                  <th scope="col">รายละเอียด</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                </tr>
              </thead>
              <tbody
                v-for="p in displayedPostsCancel"
                :key="p.canvasnbarspec_id"
              >
                <tr>
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.canvasnbarspec_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      @click="
                        checkItems(p.canvasnbarspec_id),
                          showHideRow(p.canvasnbarspec_id)
                      "
                    />
                  </th>
                  <td class="td-fontsize" v-if="p.tsale == 0">ขายในประเทศ</td>
                  <td class="td-fontsize" v-else>ขายต่างประเทศ</td>
                  <td class="td-fontsize">{{ p.cus_cod }}</td>
                  <td class="td-fontsize">{{ p.cus_name }}</td>
                  <td class="td-fontsize">{{ p.producttype }}</td>
                  <td class="td-fontsize">{{ p.min_twinesize }}</td>
                  <td class="td-fontsize">{{ p.max_twinesize }}</td>
                  <td class="td-fontsize">{{ p.label }}</td>
                  <td class="td-fontsize">{{ p.canvasnbar_cd }}</td>
                  <td class="td-fontsize">{{ p.canvasnbar_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
                <tr class="sub">
                  <td
                    name="hiddenrow"
                    :id="p.canvasnbarspec_id"
                    colspan="12"
                    class="text-right hidden_row"
                  >
                    ผู้ยกเลิก {{ p.cancel_name }} <br />
                    วันที่ยกเลิก
                    {{ new Date(p.cancel_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class="text-danger"
                    v-if="pageC != 1"
                    @click="pageC--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="text-danger" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageC++"
                    v-if="pageC < pagesC.length"
                    class="text-danger"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="text-danger"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>
        </CCard>
      </CCardBody>
      <CCardFooter>
        <CRow class>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-if="itemsTabs3 == true">
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_u_canvasnbarspec
          </CCol>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-else>
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_s_canvasnbarspec
          </CCol>
        </CRow>
      </CCardFooter>
    </CCard>

    <!-- openAddModal -->
    <CModal
      :show.sync="openAddModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="lg"
      color="success"
    >
      <CRow class="form-group mx-5">
        <CCol md="12" class="mt-3">
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ประเภทการขาย</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="4">
              <multiselect
                v-model="SaleValue"
                track-by="name"
                label="name"
                placeholder
                ref="salevalue"
                :options="SaleOptions"
                :searchable="false"
                :show-labels="false"
                :allow-empty="false"
                @input="FindCustomer"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสลูกค้า</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="8">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="CustomerOptions-filter"
                v-model="CustomerOptions.selected"
                :multiple="false"
                :options="CustomerOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="cuscod"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ประเภทสินค้า</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="8">
              <multiselect
              @input="FindLineTypeOptions()"
                placeholder
                style="text-transform: uppercase !important"
                id="ProductTypeOptions-filter"
                v-model="ProductTypeOptions.selected"
                :multiple="false"
                :options="ProductTypeOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="producttypecode"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ประเภทกลุ่มวัตถุดิบ</span>
            </CCol>
            <CCol md="8">
              <input
                autocomplete="off"
                class="disableFormInput"
                v-if="ProductTypeOptions.selected == null"
                disabled
              />
              <input
                autocomplete="off"
                class="disableFormInput"
                v-else
                :value="ProductTypeOptions.selected.productcate_grp"
                disabled
              />
            </CCol>
          </CRow>

          <CRow class="mt-2 mb-1">
            <CCol md="3">
              <span class="label-formInput">เบอร์ใยต่ำสุด</span>
            </CCol>
            <CCol md="4">
              <multiselect
                @input="checkedMinMax()"
                placeholder
                :allow-empty="false"
                id="ProductSizeMinOptions-filter"
                v-model="ProductSizeMinOptions.selected"
                :multiple="false"
                :options="ProductSizeMinOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="product_size"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mt-1 mb-2">

            <CCol md="3">
              <span class="label-formInput">เบอร์ใยสูงสุด</span>
            </CCol>
            <CCol md="4">
              <multiselect
                @input="checkedMinMax()"
                :allow-empty="false"
                placeholder
                id="ProductSizeMaxOptions-filter"
                v-model="ProductSizeMaxOptions.selected"
                :multiple="false"
                :options="ProductSizeMaxOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="product_size"
              ></multiselect>
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสป้าย</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="3">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="LabelOptions-filter"
                v-model="LabelOptions.selected"
                :multiple="false"
                :options="LabelOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="label_id"
                :allow-empty="false"
              ></multiselect>
            </CCol>
            <CCol md="6">
              <input
                autocomplete="off"
                class="disableFormInput"
                v-if="LabelOptions.selected == null"
                disabled
              />
              <input
                autocomplete="off"
                class="disableFormInput"
                v-else
                :value="LabelOptions.selected.label_name_th"
                disabled
              />
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสผ้าใบและแถบสี</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="3">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="CasvasnBarOptions-filter"
                v-model="CasvasnBarOptions.selected"
                :multiple="false"
                :options="CasvasnBarOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="canvasnbar_id"
                :allow-empty="false"
              ></multiselect>
            </CCol>
            <CCol md="6">
              <input
                autocomplete="off"
                class="disableFormInput"
                v-if="CasvasnBarOptions.selected == null"
                disabled
              />
              <input
                autocomplete="off"
                class="disableFormInput"
                v-else
                :value="CasvasnBarOptions.selected.canvasnbar_name"
                disabled
              />
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span>
                    วันที่ประกาศใช้
                    <span class="text-danger">*</span>
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="insertSpec.canvasnbarspec_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>

            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span> วันที่หมดอายุ </span>
                </CCol>
                <CCol md="6" class="">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="insertSpec.canvasnbarspec_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">เพิ่มมาตรฐานเงื่อนไขการใช้ผ้าใบและแถบสี</h5>
        <CButtonClose
          @click="(openAddModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openAddModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
        <CButton @click="insertCanvasandBarSpecButton" color="success"
          >บันทึก</CButton
        >
      </template>
    </CModal>
    <!-- openEditModal -->
    <CModal
      :show.sync="openEditModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="lg"
      color="warning"
    >
      <CRow
        class="form-group mx-5"
        v-if="editSpec.canvasnbarspec_st < thisNowDate"
      >
        <h5 class="text-danger">
          * ไม่สามารถแก้ไขได้ เนื่องจากมีวันประกาศใช้ไปแล้ว
          แก้ไขได้เฉพาะวันที่หมดอายุ
        </h5>
        <CCol md="12" class="mt-3">
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ประเภทการขาย</span>
            </CCol>
            <CCol md="4">
              <CInput disabled v-model="editSpec.tsale" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสลูกค้า</span>
            </CCol>
            <CCol md="8">
              <CInput disabled v-model="editSpec.customer" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ประเภทสินค้า</span>
            </CCol>
            <CCol md="8">
              <CInput disabled v-model="editSpec.producttype" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ประเภทกลุ่มวัตถุดิบ</span>
            </CCol>
            <CCol md="8">
              <CInput disabled v-model="editSpec.productcate_grp" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">เบอร์ใยต่ำสุด</span>
            </CCol>
            <CCol md="4">
              <CInput disabled v-model="editSpec.twinesize_min" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">เบอร์ใยสูงสุด</span>
            </CCol>
            <CCol md="4">
              <CInput disabled v-model="editSpec.twinesize_max" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสป้าย</span>
            </CCol>
            <CCol md="3">
              <CInput disabled v-model="editSpec.label_cd" />
            </CCol>
            <CCol md="6">
              <CInput disabled v-model="editSpec.label_name" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสผ้าใบและแถบสี</span>
            </CCol>
            <CCol md="8">
              <CInput disabled v-model="editSpec.canvasnbar" />
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span> วันที่ประกาศใช้ </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="editSpec.canvasnbarspec_st"
                    disabled
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>

            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span> วันที่หมดอายุ </span>
                </CCol>
                <CCol md="6" class="">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="editSpec.canvasnbarspec_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <CRow class="form-group mx-5" v-else>
        <CCol md="12" class="mt-3">
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ประเภทการขาย</span>
            </CCol>
            <CCol md="4">
              <multiselect
                v-model="SaleValue"
                track-by="name"
                label="name"
                placeholder
                ref="salevalue"
                :options="SaleOptions"
                :searchable="false"
                :show-labels="false"
                :allow-empty="false"
                @input="FindCustomer"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสลูกค้า</span>
            </CCol>
            <CCol md="8">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="CustomerOptions-filter-edit"
                v-model="CustomerOptions.selected"
                :multiple="false"
                :options="CustomerOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="cuscod"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ประเภทสินค้า</span>
            </CCol>
            <CCol md="8">
              <multiselect
              @input="FindLineTypeOptions()"
                placeholder
                style="text-transform: uppercase !important"
                id="ProductTypeOptions-filter-edit"
                v-model="ProductTypeOptions.selected"
                :multiple="false"
                :options="ProductTypeOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="producttypecode"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ประเภทกลุ่มวัตถุดิบ</span>
            </CCol>
            <CCol md="8">
              <input
                autocomplete="off"
                class="disableFormInput"
                v-if="ProductTypeOptions.selected == null"
                disabled
              />
              <input
                autocomplete="off"
                class="disableFormInput"
                v-else
                :value="ProductTypeOptions.selected.productcate_grp"
                disabled
              />
            </CCol>
          </CRow>
          <CRow class="mt-2 mb-1">
            <CCol md="3">
              <span class="label-formInput">เบอร์ใยต่ำสุด</span>
            </CCol>
            <CCol md="4">
              <multiselect
                @input="checkedMinMax()"
                placeholder
                :allow-empty="false"
                id="ProductSizeMinOptions-filter"
                v-model="ProductSizeMinOptions.selected"
                :multiple="false"
                :options="ProductSizeMinOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="product_size"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mt-1 mb-2">

            <CCol md="3">
              <span class="label-formInput">เบอร์ใยสูงสุด</span>
            </CCol>
            <CCol md="4">
              <multiselect
                @input="checkedMinMax()"
                :allow-empty="false"
                placeholder
                id="ProductSizeMaxOptions-filter"
                v-model="ProductSizeMaxOptions.selected"
                :multiple="false"
                :options="ProductSizeMaxOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="product_size"
              ></multiselect>
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสป้าย</span>
            </CCol>
            <CCol md="3">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="LabelOptions-filter"
                v-model="LabelOptions.selected"
                :multiple="false"
                :options="LabelOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="label_id"
                :allow-empty="false"
              ></multiselect>
            </CCol>
            <CCol md="6">
              <input
                autocomplete="off"
                class="disableFormInput"
                v-if="LabelOptions.selected == null"
                disabled
              />
              <input
                autocomplete="off"
                class="disableFormInput"
                v-else
                :value="LabelOptions.selected.label_name_th"
                disabled
              />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสผ้าใบและแถบสี</span>
            </CCol>
            <CCol md="8">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="CasvasnBarOptions-filter-edit"
                v-model="CasvasnBarOptions.selected"
                :multiple="false"
                :options="CasvasnBarOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="canvasnbar_id"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span> วันที่ประกาศใช้ </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="editSpec.canvasnbarspec_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>

            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span> วันที่หมดอายุ </span>
                </CCol>
                <CCol md="6" class="">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="editSpec.canvasnbarspec_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">แก้ไขมาตรฐานเงื่อนไขการใช้ผ้าใบและแถบสี</h5>
        <CButtonClose
          @click="(openEditModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openEditModal = false), resetData()" color="danger"
          >ปิด</CButton
        >
        <CButton @click="SaveEditCanvasandBarSpecButton" color="success"
          >บันทึก</CButton
        >
      </template>
    </CModal>

    <!-- openViewModal -->
    <CModal
      :show.sync="openViewModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="lg"
      color="info"
    >
      <CRow class="form-group mx-5">
        <CCol md="12" class="mt-3">
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ประเภทการขาย</span>
            </CCol>
            <CCol md="4">
              <CInput v-model="viewSpec.tsale" disabled />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสลูกค้า</span>
            </CCol>
            <CCol md="8">
              <CInput v-model="viewSpec.customer" disabled />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ประเภทสินค้า</span>
            </CCol>
            <CCol md="8">
              <CInput disabled v-model="viewSpec.producttype" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ประเภทกลุ่มวัตถุดิบ</span>
            </CCol>
            <CCol md="8">
              <CInput disabled v-model="viewSpec.productcate_grp" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">เบอร์ใยต่ำสุด</span>
            </CCol>
            <CCol md="4">
              <CInput disabled v-model="viewSpec.twinesize_min" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">เบอร์ใยสูงสุด</span>
            </CCol>
            <CCol md="4">
              <CInput disabled v-model="viewSpec.twinesize_max" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสป้าย</span>
            </CCol>
            <CCol md="3">
              <CInput disabled v-model="viewSpec.label_cd" />
            </CCol>
            <CCol md="6">
              <CInput disabled v-model="viewSpec.label_name" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสผ้าใบและแถบสี</span>
            </CCol>
            <CCol md="3">
              <CInput v-model="viewSpec.canvasnbar_cd" disabled />
            </CCol>
            <CCol md="6">
              <CInput v-model="viewSpec.canvasnbar_name" disabled />
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span>
                    วันที่ประกาศใช้
                  </span>
                </CCol>
                <CCol md="6" class="mb-3">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="viewSpec.canvasnbarspec_st"
                    disabled
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>

            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span> วันที่หมดอายุ </span>
                </CCol>
                <CCol md="6" class="">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="viewSpec.canvasnbarspec_en"
                    disabled
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">
          ดูรายละเอียดมาตรฐานเงื่อนไขการใช้ผ้าใบและแถบสี
        </h5>
        <CButtonClose
          @click="(openViewModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="openViewModal = false" color="danger">ปิด</CButton>
      </template>
    </CModal>

    <!-- openDeleteModal -->
    <div>
      <CModal
        :show.sync="openDeleteModal"
        :closeOnBackdrop="false"
        :centered="true"
        title="Modal title 2"
        color="danger"
      >
        <CRow class="form-group mx-1">
          <h6>ยืนยันการลบมาตรฐานเงื่อนไขการใช้ผ้าใบและแถบสี ดังต่อไปนี้</h6>
          <CCol md="12">
            <div class="mb-2">
              <CRow>
                <CCol md="12"> ID : {{ deleteSpec.canvasnbarspec_id }} </CCol>
                <CCol md="12" v-if="deleteSpec.tsale == 0 "> ประเภทการขาย  : ขายในประเทศ </CCol>
                <CCol md="12" v-else> ประเภทการขาย : ขายต่างประเทศ </CCol>
                <CCol md="12"> ลูกค้า : {{ deleteSpec.customer }} </CCol>
                <CCol md="12">
                  ประเภทสินค้า : {{ deleteSpec.producttype_code }} : {{ deleteSpec.producttype_desc }}
                </CCol>
                <CCol md="12">
                  ประเภทกลุ่มวัตถุดิบ : {{ deleteSpec.productcate_grp }}
                </CCol>
                <CCol md="12">
                  เบอร์ใย {{ deleteSpec.twinesize_max }} - {{ deleteSpec.twinesize_max }}
                </CCol>
                <CCol md="12">
                  รหัสป้าย : {{ deleteSpec.label_cd }} : {{ deleteSpec.label_name }}
                </CCol>
                <CCol md="12">
                  รหัสผ้าใบและแถบสี : {{ deleteSpec.canvasnbar }}
                </CCol>
              </CRow>
            </div>
          </CCol>
        </CRow>
        <template #header>
          <h5 class="modal-title">ลบมาตรฐานเงื่อนไขการใช้ผ้าใบและแถบสี</h5>
          <CButtonClose @click="openDeleteModal = false" class="text-white" />
        </template>
        <template #footer>
          <CButton
            @click="openDeleteModal = false"
            color="danger"
            variant="ghost"
            >ยกเลิก</CButton
          >
          <CButton @click="DeleteCanvasandBarSpecButton" color="danger"
            >ลบ</CButton
          >
        </template>
      </CModal>
    </div>
  </div>
</template>

<script>
import canvasnbermixin from "./master_s_canvasnbermixin";
export default {
  mixins: [canvasnbermixin],
};
</script>

<style>
.hidden_row {
  display: none;
}
</style>


