<template>
  <CFooter :fixed="false">
    <div>
      <a href="#">MASTER DATA</a>
      <span class="ml-1">&copy; {{new Date().getFullYear()}} ระบบโปรแกรมฐานข้อมูลอ้างอิงหลัก บริษัท ขอนแก่นแหอวน จำกัด (Master Data)</span>
    </div>
  </CFooter>
</template>

<script>
export default {
  name: 'TheFooter'
}
</script>
