<template>
  <CDropdown inNav class="c-header-nav-items" placement="bottom-end" add-menu-classes="pt-0">
    <template #toggler>
      <CHeaderNavLink>
        <div class="c-avatar">
          <img src="/img/avatars/unnamed.png" class="c-avatar-img" />
        </div>
      </CHeaderNavLink>
    </template>
    <CDropdownHeader tag="div" class="text-center" color="light">
      <strong>Account</strong>
    </CDropdownHeader>
    <CDropdownItem>
      <CIcon name="cil-user" /> <span class="mx-2">Profile</span>
    </CDropdownItem>
    <CDropdownItem class="logout-btn" @click="onSignoutButtonClick">
        <CIcon name="cil-lock-locked" /><span class="mx-2">ออกจากระบบ </span>
    </CDropdownItem>
  </CDropdown>
</template>

<script>
export default {
  name: "TheHeaderDropdownAccnt",
  data() {
    return {
      itemsCount: 42,
    };
  },
  methods: {
    onSignoutButtonClick() {
      swal("ต้องการออกจากระบบใช่หรือไม่ ?","", "warning", {
        buttons: {
          cancel: "ยกเลิก",
          catch: {
            text: "ออกจากระบบ",
            value: "catch",
          }
        }, 
      }).then((value) => {
        switch (value) {
          case "catch":
            this.$root.api.OauthLogout({
              callback: (res) => {
                swal(
                  "ออกจากระบบเรียบร้อย",
                  "ออกจากระบบเรียบร้อย กรุณารอสักครู่",
                  "success"
                );
                this.$localStorage.remove("Token");
                this.$localStorage.remove("User");
                setTimeout("location.reload(true);",500);

              },
            });
        }
      });
      
    },
  },
};
</script>

<style >
.logout-btn:hover {
  color: #fff;
    background-color: #e55353;
}
.swal-button--catch {
  background-color: #e55353;
}

</style>