<template>
  <div class>
    <CCard class="card-content">
      <CCardHeader class="card-header ">
        <h4 id="" class="mt-0 mb-0">
          การบันทึก/แก้ไข ข้อมูลลักษณะสายรัดกระสอบ
        </h4>
      </CCardHeader>
      <CCardBody>
        <CRow class="mx-1" v-if="HReport == true">
          <CCol md="6">
            <CRow class="form-group">
              <CCol md="6" class="my-2">
                <span>รหัสสายรัด</span>
                <input autocomplete="off"
                  maxlength="2"
                  @keyup.enter="SearchStrap"
                  v-model="search.strap_cd"
                  style="text-transform: uppercase !important"
                  class="input-box"
                />
              </CCol>
              <CCol md="6" class="my-2">
                <span>รายละเอียด</span>
                <input autocomplete="off"
                  v-model="search.txtsearch"
                  style="text-transform: uppercase !important"
                  @keyup.enter="SearchStrap"
                  class="input-box"
                />
              </CCol>
            </CRow>
          </CCol>
          <CCol md="1">
            <CRow class="">
              <CButton class="mt-4" color="info" block @click="SearchStrap">
                <CIcon name="cil-magnifying-glass" />ค้นหา
              </CButton>
            </CRow>
          </CCol>
        </CRow>
        <CRow class="mx-3">
          <CButton
            class="mt-1 mr-3"
            color="success"
            @click="openAddModal = true"
          >
            <i class="fa fa-plus"></i>
            เพิ่ม
          </CButton>
          <CButton
            class="mt-1 mr-3 text-white"
            color="warning"
            @click="EditStrapButton"
            v-if="checkItemID.length == 1 && itemsTabs1 == true"
          >
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton class="mt-1 mr-3 text-white" color="warning" v-else disabled>
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="info"
            @click="ViewStrapButton()"
            v-if="checkItemID.length == 1"
          >
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton class="mt-1 mr-3" color="info" disabled v-else>
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="danger"
            @click="DeleteView()"
            v-if="checkItemID.length == 1 && itemsTabs3 == false"
          >
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton class="mt-1 mr-3" color="danger" disabled v-else>
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton
            variant="outline"
            color="secondary"
            class="mt-1 mr-3"
            :pressed.sync="HReport"
            >{{ HReport ? "ซ่อน" : "แสดง" }}เงื่อนไข</CButton
          >
        </CRow>
      </CCardBody>
      <hr class="my-0" />
      <CCardBody>
        <CNav variant="tabs">
          <CNavItem v-model="itemsTabs1" active>
            <CButton
              @click="
                (itemsTabs1 = true), (itemsTabs2 = false), (itemsTabs3 = false)
              "
              >ข้อมูลลักษณะสายรัดกระสอบที่ Active</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs2">
            <CButton
              @click="
                (itemsTabs2 = true), (itemsTabs1 = false), (itemsTabs3 = false)
              "
              >ข้อมูลลักษณะสายรัดกระสอบหมดอายุ (Inactive)</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs3">
            <CButton
              @click="
                (itemsTabs3 = true), (itemsTabs1 = false), (itemsTabs2 = false)
              "
              >ข้อมูลลักษณะสายรัดกระสอบที่ถูกลบ</CButton
            >
          </CNavItem>
        </CNav>
        <CCard>
          <CCardBody style="overflow-x: auto" v-if="itemsTabs1 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPageA">แสดง</label>
                <select
                  class="mx-1 selectPage-box"
                  name="selectPageA"
                  id="selectPageA"
                  v-model="perPageA"
                  @click="setPagesActive()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage">/ {{ dataStrapCount }} รายการ</label>
              </div>
            </form>
            <table class="table styled-table" id="table">
              <thead class="tableTab1">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col" @click="sortTable(0)">Code สายรัด <CIcon name="cil-swap-vertical"/> </th>
                  <th scope="col">รายละเอียดสายรัด</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                  <th scope="col">ผู้บันทึก</th>
                  <th scope="col">วันที่บันทึก</th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="p in displayedPostsActive" :key="p.strap_id">
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.strap_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      @click="checkItems(p.strap_id)"
                    />
                  </th>
                  <td class="td-fontsize">{{ p.strap_cd }}</td>
                  <td class="td-fontsize">{{ p.strap_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                  <td class="td-fontsize">{{ p.user_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    color="primary"
                    v-if="pageA != 1"
                    @click="pageA--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="page-link" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageA++"
                    color="primary"
                    v-if="pageA < pagesA.length"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="page-link"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>

          <CCardBody style="overflow-x: auto" v-if="itemsTabs2 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPageI">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPageI"
                  id="selectPageI"
                  v-model="perPageI"
                  @click="setPagesIntive()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage">/ {{ dataIStrapCount }} รายการ</label>
              </div>
            </form>
            <table class="table styled-table" id="table">
              <thead class="tableTab2">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col" @click="sortTable(0)">Code สายรัด <CIcon name="cil-swap-vertical"/> </th>
                  <th scope="col">รายละเอียดสายรัด</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                  <th scope="col">ผู้บันทึก</th>
                  <th scope="col">วันที่บันทึก</th>
                </tr>
              </thead>
              <tbody v-if="showTable == true && dataIStrapCount != 0">
                <tr v-for="p in displayedPostsInactive" :key="p.strap_id">
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.strap_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      @click="checkItems(p.strap_id)"
                    />
                  </th>
                  <td class="td-fontsize">{{ p.strap_cd }}</td>
                  <td class="td-fontsize">{{ p.strap_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                  <td class="td-fontsize">{{ p.user_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
              <tbody v-else>
                <td></td>
                <td></td>
                <td></td>
                <td><h5>ไม่พบข้อมูล</h5></td>
                <td></td>
                <td></td>
                <td></td>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class="text-info"
                    v-if="pageI != 1"
                    @click="pageI--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="text-info" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageI++"
                    v-if="pageI < pagesI.length"
                    class="text-info"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="text-info"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>

          <CCardBody style="overflow-x: auto" v-if="itemsTabs3 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPage">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPage"
                  id="selectPage"
                  v-model="perPageC"
                  @click="setPagesCancel()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage">/ {{ dataCStrapCount }} รายการ</label>
              </div>
            </form>
            <table class="table styled-table" id="table">
              <thead class="tableTab3">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col" @click="sortTable(0)">Code สายรัด <CIcon name="cil-swap-vertical"/> </th>
                  <th scope="col">รายละเอียดสายรัด</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                  <th scope="col">ผู้ยกเลิก</th>
                  <th scope="col">วันที่ยกเลิก</th>
                </tr>
              </thead>
              <tbody v-if="showTable == true && dataCStrapCount != 0">
                <tr v-for="p in displayedPostsCancel" :key="p.strap_id">
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.strap_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      @click="checkItems(p.strap_id)"
                    />
                  </th>
                  <td class="td-fontsize">{{ p.strap_cd }}</td>
                  <td class="td-fontsize">{{ p.strap_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                  <td class="td-fontsize">{{ p.cancel_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.cancel_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
              <tbody v-else>
                <td></td>
                <td></td>
                <td></td>
                <td><h5>ไม่พบข้อมูล</h5></td>
                <td></td>
                <td></td>
                <td></td>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class="text-danger"
                    v-if="pageC != 1"
                    @click="pageC--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="text-danger" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageC++"
                    v-if="pageC < pagesC.length"
                    class="text-danger"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="text-danger"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>
        </CCard>
      </CCardBody>
      <CCardFooter>
        <CRow class>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-if="itemsTabs3 == true">
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_u_strap
          </CCol>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-else>
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_s_strap
          </CCol>
        </CRow>
      </CCardFooter>
    </CCard>

    <!-- openAddModal -->
    <CModal
      :show.sync="openAddModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="lg"
      color="success"
    >
      <CRow class="form-group mx-5">
        <CCol md="12" class="mt-3">
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสสายรัด</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="4">
              <input autocomplete="off"
                @change="CheckInsertStrapButton"
                maxlength="2"
                id="strap_cd"
                class="input-box mb-3"
                style="text-transform: uppercase !important"
                v-model="insert.strap_cd"
              />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รายละเอียด</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="9">
              <CTextarea maxlength="49" v-model="insert.strap_name" rows="5" />
            </CCol>
          </CRow>
          <CRow>
            <CCol md="3">
              <span>รหัส 10 หลัก</span>
            </CCol>
            <CCol md="9">
              <multiselect
                id="itemcode10-filter"
                placeholder
                v-model="itemcode10.selected"
                :multiple="false"
                :options="itemcode10.lists"
                :show-labels="false"
                label="_label"
                track-by="itemCode"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span>
                วันที่ประกาศใช้
              </span>
            </CCol>
            <CCol md="9" class="mb-2">
              <date-picker
                v-model="insert.strap_st"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
            </CCol>

            <CCol md="3">
              <span>วันที่หมดอายุ</span>
            </CCol>
            <CCol md="9" class="mb-2">
              <date-picker
                v-model="insert.strap_en"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">เพิ่มข้อมูลลักษณะสายรัดกระสอบ</h5>
        <CButtonClose
          @click="(openAddModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openAddModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
        <CButton @click="InsertStrapButton" color="success">บันทึก</CButton>
      </template>
    </CModal>
    <!-- openEditModal -->
    <div>
      <CModal
        :show.sync="openEditModal"
        :closeOnBackdrop="false"
        :centered="true"
        title="Modal title 2"
        size="lg"
        color="warning"
      >
        <CRow class="form-group mx-5" v-if="editStrap.strap_st < currentDate">
          <h5 class="text-danger">
            * ไม่สามารถแก้ไขได้ เนื่องจากมีวันประกาศใช้ไปแล้ว
            แก้ไขได้เฉพาะวันที่หมดอายุ
          </h5>
          <CCol md="12" class="mt-3">
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">รหัสสายรัด</span>
              </CCol>
              <CCol md="4">
                <CInput
                  disabled
                  id="strap_cd-edit"
                  style="text-transform: uppercase !important"
                  v-model="editStrap.strap_cd"
                />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">รายละเอียด</span>
              </CCol>
              <CCol md="9">
                <CTextarea
                  disabled
                  maxlength="49"
                  v-model="editStrap.strap_name"
                  rows="5"
                />
              </CCol>
            </CRow>
            <CRow>
              <CCol md="3">
                <span>รหัส 10 หลัก</span>
              </CCol>
              <CCol md="9">
                <CInput
                  v-model="editStrap.itemcode_name"
                  disabled
                  type="text"
                />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="mb-2">
                  วันที่ประกาศใช้
                  <span class="text-danger">*</span>
                </span>
              </CCol>
              <CCol md="9" class="mb-2">
                <date-picker
                  v-model="editStrap.strap_st"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                  disabled
                ></date-picker>
              </CCol>

              <CCol md="3">
                <span>วันที่หมดอายุ</span>
              </CCol>
              <CCol md="9" class="mb-2">
                <date-picker
                  v-model="editStrap.strap_en"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                ></date-picker>
              </CCol>
            </CRow>
          </CCol>
        </CRow>
        <CRow class="form-group mx-5" v-else>
          <CCol md="12" class="mt-3">
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">รหัสสายรัด</span>
              </CCol>
              <CCol md="4">
                <input autocomplete="off"
                  @change="CheckEditStrapButton"
                  maxlength="2"
                  id="strap_cd-edit"
                  class="input-box mb-3"
                  style="text-transform: uppercase !important"
                  v-model="editStrap.strap_cd"
                />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">รายละเอียด</span>
              </CCol>
              <CCol md="9">
                <CTextarea
                  maxlength="49"
                  v-model="editStrap.strap_name"
                  rows="5"
                />
              </CCol>
            </CRow>
            <CRow>
              <CCol md="3">
                <span>รหัส 10 หลัก</span>
              </CCol>
              <CCol md="9">
                <multiselect
                  :allow-empty="false"
                  id="itemcode10-filter-edit"
                  v-model="itemcode10.selected"
                  :multiple="false"
                  :options="itemcode10.lists"
                  :show-labels="false"
                  label="_label"
                  track-by="itemCode"
                ></multiselect>
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span>
                  วันที่ประกาศใช้
                  <span class="text-danger">*</span>
                </span>
              </CCol>
              <CCol md="9" class="mb-2">
                <date-picker
                  v-model="editStrap.strap_st"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                ></date-picker>
              </CCol>
              <CCol md="3" class="mb-2">
                <span>วันที่หมดอายุ</span>
              </CCol>
              <CCol md="9" class="mb-2">
                <date-picker
                  v-model="editStrap.strap_en"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                ></date-picker>
              </CCol>
            </CRow>
          </CCol>
        </CRow>
        <template #header>
          <h5 class="modal-title">แก้ไขลักษณะสายรัดกระสอบ</h5>
          <CButtonClose @click="openEditModal = false" class="text-white" />
        </template>
        <template #footer>
          <CButton @click="(openEditModal = false), resetData()" color="danger"
            >ยกเลิก</CButton
          >
          <CButton @click="SaveEditStrapButton" color="success">บันทึก</CButton>
        </template>
      </CModal>
    </div>
    <!-- openViewModal -->
    <CModal
      :show.sync="openViewModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="lg"
      color="info"
    >
      <CRow class="form-group mx-5">
        <CCol md="12" class="mt-3">
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสสายรัด</span>
            </CCol>
            <CCol md="4">
              <CInput
                disabled
                id="strap_cd-view"
                style="text-transform: uppercase !important"
                v-model="viewStrap.strap_cd"
              />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รายละเอียด</span>
            </CCol>
            <CCol md="9">
              <CTextarea
                disabled
                maxlength="49"
                v-model="viewStrap.strap_name"
                rows="5"
              />
            </CCol>
          </CRow>

          <CRow>
            <CCol md="3">
              <span>รหัส 10 หลัก</span>
            </CCol>
            <CCol md="9">
              <CInput v-model="viewStrap.itemcode" disabled type="text" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="mb-2">
                วันที่ประกาศใช้
                <span class="text-danger">*</span>
              </span>
            </CCol>
            <CCol md="9" class="mb-2">
              <date-picker
                v-model="viewStrap.strap_st"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
                disabled
              ></date-picker>
            </CCol>

            <CCol md="3">
              <span>วันที่หมดอายุ</span>
            </CCol>
            <CCol md="9" class="mb-2">
              <date-picker
                v-model="viewStrap.strap_en"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
                disabled
              ></date-picker>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">ดูรายละเอียดลักษณะสายรัดกระสอบ</h5>
        <CButtonClose @click="openViewModal = false" class="text-white" />
      </template>
      <template #footer>
        <CButton @click="openViewModal = false" color="danger">ปิด</CButton>
      </template>
    </CModal>
    <!-- openDeleteModal -->
    <div>
      <CModal
        :show.sync="openDeleteModal"
        :closeOnBackdrop="false"
        :centered="true"
        title="Modal title 2"
        color="danger"
      >
        <CRow class="form-group mx-5">
          <h6>ยืนยันการลบข้อมูลสายรัด ดังต่อไปนี้</h6>
          <CCol md="12">
            <div v-for="i in deleteStrap" :key="i.index" class="mb-2">
              <CRow>
                <CCol md="10">
                  สายรัด : {{ i.strap_cd }} : {{ i.strap_name }}
                </CCol>
              </CRow>
            </div>
          </CCol>
        </CRow>
        <template #header>
          <h5 class="modal-title">ลบข้อมูลลักษณะสายรัดกระสอบ</h5>
          <CButtonClose @click="openDeleteModal = false" class="text-white" />
        </template>
        <template #footer>
          <CButton
            @click="openDeleteModal = false"
            color="danger"
            variant="ghost"
            >ยกเลิก</CButton
          >
          <CButton @click="DeleteStrapButton" color="danger">ลบ</CButton>
        </template>
      </CModal>
    </div>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import { GetObjValJoin, GetDate, FileToBase64 } from "@/shared/utils";
import setupmixin from "@/shared/setupmixin";
import swal from "sweetalert";
import { loadPartialConfig } from "@babel/core";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";

export default {
  name: "Strap",
  data() {
    return {
      HReport: true,
      search: {
        strap_id: "",
        strap_cd: "",
        txtsearch: "",
      },
      checkItemID: [],

      showTable: false,
      itemsTabs1: true,
      itemsTabs2: false,
      itemsTabs3: false,

      // Active
      dataStrap: [],
      cancelStrap: [],
      dataActive: [],
      dataStrapCount: 0,
      pageA: 1,
      perPageA: 10,
      pagesA: [],

      // InActive
      dataIStrap: [],
      dataInactive: [],
      dataIStrapCount: 0,
      pageI: 1,
      perPageI: 5,
      pagesI: [],

      // Cancel
      dataCStrap: [],
      dataCancel: [],
      dataCStrapCount: 0,
      pageC: 1,
      perPageC: 5,
      pagesC: [],

      insert: {
        strap_cd: "",
        strap_name: "",
        strap_st: "",
        strap_en: "",
      },
      viewStrap: {
        strap_cd: "",
        strap_name: "",
        strap_st: "",
        strap_en: "",
        strap_id: "",
        itemcode: "",
        status: "",
      },
      editStrap: {
        strap_cd: "",
        strap_name: "",
        strap_st: "",
        strap_en: "",
        strap_id: "",
        itemcode: "",
        status: "",
        itemcode_name: "",
      },
      openAddModal: false,
      openEditModal: false,
      openViewModal: false,
      openDeleteModal: false,
      checked: [],
      deleteStrap: [],

      itemcode10: {
        lists: [],
        selected: null,
      },
      currentDate: "",
      oldstrap_cd: "",
    };
  },
  components: {
    Multiselect,
    DatePicker,
  },
  created() {
    let nowDate = new Date();
    this.currentDate = GetDate(nowDate.setDate(nowDate.getDate()));
    let defaultExDate = "2000-01-01";
    this.insert.strap_st = this.currentDate;
    this.insert.strap_en = defaultExDate;

    this.$root.api.View_itemSearchAllItemCode({
      data: {
        ItemCode: "0827",
        ItemGrp: "0827",
      },
      callback: (res) => {
        res.forEach(
          (x) => (x._label = GetObjValJoin(x, ["itemCode", "itemName"]))
        );
        this.itemcode10.lists = res;
      },
    });
  },
  mounted() {},
  updated() {
    if (this.insert.strap_cd == "") {
      $("#strap_cd").focus();
    }
    $(document).ready(function() {
      $("#MyTable").DataTable({
        initComplete: function() {
          this.api()
            .columns()
            .every(function() {
              var column = this;
              var select = $('<select><option value=""></option></select>')
                .appendTo($(column.footer()).empty())
                .on("change", function() {
                  var val = $.fn.dataTable.util.escapeRegex($(this).val());
                  //to select and search from grid
                  column.search(val ? "^" + val + "$" : "", true, false).draw();
                });

              column
                .data()
                .unique()
                .sort()
                .each(function(d, j) {
                  select.append('<option value="' + d + '">' + d + "</option>");
                });
            });
        },
      });
    });
  },
  methods: {
    SearchStrap() {
      this.dataStrapCount = 0;
      this.dataIStrapCount = 0;
      this.dataCStrapCount = 0;
      this.checked = [];
      this.checkItemID = [];
      this.dataStrap = [];
      this.cancelStrap = [];

      this.$root.api.Master_s_StrapSearchView({
        data: {
          strap_cd: this.search.strap_cd,
          txtsearch: this.search.txtsearch,
        },
        callback: (res) => {
          if (res.length == 0) {
            swal({
              title: "ผิดพลาด!",
              text: "ไม่พบรายการลักษณะสายรัดกระสอบที่ค้นหา",
              icon: "warning",
              button: "ตกลง",
            });
            this.search = [];
          }
          this.dataStrap = res;
          for (let i = 0; i < res.length; i++) {
            if (res[i].status == "A") {
              this.dataStrapCount = this.dataStrapCount + 1;
            } else if (res[i].status == "I") {
              this.dataIStrapCount = this.dataIStrapCount + 1;
            } else if (res[i].status == "C") {
              this.dataCStrapCount = this.dataCStrapCount + 1;
            }
            this.getDataStrap();
          }
          this.$root.api.Master_s_StrapSearchCancel({
            data: {
              strap_cd: this.search.strap_cd,
              txtsearch: this.search.txtsearch,
            },
            callback: (res) => {
              this.cancelStrap = res;
              this.getCancelStrap();
            },
          });
          this.setPagesActive();
          this.setPagesInactive();
          this.setPagesCancel();
          this.showTable = true;
        },
      });
    },
    getDataStrap() {
      this.dataActive = [];
      this.dataInactive = [];
      this.dataCancel = [];
      for (let i = 0; i < this.dataStrap.length; i++) {
        if (this.dataStrap[i].status == "A") {
          this.dataActive.push({
            strap_id: this.dataStrap[i].strap_id,
            strap_cd: this.dataStrap[i].strap_cd,
            strap_name: this.dataStrap[i].strap_name,
            effdate_en: this.dataStrap[i].effdate_en,
            effdate_st: this.dataStrap[i].effdate_st,
            itemcode: this.dataStrap[i].itemcode,
            status: this.dataStrap[i].status,
            user_date: this.dataStrap[i].user_date,
            user_id: this.dataStrap[i].user_id,
            user_name: this.dataStrap[i].user_name,
          });
        } else if (this.dataStrap[i].status == "I") {
          this.dataInactive.push({
            strap_id: this.dataStrap[i].strap_id,
            strap_cd: this.dataStrap[i].strap_cd,
            strap_name: this.dataStrap[i].strap_name,
            effdate_en: this.dataStrap[i].effdate_en,
            effdate_st: this.dataStrap[i].effdate_st,
            itemcode: this.dataStrap[i].itemcode,
            status: this.dataStrap[i].status,
            user_date: this.dataStrap[i].user_date,
            user_id: this.dataStrap[i].user_id,
            user_name: this.dataStrap[i].user_name,
          });
        }
      }
    },
    getCancelStrap() {
      this.dataCancel = [];
      for (let i = 0; i < this.cancelStrap.length; i++) {
        this.dataCancel.push({
          strap_id: this.cancelStrap[i].strap_id,
          strap_cd: this.cancelStrap[i].strap_cd,
          strap_name: this.cancelStrap[i].strap_name,
          effdate_en: this.cancelStrap[i].effdate_en,
          effdate_st: this.cancelStrap[i].effdate_st,
          itemcode: this.cancelStrap[i].itemcode,
          status: this.cancelStrap[i].status,
          user_date: this.cancelStrap[i].user_date,
          user_id: this.cancelStrap[i].user_id,
          user_name: this.cancelStrap[i].user_name,
          cancel_date: this.cancelStrap[i].cancel_date,
          cancel_name: this.cancelStrap[i].cancel_name,
        });
      }
    },
    setPagesActive() {
      this.pagesA = [];
      let numberOfPages = Math.ceil(this.dataStrapCount / this.perPageA);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesA.push(index);
      }
      this.pageA = 1;
    },
    setPagesInactive() {
      this.pagesI = [];
      let numberOfPages = Math.ceil(this.dataIStrapCount / this.perPageI);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesI.push(index);
      }
      this.pageI = 1;
    },
    setPagesCancel() {
      this.pagesC = [];
      let numberOfPages = Math.ceil(this.dataCStrapCount / this.perPageI);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesC.push(index);
      }
      this.pageC = 1;
    },
    paginate(Active) {
      let pageA = this.pageA;
      let perPageA = this.perPageA;
      let from = pageA * perPageA - perPageA;
      let to = pageA * perPageA;
      return Active.slice(from, to);
    },
    paginateInactive(Inactive) {
      let pageI = this.pageI;
      let perPageI = this.perPageI;
      let from = pageI * perPageI - perPageI;
      let to = pageI * perPageI;
      return Inactive.slice(from, to);
    },
    paginateCancel(Cancel) {
      let pageC = this.pageC;
      let perPageC = this.perPageC;
      let from = pageC * perPageC - perPageC;
      let to = pageC * perPageC;
      return Cancel.slice(from, to);
    },
    checkItems(val) {
      this.checkItemID = $("input[type=checkbox][name=Choosed]:checked")
        .map(function(_, el) {
          return $(el).val();
        })
        .get();
    },
    EditStrapButton() {
      this.openEditModal = true;
      var x = this.checkItemID[0];
      this.$root.api.Master_s_StrapSearchView({
        data: {
          strap_id: x,
        },
        callback: (res) => {
          this.editStrap.strap_id = res[0].strap_id;
          this.editStrap.strap_cd = res[0].strap_cd;
          this.editStrap.strap_name = res[0].strap_name.trim();
          this.editStrap.strap_st = res[0].effdate_st.split("T")[0];
          this.editStrap.strap_en = res[0].effdate_en.split("T")[0];
          this.editStrap.itemcode = res[0].itemcode;
          this.editStrap.status = res[0].status;
          this.oldstrap_cd = res[0].strap_cd;
          $("#strap_cd-edit").focus();

          this.$root.api.View_itemSearchItemCode({
            data: { ItemCode: res[0].itemcode },
            callback: (res) => {
              res.forEach(
                (x) => (x._label = GetObjValJoin(x, ["itemCode", "itemName"]))
              );
              this.itemcode10.selected = res[0];
              this.editStrap.itemcode_name = res[0]._label;
            },
          });
        },
      });
    },
    ViewStrapButton() {
      this.openViewModal = true;
      var x = this.checkItemID[0];
      this.$root.api.Master_s_StrapSearchView({
        data: {
          strap_id: x,
        },
        callback: (res) => {
          this.viewStrap.strap_id = res[0].strap_id;
          this.viewStrap.strap_cd = res[0].strap_cd;
          this.viewStrap.strap_name = res[0].strap_name.trim();
          this.viewStrap.strap_st = res[0].effdate_st.split("T")[0];
          this.viewStrap.strap_en = res[0].effdate_en.split("T")[0];
          this.$root.api.View_itemSearchItemCode({
            data: { ItemCode: res[0].itemcode },
            callback: (res) => {
              res.forEach(
                (x) => (x._label = GetObjValJoin(x, ["itemCode", "itemName"]))
              );
              this.viewStrap.itemcode = res[0]._label;
            },
          });
        },
      });
    },
    CheckEditStrapButton() {
      if (this.editStrap.strap_cd != "") {
        this.$root.api.Master_s_StrapSearchView({
          data: {
            strap_cd: this.editStrap.strap_cd,
          },
          callback: (res) => {
            if (res.length != 0) {
              swal({
                title: "รหัสลักษณะสายรัดกระสอบซ้ำ!",
                text: "ไม่สามารถใช้รหัสลักษณะสายรัดกระสอบนี้ได้",
                icon: "error",
                button: "ตกลง",
              });
              $("#strap_cd-edit").focus();
              this.editStrap.strap_cd = this.oldstrap_cd;
            }
          },
        });
      }
    },
    SaveEditStrapButton() {
      var itemCode = "";
      if (this.itemcode10.selected.length == 1) {
        for (let i = 0; i < 1; i++) {
          itemCode = this.itemcode10.selected[i].itemCode;
        }
      } else {
        itemCode = this.itemcode10.selected.itemCode;
      }

      if (
        this.editStrap.strap_en == "2000-01-01" ||
        (this.editStrap.strap_en > this.currentDate &&
          this.editStrap.strap_en > this.editStrap.strap_st)
      ) {
        if (this.editStrap.strap_name != "") {
          this.$root.api.Master_s_StrapSave({
            data: {
              strap_id: this.editStrap.strap_id,
              strap_cd: this.editStrap.strap_cd.toUpperCase(),
              strap_name: this.editStrap.strap_name,
              effdate_en: this.editStrap.strap_en,
              effdate_st: this.editStrap.strap_st,
              itemcode: itemCode,
              status: "A",
              user_id: localStorage.getItem("UserID"),
              user_name: localStorage.getItem("User"),
            },
            callback: (res) => {
              if (res._status == "S") {
                swal({
                  title: "สำเร็จ",
                  text: "บันทึกข้อมูลลักษณะสายรัดกระสอบเสร็จสิ้น",
                  icon: "success",
                  button: "ตกลง",
                });
              } else if (res._status == "F") {
                swal({
                  title: "ผิดพลาด!",
                  text: "ไม่สามารถบันทึกข้อมูลลักษณะสายรัดกระสอบได้",
                  icon: "error",
                  button: "ตกลง",
                });
              }
              this.resetData();
              this.SearchStrap();
              this.openEditModal = false;
            },
          });
        } else {
          swal({
            title: "ผิดพลาด",
            text: "กรุณากรอกข้อมูลรายละเอียดลักษณะสายรัดกระสอบ",
            icon: "error",
            button: "ตกลง",
          });
        }
      } else {
        swal({
          title: "ข้อมูลไม่ถูกต้อง!",
          text: "วันหมดอายุจะต้องมากกว่าวันที่ประกาศใช้และวันปัจจุบัน",
          icon: "error",
          button: "ตกลง",
        });
      }
    },
    DeleteView() {
      this.openDeleteModal = true;
      var x = this.checkItemID[0];
      this.$root.api.Master_s_StrapSearchView({
        data: {
          strap_id: x,
        },
        callback: (res) => {
          this.deleteStrap = res;
        },
      });
    },
    DeleteStrapButton() {
      var x = this.checkItemID[0];
      this.$root.api.Master_s_StrapMove({
        data: {
          strap_move: [
            {
              strap_id: x,
              user_id: localStorage.getItem("UserID"),
              user_name: localStorage.getItem("User"),
            },
          ],
        },
        callback: (res) => {
          console.log(res);
          if (res._status == "S") {
            swal({
              title: "สำเร็จ",
              text: "ลบข้อมูลผ้าใบเสร็จสิ้น",
              icon: "success",
              button: "ตกลง",
            });
          } else {
            swal({
              title: "ผิดพลาด!",
              text: "ไม่สามารถลบข้อมูลผ้าใบได้",
              icon: "error",
              button: "ตกลง",
            });
          }
          this.openDeleteModal = false;
          this.SearchStrap();
        },
      });
    },
    CheckInsertStrapButton() {
      this.$root.api.Master_s_StrapSearchView({
        data: {
          strap_cd: this.insert.strap_cd,
        },
        callback: (res) => {
          if (res.length != 0) {
            swal({
              title: "รหัสลักษณะสายรัดกระสอบซ้ำ!",
              text: "ไม่สามารถใช้รหัสลักษณะสายรัดกระสอบนี้ได้",
              icon: "error",
              button: "ตกลง",
            });
            $("#strap_cd").focus();
          }
        },
      });
    },
    InsertStrapButton() {
      var itemCode = "";
      if (this.itemcode10.selected == null) {
        itemCode = "";
      } else {
        itemCode = this.itemcode10.selected.itemCode;
      }
      if (
        this.insert.strap_en == "2000-01-01" ||
        (this.insert.strap_en > this.currentDate &&
          this.insert.strap_en > this.insert.strap_st)
      ) {
        if (this.insert.strap_name != "") {
          this.$root.api.Master_s_StrapSave({
            data: {
              strap_cd: this.insert.strap_cd.toUpperCase(),
              strap_name: this.insert.strap_name,
              effdate_en: this.insert.strap_en,
              effdate_st: this.insert.strap_st,
              itemcode: itemCode,
              status: "A",
              user_id: localStorage.getItem("UserID"),
              user_name: localStorage.getItem("User"),
            },
            callback: (res) => {
              if (res._status == "S") {
                swal({
                  title: "สำเร็จ",
                  text: "บันทึกข้อมูลสายรัดเสร็จสิ้น",
                  icon: "success",
                  button: "ตกลง",
                });
              } else if (res._status == "F") {
                swal({
                  title: "ผิดพลาด!",
                  text: "ไม่สามารถบันทึกข้อมูลสายรัดได้",
                  icon: "error",
                  button: "ตกลง",
                });
              }
              this.resetData();
              this.SearchStrap();
              this.openAddModal = false;
            },
          });
        } else {
          swal({
            title: "ผิดพลาด",
            text: "กรุณากรอกข้อมูลรายละเอียดสายรัด",
            icon: "error",
            button: "ตกลง",
          });
        }
      } else {
        swal({
          title: "ข้อมูลไม่ถูกต้อง!",
          text: "วันหมดอายุจะต้องมากกว่าวันที่ประกาศใช้และวันปัจจุบัน",
          icon: "error",
          button: "ตกลง",
        });
      }
    },
    resetData() {
      this.insert.strap_cd = "";
      this.insert.strap_name = "";
      this.itemcode10.selected = null;
      this.insert.strap_st = this.currentDate;
      this.insert.strap_en = "2000-01-01";
    },
    sortTable(n) {
      var table,
        rows,
        switching,
        i,
        x,
        y,
        shouldSwitch,
        dir,
        switchcount = 0;
      table = document.getElementById("table");
      switching = true;
      dir = "asc";
      while (switching) {
        switching = false;
        rows = table.getElementsByTagName("TR");
        for (i = 1; i < rows.length - 1; i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount++;
        } else {
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    },
  },
  computed: {
    displayedPostsActive() {
      return this.paginate(this.dataActive);
    },
    displayedPostsInactive() {
      return this.paginateInactive(this.dataInactive);
    },
    displayedPostsCancel() {
      return this.paginateCancel(this.dataCancel);
    },
  },
  watch: {
    Active() {
      this.setPagesActive();
    },
    Inactive() {
      this.setPagesIntive();
    },
    Cancel() {
      this.setPagesCancel();
    },
  },
};
</script>

<style></style>
