<template>
  <div>
    <CCard class="card-content">
      <CCardHeader>
        <h4>การกำหนดมาตรฐานเงื่อนไขการพับมัดของอวนรุม อวนแปรรูป</h4>
      </CCardHeader>
      <CCardBody>
        <CRow class="mx-1" v-if="HReport == true">
          <CCol md="6">
            <CRow class="form-group">
              <CCol md="6" class="my-2">
                <span>รหัสปภ.การรุม</span>
                <input
                  autocomplete="off"
                  maxlength="3"
                  @keyup.enter="SearchData"
                  v-model="search.rumtype_code"
                  style="text-transform: uppercase !important"
                  class="input-box"
                />
              </CCol>
              <CCol md="6" class="my-2">
                <span>รหัสการพับมัด</span>
                <input
                  autocomplete="off"
                  maxlength="2"
                  @keyup.enter="SearchData"
                  onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)"
                  v-model="search.fold_code"
                  style="text-transform: uppercase !important"
                  class="input-box"
                />
              </CCol>
              <CCol md="8" class="my-2">
                <span>รายละเอียด</span>
                <input
                  autocomplete="off"
                  v-model="search.txtsearch"
                  style="text-transform: uppercase !important"
                  @keyup.enter="SearchData"
                  class="input-box"
                />
              </CCol>
            </CRow>
          </CCol>
          <CCol md="1">
            <CRow class="">
              <CButton class="mt-4" color="info" block @click="SearchData">
                <CIcon name="cil-magnifying-glass" />ค้นหา
              </CButton>
            </CRow>
          </CCol>
        </CRow>
        <!-- //? ACTION BTN -->
        <CRow class="mx-3">
          <CButton
            class="mt-1 mr-3"
            color="success"
            @click="(openAddModal = true), resetData()"
          >
            <i class="fa fa-plus"></i>
            เพิ่ม
          </CButton>
          <CButton
            class="mt-1 mr-3 text-white"
            color="warning"
            @click="EditButton"
            v-if="checkedItem > 0 && itemsTabs1 == true"
          >
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton class="mt-1 mr-3 text-white" color="warning" disabled v-else>
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="info"
            @click="ViewButton()"
            v-if="checkedItem > 0"
          >
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton class="mt-1 mr-3" color="info" disabled v-else>
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="danger"
            @click="DeleteButton"
            v-if="checkedItem > 0 && itemsTabs3 == false"
          >
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton class="mt-1 mr-3 " color="danger" disabled v-else>
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton
            variant="outline"
            color="secondary"
            class="mt-1 mr-3"
            :pressed.sync="HReport"
            >{{ HReport ? "ซ่อน" : "แสดง" }}เงื่อนไข</CButton
          >
        </CRow>
      </CCardBody>
      <hr class="my-0" />
      <CCardBody>
        <CNav variant="tabs">
          <CNavItem v-model="itemsTabs1" active class="Tabs">
            <CButton
              @click="
                (itemsTabs1 = true), (itemsTabs2 = false), (itemsTabs3 = false) , resetData()
              "
              >ข้อมูลมตฐ.เงื่อนไข (Active)</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs2" class="Tabs">
            <CButton
              @click="
                (itemsTabs2 = true), (itemsTabs1 = false), (itemsTabs3 = false) , resetData()
              "
              >ข้อมูลมตฐ.เงื่อนไข (Inactive)</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs2" class="Tabs">
            <CButton
              @click="
                (itemsTabs3 = true), (itemsTabs1 = false), (itemsTabs2 = false) , resetData()
              "
              >ข้อมูลมตฐ.เงื่อนไขที่ถูกลบ</CButton
            >
          </CNavItem>
        </CNav>
        <!-- //? TABLE -->
        <CCard>
          <CCardBody style="overflow-x: auto">
            <div v-if="itemsTabs1 === true">
              <form>
                <div class="offset my-3">
                  <label for="selectPageA">แสดง</label>
                  <select
                    class="mx-1 selectPage-box"
                    name="selectPageA"
                    id="selectPageA"
                    v-model="perPageA"
                    @click="setPagesActive()"
                  >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">แสดงทั้งหมด</option>
                  </select>
                  <label for="selectPage">/ {{ dataActiveCount }} รายการ</label>
                </div>
              </form>
              <table class="table styled-table">
                <thead class="tableTab1">
                  <tr class>
                    <th scope="col" class="text-center">เลือก</th>
                    <th scope="col">รหัสปภ.การรุม</th>
                    <th scope="col">รายละเอียด</th>
                    <th scope="col">รหัสการพับมัด</th>
                    <th scope="col">รายละเอียดการพับมัด(ชื่อ)</th>
                    <th scope="col">วันที่ประกาศใช้</th>
                    <th scope="col">วันหมดอายุ</th>
                    <th scope="col">ผู้บันทึก</th>
                    <th scope="col">วันที่บันทึก</th>
                  </tr>
                </thead>
                <tbody
                  v-for="p in displayedPostsActive"
                  :key="p.rumfoldspec_id"
                >
                  <tr>
                    <th scope="row" class="text-center">
                      <input
                        autocomplete="off"
                        :value="p.rumfoldspec_id"
                        v-model="checked"
                        type="checkbox"
                        name="Choosed"
                        id="Choosed"
                        @click="checkItems(p.rumfoldspec_id)"
                      />
                    </th>
                    <td class="td-fontsize">{{ p.rumtypeid }}</td>
                    <td class="td-fontsize">{{ p.rumtypename }}</td>
                    <td class="td-fontsize">{{ p.fold_code }}</td>
                    <td class="td-fontsize">{{ p.fold_name }}</td>
                    <td class="td-fontsize">
                      {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                    </td>
                    <td
                      class="td-fontsize"
                      v-if="p.effdate_en == '2000-01-01T00:00:00'"
                    >
                      ไม่กำหนด
                    </td>
                    <td class="td-fontsize" v-else>
                      {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                    </td>
                    <td class="td-fontsize">{{ p.user_name }}</td>
                    <td class="td-fontsize">
                      {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <CButton
                      type="button"
                      color="primary"
                      v-if="pageA != 1"
                      @click="pageA--"
                      >Previous</CButton
                    >
                    <CButton type="button" class="page-link" v-else disabled
                      >Previous</CButton
                    >
                  </li>
                  <li class="page-item">
                    <CButton
                      type="button"
                      @click="pageA++"
                      color="primary"
                      v-if="pageA < pagesA.length"
                      >Next</CButton
                    >
                    <CButton type="button" v-else disabled class="page-link"
                      >Next</CButton
                    >
                  </li>
                </ul>
              </nav>
            </div>
            <div v-if="itemsTabs2 === true">
              <form>
                <div class="offset my-3">
                  <label for="selectPageI">แสดง</label>
                  <!--		Show Numbers Of Rows 		-->
                  <select
                    class="mx-1 selectPage-box"
                    name="selectPageI"
                    id="selectPageI"
                    v-model="perPageI"
                    @click="setPagesIntive()"
                  >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">แสดงทั้งหมด</option>
                  </select>
                  <label for="selectPage"
                    >/ {{ dataInactiveCount }} รายการ</label
                  >
                </div>
              </form>
              <table class="table styled-table">
                <thead class="tableTab2">
                  <tr class>
                    <th scope="col" class="text-center">เลือก</th>
                    <th scope="col">รหัสปภ.การรุม</th>
                    <th scope="col">รายละเอียด</th>
                    <th scope="col">รหัสการพับมัด</th>
                    <th scope="col">รายละเอียดการพับมัด(ชื่อ)</th>
                    <th scope="col">วันที่ประกาศใช้</th>
                    <th scope="col">วันหมดอายุ</th>
                    <th scope="col">ผู้บันทึก</th>
                    <th scope="col">วันที่บันทึก</th>
                  </tr>
                </thead>
                <tbody
                  v-for="p in displayedPostsInactive"
                  :key="p.rumfoldspec_id"
                >
                  <tr>
                    <th scope="row" class="text-center">
                      <input
                        autocomplete="off"
                        :value="p.rumfoldspec_id"
                        v-model="checked"
                        type="checkbox"
                        name="Choosed"
                        id="Choosed"
                        @click="checkItems(p.rumfoldspec_id)"
                      />
                    </th>
                    <td class="td-fontsize">{{ p.rumtypeid }}</td>
                    <td class="td-fontsize">{{ p.rumtypename }}</td>
                    <td class="td-fontsize">{{ p.fold_code }}</td>
                    <td class="td-fontsize">{{ p.fold_name }}</td>
                    <td class="td-fontsize">
                      {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                    </td>
                    <td
                      class="td-fontsize"
                      v-if="p.effdate_en == '2000-01-01T00:00:00'"
                    >
                      ไม่กำหนด
                    </td>
                    <td class="td-fontsize" v-else>
                      {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                    </td>
                    <td class="td-fontsize">{{ p.user_name }}</td>
                    <td class="td-fontsize">
                      {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <CButton
                      type="button"
                      class="text-info"
                      v-if="pageI != 1"
                      @click="pageI--"
                      >Previous</CButton
                    >
                    <CButton type="button" class="text-info" v-else disabled
                      >Previous</CButton
                    >
                  </li>
                  <li class="page-item">
                    <CButton
                      type="button"
                      @click="pageI++"
                      v-if="pageI < pagesI.length"
                      class="text-info"
                      >Next</CButton
                    >
                    <CButton type="button" v-else disabled class="text-info"
                      >Next</CButton
                    >
                  </li>
                </ul>
              </nav>
            </div>
            <div v-if="itemsTabs3 === true">
              <form>
                <div class="offset my-3">
                  <label for="selectPage">แสดง</label>
                  <!--		Show Numbers Of Rows 		-->
                  <select
                    class="mx-1 selectPage-box"
                    name="selectPage"
                    id="selectPage"
                    v-model="perPageC"
                    @click="setPagesCancel()"
                  >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">แสดงทั้งหมด</option>
                  </select>
                  <label for="selectPage">/ {{ dataCancelCount }} รายการ</label>
                </div>
              </form>
              <table class="table styled-table">
                <thead class="tableTab3">
                  <tr class>
                    <th scope="col" class="text-center">เลือก</th>
                    <th scope="col">รหัสปภ.การรุม</th>
                    <th scope="col">รายละเอียด</th>
                    <th scope="col">รหัสการพับมัด</th>
                    <th scope="col">รายละเอียดการพับมัด(ชื่อ)</th>
                    <th scope="col">วันที่ประกาศใช้</th>
                    <th scope="col">วันหมดอายุ</th>
                    <th scope="col">ผู้ยกเลิก</th>
                    <th scope="col">วันที่ยกเลิก</th>
                  </tr>
                </thead>
                <tbody
                  v-for="p in displayedPostsCancel"
                  :key="p.rumfoldspec_id"
                >
                  <tr>
                    <th scope="row" class="text-center">
                      <input
                        autocomplete="off"
                        :value="p.rumfoldspec_id"
                        v-model="checked"
                        type="checkbox"
                        name="Choosed"
                        id="Choosed"
                        @click="checkItems(p.rumfoldspec_id)"
                      />
                    </th>
                    <td class="td-fontsize">{{ p.rumtypeid }}</td>
                    <td class="td-fontsize">{{ p.rumtypename }}</td>
                    <td class="td-fontsize">{{ p.fold_code }}</td>
                    <td class="td-fontsize">{{ p.fold_name }}</td>
                    <td class="td-fontsize">
                      {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                    </td>
                    <td
                      class="td-fontsize"
                      v-if="p.effdate_en == '2000-01-01T00:00:00'"
                    >
                      ไม่กำหนด
                    </td>
                    <td class="td-fontsize" v-else>
                      {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                    </td>
                    <td class="td-fontsize">{{ p.cancel_name }}</td>
                    <td class="td-fontsize">
                      {{ new Date(p.cancel_date).toLocaleDateString("en-GB") }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <CButton
                      type="button"
                      class="text-danger"
                      v-if="pageC != 1"
                      @click="pageC--"
                      >Previous</CButton
                    >
                    <CButton type="button" class="text-danger" v-else disabled
                      >Previous</CButton
                    >
                  </li>
                  <li class="page-item">
                    <CButton
                      type="button"
                      @click="pageC++"
                      v-if="pageC < pagesC.length"
                      class="text-danger"
                      >Next</CButton
                    >
                    <CButton type="button" v-else disabled class="text-danger"
                      >Next</CButton
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </CCardBody>
        </CCard>
        <!-- //? TABLE -->
      </CCardBody>
      <CCardFooter>
        <CRow class>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-if="itemsTabs3 == true">
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_u_rumfoldspec
          </CCol>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-else>
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_s_rumfoldspec
          </CCol>
        </CRow>
      </CCardFooter>
    </CCard>

    <!-- //? openAddModel -->
    <CModal
      :show.sync="openAddModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="success"
    >
      <CRow class="form-group ml-3">
        <CCol md="7" class="mt-3">
          <CRow class="mb-2">
            <CCol md="3">
              <span class="label-formInput">รหัสประเภทการรุม</span>
              <span class="text-danger">*</span>
            </CCol>

            <CCol md="3">
              <multiselect
                @input="CheckDupCode()"
                placeholder
                id="RumTypeOptions-filter"
                v-model="RumTypeOptions.selected"
                :multiple="false"
                :options="RumTypeOptions.lists"
                :show-labels="false"
                label="_label"
                :allow-empty="false"
                track-by="rumtypeid"
              ></multiselect>
            </CCol>
            <CCol md="6">
              <input
                autocomplete="off"
                class="disableFormInput"
                v-if="RumTypeOptions.selected == null"
                disabled
              />
              <input
                autocomplete="off"
                class="disableFormInput"
                v-else
                :value="RumTypeOptions.selected.rumtypename"
                disabled
              />
            </CCol>
          </CRow>
          <CRow class="mb-2">
            <CCol md="3">
              <span class="label-formInput">รหัสการพับมัด</span>
              <span class="text-danger">*</span>
            </CCol>

            <CCol md="3">
              <multiselect
                @input="CheckDupCode()"
                placeholder
                id="RumFoldOptions-filter"
                v-model="RumFoldOptions.selected"
                :multiple="false"
                :options="RumFoldOptions.lists"
                :show-labels="false"
                label="_label"
                :allow-empty="false"
                track-by="fold_id"
              ></multiselect>
            </CCol>

            <CCol md="6">
              <input
                autocomplete="off"
                class="disableFormInput"
                v-if="RumFoldOptions.selected == null"
                disabled
              />
              <input
                autocomplete="off"
                class="disableFormInput"
                v-else
                :value="RumFoldOptions.selected.fold_name"
                disabled
              />
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span>
                    วิธีการพับมัดอย่างย่อ
                  </span>
                </CCol>
                <CCol md="9" class="mb-2">
                  <CTextarea
                    rows="5"
                    disabled
                    v-if="RumFoldOptions.selected == null"
                  />
                  <CTextarea
                    rows="5"
                    disabled
                    v-else
                    :value="RumFoldOptions.selected.fold_information"
                  />
                </CCol>
              </CRow>
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span>
                    วันที่ประกาศใช้
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="insertData.effdate_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span>
                   วันที่หมดอายุ
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="insertData.effdate_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="5">
          <CRow>
            <CCol md="12">
              รูปอวนหลังพับ/มัด
              <CCard style="min-height: 400px">
                <CCardBody v-if="RumFoldOptions.selected == null"> </CCardBody>
                <CCardBody v-else>
                  <img
                    id="showImage"
                    :src="
                      'http://masterdatadev.kkfnets.com' + EditData.path_pic
                    "
                  />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">
          เพิ่มการกำหนดมาตรฐานเงื่อนไขการพับมัดอวนรุม อวนแปรรูป
        </h5>
        <CButtonClose
          @click="(openAddModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openAddModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
        <CButton @click="InsertSaveButton" color="success">บันทึก</CButton>
      </template>
    </CModal>

    <!-- //? opeEditModel -->
    <CModal
      :show.sync="openEditModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="warning"
    >
      <CRow class="form-group ml-3" v-if="EditData.old_effdate_st < nowDate">
        <h5 class="text-danger">
          * ไม่สามารถแก้ไขได้ เนื่องจากมีวันประกาศใช้ไปแล้ว
          แก้ไขได้เฉพาะวันที่หมดอายุ
        </h5>
        <CCol md="7" class="mt-3">
          <CRow class="mb-2">
            <CCol md="3">
              <span class="label-formInput">รหัสประเภทการรุม</span>
            </CCol>
            <CCol md="3">
              <input
                autocomplete="off"
                class="disableFormInput"
                v-model="EditData.rumtypeid"
                disabled
              />
            </CCol>
            <CCol md="6">
              <input
                autocomplete="off"
                class="disableFormInput"
                v-model="EditData.rumtypename"
                disabled
              />
            </CCol>
          </CRow>
          <CRow class="mb-2">
            <CCol md="3">
              <span class="label-formInput">รหัสการพับมัด</span>
            </CCol>
            <CCol md="3">
              <input
                autocomplete="off"
                class="disableFormInput"
                v-model="EditData.fold_code"
                disabled
              />
            </CCol>

            <CCol md="6">
              <input
                autocomplete="off"
                class="disableFormInput"
                v-model="EditData.fold_name"
                disabled
              />
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span>
                    วิธีการพับมัดอย่างย่อ
                  </span>
                </CCol>
                <CCol md="9" class="mb-2">
                  <CTextarea
                    rows="5"
                    disabled
                    :value="EditData.fold_information"
                  />
                </CCol>
              </CRow>
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span>
                    วันที่ประกาศใช้
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    disabled
                    v-model="EditData.effdate_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span>
                    วันที่หมดอายุ
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="EditData.effdate_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="5">
          <CRow>
            <CCol md="12">
              รูปอวนหลังพับ/มัด
              <CCard style="min-height: 400px">
                <CCardBody>
                  <img
                    id="showImage"
                    :src="
                      'http://masterdatadev.kkfnets.com' + EditData.path_pic
                    "
                  />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <CRow class="form-group ml-3" v-else>
        <CCol md="7" class="mt-3">
          <CRow class="mb-2">
            <CCol md="3">
              <span class="label-formInput">รหัสประเภทการรุม</span>
            </CCol>
            <CCol md="3">
              <multiselect
                @input="CheckDupCodeEdit()"
                placeholder
                id="RumTypeOptions-filter-edit"
                v-model="RumTypeOptions.selected"
                :multiple="false"
                :options="RumTypeOptions.lists"
                :show-labels="false"
                label="_label"
                :allow-empty="false"
                track-by="rumtypeid"
              ></multiselect>
            </CCol>
            <CCol md="6">
              <input
                autocomplete="off"
                class="disableFormInput"
                v-if="RumTypeOptions.selected == null"
                disabled
              />
              <input
                autocomplete="off"
                class="disableFormInput"
                v-else
                :value="RumTypeOptions.selected.rumtypename"
                disabled
              />
            </CCol>
          </CRow>
          <CRow class="mb-2">
            <CCol md="3">
              <span class="label-formInput">รหัสการพับมัด</span>
            </CCol>

            <CCol md="3">
              <multiselect
                @input="CheckDupCodeEdit()"
                placeholder
                id="RumFoldOptions-filter-edit"
                v-model="RumFoldOptions.selected"
                :multiple="false"
                :options="RumFoldOptions.lists"
                :show-labels="false"
                label="_label"
                :allow-empty="false"
                track-by="fold_id"
              ></multiselect>
            </CCol>

            <CCol md="6">
              <input
                autocomplete="off"
                class="disableFormInput"
                v-if="RumFoldOptions.selected == null"
                disabled
              />
              <input
                autocomplete="off"
                class="disableFormInput"
                v-else
                :value="RumFoldOptions.selected.fold_name"
                disabled
              />
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span>
                    วิธีการพับมัดอย่างย่อ
                  </span>
                </CCol>
                <CCol md="9" class="mb-2">
                  <CTextarea
                    rows="5"
                    disabled
                    v-if="RumFoldOptions.selected == null"
                  />
                  <CTextarea
                    rows="5"
                    disabled
                    v-else
                    :value="RumFoldOptions.selected.fold_information"
                  />
                </CCol>
              </CRow>
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span>
                    วันที่ประกาศใช้
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="EditData.effdate_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span>
                    วันที่หมดอายุ
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="EditData.effdate_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="5">
          <CRow>
            <CCol md="12">
              รูปอวนหลังพับ/มัด
              <CCard style="min-height: 400px">
                <CCardBody v-if="RumFoldOptions.selected == null"> </CCardBody>
                <CCardBody v-else>
                  <img
                    id="showImage"
                    :src="
                      'http://masterdatadev.kkfnets.com' +
                        RumFoldOptions.selected.path_pic
                    "
                  />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">
          แก้ไขข้อมูลการกำหนดมาตรฐานเงื่อนไขการพับมัดอวนรุม อวนแปรรูป
        </h5>
        <CButtonClose
          @click="(openEditModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openEditModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
        <CButton @click="EditSaveButton" color="success">บันทึก</CButton>
      </template>
    </CModal>

    <!-- //? openViewModel -->
    <CModal
      :show.sync="openViewModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="info"
    >
      <CRow class="form-group ml-3">
        <CCol md="7" class="mt-3">
          <CRow class="mb-2">
            <CCol md="3">
              <span class="label-formInput">รหัสประเภทการรุม</span>
            </CCol>
            <CCol md="3">
              <input
                autocomplete="off"
                class="disableFormInput"
                v-model="ViewData.rumtypeid"
                disabled
              />
            </CCol>
            <CCol md="6">
              <input
                autocomplete="off"
                class="disableFormInput"
                v-model="ViewData.rumtypename"
                disabled
              />
            </CCol>
          </CRow>
          <CRow class="mb-2">
            <CCol md="3">
              <span class="label-formInput">รหัสการพับมัด</span>
            </CCol>
            <CCol md="3">
              <input
                autocomplete="off"
                class="disableFormInput"
                v-model="ViewData.fold_code"
                disabled
              />
            </CCol>

            <CCol md="6">
              <input
                autocomplete="off"
                class="disableFormInput"
                v-model="ViewData.fold_name"
                disabled
              />
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span>
                    วิธีการพับมัดอย่างย่อ
                  </span>
                </CCol>
                <CCol md="9" class="mb-2">
                  <CTextarea
                    rows="5"
                    disabled
                    :value="ViewData.fold_information"
                  />
                </CCol>
              </CRow>
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span>
                    วันที่ประกาศใช้
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    disabled
                    v-model="ViewData.effdate_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span>
                    วันที่หมดอายุ
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    disabled
                    v-model="ViewData.effdate_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="5">
          <CRow>
            <CCol md="12">
              รูปอวนหลังพับ/มัด
              <CCard style="min-height: 400px">
                <CCardBody>
                  <img
                    id="showImage"
                    :src="
                      'http://masterdatadev.kkfnets.com' + ViewData.path_pic
                    "
                  />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">
          ดูรายละเอียดการกำหนดมาตรฐานเงื่อนไขการพับมัดอวนรุม อวนแปรรูป
        </h5>
        <CButtonClose @click="openViewModal = false" class="text-white" />
      </template>
      <template #footer>
        <CButton @click="openViewModal = false" color="danger">ปิด</CButton>
      </template>
    </CModal>

    <!-- //? openDeleteModal-->
    <CModal
      :show.sync="openDeleteModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      color="danger"
    >
      <CRow class="form-group mx-5">
        <h6>ยืนยันการลบข้อมูลการพับมัดอวนรุม อวนแปรรูป</h6>
        <CCol md="12">
          <CRow>
            <CCol md="10">
              id : {{ DeleteData.rumfoldspec_id }} <br />
              ประเภทการรุม :
              {{ DeleteData.rumtypeid + " " + DeleteData.rumtypename }} <br />
              รหัสการพับมัด : {{ DeleteData.fold_code }} <br />
              รายละเอียด : {{ DeleteData.fold_name }}
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">
          ยืนยันการลบข้อมูลการพับมัด
        </h5>
        <CButtonClose @click="openDeleteModal = false" class="text-white" />
      </template>
      <template #footer>
        <CButton @click="openDeleteModal = false" color="danger" variant="ghost"
          >ยกเลิก</CButton
        >
        <CButton @click="DeleteSaveButton()" color="danger">ลบ</CButton>
      </template>
    </CModal>
  </div>
</template>

<script>
import rumfoldspecmixin from "./master_s_rumfoldspecmixin";
export default {
  mixins: [rumfoldspecmixin],
};
</script>
