<template>
  <div>
    <CCard class="card-content">
      <CCardHeader class="card-header ">
        <h4 id="" class="mt-0 mb-0">
          การบันทึก/แก้ไข การพับมัดของอวนโมโน ไนล่อน โพลี
        </h4>
      </CCardHeader>
      <CCardBody
        ><CRow class="mx-1" v-if="setHideShowBtnVal == true">
          <CCol md="6">
            <CRow class="form-group">
              <CCol md="6" class="my-1">
                <span>รหัสการพับมัด</span>
                <input
                  autocomplete="off"
                  v-model="search_cd"
                  style="text-transform: uppercase !important"
                  maxlength="2"
                  class="input-box"
                  @keyup.enter="SearchData"
                />
              </CCol>
              <CCol md="6" class="my-1">
                <span>รายละเอียด</span>
                <input
                  autocomplete="off"
                  v-model="search_txtsearch"
                  style="text-transform: uppercase !important"
                  class="input-box"
                  @keyup.enter="SearchData"
                />
              </CCol>
            </CRow>
          </CCol>
          <CCol md="1">
            <CRow class="">
              <CButton class="mt-4" color="info" block @click="SearchData">
                <CIcon name="cil-magnifying-glass" /> ค้นหา
              </CButton>
            </CRow>
          </CCol>
        </CRow>
        <!-- //? ACTION BTN -->
        <CRow class="mx-3">
          <CButton
            class="mt-1 mr-3"
            color="success"
            @click="openAddModal = true"
          >
            <i class="fa fa-plus"></i>
            เพิ่ม
          </CButton>
          <CButton
            class="mt-1 mr-3 text-white"
            color="warning"
            @click="EditView()"
            v-if="checkedItem > 0 && itemsTabs1 == true"
          >
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton class="mt-1 mr-3 text-white" color="warning" disabled v-else>
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="info"
            @click="ViewButton"
            v-if="checkedItem > 0"
          >
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton class="mt-1 mr-3" color="info" disabled v-else>
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="danger"
            @click="DeleteButton"
            v-if="checkedItem > 0 && itemsTabs3 == false"
          >
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton class="mt-1 mr-3 " color="danger" disabled v-else>
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton
            variant="outline"
            color="secondary"
            class="mt-1 mr-3"
            @click="HideShowBtn"
            >{{ HReport ? "ซ่อน" : "แสดง" }}เงื่อนไข</CButton
          >
        </CRow>
        <!-- //? ACTION BTN -->
      </CCardBody>
      <hr class="my-0" />
      <CCardBody>
        <CNav variant="tabs">
          <CNavItem v-model="itemsTabs1" active>
            <CButton
              @click="
                (itemsTabs1 = true),
                  (itemsTabs2 = false),
                  (itemsTabs3 = false),
                  resetData()
              "
              >ข้อมูลการพับมัด Active</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs2">
            <CButton
              @click="
                (itemsTabs2 = true), (itemsTabs1 = false), (itemsTabs3 = false) ,resetData()
              "
              >ข้อมูลการพับมัดที่หมดอายุ Inactive</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs3">
            <CButton
              @click="
                (itemsTabs3 = true), (itemsTabs1 = false), (itemsTabs2 = false) ,resetData()
              "
              >ข้อมูลการพับมัดที่ถูกลบ</CButton
            >
          </CNavItem>
        </CNav>
        <!-- //? TABLE -->
        <CCard>
          <CCardBody style="overflow-x: auto">
            <div v-if="itemsTabs1 === true">
              <form>
                <div class="offset my-3">
                  <label for="selectPageA">แสดง</label>
                  <select
                    class="mx-1 selectPage-box"
                    name="selectPageA"
                    id="selectPageA"
                    v-model="perPageA"
                    @click="setPagesActive()"
                  >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">แสดงทั้งหมด</option>
                  </select>
                  <label for="selectPage">/ {{ dataActiveCount }} รายการ</label>
                </div>
              </form>
              <table class="table styled-table">
                <thead class="tableTab1">
                  <tr class>
                    <th scope="col" class="text-center">เลือก</th>
                    <th scope="col">รหัสการพับมัด</th>
                    <th scope="col">รายละเอียดการพับมัด(ชื่อ)</th>
                    <th scope="col">วิธีการพับมัด(อย่างย่อ)</th>
                    <th scope="col">วันที่ประกาศใช้</th>
                    <th scope="col">วันหมดอายุ</th>
                    <th scope="col">ผู้บันทึก</th>
                    <th scope="col">วันที่บันทึก</th>
                  </tr>
                </thead>
                <tbody v-for="p in displayedPostsActive" :key="p.fold_id">
                  <tr>
                    <th scope="row" class="text-center">
                      <input
                        autocomplete="off"
                        :value="p.fold_id"
                        v-model="checked"
                        type="checkbox"
                        name="Choosed"
                        id="Choosed"
                        @click="checkItems(p.fold_id)"
                      />
                    </th>
                    <td class="td-fontsize">{{ p.fold_code }}</td>
                    <td class="td-fontsize">{{ p.fold_name }}</td>
                    <td class="td-fontsize">{{ p.fold_information }}</td>
                    <td class="td-fontsize">
                      {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                    </td>
                    <td
                      class="td-fontsize"
                      v-if="p.effdate_en == '2000-01-01T00:00:00'"
                    >
                      ไม่กำหนด
                    </td>
                    <td class="td-fontsize" v-else>
                      {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                    </td>
                    <td class="td-fontsize">{{ p.user_name }}</td>
                    <td class="td-fontsize">
                      {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <CButton
                      type="button"
                      color="primary"
                      v-if="pageA != 1"
                      @click="pageA--"
                      >Previous</CButton
                    >
                    <CButton type="button" class="page-link" v-else disabled
                      >Previous</CButton
                    >
                  </li>
                  <li class="page-item">
                    <CButton
                      type="button"
                      @click="pageA++"
                      color="primary"
                      v-if="pageA < pagesA.length"
                      >Next</CButton
                    >
                    <CButton type="button" v-else disabled class="page-link"
                      >Next</CButton
                    >
                  </li>
                </ul>
              </nav>
            </div>
            <div v-if="itemsTabs2 === true">
              <form>
                <div class="offset my-3">
                  <label for="selectPageI">แสดง</label>
                  <!--		Show Numbers Of Rows 		-->
                  <select
                    class="mx-1 selectPage-box"
                    name="selectPageI"
                    id="selectPageI"
                    v-model="perPageI"
                    @click="setPagesIntive()"
                  >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">แสดงทั้งหมด</option>
                  </select>
                  <label for="selectPage"
                    >/ {{ dataInactiveCount }} รายการ</label
                  >
                </div>
              </form>
              <table class="table styled-table">
                <thead class="tableTab2">
                  <tr class>
                    <th scope="col" class="text-center">เลือก</th>
                    <th scope="col">รหัสการพับมัด</th>
                    <th scope="col">รายละเอียดการพับมัด(ชื่อ)</th>
                    <th scope="col">วิธีการพับมัด(อย่างย่อ)</th>
                    <th scope="col">วันที่ประกาศใช้</th>
                    <th scope="col">วันหมดอายุ</th>
                    <th scope="col">ผู้บันทึก</th>
                    <th scope="col">วันที่บันทึก</th>
                  </tr>
                </thead>
                <tbody v-for="p in displayedPostsInactive" :key="p.fold_id">
                  <tr>
                    <th scope="row" class="text-center">
                      <input
                        autocomplete="off"
                        :value="p.fold_id"
                        v-model="checked"
                        type="checkbox"
                        name="Choosed"
                        id="Choosed"
                        @click="checkItems(p.fold_id)"
                      />
                    </th>
                    <td class="td-fontsize">{{ p.fold_code }}</td>
                    <td class="td-fontsize">{{ p.fold_name }}</td>
                    <td class="td-fontsize">{{ p.fold_information }}</td>
                    <td class="td-fontsize">
                      {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                    </td>
                    <td
                      class="td-fontsize"
                      v-if="p.effdate_en == '2000-01-01T00:00:00'"
                    >
                      ไม่กำหนด
                    </td>
                    <td class="td-fontsize" v-else>
                      {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                    </td>
                    <td class="td-fontsize">{{ p.user_name }}</td>
                    <td class="td-fontsize">
                      {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <CButton
                      type="button"
                      class="text-info"
                      v-if="pageI != 1"
                      @click="pageI--"
                      >Previous</CButton
                    >
                    <CButton type="button" class="text-info" v-else disabled
                      >Previous</CButton
                    >
                  </li>
                  <li class="page-item">
                    <CButton
                      type="button"
                      @click="pageI++"
                      v-if="pageI < pagesI.length"
                      class="text-info"
                      >Next</CButton
                    >
                    <CButton type="button" v-else disabled class="text-info"
                      >Next</CButton
                    >
                  </li>
                </ul>
              </nav>
            </div>
            <div v-if="itemsTabs3 === true">
              <form>
                <div class="offset my-3">
                  <label for="selectPage">แสดง</label>
                  <!--		Show Numbers Of Rows 		-->
                  <select
                    class="mx-1 selectPage-box"
                    name="selectPage"
                    id="selectPage"
                    v-model="perPageC"
                    @click="setPagesCancel()"
                  >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">แสดงทั้งหมด</option>
                  </select>
                  <label for="selectPage">/ {{ dataCancelCount }} รายการ</label>
                </div>
              </form>
              <table class="table styled-table">
                <thead class="tableTab3">
                  <tr class>
                    <th scope="col" class="text-center">เลือก</th>
                    <th scope="col">รหัสการพับมัด</th>
                    <th scope="col">รายละเอียดการพับมัด(ชื่อ)</th>
                    <th scope="col">วิธีการพับมัด(อย่างย่อ)</th>
                    <th scope="col">วันที่ประกาศใช้</th>
                    <th scope="col">วันหมดอายุ</th>
                    <th scope="col">ผู้ยกเลิก</th>
                    <th scope="col">วันที่ยกเลิก</th>
                  </tr>
                </thead>
                <tbody v-for="p in displayedPostsCancel" :key="p.fold_id">
                  <tr>
                    <th scope="row" class="text-center">
                      <input
                        autocomplete="off"
                        :value="p.fold_id"
                        v-model="checked"
                        type="checkbox"
                        name="Choosed"
                        id="Choosed"
                        @click="checkItems(p.fold_id)"
                      />
                    </th>
                    <td class="td-fontsize">{{ p.fold_code }}</td>
                    <td class="td-fontsize">{{ p.fold_name }}</td>
                    <td class="td-fontsize">{{ p.fold_information }}</td>
                    <td class="td-fontsize">
                      {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                    </td>
                    <td
                      class="td-fontsize"
                      v-if="p.effdate_en == '2000-01-01T00:00:00'"
                    >
                      ไม่กำหนด
                    </td>
                    <td class="td-fontsize" v-else>
                      {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                    </td>
                    <td class="td-fontsize">{{ p.cancel_name }}</td>
                    <td class="td-fontsize">
                      {{ new Date(p.cancel_date).toLocaleDateString("en-GB") }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <CButton
                      type="button"
                      class="text-danger"
                      v-if="pageC != 1"
                      @click="pageC--"
                      >Previous</CButton
                    >
                    <CButton type="button" class="text-danger" v-else disabled
                      >Previous</CButton
                    >
                  </li>
                  <li class="page-item">
                    <CButton
                      type="button"
                      @click="pageC++"
                      v-if="pageC < pagesC.length"
                      class="text-danger"
                      >Next</CButton
                    >
                    <CButton type="button" v-else disabled class="text-danger"
                      >Next</CButton
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </CCardBody>
        </CCard>
        <!-- //? TABLE -->
      </CCardBody>
      <CCardFooter>
        <CRow class>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-if="itemsTabs3 == true">
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_u_fold
          </CCol>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-else>
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_s_fold
          </CCol>
        </CRow>
      </CCardFooter>
    </CCard>

    <CModal
      :show.sync="openAddModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="success"
    >
      <CRow class="form-group ml-3">
        <CCol md="7" class="mt-3">
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">รหัสการพับมัด</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="4">
              <input
                autocomplete="off"
                maxlength="2"
                id="fold_code"
                class="input-box mb-3"
                style="text-transform: uppercase !important"
                v-model="insertData.fold_code"
                @change="CheckDupCode()"
              />
            </CCol>
          </CRow>
          <CRow class="mb-2">
            <CCol md="4">
              <span class="label-formInput">รายละเอียดการพับมัด(ชื่อ)</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="8">
              <input
                autocomplete="off"
                v-model="insertData.fold_name"
                class="input-box"
              />
            </CCol>
          </CRow>
          <CRow class="mb-2">
            <CCol md="4">
              <span class="label-formInput">วิธีการพับมัด(อย่างย่อ)</span>
            </CCol>
            <CCol md="8">
              <CTextarea
                autocomplete="off"
                v-model="insertData.fold_information"
                rows="5"
              />
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="4" class="">
                  <span>
                    วันที่ประกาศใช้
                    <span class="text-danger">*</span>
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="insertData.effdate_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>

            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="4" class="">
                  <span> วันที่หมดอายุ </span>
                </CCol>
                <CCol md="6" class="">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="insertData.effdate_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="5">
          <CRow>
            <CCol md="12">
              <span>
                เลือกรูปภาพ
                <span class="text-danger"></span>
              </span>
              <br />
              <input
                autocomplete="off"
                type="file"
                name="filename"
                id="filename"
                class="my-2"
                accept="image/jpeg, image/png"
                :v-model="insertData.path_pic"
                @click="showPreview()"
                @change="SaveImage"
              />
            </CCol>
            <CCol md="12">
              <CCard style="min-height: 400px">
                <CCardBody v-if="insertData.path_pic == ''">
                  <img id="showImage" />
                </CCardBody>
                <CCardBody v-else>
                  <img id="showImage" />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">เพิ่มการพับมัดอวนโมโน ไนล่อน โพลี</h5>
        <CButtonClose
          @click="(openAddModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openAddModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
        <CButton @click="InsertSaveButton" color="success">บันทึก</CButton>
      </template>
    </CModal>

    <CModal
      :show.sync="openEditModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="warning"
    >
      <CRow class="form-group ml-3" v-if="old_effdate_st < nowDate">
        <h5 class="text-danger">
          * ไม่สามารถแก้ไขได้ เนื่องจากมีวันประกาศใช้ไปแล้ว
          แก้ไขได้เฉพาะวันที่หมดอายุ
        </h5>
        <CCol md="7" class="mt-3">
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">รหัสการพับมัด</span>
            </CCol>
            <CCol md="4">
              <CInput
                autocomplete="off"
                maxlength="2"
                id="fold_code_edit"
                style="text-transform: uppercase !important"
                v-model="EditData.fold_code"
                disabled
              />
            </CCol>
          </CRow>
          <CRow class="mb-2">
            <CCol md="4">
              <span class="label-formInput">รายละเอียดการพับมัด(ชื่อ)</span>
            </CCol>
            <CCol md="8">
              <CInput
                autocomplete="off"
                v-model="EditData.fold_name"
                disabled
              />
            </CCol>
          </CRow>
          <CRow class="mb-2">
            <CCol md="4">
              <span class="label-formInput">วิธีการพับมัด(อย่างย่อ)</span>
            </CCol>
            <CCol md="8">
              <CTextarea
                autocomplete="off"
                v-model="EditData.fold_information"
                disabled
                rows="5"
              />
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="4" class="">
                  <span>
                    วันที่ประกาศใช้
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    disabled
                    v-model="EditData.effdate_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>

            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="4" class="">
                  <span> วันที่หมดอายุ </span>
                </CCol>
                <CCol md="6" class="">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="EditData.effdate_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="5">
          <CRow>
            <CCol md="12">
              <CCard style="min-height: 400px">
                <CCardBody>
                  <img
                    id="showImage2"
                    :src="
                      'http://masterdatadev.kkfnets.com' + EditData.path_pic
                    "
                  />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <CRow class="form-group ml-3" v-else>
        <CCol md="7" class="mt-3">
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">รหัสการพับมัด</span>
            </CCol>
            <CCol md="4">
              <input
                autocomplete="off"
                maxlength="2"
                id="fold_code_edit"
                class="input-box mb-3"
                style="text-transform: uppercase !important"
                v-model="EditData.fold_code"
                @change="CheckDupCode()"
              />
            </CCol>
          </CRow>
          <CRow class="mb-2">
            <CCol md="4">
              <span class="label-formInput">รายละเอียดการพับมัด(ชื่อ)</span>
            </CCol>
            <CCol md="8">
              <input
                autocomplete="off"
                v-model="EditData.fold_name"
                class="input-box"
              />
            </CCol>
          </CRow>
          <CRow class="mb-2">
            <CCol md="4">
              <span class="label-formInput">วิธีการพับมัด(อย่างย่อ)</span>
            </CCol>
            <CCol md="8">
              <CTextarea
                autocomplete="off"
                v-model="EditData.fold_information"
                rows="5"
              />
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="4" class="">
                  <span>
                    วันที่ประกาศใช้
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="EditData.effdate_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>

            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="4" class="">
                  <span> วันที่หมดอายุ </span>
                </CCol>
                <CCol md="6" class="">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="EditData.effdate_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="5">
          <CRow>
            <CCol md="12">
              <span>
                เลือกรูปภาพ
                <span class="text-danger"></span>
              </span>
              <br />
              <input
                autocomplete="off"
                type="file"
                name="filename-edit"
                id="filename-edit"
                class="my-2"
                accept="image/jpeg, image/png"
                :v-model="EditData.path_pic"
                @click="showPreviewEdit()"
                @change="SaveEditImage"
              />
            </CCol>
            <CCol md="12">
              <CCard style="min-height: 400px">
                <CCardBody>
                  <img id="showImage2" :src="EditData.path_pic" />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">แก้ไขข้อมูลการพับมัดอวนโมโน ไนล่อน โพลี</h5>
        <CButtonClose @click="openEditModal = false" class="text-white" />
      </template>
      <template #footer>
        <CButton @click="openEditModal = false" color="danger">ยกเลิก</CButton>
        <CButton @click="EditSaveButton" color="success">บันทึก</CButton>
      </template>
    </CModal>

    <CModal
      :show.sync="openViewModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="info"
    >
      <CRow class="form-group ml-3">
        <CCol md="7" class="mt-3">
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">รหัสการพับมัด</span>
            </CCol>
            <CCol md="4">
              <CInput
                autocomplete="off"
                maxlength="2"
                id="fold_code_view"
                style="text-transform: uppercase !important"
                v-model="ViewData.fold_code"
                disabled
              />
            </CCol>
          </CRow>
          <CRow class="mb-2">
            <CCol md="4">
              <span class="label-formInput">รายละเอียดการพับมัด(ชื่อ)</span>
            </CCol>
            <CCol md="8">
              <CInput
                autocomplete="off"
                v-model="ViewData.fold_name"
                disabled
              />
            </CCol>
          </CRow>
          <CRow class="mb-2">
            <CCol md="4">
              <span class="label-formInput">วิธีการพับมัด(อย่างย่อ)</span>
            </CCol>
            <CCol md="8">
              <CTextarea
                autocomplete="off"
                v-model="ViewData.fold_information"
                disabled
                rows="5"
              />
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="4" class="">
                  <span>
                    วันที่ประกาศใช้
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    disabled
                    v-model="ViewData.effdate_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>

            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="4" class="">
                  <span> วันที่หมดอายุ </span>
                </CCol>
                <CCol md="6" class="">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    disabled
                    v-model="ViewData.effdate_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="5">
          <CRow>
            <CCol md="12">
              <CCard style="min-height: 400px">
                <CCardBody>
                  <img
                    id="showImage2"
                    :src="
                      'http://masterdatadev.kkfnets.com' + ViewData.path_pic
                    "
                  />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">ดูรายละเอียดการพับมัดอวนโมโน ไนล่อน โพลี</h5>
        <CButtonClose
          @click="openViewModal = false"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="openViewModal = false" color="danger"
          >ปิด</CButton>
      </template>
    </CModal>

    <CModal
      :show.sync="openDeleteModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      color="danger"
    >
      <CRow class="form-group mx-5">
        <h6>ยืนยันการลบข้อมูลการพับมัด อวนโมโน ไนล่อน โพลี</h6>
        <CCol md="12">
            <CRow>
              <CCol md="10">
                id : {{ DeleteData.fold_id }} <br />
                รหัสการพับมัด : {{ DeleteData.fold_code }} <br />
                รายละเอียด : {{ DeleteData.fold_name }}
              </CCol>
            </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">
          ยืนยันการลบข้อมูลการพับมัด
        </h5>
        <CButtonClose @click="openDeleteModal = false" class="text-white" />
      </template>
      <template #footer>
        <CButton @click="openDeleteModal = false" color="danger" variant="ghost"
          >ยกเลิก</CButton
        >
        <CButton @click="DeleteSaveButton()" color="danger">ลบ</CButton>
      </template>
    </CModal>
  </div>
</template>

<script>
import master_s_foldmixins from "./master_s_foldmixins";

import store from "./store";
export default {
  components: {},
  mixins: [master_s_foldmixins],
  data() {
    return {};
  },
  created() {},
  mounted() {},
  methods: {},
  computed: {
    setHideShowBtnVal() {
      return store.state.HideShowBtnVal;
    },
  },
};
</script>

<style></style>
