<template>
  <div class>
    <CCard class="card-content">
      <CCardHeader class="card-header ">
        <h4 id="" class="mt-0 mb-0">
          การบันทึก/แก้ไข ข้อมูลผ้าใบ
        </h4>
      </CCardHeader>
      <CCardBody>
        <CRow class="mx-1" v-if="HReport == true">
          <CCol md="6">
            <CRow class="form-group">
              <CCol md="6" class="my-2">
                <span>Code ผ้าใบ</span>
                <input autocomplete="off"
                  maxlength="1"
                  @keyup.enter="SearchCanvas"
                  v-model="search.canvas_cd"
                  style="text-transform: uppercase !important"
                  class="input-box"
                />
              </CCol>
              <CCol md="6" class="my-2">
                <span>รายละเอียด</span>
                <input autocomplete="off"
                  v-model="search.txtsearch"
                  style="text-transform: uppercase !important"
                  @keyup.enter="SearchCanvas"
                  class="input-box"
                />
              </CCol>
            </CRow>
          </CCol>
          <CCol md="1">
            <CRow class="">
                <CButton class="mt-4" color="info" block @click="SearchCanvas">
                  <CIcon name="cil-magnifying-glass" />ค้นหา
                </CButton>
            </CRow>
          </CCol>
        </CRow>
        <CRow class="mx-3">
          <CButton
            class="mt-1 mr-3"
            color="success"
            @click="openAddModal = true"
          >
            <i class="fa fa-plus"></i>
            เพิ่ม
          </CButton>
          <CButton
            class="mt-1 mr-3 text-white"
            color="warning"
            v-if="checkItemID.length == 1 && itemsTabs1 == true"
            @click="EditCanvasButton"
          >
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton class="mt-1 mr-3 text-white" color="warning" v-else disabled>
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="info"
            v-if="checkItemID.length == 1"
            @click="ViewCanvasButton()"
          >
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton class="mt-1 mr-3" color="info" disabled v-else>
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="danger"
            v-if="checkItemID.length == 1 && itemsTabs3 == false"
            @click="DeleteView()"
          >
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton class="mt-1 mr-3" color="danger" disabled v-else>
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton
            variant="outline"
            color="secondary"
            class="mt-1 mr-3"
            :pressed.sync="HReport"
            >{{ HReport ? "ซ่อน" : "แสดง" }}เงื่อนไข</CButton
          >
        </CRow>
      </CCardBody>
      <hr class="my-0" />
      <CCardBody>
        <CNav variant="tabs">
          <CNavItem v-model="itemsTabs1" active>
            <CButton
              @click="
                (itemsTabs1 = true), (itemsTabs2 = false), (itemsTabs3 = false)
              "
              >ข้อมูลผ้าใบที่ Active</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs2">
            <CButton
              @click="
                (itemsTabs2 = true), (itemsTabs1 = false), (itemsTabs3 = false)
              "
              >ข้อมูลผ้าใบที่หมดอายุ (Inactive)</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs3">
            <CButton
              @click="
                (itemsTabs3 = true), (itemsTabs1 = false), (itemsTabs2 = false)
              "
              >ข้อมูลผ้าใบที่ถูกลบ</CButton
            >
          </CNavItem>
        </CNav>
        <CCard>
          <CCardBody v-if="itemsTabs1 === true" style="overflow-x: auto">
            <form>
              <div class="offset my-3">
                <label for="selectPageA">แสดง</label>
                <select
                  class="mx-1 selectPage-box"
                  name="selectPageA"
                  id="selectPageA"
                  v-model="perPageA"
                  @click="setPagesActive()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage">/ {{ dataCanvasCount }} รายการ</label>
              </div>
            </form>
            <table class="table styled-table">
              <thead class="tableTab1">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col">ID</th>
                  <th scope="col">Code ผ้าใบ</th>
                  <th scope="col">รายละเอียดผ้าใบ</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                  <th scope="col">ผู้บันทึก</th>
                  <th scope="col">วันที่บันทึก</th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="p in displayedPostsActive" :key="p.canvas_id">
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.canvas_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      @click="checkItems(p.canvas_id)"
                    />
                  </th>
                  <td class="td-fontsize">{{ p.canvas_id }}</td>
                  <td class="td-fontsize">{{ p.canvas_cd }}</td>
                  <td class="td-fontsize">{{ p.canvas_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                  <td class="td-fontsize">{{ p.user_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    color="primary"
                    v-if="pageA != 1"
                    @click="pageA--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="page-link" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageA++"
                    color="primary"
                    v-if="pageA < pagesA.length"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="page-link"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>

          <CCardBody style="overflow-x: auto" v-if="itemsTabs2 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPageI">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPageI"
                  id="selectPageI"
                  v-model="perPageI"
                  @click="setPagesIntive()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage">/ {{ dataICanvasCount }} รายการ</label>
              </div>
            </form>
            <table class="table styled-table">
              <thead class="tableTab2">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col">ID</th>
                  <th scope="col">Code ผ้าใบ</th>
                  <th scope="col">รายละเอียดผ้าใบ</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                  <th scope="col">ผู้บันทึก</th>
                  <th scope="col">วันที่บันทึก</th>
                </tr>
              </thead>
              <tbody v-if="showTable == true && dataICanvasCount != 0">
                <tr v-for="p in displayedPostsInactive" :key="p.canvas_id">
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.canvas_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      @click="checkItems(p.canvas_id)"
                    />
                  </th>
                  <td class="td-fontsize">{{ p.canvas_id }}</td>
                  <td class="td-fontsize">{{ p.canvas_cd }}</td>
                  <td class="td-fontsize">{{ p.canvas_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                  <td class="td-fontsize">{{ p.user_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
              <tbody v-else>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><h5>ไม่พบข้อมูล</h5></td>
                <td></td>
                <td></td>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class="text-info"
                    v-if="pageI != 1"
                    @click="pageI--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="text-info" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageI++"
                    v-if="pageI < pagesI.length"
                    class="text-info"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="text-info"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>

          <CCardBody style="overflow-x: auto" v-if="itemsTabs3 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPage">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPage"
                  id="selectPage"
                  v-model="perPageC"
                  @click="setPagesCancel()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage">/ {{ dataCCanvasCount }} รายการ</label>
              </div>
            </form>
            <table class="table styled-table">
              <thead class="tableTab3">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col">ID</th>
                  <th scope="col">Code ผ้าใบ</th>
                  <th scope="col">รายละเอียดผ้าใบ</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                  <th scope="col">ผู้ยกเลิก</th>
                  <th scope="col">วันที่ยกเลิก</th>
                </tr>
              </thead>
              <tbody v-if="showTable == true && dataCCanvasCount != 0">
                <tr v-for="p in displayedPostsCancel" :key="p.canvas_id">
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.canvas_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      @click="checkItems(p.canvas_id)"
                    />
                  </th>
                  <td class="td-fontsize">{{ p.canvas_id }}</td>
                  <td class="td-fontsize">{{ p.canvas_cd }}</td>
                  <td class="td-fontsize">{{ p.canvas_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                  <td class="td-fontsize">{{ p.cancel_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.cancel_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
              <tbody v-else>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><h5>ไม่พบข้อมูล</h5></td>
                <td></td>
                <td></td>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class="text-danger"
                    v-if="pageC != 1"
                    @click="pageC--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="text-danger" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageC++"
                    v-if="pageC < pagesC.length"
                    class="text-danger"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="text-danger"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>
        </CCard>
      </CCardBody>
      <CCardFooter>
        <CRow class>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-if="itemsTabs3 == true">
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_u_canvas
          </CCol>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-else>
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_s_canvas
          </CCol>
        </CRow>
      </CCardFooter>
    </CCard>

    <!-- openAddModal -->
    <CModal
      :show.sync="openAddModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="success"
    >
      <CRow class="form-group mx-5">
        <CCol md="6" class="mt-3">
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ID ผ้าใบ</span>
            </CCol>
            <CCol md="4">
              <CInput disabled v-model="maxCanvasID" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">Code ผ้าใบ</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="4">
              <input autocomplete="off"
                @change="CheckInsertCanvasButton"
                maxlength="1"
                id="canvas_cd"
                class="input-box mb-3"
                style="text-transform: uppercase !important"
                v-model="insert.canvas_cd"
              />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รายละเอียด</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="9">
              <CTextarea maxlength="49" v-model="insert.canvas_name" rows="5" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span>
                วันที่ประกาศใช้
              </span>
            </CCol>
            <CCol md="9" class="mb-2">
              <date-picker
                v-model="insert.canvas_st"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
              <!-- <CInput v-model="insert.canvas_st" type="da.te" max="3000-12-31" /> -->
            </CCol>

            <CCol md="3">
              <span>วันที่หมดอายุ</span>
            </CCol>
            <CCol md="9" class="mb-2">
              <date-picker
                v-model="insert.canvas_en"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
              <!-- <CInput v-model="insert.canvas_en" type="da.te" max="3000-12-31" /> -->
            </CCol>
          </CRow>
          <CRow>
            <CCol md="3">
              <span>รหัส 10 หลัก</span>
            </CCol>
            <CCol md="9">
              <multiselect
                id="itemcode10-filter"
                placeholder
                v-model="itemcode10.selected"
                :multiple="false"
                :options="itemcode10.lists"
                :show-labels="false"
                label="_label"
                track-by="itemCode"
              ></multiselect>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="6">
          <CRow>
            <CCol md="12">
              <span>
                เลือกรูป
                <span class="text-danger"></span>
              </span>
              <br />
              <input autocomplete="off"
                type="file"
                name="filename"
                id="filename"
                class="my-2"
                accept="image/jpeg, image/png"
                :v-model="insert.canvasImg"
                @click="showPreview()"
                @change="SaveImage"
              />
            </CCol>
            <CCol md="12">
              <CCard style="min-height: 400px">
                <CCardBody>
                  <img id="showImage" />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">เพิ่มข้อมูลผ้าใบ</h5>
        <CButtonClose
          @click="(openAddModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openAddModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
        <CButton @click="InsertCanvasButton" color="success">บันทึก</CButton>
      </template>
    </CModal>
    <!-- openEditModal -->
    <div>
      <CModal
        :show.sync="openEditModal"
        :closeOnBackdrop="false"
        :centered="true"
        title="Modal title 2"
        size="xl"
        color="warning"
      >
        <CRow class="form-group mx-5" v-if="editCanvas.canvas_st < currentDate">
          <h5 class="text-danger">
            * ไม่สามารถแก้ไขได้ เนื่องจากมีวันประกาศใช้ไปแล้ว
            แก้ไขได้เฉพาะวันที่หมดอายุ
          </h5>
          <CCol md="6" class="mt-3">
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">ID ผ้าใบ</span>
              </CCol>
              <CCol md="4">
                <CInput disabled v-model="editCanvas.canvas_id" />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">Code ผ้าใบ</span>
              </CCol>
              <CCol md="4">
                <CInput
                  disabled
                  id="canvas_cd-edit"
                  style="text-transform: uppercase !important"
                  v-model="editCanvas.canvas_cd"
                />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">รายละเอียด</span>
              </CCol>
              <CCol md="9">
                <CTextarea
                  disabled
                  maxlength="49"
                  v-model="editCanvas.canvas_name"
                  rows="5"
                />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="mb-2">
                  วันที่ประกาศใช้
                  <span class="text-danger">*</span>
                </span>
              </CCol>
              <CCol md="9" class="mb-2">
                <date-picker
                  v-model="editCanvas.canvas_st"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                  disabled
                ></date-picker>
              </CCol>

              <CCol md="3">
                <span>วันที่หมดอายุ</span>
              </CCol>
              <CCol md="9" class="mb-2">
                <date-picker
                  v-model="editCanvas.canvas_en"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                ></date-picker>
                <!-- <CInput v-model="editCanvas.canvas_en" type="da.te" max="3000-12-31" /> -->
              </CCol>
            </CRow>
            <CRow>
              <CCol md="3">
                <span>รหัส 10 หลัก</span>
              </CCol>
              <CCol md="9">
                <!-- <CInput v-model="this.itemcode10.selected._label" v-if="openEditModal = true" disabled type="text" /> -->
                <CInput
                  v-model="editCanvas.itemcode_name"
                  disabled
                  type="text"
                />
              </CCol>
            </CRow>
          </CCol>
          <CCol md="6">
            <CRow>
              <CCol md="12">
                <span>
                  เลือกรูป
                  <span class="text-danger"></span>
                </span>
                <br />
                <input autocomplete="off"
                  disabled
                  type="file"
                  name="filename-edit"
                  id="filename-edit"
                  class="my-2"
                  accept="image/jpeg, image/png"
                  :v-model="editCanvas.path_pic"
                  @click="showPreviewEdit()"
                  @change="SaveEditImage"
                />
              </CCol>
              <CCol md="12">
                <CCard style="min-height: 400px">
                  <CCardBody>
                    <img id="showImage2" :src="editCanvas.path_pic" />
                  </CCardBody>
                </CCard>
              </CCol>
            </CRow>
          </CCol>
        </CRow>
        <CRow class="form-group mx-5" v-else>
          <CCol md="6" class="mt-3">
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">ID ผ้าใบ</span>
              </CCol>
              <CCol md="4">
                <CInput disabled v-model="editCanvas.canvas_id" />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">Code ผ้าใบ</span>
              </CCol>
              <CCol md="4">
                <input autocomplete="off"
                  @change="CheckEditCanvasButton"
                  maxlength="1"
                  id="canvas_cd-edit"
                  class="input-box mb-3"
                  style="text-transform: uppercase !important"
                  v-model="editCanvas.canvas_cd"
                />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">รายละเอียด</span>
              </CCol>
              <CCol md="9">
                <CTextarea
                  maxlength="49"
                  v-model="editCanvas.canvas_name"
                  rows="5"
                />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span>
                  วันที่ประกาศใช้
                  <span class="text-danger">*</span>
                </span>
              </CCol>
              <CCol md="9" class="mb-2">
                <date-picker
                  v-model="editCanvas.canvas_st"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                ></date-picker>
                <!-- <CInput
                  v-model="editCanvas.canvas_st"
                  type="da.te"
                  max="3000-12-31"
                /> -->
              </CCol>
              <CCol md="3" class="mb-2">
                <span>วันที่หมดอายุ</span>
              </CCol>
              <CCol md="9" class="mb-2">
                <date-picker
                  v-model="editCanvas.canvas_en"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                ></date-picker>
                <!-- <CInput
                  v-model="editCanvas.canvas_en"
                  type="da.te"
                  max="3000-12-31"
                /> -->
              </CCol>
            </CRow>
            <CRow>
              <CCol md="3">
                <span>รหัส 10 หลัก</span>
              </CCol>
              <CCol md="9">
                <multiselect
                  :allow-empty="false"
                  id="itemcode10-filter-edit"
                  v-model="itemcode10.selected"
                  :multiple="false"
                  :options="itemcode10.lists"
                  :show-labels="false"
                  label="_label"
                  track-by="itemCode"
                ></multiselect>
              </CCol>
            </CRow>
          </CCol>
          <CCol md="6">
            <CRow>
              <CCol md="12">
                <span>
                  เลือกรูป
                  <span class="text-danger"></span>
                </span>
                <br />
                <input autocomplete="off"
                  type="file"
                  name="filename-edit"
                  id="filename-edit"
                  class="my-2"
                  accept="image/jpeg, image/png"
                  :v-model="editCanvas.path_pic"
                  @click="showPreviewEdit()"
                  @change="SaveEditImage"
                />
              </CCol>
              <CCol md="12">
                <CCard style="min-height: 400px">
                  <CCardBody>
                    <img id="showImage2" :src="editCanvas.path_pic" />
                  </CCardBody>
                </CCard>
              </CCol>
            </CRow>
          </CCol>
        </CRow>
        <template #header>
          <h5 class="modal-title">ดูรายละเอียดผ้าใบ</h5>
          <CButtonClose @click="openEditModal = false" class="text-white" />
        </template>
        <template #footer>
          <CButton @click="(openEditModal = false), resetData()" color="danger"
            >ยกเลิก</CButton
          >
          <CButton @click="SaveEditCanvasButton" color="success"
            >บันทึก</CButton
          >
        </template>
      </CModal>
    </div>
    <!-- openViewModal -->
    <CModal
      :show.sync="openViewModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="info"
    >
      <CRow class="form-group mx-5">
        <CCol md="6" class="mt-3">
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ID ผ้าใบ</span>
            </CCol>
            <CCol md="4">
              <CInput disabled v-model="viewCanvas.canvas_id" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">Code ผ้าใบ</span>
            </CCol>
            <CCol md="4">
              <CInput
                disabled
                id="canvas_cd-view"
                style="text-transform: uppercase !important"
                v-model="viewCanvas.canvas_cd"
              />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รายละเอียด</span>
            </CCol>
            <CCol md="9">
              <CTextarea
                disabled
                maxlength="49"
                v-model="viewCanvas.canvas_name"
                rows="5"
              />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="mb-2">
                วันที่ประกาศใช้
                <span class="text-danger">*</span>
              </span>
            </CCol>
            <CCol md="9" class="mb-2">
              <date-picker
                v-model="viewCanvas.canvas_st"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
                disabled
              ></date-picker>
              <!-- <CInput
                disabled
                v-model="viewCanvas.canvas_st"
                type="da.te"
                max="3000-12-31"
              /> -->
            </CCol>

            <CCol md="3">
              <span>วันที่หมดอายุ</span>
            </CCol>
            <CCol md="9" class="mb-2">
              <date-picker
                v-model="viewCanvas.canvas_en"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
                disabled
              ></date-picker>
              <!-- <CInput
                disabled
                v-model="viewCanvas.canvas_en"
                type="da.te"
                max="3000-12-31"
              /> -->
            </CCol>
          </CRow>
          <CRow>
            <CCol md="3">
              <span>รหัส 10 หลัก</span>
            </CCol>
            <CCol md="9">
              <CInput v-model="viewCanvas.itemcode" disabled type="text" />
            </CCol>
          </CRow>
        </CCol>
        <CCol md="6">
          <CRow>
            <CCol md="12">
              <CCard style="min-height: 400px">
                <CCardBody>
                  <img id="showImage2" :src="viewCanvas.path_pic" />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">ดูรายละเอียดผ้าใบ</h5>
        <CButtonClose @click="openViewModal = false" class="text-white" />
      </template>
      <template #footer>
        <CButton @click="openViewModal = false" color="danger">ปิด</CButton>
      </template>
    </CModal>
    <!-- openDeleteModal -->
    <div>
      <CModal
        :show.sync="openDeleteModal"
        :closeOnBackdrop="false"
        :centered="true"
        title="Modal title 2"
        color="danger"
      >
        <CRow class="form-group mx-5">
          <h6>ยืนยันการลบข้อมูลผ้าใบ ดังต่อไปนี้</h6>
          <CCol md="12">
            <div v-for="i in deleteCanvas" :key="i.index" class="mb-2">
              <CRow>
                <CCol md="10">
                  รหัสผ้าใบ {{ i.canvas_cd }} {{ i.canvas_name }}
                </CCol>
              </CRow>
            </div>
          </CCol>
        </CRow>
        <template #header>
          <h5 class="modal-title">ลบข้อมูลผ้าใบ</h5>
          <CButtonClose @click="openDeleteModal = false" class="text-white" />
        </template>
        <template #footer>
          <CButton
            @click="openDeleteModal = false"
            color="danger"
            variant="ghost"
            >ยกเลิก</CButton
          >
          <CButton @click="DeleteCanvasButton" color="danger">ลบ</CButton>
        </template>
      </CModal>
    </div>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import { GetObjValJoin, GetDate, FileToBase64 } from "@/shared/utils";
import setupmixin from "@/shared/setupmixin";
import swal from "sweetalert";
import { loadPartialConfig } from "@babel/core";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";

export default {
  name: "Canvas",
  data() {
    return {
      HReport: true,
      search: {
        canvas_id: "",
        canvas_cd: "",
        txtsearch: "",
      },
      checkItemID: [],

      showTable: false,
      itemsTabs1: true,
      itemsTabs2: false,
      itemsTabs3: false,

      // Active
      dataCanvas: [],
      cancelCanvas: [],
      dataActive: [],
      dataCanvasCount: 0,
      pageA: 1,
      perPageA: 10,
      pagesA: [],

      // InActive
      dataICanvas: [],
      dataInactive: [],
      dataICanvasCount: 0,
      pageI: 1,
      perPageI: 5,
      pagesI: [],

      // Cancel
      dataCCanvas: [],
      dataCancel: [],
      dataCCanvasCount: 0,
      pageC: 1,
      perPageC: 5,
      pagesC: [],

      CanvasImg: null,
      insert: {
        canvas_cd: "",
        canvas_name: "",
        canvas_st: "",
        canvasImg: "",
        canvas_en: "",
      },
      viewCanvas: {
        canvas_cd: "",
        canvas_name: "",
        canvas_st: "",
        canvas_en: "",
        canvas_id: "",
        itemcode: "",
        path_pic: "",
        status: "",
      },
      editCanvas: {
        canvas_cd: "",
        canvas_name: "",
        canvas_st: "",
        canvas_en: "",
        canvas_id: "",
        itemcode: "",
        path_pic: "",
        status: "",
        canvasImg: "",
        itemcode_name: "",
      },
      openAddModal: false,
      openEditModal: false,
      openViewModal: false,
      openDeleteModal: false,
      checked: [],
      deleteCanvas: [],

      itemcode10: {
        lists: [],
        selected: null,
      },
      maxCanvasID: 0,
      currentDate: "",
      oldcanvas_cd: "",
    };
  },
  components: {
    Multiselect,
    DatePicker,
  },
  created() {
    let nowDate = new Date();
    this.currentDate = GetDate(nowDate.setDate(nowDate.getDate()));
    let defaultExDate = "2000-01-01";
    (this.insert.canvas_st = this.currentDate),
      (this.insert.canvas_en = defaultExDate);

    this.$root.api.View_itemSearchAllItemCode({
      data: {
        ItemCode: "0808",
        ItemGrp: "0824",
      },
      callback: (res) => {
        res.forEach(
          (x) => (x._label = GetObjValJoin(x, ["itemCode", "itemName"]))
        );
        this.itemcode10.lists = res;
      },
    });
  },
  mounted() {
    this.$root.api.Master_s_CanvasSearchView({
      data: {},
      callback: (res) => {
        this.dataCanvas = res;
        // max canvas id now
        this.maxCanvasID = res[res.length - 1].canvas_id + 1;
      },
    });
  },
  updated() {
    if (this.insert.canvas_cd == "") {
      $("#canvas_cd").focus();
    }
    $(document).ready(function() {
      $("#MyTable").DataTable({
        initComplete: function() {
          this.api()
            .columns()
            .every(function() {
              var column = this;
              var select = $('<select><option value=""></option></select>')
                .appendTo($(column.footer()).empty())
                .on("change", function() {
                  var val = $.fn.dataTable.util.escapeRegex($(this).val());
                  //to select and search from grid
                  column.search(val ? "^" + val + "$" : "", true, false).draw();
                });

              column
                .data()
                .unique()
                .sort()
                .each(function(d, j) {
                  select.append('<option value="' + d + '">' + d + "</option>");
                });
            });
        },
      });
    });
  },
  methods: {
    SearchCanvas() {
      this.dataCanvasCount = 0;
      this.dataICanvasCount = 0;
      this.dataCCanvasCount = 0;
      this.checked = [];
      this.checkItemID = [];
      this.dataCanvas = [];
      this.cancelCanvas = [];

      this.$root.api.Master_s_CanvasSearchView({
        data: {
          canvas_cd: this.search.canvas_cd,
          txtsearch: this.search.txtsearch,
        },
        callback: (res) => {
          if (res.length == 0) {
            swal({
              title: "ผิดพลาด!",
              text: "ไม่พบรายากรผ้าใบที่ค้นหา",
              icon: "warning",
              button: "ตกลง",
            });
            this.search = [];
          }
          // max canvas id now
          this.maxCanvasID = res[res.length - 1].canvas_id + 1;
          this.dataCanvas = res;
          for (let i = 0; i < res.length; i++) {
            if (res[i].status == "A") {
              this.dataCanvasCount = this.dataCanvasCount + 1;
            } else if (res[i].status == "I") {
              this.dataICanvasCount = this.dataICanvasCount + 1;
            } else if (res[i].status == "C") {
              this.dataCCanvasCount = this.dataCCanvasCount + 1;
            }
            this.getDataCanvas();
          }
          this.setPagesActive();
          this.setPagesInactive();
          this.setPagesCancel();
          this.showTable = true;
        },
      });
      this.$root.api.Master_s_CanvasSearchU({
        data: {
          canvas_cd: this.search.canvas_cd,
          txtsearch: this.search.txtsearch,
        },
        callback: (res) => {
          this.cancelCanvas = res;
          this.getCancelCanvas();
        },
      });
    },
    getDataCanvas() {
      this.dataActive = [];
      this.dataInactive = [];
      this.dataCancel = [];
      for (let i = 0; i < this.dataCanvas.length; i++) {
        if (this.dataCanvas[i].status == "A") {
          this.dataActive.push({
            canvas_id: this.dataCanvas[i].canvas_id,
            canvas_cd: this.dataCanvas[i].canvas_cd,
            canvas_name: this.dataCanvas[i].canvas_name,
            effdate_en: this.dataCanvas[i].effdate_en,
            effdate_st: this.dataCanvas[i].effdate_st,
            itemcode: this.dataCanvas[i].itemcode,
            path_pic: this.dataCanvas[i].path_pic,
            status: this.dataCanvas[i].status,
            user_date: this.dataCanvas[i].user_date,
            user_id: this.dataCanvas[i].user_id,
            user_name: this.dataCanvas[i].user_name,
          });
        } else if (this.dataCanvas[i].status == "I") {
          this.dataInactive.push({
            canvas_id: this.dataCanvas[i].canvas_id,
            canvas_cd: this.dataCanvas[i].canvas_cd,
            canvas_name: this.dataCanvas[i].canvas_name,
            effdate_en: this.dataCanvas[i].effdate_en,
            effdate_st: this.dataCanvas[i].effdate_st,
            itemcode: this.dataCanvas[i].itemcode,
            path_pic: this.dataCanvas[i].path_pic,
            status: this.dataCanvas[i].status,
            user_date: this.dataCanvas[i].user_date,
            user_id: this.dataCanvas[i].user_id,
            user_name: this.dataCanvas[i].user_name,
          });
        } else if (this.dataCanvas[i].status == "C") {
          // this.dataCancel.push({
          //   canvas_id: this.dataCanvas[i].canvas_id,
          //   canvas_cd: this.dataCanvas[i].canvas_cd,
          //   canvas_name: this.dataCanvas[i].canvas_name,
          //   effdate_en: this.dataCanvas[i].effdate_en,
          //   effdate_st: this.dataCanvas[i].effdate_st,
          //   itemcode: this.dataCanvas[i].itemcode,
          //   path_pic: this.dataCanvas[i].path_pic,
          //   status: this.dataCanvas[i].status,
          //   user_date: this.dataCanvas[i].user_date,
          //   user_id: this.dataCanvas[i].user_id,
          //   user_name: this.dataCanvas[i].user_name,
          // });
        }
      }
    },
    getCancelCanvas() {
      this.dataCancel = [];
      for (let i = 0; i < this.cancelCanvas.length; i++) {
        this.dataCancel.push({
          canvas_id: this.cancelCanvas[i].canvas_id,
          canvas_cd: this.cancelCanvas[i].canvas_cd,
          canvas_name: this.cancelCanvas[i].canvas_name,
          effdate_en: this.cancelCanvas[i].effdate_en,
          effdate_st: this.cancelCanvas[i].effdate_st,
          itemcode: this.cancelCanvas[i].itemcode,
          path_pic: this.cancelCanvas[i].path_pic,
          status: this.cancelCanvas[i].status,
          user_date: this.cancelCanvas[i].user_date,
          user_id: this.cancelCanvas[i].user_id,
          user_name: this.cancelCanvas[i].user_name,
          cancel_date: this.cancelCanvas[i].cancel_date,
          cancel_name: this.cancelCanvas[i].cancel_name,
        });
      }
    },
    setPagesActive() {
      this.pagesA = [];
      let numberOfPages = Math.ceil(this.dataCanvasCount / this.perPageA);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesA.push(index);
      }
      this.pageA = 1;
    },
    setPagesInactive() {
      this.pagesI = [];
      let numberOfPages = Math.ceil(this.dataICanvasCount / this.perPageI);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesI.push(index);
      }
      this.pageI = 1;
    },
    setPagesCancel() {
      this.pagesC = [];
      let numberOfPages = Math.ceil(this.dataCCanvasCount / this.perPageI);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesC.push(index);
      }
      this.pageC = 1;
    },
    paginate(Active) {
      let pageA = this.pageA;
      let perPageA = this.perPageA;
      let from = pageA * perPageA - perPageA;
      let to = pageA * perPageA;
      return Active.slice(from, to);
    },
    paginateInactive(Inactive) {
      let pageI = this.pageI;
      let perPageI = this.perPageI;
      let from = pageI * perPageI - perPageI;
      let to = pageI * perPageI;
      return Inactive.slice(from, to);
    },
    paginateCancel(Cancel) {
      let pageC = this.pageC;
      let perPageC = this.perPageC;
      let from = pageC * perPageC - perPageC;
      let to = pageC * perPageC;
      return Cancel.slice(from, to);
    },
    showPreview() {
      document.getElementById("showImage").removeAttribute("src");
      var filename = document.getElementById("filename");
      filename.onchange = function() {
        var files = filename.files[0];
        var reader = new FileReader();
        reader.readAsDataURL(files);
        reader.onload = function() {
          var result = reader.result;
          document.getElementById("showImage").src = result;
        };
      };
    },
    showPreviewEdit() {
      var filename = document.getElementById("filename-edit");
      filename.onchange = function() {
        var files = filename.files[0];
        var reader = new FileReader();
        reader.readAsDataURL(files);
        reader.onload = function() {
          var result = reader.result;
          document.getElementById("showImage2").src = result;
        };
      };
    },
    SaveImage(event) {
      if (event.target.files.length) {
        let file = event.target.files[0];
        if (
          file &&
          (/^image[/]jpeg/.test(file.type) || /^image[/]png/.test(file.type))
        ) {
          FileToBase64(file).then((pic) => {
            this.insert.canvasImg = pic;
            return;
          });
        }
        this.CanvasImg = null;
      }
    },
    checkItems(val) {
      this.checkItemID = $("input[type=checkbox][name=Choosed]:checked")
        .map(function(_, el) {
          return $(el).val();
        })
        .get();
    },
    EditCanvasButton() {
      this.openEditModal = true;
      var x = this.checkItemID[0];
      this.$root.api.Master_s_CanvasSearchID({
        data: {
          canvas_id: x,
        },
        callback: (res) => {
          this.editCanvas.canvas_id = res[0].canvas_id;
          this.editCanvas.canvas_cd = res[0].canvas_cd;
          this.editCanvas.canvas_name = res[0].canvas_name.trim();
          this.editCanvas.canvas_st = res[0].effdate_st.split("T")[0];
          this.editCanvas.canvas_en = res[0].effdate_en.split("T")[0];
          this.editCanvas.itemcode = res[0].itemcode;
          this.editCanvas.path_pic =
            "http://masterdatadev.kkfnets.com" + res[0].path_pic;
          this.editCanvas.canvasImg = res[0].path_pic;
          this.editCanvas.status = res[0].status;
          this.oldcanvas_cd = res[0].canvas_cd;
          
          $("#canvas_cd-edit").focus();

          this.$root.api.View_itemSearchItemCode({
            data: { ItemCode: res[0].itemcode },
            callback: (res) => {
              res.forEach(
                (x) => (x._label = GetObjValJoin(x, ["itemCode", "itemName"]))
              );
              this.itemcode10.selected = res[0];
              this.editCanvas.itemcode_name = res[0]._label;
              // this.viewCanvas.itemcode = this.itemcode10.selected[0]._label
            },
          });
        },
      });
    },
    ViewCanvasButton() {
      this.openViewModal = true;
      var x = this.checkItemID[0];
      this.$root.api.Master_s_CanvasSearchID({
        data: {
          canvas_id: x,
        },
        callback: (res) => {
          this.viewCanvas.canvas_id = res[0].canvas_id;
          this.viewCanvas.canvas_cd = res[0].canvas_cd;
          this.viewCanvas.canvas_name = res[0].canvas_name.trim();
          this.viewCanvas.canvas_st = res[0].effdate_st.split("T")[0];
          this.viewCanvas.canvas_en = res[0].effdate_en.split("T")[0];
          this.viewCanvas.path_pic =
            "http://masterdatadev.kkfnets.com" + res[0].path_pic;
          this.viewCanvas.status = res[0].status;
          this.$root.api.View_itemSearchItemCode({
            data: { ItemCode: res[0].itemcode },
            callback: (res) => {
              res.forEach(
                (x) => (x._label = GetObjValJoin(x, ["itemCode", "itemName"]))
              );
              this.viewCanvas.itemcode = res[0]._label;
            },
          });
        },
      });
    },
    SaveEditImage(event) {
      if (event.target.files.length) {
        let file = event.target.files[0];
        if (
          file &&
          (/^image[/]jpeg/.test(file.type) || /^image[/]png/.test(file.type))
        ) {
          FileToBase64(file).then((pic) => {
            this.editCanvas.canvasImg = pic;
            return;
          });
        } else {
        }
        // this.file = null;
      }
    },
    CheckEditCanvasButton() {
      if (this.editCanvas.canvas_cd != "") {
        this.$root.api.Master_s_CanvasSearchView({
          data: {
            canvas_cd: this.editCanvas.canvas_cd,
          },
          callback: (res) => {
            if (res.length != 0) {
              swal({
                title: "Code ผ้าใบซ้ำ!",
                text: "ไม่สามารถใช้ Code ผ้าใบ นี้ได้",
                icon: "error",
                button: "ตกลง",
              });
              $("#canvas_cd-edit").focus();
              this.editCanvas.canvas_cd = this.oldcanvas_cd;
            }
          },
        });
      }
    },
    SaveEditCanvasButton() {
      var itemCode = "";
      if (this.itemcode10.selected.length == 1) {
        for (let i = 0; i < 1; i++) {
          itemCode = this.itemcode10.selected[i].itemCode;
        }
      } else {
        itemCode = this.itemcode10.selected.itemCode;
      }

      if (
        this.editCanvas.canvas_en == "2000-01-01" ||
        (this.editCanvas.canvas_en > this.currentDate &&
          this.editCanvas.canvas_en > this.editCanvas.canvas_st)
      ) {
        if (this.editCanvas.canvas_name != "") {
          this.$root.api.Master_s_CanvasSave({
            data: {
              canvas_id: this.editCanvas.canvas_id,
              canvas_cd: this.editCanvas.canvas_cd.toUpperCase(),
              canvas_name: this.editCanvas.canvas_name,
              effdate_en: this.editCanvas.canvas_en,
              effdate_st: this.editCanvas.canvas_st,
              itemcode: itemCode,
              path_pic: this.editCanvas.canvasImg,
              status: "A",
              user_id: localStorage.getItem("UserID"),
              user_name: localStorage.getItem("User"),
            },
            callback: (res) => {
              if (res.status == "S") {
                swal({
                  title: "สำเร็จ",
                  text: "บันทึกข้อมูลผ้าใบเสร็จสิ้น",
                  icon: "success",
                  button: "ตกลง",
                });
              } else if (res.status == "F") {
                swal({
                  title: "ผิดพลาด!",
                  text: "ไม่สามารถบันทึกข้อมูลผ้าใบได้",
                  icon: "error",
                  button: "ตกลง",
                });
              }
              this.resetData();
              this.SearchCanvas();
              this.openEditModal = false;
            },
          });
        } else {
          swal({
            title: "ผิดพลาด",
            text: "กรุณากรอกข้อมูลรายละเอียดผ้าใบ",
            icon: "error",
            button: "ตกลง",
          });
        }
      } else {
        swal({
          title: "ข้อมูลไม่ถูกต้อง!",
          text: "วันหมดอายุจะต้องมากกว่าวันที่ประกาศใช้และวันปัจจุบัน",
          icon: "error",
          button: "ตกลง",
        });
      }
    },
    DeleteView() {
      this.openDeleteModal = true;
      var x = this.checkItemID[0];
      this.$root.api.Master_s_CanvasSearchID({
        data: {
          canvas_id: x,
        },
        callback: (res) => {
          this.deleteCanvas = res;
        },
      });
    },
    DeleteCanvasButton() {
      var x = this.deleteCanvas[0].canvas_id;
      this.$root.api.Master_s_CanvasnBarSearchUsed({
        data: {
          canvas_id: x,
        },
        callback: (res) => {
          if (res.length >= 1) {
            swal({
              title: "ผิดพลาด!",
              text:
                "ไม่สามารถลบข้อมูลผ้าใบได้ เนื่องจากได้นำไปใช้ที่ \nหน้าจอบันทึกความสัมพันธ์ผ้าใบและแถบสีแล้ว",
              icon: "error",
              button: "ตกลง",
            });
            this.openDeleteModal = false;
          } else {
            this.$root.api.Master_s_CanvasMove({
              data: {
                canvas_move: [
                  {
                    canvas_id: this.deleteCanvas[0].canvas_id,
                    canvas_cd: this.deleteCanvas[0].canvas_cd,
                    user_id: localStorage.getItem("UserID"),
                    user_name: localStorage.getItem("User"),
                  },
                ],
              },
              callback: (res) => {
                if (res[0].status == "S") {
                  swal({
                    title: "สำเร็จ",
                    text: "ลบข้อมูลผ้าใบเสร็จสิ้น",
                    icon: "success",
                    button: "ตกลง",
                  });
                } else {
                  swal({
                    title: "ผิดพลาด!",
                    text: "ไม่สามารถลบข้อมูลผ้าใบได้",
                    icon: "error",
                    button: "ตกลง",
                  });
                }
                this.openDeleteModal = false;
                this.SearchCanvas();
              },
            });
          }
        },
      });
    },
    CheckInsertCanvasButton() {
      this.$root.api.Master_s_CanvasSearchView({
        data: {
          canvas_cd: this.insert.canvas_cd,
        },
        callback: (res) => {
          if (res.length != 0) {
            swal({
              title: "Code ผ้าใบซ้ำ!",
              text: "ไม่สามารถใช้ Code ผ้าใบ นี้ได้",
              icon: "error",
              button: "ตกลง",
            });
            $("#canvas_cd").focus();
          }
        },
      });
    },
    InsertCanvasButton() {
      var itemCode = "";
      if (this.itemcode10.selected == null) {
        itemCode = "";
      } else {
        itemCode = this.itemcode10.selected.itemCode;
      }
      if (
        this.insert.canvas_en == "2000-01-01" ||
        (this.insert.canvas_en > this.currentDate &&
          this.insert.canvas_en > this.insert.canvas_st)
      ) {
        if (this.insert.canvas_name != "") {
          this.$root.api.Master_s_CanvasSave({
            data: {
              canvas_cd: this.insert.canvas_cd.toUpperCase(),
              canvas_name: this.insert.canvas_name,
              effdate_en: this.insert.canvas_en,
              effdate_st: this.insert.canvas_st,
              itemcode: itemCode,
              path_pic: this.insert.canvasImg,
              status: "A",
              user_id: localStorage.getItem("UserID"),
              user_name: localStorage.getItem("User"),
            },
            callback: (res) => {
              if (res.status == "S") {
                swal({
                  title: "สำเร็จ",
                  text: "บันทึกข้อมูลผ้าใบเสร็จสิ้น",
                  icon: "success",
                  button: "ตกลง",
                });
              } else if (res.status == "F") {
                swal({
                  title: "ผิดพลาด!",
                  text: "ไม่สามารถบันทึกข้อมูลผ้าใบได้",
                  icon: "error",
                  button: "ตกลง",
                });
              }
              this.resetData();
              this.SearchCanvas();
              this.openAddModal = false;
            },
          });
        } else {
          swal({
            title: "ผิดพลาด",
            text: "กรุณากรอกข้อมูลรายละเอียดผ้าใบ",
            icon: "error",
            button: "ตกลง",
          });
        }
      } else {
        swal({
          title: "ข้อมูลไม่ถูกต้อง!",
          text: "วันหมดอายุจะต้องมากกว่าวันที่ประกาศใช้และวันปัจจุบัน",
          icon: "error",
          button: "ตกลง",
        });
      }
    },
    resetData() {
      this.insert.canvasImg = "";
      this.insert.canvas_cd = "";
      this.insert.canvas_name = "";
      document.getElementById("filename").value = "";
      document.getElementById("showImage").removeAttribute("src");
      document.getElementById("filename-edit").value = "";
      this.itemcode10.selected = null;

      this.insert.canvas_st = this.currentDate;
      this.insert.canvas_en = "2000-01-01";
    },
  },
  computed: {
    displayedPostsActive() {
      return this.paginate(this.dataActive);
    },
    displayedPostsInactive() {
      return this.paginateInactive(this.dataInactive);
    },
    displayedPostsCancel() {
      return this.paginateCancel(this.dataCancel);
    },
  },
  watch: {
    Active() {
      this.setPagesActive();
    },
    Inactive() {
      this.setPagesIntive();
    },
    Cancel() {
      this.setPagesCancel();
    },
  },
};
</script>

<style></style>
