<template>
  <div>
    <CCard class="card-content">
      <CCardHeader class="card-header ">
        <h4 id="" class="mt-0 mb-0">
          การกำหนดมาตรฐานเงื่อนไขการใช้สายรัดห่อสินค้า
        </h4>
      </CCardHeader>
      <CCardBody>
        <CRow class="mx-1" v-if="HReport == true">
          <CCol md="6">
            <CRow class="form-group">
              <CCol md="6" class="my-1">
                <span>รหัสป้าย</span>
                <input autocomplete="off"
                  v-model="search.label_cd"
                  style="text-transform: uppercase !important"
                  maxlength="4"
                  class="input-box"
                  @keyup.enter="SearchStrapSpec"
                />
              </CCol>
              <CCol md="6" class="my-1">
                <span>รหัสสายรัด</span>
                <input autocomplete="off"
                  v-model="search.strap_cd"
                  style="text-transform: uppercase !important"
                  maxlength="2"
                  class="input-box"
                  @keyup.enter="SearchStrapSpec"
                />
              </CCol>
              <CCol md="12" class="my-1">
                <span>รหัสป้าย หรือรหัสสายรัด</span>
                <input autocomplete="off"
                  v-model="search.txtsearch"
                  type
                  class="input-box"
                  @keyup.enter="SearchStrapSpec"
                />
              </CCol>
            </CRow>
          </CCol>
          <CCol md="1">
            <CRow class="">
              <CButton class="mt-4" color="info" block @click="SearchStrapSpec">
                <CIcon name="cil-magnifying-glass" /> ค้นหา
              </CButton>
            </CRow>
          </CCol>
        </CRow>
        <CRow class="mx-3">
          <CButton
            class="mt-1 mr-3"
            color="success"
            @click="openAddModal = true"
          >
            <i class="fa fa-plus"></i>
            เพิ่ม
          </CButton>
          <CButton
            class="mt-1 mr-3 text-white"
            color="warning"
            @click="EditStrapSpecView"
            v-if="checkedSpec > 0 && itemsTabs1 == true"
          >
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton class="mt-1 mr-3 text-white" color="warning" disabled v-else>
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="info"
            @click="ViewStrapSpecButton"
            v-if="checkedSpec > 0"
          >
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton class="mt-1 mr-3" color="info" disabled v-else>
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="danger"
            @click="DeleteStrapSpecView"
            v-if="checkedSpec > 0 && itemsTabs3 == false"
          >
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton class="mt-1 mr-3 " color="danger" disabled v-else>
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton
            variant="outline"
            color="secondary"
            class="mt-1 mr-3"
            :pressed.sync="HReport"
            >{{ HReport ? "ซ่อน" : "แสดง" }}เงื่อนไข</CButton
          >
        </CRow>
      </CCardBody>
      <hr class="my-0" />
      <CCardBody>
        <CNav variant="tabs">
          <CNavItem v-model="itemsTabs1" active>
            <CButton
              @click="
                (itemsTabs1 = true), (itemsTabs2 = false), (itemsTabs3 = false)
              "
              >ข้อมูลมตฐ.เงื่อนไขการใช้สายรัดที่ Active</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs2">
            <CButton
              @click="
                (itemsTabs2 = true), (itemsTabs1 = false), (itemsTabs3 = false)
              "
              >ข้อมูลมตฐ.เงื่อนไขการใช้สายรัดที่หมดอายุ (Inactive)</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs3">
            <CButton
              @click="
                (itemsTabs3 = true), (itemsTabs1 = false), (itemsTabs2 = false)
              "
              >ข้อมูลมตฐ.เงื่อนไขการใช้สายรัดที่ถูกลบ</CButton
            >
          </CNavItem>
        </CNav>
        <CCard>
          <CCardBody style="overflow-x: auto" v-if="itemsTabs1 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPageA">แสดง</label>
                <select
                  class="mx-1 selectPage-box"
                  name="selectPageA"
                  id="selectPageA"
                  v-model="perPageA"
                  @click="setPagesActive()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage"
                  >/ {{ dataStrapSpecCount }} รายการ</label
                >
              </div>
            </form>
            <table class="table styled-table" id="table">
              <thead class="tableTab1">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col" @click="sortTable(0)" >รหัสป้าย <CIcon name="cil-swap-vertical"/></th>
                  <th scope="col">รายละเอียด</th>
                  <th scope="col" @click="sortTable(0)">รหัสสายรัด <CIcon name="cil-swap-vertical"/></th>
                  <th scope="col">รายละเอียด</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันหมดอายุ</th>
                </tr>
              </thead>

              <tbody v-for="p in displayedPostsActive" :key="p.strapspec_id">
                <tr>
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.strapspec_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      id="Choosed"
                      @click="
                        checkItems(p.strapspec_id), showHideRow(p.strapspec_id)
                      "
                    />
                  </th>
                  <td class="td-fontsize">{{ p.label_cd }}</td>
                  <td class="td-fontsize">{{ p.label_name }}</td>
                  <td class="td-fontsize">{{ p.strap_cd }}</td>
                  <td class="td-fontsize">{{ p.strap_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
                <tr class="sub">
                  <td
                    name="hiddenrow"
                    :id="p.strapspec_id"
                    colspan="8"
                    class="text-right hidden_row"
                  >
                    ผู้บันทึก {{ p.user_name }} <br />
                    วันที่บันทึก
                    {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    color="primary"
                    v-if="pageA != 1"
                    @click="pageA--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="page-link" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageA++"
                    color="primary"
                    v-if="pageA < pagesA.length"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="page-link"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>

          <CCardBody style="overflow-x: auto" v-if="itemsTabs2 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPageI">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPageI"
                  id="selectPageI"
                  v-model="perPageI"
                  @click="setPagesIntive()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage"
                  >/ {{ dataIStrapSpecCount }} รายการ</label
                >
              </div>
            </form>
            <table class="table styled-table">
              <thead class="tableTab2">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col">รหัสป้าย</th>
                  <th scope="col">รายละเอียด</th>
                  <th scope="col">รหัสสายรัด</th>
                  <th scope="col">รายละเอียด</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันหมดอายุ</th>
                </tr>
              </thead>
              <tbody v-for="p in displayedPostsInactive" :key="p.strapspec_id">
                <tr>
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.strapspec_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      id="Choosed"
                      @click="
                        checkItems(p.strapspec_id), showHideRow(p.strapspec_id)
                      "
                    />
                  </th>
                  <td class="td-fontsize">{{ p.label_cd }}</td>
                  <td class="td-fontsize">{{ p.label_name }}</td>
                  <td class="td-fontsize">{{ p.strap_cd }}</td>
                  <td class="td-fontsize">{{ p.strap_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
                <tr class="sub">
                  <td
                    name="hiddenrow"
                    :id="p.strapspec_id"
                    colspan="8"
                    class="text-right hidden_row"
                  >
                    ผู้บันทึก {{ p.user_name }} <br />
                    วันที่บันทึก
                    {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class="text-info"
                    v-if="pageI != 1"
                    @click="pageI--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="text-info" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageI++"
                    v-if="pageI < pagesI.length"
                    class="text-info"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="text-info"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>

          <CCardBody style="overflow-x: auto" v-if="itemsTabs3 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPage">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPage"
                  id="selectPage"
                  v-model="perPageC"
                  @click="setPagesCancel()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage"
                  >/ {{ dataCStrapSpecCount }} รายการ</label
                >
              </div>
            </form>
            <table class="table styled-table">
              <thead class="tableTab3">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col">รหัสป้าย</th>
                  <th scope="col">รายละเอียด</th>
                  <th scope="col">รหัสสายรัด</th>
                  <th scope="col">รายละเอียด</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันหมดอายุ</th>
                </tr>
              </thead>
              <tbody v-for="p in displayedPostsCancel" :key="p.strapspec_id">
                <tr>
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.strapspec_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      id="Choosed"
                      @click="
                        checkItems(p.strapspec_id), showHideRow(p.strapspec_id)
                      "
                    />
                  </th>
                  <td class="td-fontsize">{{ p.label_cd }}</td>
                  <td class="td-fontsize">{{ p.label_name }}</td>
                  <td class="td-fontsize">{{ p.strap_cd }}</td>
                  <td class="td-fontsize">{{ p.strap_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
                <tr class="sub">
                  <td
                    name="hiddenrow"
                    :id="p.strapspec_id"
                    colspan="8"
                    class="text-right hidden_row"
                  >
                    ผู้ยกเลิก {{ p.cancel_name }} <br />
                    วันที่ยกเลิก
                    {{ new Date(p.cancel_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
            </table>

            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class="text-danger"
                    v-if="pageC != 1"
                    @click="pageC--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="text-danger" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageC++"
                    v-if="pageC < pagesC.length"
                    class="text-danger"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="text-danger"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>
        </CCard>
      </CCardBody>
      <CCardFooter>
        <CRow class>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-if="itemsTabs3 == true">
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_u_strapspec
          </CCol>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-else>
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_s_strapspec
          </CCol>
        </CRow>
      </CCardFooter>
    </CCard>

    <!-- openAddModal -->
    <CModal
      :show.sync="openAddModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="lg"
      color="success"
    >
      <CRow class="form-group mx-5">
        <CCol md="12" class="mt-3">
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสป้าย</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="5">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="LabelOptions-filter"
                v-model="LabelOptions.selected"
                :multiple="false"
                :options="LabelOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="label_id"
                :allow-empty="false"
                @input="CheckDupLabelID"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสสายรัด</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="6">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="StrapOptions-filter"
                v-model="StrapOptions.selected"
                :multiple="false"
                :options="StrapOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="strap_id"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span>
                    วันที่ประกาศใช้
                    <span class="text-danger">*</span>
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="insertStrapSpec.effdate_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>

            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span> วันที่หมดอายุ </span>
                </CCol>
                <CCol md="6" class="">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="insertStrapSpec.effdate_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">เพิ่มมาตรฐานเงื่อนไขการใช้สายรัดห่อสินค้า</h5>
        <CButtonClose
          @click="(openAddModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openAddModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
        <CButton @click="insertStrapSpecButton" color="success">บันทึก</CButton>
      </template>
    </CModal>
    <!-- openEditModal -->
    <CModal
      :show.sync="openEditModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="lg"
      color="warning"
    >
      <CRow class="form-group mx-5" v-if="editStrapSpec.effdate_st < nowDate">
        <h5 class="text-danger">
          * ไม่สามารถแก้ไขได้ เนื่องจากมีวันประกาศใช้ไปแล้ว
          แก้ไขได้เฉพาะวันที่หมดอายุ
        </h5>
        <CCol md="12" class="mt-3">
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสป้าย</span>
            </CCol>
            <CCol md="5">
              <CInput disabled v-model="editStrapSpec.label" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสสายรัด</span>
            </CCol>
            <CCol md="6">
              <CInput disabled v-model="editStrapSpec.strap" />
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span>
                    วันที่ประกาศใช้
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    disabled
                    v-model="editStrapSpec.effdate_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>

            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span> วันที่หมดอายุ </span>
                </CCol>
                <CCol md="6" class="">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="editStrapSpec.effdate_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <CRow class="form-group mx-5" v-else>
        <CCol md="12" class="mt-3">
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสป้าย</span>
            </CCol>
            <CCol md="5">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="LabelOptions-filte-edit"
                v-model="LabelOptions.selected"
                :multiple="false"
                :options="LabelOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="label_id"
                :allow-empty="false"
                @input="CheckDupLabelID"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสสายรัด</span>
            </CCol>
            <CCol md="6">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="StrapOptions-filter-edit"
                v-model="StrapOptions.selected"
                :multiple="false"
                :options="StrapOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="strap_id"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span>
                    วันที่ประกาศใช้
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="editStrapSpec.effdate_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>

            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span> วันที่หมดอายุ </span>
                </CCol>
                <CCol md="6" class="">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="editStrapSpec.effdate_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">แก้ไขมาตรฐานเงื่อนไขการใช้สายรัดห่อสินค้า</h5>
        <CButtonClose
          @click="(openEditModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openEditModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
        <CButton @click="EditStrapSpecButton" color="success">บันทึก</CButton>
      </template>
    </CModal>
    <!-- openViewModal -->
    <CModal
      :show.sync="openViewModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="lg"
      color="info"
    >
      <CRow class="form-group mx-5">
        <CCol md="12" class="mt-3">
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสป้าย</span>
            </CCol>
            <CCol md="5">
              <CInput
                disabled
                id="label_cd-view"
                style="text-transform: uppercase !important"
                v-model="viewStrapSpec.label"
              />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสสายรัด</span>
            </CCol>
            <CCol md="6">
              <CInput
                disabled
                id="strap_cd-view"
                style="text-transform: uppercase !important"
                v-model="viewStrapSpec.strap"
              />
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span>
                    วันที่ประกาศใช้
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    disabled
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="viewStrapSpec.effdate_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>

            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span> วันที่หมดอายุ </span>
                </CCol>
                <CCol md="6" class="">
                  <date-picker
                    disabled
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="viewStrapSpec.effdate_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">แก้ไขมาตรฐานเงื่อนไขการใช้สายรัดห่อสินค้า</h5>
        <CButtonClose @click="openViewModal = false" class="text-white" />
      </template>
      <template #footer>
        <CButton @click="openViewModal = false" color="danger">ยกเลิก</CButton>
      </template>
    </CModal>

    <!-- openDeleteModal -->
    <div>
      <CModal
        :show.sync="openDeleteModal"
        :closeOnBackdrop="false"
        :centered="true"
        title="Modal title 2"
        color="danger"
      >
        <CRow class="form-group mx-5">
          <h6>ยืนยันการลบข้อมูลเงื่อนไขการใช้สายรัดห่อสินค้าดังต่อไปนี้</h6>
          <CCol md="12">
            <div v-for="i in deleteStrapSpec" :key="i.index" class="mb-2">
              <CRow>
                <CCol md="10">
                  ป้าย : {{ i.label_cd }} : {{ i.label_name }}
                </CCol>
                <CCol md="10">
                  สายรัด : {{ i.strap_cd }} : {{ i.strap_name }}
                </CCol>
              </CRow>
            </div>
          </CCol>
        </CRow>
        <template #header>
          <h5 class="modal-title">
            ลบข้อมูลมาตรฐานเงื่อนไขการใช้สายรัดห่อสินค้า
          </h5>
          <CButtonClose @click="openDeleteModal = false" class="text-white" />
        </template>
        <template #footer>
          <CButton
            @click="openDeleteModal = false"
            color="danger"
            variant="ghost"
            >ยกเลิก</CButton
          >
          <CButton @click="DeleteStrapSpecฺฺButton()" color="danger"
            >ลบ</CButton
          >
        </template>
      </CModal>
    </div>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import { GetObjValJoin, GetDate } from "@/shared/utils";
import setupmixin from "@/shared/setupmixin";
import swal from "sweetalert";
import { loadPartialConfig } from "@babel/core";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";

export default {
  data() {
    return {
      HReport: true,
      search: {
        label_cd: "",
        label_id: "",
        strap_cd: "",
        strap_id: "",
        strapspec_id: "",
        txtsearch: "",
      },
      itemsTabs1: true,
      itemsTabs2: false,
      itemsTabs3: false,
      checked: [],
      checkedSpec: "",

      // Active
      dataStrapSpec: [],
      cancelStrapSpec: [],
      dataActive: [],
      dataStrapSpecCount: 0,
      pageA: 1,
      perPageA: 10,
      pagesA: [],

      // InActive
      dataInactive: [],
      dataIStrapSpecCount: 0,
      pageI: 1,
      perPageI: 5,
      pagesI: [],

      // Cancel
      dataCancel: [],
      dataCStrapSpecCount: 0,
      pageC: 1,
      perPageC: 5,
      pagesC: [],

      openAddModal: false,
      openEditModal: false,
      openViewModal: false,
      openDeleteModal: false,

      insertStrapSpec: {
        effdate_st: "",
        effdate_en: "",
      },
      editStrapSpec: {
        label: "",
        strap: "",
        effdate_st: "",
        effdate_en: "",
        old_label: "",
      },
      viewStrapSpec: {
        label: "",
        strap: "",
        effdate_st: "",
        effdate_en: "",
      },
      deleteStrapSpec: {},
      StrapOptions: {
        lists: [],
        selected: null,
      },
      LabelOptions: {
        lists: [],
        selected: null,
      },
      showTable: false,

      //  ? Date Time
      nowDate: "",
    };
  },
  components: {
    Multiselect,
    DatePicker,
  },
  created() {
    let nowDate = new Date();
    this.nowDate = GetDate(nowDate.setDate(nowDate.getDate()));
    this.insertStrapSpec.effdate_st = this.nowDate;
    this.insertStrapSpec.effdate_en = "2000-01-01";

    this.$root.api.View_master_s_labelSearchActive({
      data: {},
      callback: (res) => {
        res.forEach(
          (x) => (x._label = GetObjValJoin(x, ["label_cd  ", "label_name_th"]))
        );
        this.LabelOptions.lists = res;
      },
    });

    this.$root.api.Master_s_StrapSearch({
      data: {},
      callback: (res) => {
        res.forEach(
          (x) => (x._label = GetObjValJoin(x, ["strap_cd  ", "strap_name"]))
        );
        this.StrapOptions.lists = res;
      },
    });
  },
  mounted() {},
  methods: {
    showHideRow(row) {
      $("#" + row).toggle();
      //  ?console.log(this.strapspec_id);
    },
    checkItems(val) {
      //  ?console.log(val);

      this.checkedSpec = $("input[type=checkbox][name=Choosed]:checked")
        .map(function(_, el) {
          return $(el).val();
        })
        .get();
    },
    SearchStrapSpec() {
      this.dataStrapSpec = [];
      this.cancelStrapSpec = [];
      this.dataStrapSpecCount = 0;
      this.dataIStrapSpecCount = 0;
      this.dataCStrapSpecCount = 0;
      this.checked = [];
      var x = document.getElementsByClassName("hidden_row");
      for (var i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      this.$root.api.Master_s_StrapSpecSearch({
        data: {
          label_cd: this.search.label_cd,
          strap_cd: this.search.strap_cd,
          txtsearch: this.search.txtsearch,
        },
        callback: (res) => {
          //  ?console.log(res.length);
          if (res.length == 0) {
            swal({
              title: "ผิดพลาด",
              text: "ไม่พบรายการเงื่อนไขที่ค้นหา",
              icon: "warning",
              button: "ตกลง",
            });
          } else {
            this.dataStrapSpec = res;
            for (let i = 0; i < res.length; i++) {
              if (res[i].status == "A") {
                this.dataStrapSpecCount = this.dataStrapSpecCount + 1;
              } else if (res[i].status == "I") {
                this.dataIStrapSpecCount = this.dataIStrapSpecCount + 1;
              } else if (res[i].status == "C") {
                this.dataCStrapSpecCount = this.dataCStrapSpecCount + 1;
              }
            }
            this.getDataStrapSpec();
            this.setPagesActive();
            this.setPagesInactive();
            this.setPagesCancel();
          }
          this.$root.api.Master_s_StrapSpecSearchCancel({
            data: {
              label_cd: this.search.label_cd,
              strap_cd: this.search.strap_cd,
              txtsearch: this.search.txtsearch,
            },
            callback: (res) => {
              this.cancelStrapSpec = res;
              this.getCancelStrapSpec();
            },
          });
        },
      });
    },
    CheckDupLabelID() {
      this.$root.api.Master_s_StrapSpecSearch({
        data: {
          label_id: this.LabelOptions.selected.label_id,
        },
        callback: (res) => {
          //  ?console.log(res);
          if (res.length == 0) {
            // ? console.log("None DupLabelID");
          } else if (res[0].status == "A") {
            swal({
              title: "ข้อมูลไม่ถูกต้อง!",
              text: "รหัสป้ายนี้้มีในระบบแล้ว \n ไม่สามารถสร้างมาตราฐานซ้ำได้",
              icon: "error",
              button: "ตกลง",
            });
            this.LabelOptions.selected = null;
            if (this.openEditModal == true) {
              this.LabelOptions.selected = this.editStrapSpec.old_label;
            }
          }
        },
      });
    },
    insertStrapSpecButton() {
      if (
        this.StrapOptions.selected != null ||
        this.LabelOptions.selected != null
      ) {
        if (
          this.insertStrapSpec.effdate_en == "2000-01-01" ||
          (this.insertStrapSpec.effdate_en > this.nowDate &&
            this.insertStrapSpec.effdate_en > this.insertStrapSpec.effdate_st)
        ) {
          this.$root.api.Master_s_StrapSpecSave({
            data: {
              strap_id: this.StrapOptions.selected.strap_id,
              strap_cd: this.StrapOptions.selected.strap_cd,
              strap_name: this.StrapOptions.selected.strap_name,
              label_id: this.LabelOptions.selected.label_id,
              label_cd: this.LabelOptions.selected.label_cd,
              label_name: this.LabelOptions.selected.label_name_th,
              status: "A",
              effdate_st: this.insertStrapSpec.effdate_st,
              effdate_en: this.insertStrapSpec.effdate_en,
              user_id: localStorage.getItem("UserID"),
              user_name: localStorage.getItem("User"),
            },
            callback: (res) => {
              if (res._status == "S") {
                swal({
                  title: "สำเร็จ",
                  text:
                    "บันทึกข้อมูลมาตรฐานเงื่อนไขการใช้สายรัดห่อสินค้าเสร็จสิ้น",
                  icon: "success",
                  button: "ตกลง",
                });
              } else if (res._status == "F") {
                swal({
                  title: "ผิดพลาด!",
                  text:
                    "ไม่สามารถบันทึกข้อมูลมาตรฐานเงื่อนไขการใช้สายรัดห่อสินค้าได้",
                  icon: "error",
                  button: "ตกลง",
                });
              }
              this.resetData();
              this.SearchStrapSpec();
              this.openAddModal = false;
            },
          });
        } else {
          swal({
            title: "ข้อมูลไม่ถูกต้อง!",
            text: "วันหมดอายุจะต้องมากกว่าวันที่ประกาศใช้และวันปัจจุบัน",
            icon: "error",
            button: "ตกลง",
          });
        }
      } else {
        swal({
          title: "ผิดพลาด",
          text: "กรุณากรอกมาตรฐานเงื่อนไขการใช้สายรัดห่อสินค้าให้ครบ",
          icon: "error",
          button: "ตกลง",
        });
      }
    },
    EditStrapSpecView() {
      this.openEditModal = true;
      var x = this.checkedSpec[0];
      this.$root.api.Master_s_StrapSpecSearch({
        data: {
          strapspec_id: x,
        },
        callback: (res) => {
          this.editStrapSpec.effdate_st = res[0].effdate_st.split("T")[0];
          this.editStrapSpec.effdate_en = res[0].effdate_en.split("T")[0];

          this.$root.api.View_master_s_labelSearchID({
            data: { txtSearch: res[0].label_id },
            callback: (res) => {
              res.forEach(
                (x) =>
                  (x._label = GetObjValJoin(x, ["label_cd  ", "label_name_th"]))
              );
              this.LabelOptions.selected = res[0];
              this.editStrapSpec.old_label = res[0];
              this.editStrapSpec.label =
                res[0].label_cd + " : " + res[0].label_name_th.trim();
            },
          });

          this.$root.api.Master_s_StrapSearch({
            data: { strap_id: res[0].strap_id },
            callback: (res) => {
              res.forEach(
                (x) =>
                  (x._label = GetObjValJoin(x, ["strap_cd  ", "strap_name"]))
              );
              this.StrapOptions.selected = res[0];
              this.editStrapSpec.strap =
                res[0].strap_cd + " : " + res[0].strap_name.trim();
            },
          });
        },
      });
    },
    EditStrapSpecButton() {
      var x = this.checkedSpec[0];
      // ? console.log(this.editStrapSpec.effdate_en);
      if (
        this.editStrapSpec.effdate_en == "2000-01-01" ||
        (this.editStrapSpec.effdate_en > this.nowDate &&
          this.editStrapSpec.effdate_en > this.editStrapSpec.effdate_st)
      ) {
        this.$root.api.Master_s_StrapSpecSave({
          data: {
            strapspec_id: x,
            strap_id: this.StrapOptions.selected.strap_id,
            strap_cd: this.StrapOptions.selected.strap_cd,
            strap_name: this.StrapOptions.selected.strap_name,
            label_id: this.LabelOptions.selected.label_id,
            label_cd: this.LabelOptions.selected.label_cd,
            label_name: this.LabelOptions.selected.label_name_th,
            status: "A",
            effdate_st: this.editStrapSpec.effdate_st,
            effdate_en: this.editStrapSpec.effdate_en,
            user_id: localStorage.getItem("UserID"),
            user_name: localStorage.getItem("User"),
          },
          callback: (res) => {
            if (res._status == "S") {
              swal({
                title: "สำเร็จ",
                text:
                  "บันทึกข้อมูลมาตรฐานเงื่อนไข \n การใช้สายรัดห่อสินค้าเสร็จสิ้น",
                icon: "success",
                button: "ตกลง",
              });
            } else if (res._status == "F") {
              swal({
                title: "ผิดพลาด!",
                text: "ไม่สามารถบันทึกข้อมูลได้",
                icon: "error",
                button: "ตกลง",
              });
            }
            this.resetData();
            this.SearchStrapSpec();
            this.openEditModal = false;
          },
        });
      } else {
        swal({
          title: "ผิดพลาด!",
          text: "วันหมดอายุจะต้องมากกว่าวันที่ประกาศใช้และวันปัจจุบัน",
          icon: "error",
          button: "ตกลง",
        });
      }
    },
    ViewStrapSpecButton() {
      this.openViewModal = true;
      var x = this.checkedSpec[0];
      this.$root.api.Master_s_StrapSpecSearch({
        data: {
          strapspec_id: x,
        },
        callback: (res) => {
          this.viewStrapSpec.effdate_st = res[0].effdate_st.split("T")[0];
          this.viewStrapSpec.effdate_en = res[0].effdate_en.split("T")[0];
          this.viewStrapSpec.label =
            res[0].label_cd + " : " + res[0].label_name.trim();
          this.viewStrapSpec.strap =
            res[0].strap_cd + " : " + res[0].strap_name.trim();
        },
      });
    },
    DeleteStrapSpecView() {
      this.openDeleteModal = true;
      var x = this.checkedSpec[0];
      this.$root.api.Master_s_StrapSpecSearch({
        data: {
          strapspec_id: x,
        },
        callback: (res) => {
          this.deleteStrapSpec = res;
        },
      });
    },
    DeleteStrapSpecฺฺButton() {
      //  ?console.log("DeleteStrapSpecฺฺButton");
      var x = this.checkedSpec[0];
      this.$root.api.Master_s_StrapSpecMove({
        data: {
          strapspec_move: [
            {
              strapspec_id: x,
              user_id: localStorage.getItem("UserID"),
              user_name: localStorage.getItem("User"),
            },
          ],
        },
        callback: (res) => {
          if (res._status == "S") {
            swal({
              title: "สำเร็จ",
              text: "ลบข้อมูลมาตรฐานเงื่อนไขการใช้สายรัดห่อสินค้าเสร็จสิ้น",
              icon: "success",
              button: "ตกลง",
            });
          } else {
            swal({
              title: "ผิดพลาด!",
              text: "ไม่สามารถลบข้อมูลมาตรฐานเงื่อนไขการใช้สายรัดห่อสินค้าได้",
              icon: "error",
              button: "ตกลง",
            });
          }
          this.openDeleteModal = false;
          this.SearchStrapSpec();
        },
      });
    },
    resetData() {
      this.LabelOptions.selected = null;
      this.StrapOptions.selected = null;
      this.insertStrapSpec.effdate_st = this.nowDate;
      this.insertStrapSpec.effdate_en = "2000-01-01";
    },
    // ? Pagination
    getDataStrapSpec() {
      this.dataActive = [];
      this.dataInactive = [];
      for (let i = 0; i < this.dataStrapSpec.length; i++) {
        if (this.dataStrapSpec[i].status == "A") {
          this.dataActive.push({
            effdate_en: this.dataStrapSpec[i].effdate_en,
            effdate_st: this.dataStrapSpec[i].effdate_st,
            label_cd: this.dataStrapSpec[i].label_cd,
            label_id: this.dataStrapSpec[i].label_id,
            label_name: this.dataStrapSpec[i].label_name,
            status: this.dataStrapSpec[i].status,
            strap_cd: this.dataStrapSpec[i].strap_cd,
            strap_id: this.dataStrapSpec[i].strap_id,
            strap_name: this.dataStrapSpec[i].strap_name,
            strapspec_id: this.dataStrapSpec[i].strapspec_id,
            user_date: this.dataStrapSpec[i].user_date,
            user_id: this.dataStrapSpec[i].user_id,
            user_name: this.dataStrapSpec[i].user_name,
          });
        } else if (this.dataStrapSpec[i].status == "I") {
          this.dataInactive.push({
            effdate_en: this.dataStrapSpec[i].effdate_en,
            effdate_st: this.dataStrapSpec[i].effdate_st,
            label_cd: this.dataStrapSpec[i].label_cd,
            label_id: this.dataStrapSpec[i].label_id,
            label_name: this.dataStrapSpec[i].label_name,
            status: this.dataStrapSpec[i].status,
            strap_cd: this.dataStrapSpec[i].strap_cd,
            strap_id: this.dataStrapSpec[i].strap_id,
            strap_name: this.dataStrapSpec[i].strap_name,
            strapspec_id: this.dataStrapSpec[i].strapspec_id,
            user_date: this.dataStrapSpec[i].user_date,
            user_id: this.dataStrapSpec[i].user_id,
            user_name: this.dataStrapSpec[i].user_name,
          });
        }
      }
    },
    getCancelStrapSpec() {
      this.dataCancel = [];
      for (let i = 0; i < this.cancelStrapSpec.length; i++) {
        this.dataCancel.push({
          effdate_en: this.cancelStrapSpec[i].effdate_en,
          effdate_st: this.cancelStrapSpec[i].effdate_st,
          label_cd: this.cancelStrapSpec[i].label_cd,
          label_id: this.cancelStrapSpec[i].label_id,
          label_name: this.cancelStrapSpec[i].label_name,
          status: this.cancelStrapSpec[i].status,
          strap_cd: this.cancelStrapSpec[i].strap_cd,
          strap_id: this.cancelStrapSpec[i].strap_id,
          strap_name: this.cancelStrapSpec[i].strap_name,
          strapspec_id: this.cancelStrapSpec[i].strapspec_id,
          user_date: this.cancelStrapSpec[i].user_date,
          user_id: this.cancelStrapSpec[i].user_id,
          user_name: this.cancelStrapSpec[i].user_name,
          cancel_date: this.cancelStrapSpec[i].cancel_date,
          cancel_id: this.cancelStrapSpec[i].cancel_id,
          cancel_name: this.cancelStrapSpec[i].cancel_name,
        });
      }
    },
    setPagesActive() {
      this.pagesA = [];
      let numberOfPages = Math.ceil(this.dataStrapSpecCount / this.perPageA);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesA.push(index);
      }
      this.pageA = 1;
    },
    setPagesInactive() {
      this.pagesI = [];
      let numberOfPages = Math.ceil(this.dataIStrapSpecCount / this.perPageI);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesI.push(index);
      }
      this.pageI = 1;
    },
    setPagesCancel() {
      this.pagesC = [];
      let numberOfPages = Math.ceil(this.dataCStrapSpecCount / this.perPageI);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesC.push(index);
      }
      this.pageC = 1;
    },
    paginate(Active) {
      let pageA = this.pageA;
      let perPageA = this.perPageA;
      let from = pageA * perPageA - perPageA;
      let to = pageA * perPageA;
      return Active.slice(from, to);
    },
    paginateInactive(Inactive) {
      let pageI = this.pageI;
      let perPageI = this.perPageI;
      let from = pageI * perPageI - perPageI;
      let to = pageI * perPageI;
      return Inactive.slice(from, to);
    },
    paginateCancel(Cancel) {
      let pageC = this.pageC;
      let perPageC = this.perPageC;
      let from = pageC * perPageC - perPageC;
      let to = pageC * perPageC;
      return Cancel.slice(from, to);
    },
    sortTable(n) {
      var table,
        rows,
        switching,
        i,
        x,
        y,
        shouldSwitch,
        dir,
        switchcount = 0;
      table = document.getElementById("table");
      switching = true;
      dir = "asc";
      while (switching) {
        switching = false;
        rows = table.getElementsByTagName("TR");
        for (i = 1; i < rows.length - 1; i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount++;
        } else {
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    },
  },
  computed: {
    displayedPostsActive() {
      return this.paginate(this.dataActive);
    },
    displayedPostsInactive() {
      return this.paginateInactive(this.dataInactive);
    },
    displayedPostsCancel() {
      return this.paginateCancel(this.dataCancel);
    },
  },
  watch: {
    Active() {
      this.setPagesActive();
    },
    Inactive() {
      this.setPagesInactive();
    },
    Cancel() {
      this.setPagesCancel();
    },
  },
};
</script>

<style>
.hidden_row {
  display: none;
}
</style>
