<template>
  <div class>
    <CCard class="card-content">
      <CCardHeader class="card-header ">
        <h4 id="" class="mt-0 mb-0">
          การบันทึก/แก้ไข ข้อมูลป้ายสินค้า (ป้ายติดอวน)
        </h4>
      </CCardHeader>
      <CCardBody>
        <CRow class="mx-1" v-if="HReport == true">
          <CCol md="3">
            <span>
              รหัสป้าย
            </span>
            <input
              autocomplete="off"
              v-model="search.labelID"
              class="input-box"
              maxlength="4"
              style="text-transform: uppercase"
              @keyup.enter="SearchLabel()"
            />
          </CCol>
          <CCol md="3">
            <span>รายละเอียด</span>
            <CInput
              v-model="search.labelDescrip"
              type
              @keyup.enter="SearchLabel()"
            />
          </CCol>
          <CCol md="1">
            <CRow class="">
              <CButton class="mt-3" color="info" block @click="SearchLabel">
                <CIcon name="cil-magnifying-glass" />&nbsp;ค้นหา
              </CButton>
            </CRow>
          </CCol>
        </CRow>
        <CRow class="mx-3">
          <CButton
            class="mt-1 mr-3"
            color="success"
            @click="openInsertModel()"
          >
            <i class="fa fa-plus"></i>
            เพิ่ม
          </CButton>
          <CButton
            class="mt-1 mr-3 text-white"
            color="warning"
            v-if="checkItemID.length == 1 && itemsTabs1 == true"
            @click="EditLableButton"
          >
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton class="mt-1 mr-3 text-white" color="warning" v-else disabled>
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="info"
            v-if="checkItemID.length == 1"
            @click="ViewLableButton"
          >
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton class="mt-1 mr-3" color="info" disabled v-else>
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="danger"
            v-if="checkItemID.length == 1 && itemsTabs3 == false"
            @click="openDeleteModal = true"
          >
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton class="mt-1 mr-3" color="danger" disabled v-else>
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton
            variant="outline"
            color="secondary"
            class="mt-1 mr-3"
            :pressed.sync="HReport"
            >{{ HReport ? "ซ่อน" : "แสดง" }}เงื่อนไข</CButton
          >
        </CRow>
      </CCardBody>
      <hr class="my-0" />
      <CCardBody>
        <CNav variant="tabs">
          <CNavItem v-model="itemsTabs1" active>
            <CButton
              @click="
                (itemsTabs1 = true), (itemsTabs2 = false), (itemsTabs3 = false)
              "
              >ข้อมูลป้ายที่ (Active)</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs2">
            <CButton
              @click="
                (itemsTabs2 = true), (itemsTabs1 = false), (itemsTabs3 = false)
              "
              >ข้อมูลป้ายที่หมดอายุ (Inactive)</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs2">
            <CButton
              @click="
                (itemsTabs3 = true), (itemsTabs1 = false), (itemsTabs2 = false)
              "
              >ข้อมูลป้ายที่ถูกลบ</CButton
            >
          </CNavItem>
        </CNav>
        <CCard>
          <CCardBody v-if="itemsTabs1 === true" style="overflow-x: auto">
            <form>
              <div class="offset my-3">
                <label for="selectPage">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPage"
                  id="selectPage"
                  v-model="perPage"
                  @click="setPagesActive()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage">/ {{ ActiveCount }} รายการ</label>
              </div>
            </form>
            <table class="table styled-table " id="table">
              <thead class="tableTab1">
                <tr class>
                  <th scope="col">เลือก</th>
                  <th scope="col" @click="sortTable(0)">
                    รหัสป้าย <CIcon name="cil-swap-vertical" />
                  </th>
                  <th scope="col">version</th>
                  <th scope="col">ชื่อป้ายภาษาไทย</th>
                  <th scope="col">ชื่อป้ายภาษาอังกฤษ</th>
                  <th scope="col">รหัสเก่า</th>
                  <th scope="col">กว้าง</th>
                  <th scope="col">ยาว</th>
                  <th scope="col" class="text-center">ป้ายลูกค้า / ป้ายKKF</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                </tr>
              </thead>
              <tbody v-if="showTable == true">
                <tr v-for="p in displayedPostsActive" :key="p.label_id">
                  <th scope="row" class="text-center">
                    <input
                      autocomplete="off"
                      :value="
                        p.label_id + '-' + p.label_cd + '-' + p.label_name_th
                      "
                      v-model="checked"
                      type="checkbox"
                      @click="
                        checkItems(p.label_id, p.label_cd, p.label_name_th)
                      "
                    />
                  </th>

                  <td class="td-fontsize">{{ p.label_cd }}</td>
                  <td class="td-fontsize" v-if="p.label_version >= 0">
                    {{
                      p.label_version.toLocaleString(undefined, {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2,
                      })
                    }}
                  </td>
                  <td class="td-fontsize" v-else></td>
                  <td class="td-fontsize">{{ p.label_name_th }}</td>
                  <td class="td-fontsize">{{ p.label_name_en }}</td>
                  <td class="td-fontsize">{{ p.label_cd_old }}</td>
                  <td class="td-fontsize">{{ p.width }}</td>
                  <td class="td-fontsize">{{ p.length }}</td>
                  <td class="text-center td-fontsize">{{ p.labelowner_id }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td class="td-fontsize" v-if="p.effdate_st > p.effdate_en">
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class=""
                    color="primary"
                    v-if="page != 1"
                    @click="page--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="page-link" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="page++"
                    v-if="page < pages.length"
                    color="primary"
                    class=""
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="page-link"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>

          <CCardBody v-if="itemsTabs2 === true" style="overflow-x: auto">
            <form>
              <div class="offset my-3">
                <label for="selectPage">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPage"
                  id="selectPage"
                  v-model="perPageI"
                  @click="setPagesIntive()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage">/ {{ InactiveCount }} รายการ</label>
              </div>
            </form>
            <table class="table styled-table" id="table">
              <thead class="tableTab2">
                <tr class>
                  <th scope="col">เลือก</th>
                  <th scope="col" @click="sortTable(0)">
                    รหัสป้าย <CIcon name="cil-swap-vertical" />
                  </th>
                  <th scope="col">version</th>
                  <th scope="col">ชื่อป้ายภาษาไทย</th>
                  <th scope="col">ชื่อป้ายภาษาอังกฤษ</th>
                  <th scope="col">รหัสเก่า</th>
                  <th scope="col">กว้าง</th>
                  <th scope="col">ยาว</th>
                  <th scope="col" class="text-center">ป้ายลูกค้า / ป้ายKKF</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                </tr>
              </thead>
              <tbody v-if="showTable == true">
                <tr v-for="p in displayedPostsInactive" :key="p.label_id">
                  <th scope="row" class="text-center">
                    <input
                      autocomplete="off"
                      :value="
                        p.label_id + '-' + p.label_cd + '-' + p.label_name_th
                      "
                      v-model="checked"
                      type="checkbox"
                      @click="
                        checkItems(p.label_id, p.label_cd, p.label_name_th)
                      "
                    />
                  </th>
                  <td class="td-fontsize">{{ p.label_cd }}</td>
                  <td class="td-fontsize" v-if="p.label_version >= 0">
                     {{
                      p.label_version.toLocaleString(undefined, {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2,
                      })
                    }}
                  </td>
                  <td class="td-fontsize" v-else></td>
                  <td class="td-fontsize">{{ p.label_name_th }}</td>
                  <td class="td-fontsize">{{ p.label_name_en }}</td>
                  <td class="td-fontsize">{{ p.label_cd_old }}</td>
                  <td class="td-fontsize">{{ p.width }}</td>
                  <td class="td-fontsize">{{ p.length }}</td>
                  <td class="text-center td-fontsize">{{ p.labelowner_id }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class="text-info"
                    v-if="pageI != 1"
                    @click="pageI--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="text-info" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageI++"
                    v-if="pageI < pagesI.length"
                    class="text-info"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="text-info"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>

          <CCardBody v-if="itemsTabs3 === true" style="overflow-x: auto">
            <form>
              <div class="offset my-3">
                <label for="selectPage">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPage"
                  id="selectPage"
                  v-model="perPageC"
                  @click="setPagesCancel()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage">/ {{ CancelCount }} รายการ</label>
              </div>
            </form>
            <table class="table styled-table" id="table">
              <thead class="tableTab3">
                <tr class>
                  <th scope="col">เลือก</th>
                  <th scope="col" @click="sortTable(0)">
                    รหัสป้าย <CIcon name="cil-swap-vertical" />
                  </th>
                  <th scope="col">version</th>
                  <th scope="col">ชื่อป้ายภาษาไทย</th>
                  <th scope="col">ชื่อป้ายภาษาอังกฤษ</th>
                  <th scope="col">รหัสเก่า</th>
                  <th scope="col">กว้าง</th>
                  <th scope="col">ยาว</th>
                  <th scope="col" class="text-center">ป้ายลูกค้า / ป้ายKKF</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                </tr>
              </thead>
              <tbody v-if="showTable == true">
                <tr v-for="p in displayedPostsCancel" :key="p.label_id">
                  <th scope="row" class="text-center">
                    <input
                      autocomplete="off"
                      :value="
                        p.label_id + '-' + p.label_cd + '-' + p.label_name_th
                      "
                      v-model="checked"
                      type="checkbox"
                      @click="
                        checkItems(p.label_id, p.label_cd, p.label_name_th)
                      "
                    />
                  </th>
                  <td class="td-fontsize">{{ p.label_cd }}</td>
                  <td class="td-fontsize" v-if="p.label_version >= 0">
                     {{
                      p.label_version.toLocaleString(undefined, {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2,
                      })
                    }}
                  </td>
                  <td class="td-fontsize" v-else></td>
                  <td class="td-fontsize">{{ p.label_name_th }}</td>
                  <td class="td-fontsize">{{ p.label_name_en }}</td>
                  <td class="td-fontsize">{{ p.label_cd_old }}</td>
                  <td class="td-fontsize">{{ p.width }}</td>
                  <td class="td-fontsize">{{ p.length }}</td>
                  <td class="text-center td-fontsize">{{ p.labelowner_id }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class="text-danger"
                    v-if="pageC != 1"
                    @click="pageC--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="text-danger" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageC++"
                    v-if="pageC < pagesC.length"
                    class="text-danger"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="text-danger"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>
        </CCard>
      </CCardBody>
      <CCardFooter>
        <CRow class>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-if="itemsTabs3 == true">
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_u_label
          </CCol>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-else>
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_s_label
          </CCol>
        </CRow>
      </CCardFooter>
    </CCard>

    <!-- openAddModal -->
    <CModal
      :show.sync="openAddModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="success"
    >
    <CRow class="mx-5 d-flex justify-content-center">
      <CCol md="10">
          <CRow class="my-3 ">
            <CCol md="3">ประเภทป้าย<span class="text-danger"> *</span></CCol>
            <CCol md="4">
              <input
              @change="GetDigit1"
                autocomplete="off"
                type="radio"
                id="1"
                value="1"
                v-model="label"
              />
              <span class="mx-2">ป้าย KKF</span>
            </CCol>
            <CCol md="5">
              <input
              @change="GetDigit1"
                autocomplete="off"
                type="radio"
                id="2"
                value="2"
                v-model="label"
              />
              <span class="mx-2">ป้าย OEM</span>
            </CCol>            
          </CRow>
          <div v-if="label == '1'">
            <CRow class="mt-3">
              <CCol md="3">
                <span class="label-formInput">คุณภาพป้าย</span>
                <span class="text-danger"> *</span>
              </CCol>
              <CCol md="8">
                <multiselect
                @input="GetDigit1"
                :allow-empty="false"
                id="LabelGradeOptions-filter"
                placeholder=""
                v-model="LabelGradeOptions.selected"
                :multiple="false"
                :options="LabelGradeOptions.lists"
                label="_label"
                track-by="labelgrade_id"
              ></multiselect>
              </CCol>
            </CRow>      
          </div>
          <div md="6" v-if="label == '2'">
            <CRow class="mt-3">
              <CCol md="2">
                <span class="label-formInput">รหัสลูกค้า</span>
                <span class="text-danger"> *</span>
              </CCol>
              <CCol md="9">
              <multiselect
              @input="findAccZoneLabel()"
                :allow-empty="false"
                id="CustomerOptions-filter"
                placeholder=""
                v-model="CustomerOptions.selected"
                :multiple="false"
                :options="CustomerOptions.lists"
                label="_label"
                track-by="cuscod"
              ></multiselect>
              </CCol>
            </CRow>
            <CRow class="mt-3">
              <CCol md="2">
                <span class="label-formInput">รหัสโซน</span>
              </CCol>
              <CCol md="3">
              <CInput v-if="CustomerOptions.selected != null "
                v-model="AccZone.zone_code"
                disabled
              />
              <CInput v-else disabled />
              </CCol>
              <CCol md="6">
                <CInput v-if="CustomerOptions.selected != null "
                v-model="AccZone.zone_desc"
                disabled
              />
              <CInput v-else disabled />
              </CCol>
            </CRow>
            <CRow class="">
              <CCol md="4">
                <span class="label-formInput">รหัสสำหรับสร้างรหัสป้าย</span>
              </CCol>
              <CCol md="3">
                <CInput
                  v-if="CustomerOptions.selected != null "
                  v-model="AccZoneLabelCode.label_zone"
                  type="number"
                  disabled
                />
                <CInput v-else disabled />
              </CCol>
            </CRow>
          </div>
          <hr class="mx-5" />
        <CRow class="mt-3">
          <CCol md="4">
            <span class="label-formInput">รหัสหลักที่ 1</span>
          </CCol>
          <CCol md="4">
            <CInput v-model="digit_1" disabled />
          </CCol>
        </CRow>
        <CRow class="">
          <CCol md="4">
            <span class="label-formInput">รหัสหลักที่ 2-3</span>
          </CCol>
          <CCol md="4">
            <CInput v-model="digit_23" disabled />
          </CCol>
        </CRow>
        <CRow class="">
            <CCol md="3">เลือกชนิดของป้าย<span class="text-danger">*</span></CCol>
            <CCol md="4" class="mt-2">
              <input
              @change="GetDigit4"
                type="radio"
                id="3"
                value="1"
                v-model="label_type_id"
              />
              <span class="mx-2">ป้ายกระดาษ (1)</span>
            </CCol>
            <CCol md="5" class="mt-2">
              <input
              @change="GetDigit4"
                type="radio"
                id="4"
                value="2"
                v-model="label_type_id"
              />
              <span class="mx-2">ป้าย Sticker (2)</span>
            </CCol>            
          </CRow>
        <CRow class="mt-3">
          <CCol md="4">
            <span class="label-formInput">รหัสหลักที่ 4</span>
          </CCol>
          <CCol md="4">
            <CInput v-model="digit_4" disabled />
          </CCol>
        </CRow>
      </CCol>
    </CRow>
    <hr class="my-3" />
      <CRow class="form-group mx-5" v-if="insertLabel.labelID.length == 4">
        <CCol md="6">
          <CRow>
            <CCol md="5" class="mt-3">
              <span>
                รหัสป้าย
                <span class="text-danger">*</span>
              </span>
              <CInput
              disabled
                autocomplete="off"
                id="labelID"
                ref="labelID"
                v-model="insertLabel.labelID"
                style="text-transform: uppercase"
                maxlength="4"
              />
            </CCol>
          </CRow>
          <CRow>
            <CCol md="10" class="mt-3">
              <span>
                ชื่อป้ายภาษาไทย
                <span class="text-danger">*</span>
              </span>
              <input
                autocomplete="off"
                id="labelNameTH"
                v-model="insertLabel.labelNameTH"
                class="input-box"
              />
            </CCol>
          </CRow>
          <CRow>
            <CCol md="10" class="mt-3">
              <span>
                ชื่อป้ายภาษาอังกฤษ
                <span class="text-danger">*</span>
              </span>
              <input
                autocomplete="off"
                id="labelNameEN"
                v-model="insertLabel.labelNameEN"
                class="input-box"
                onkeypress="return (event.charCode > 64 && 
event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 )"
              />
            </CCol>
          </CRow>
          <CRow class="mt-3">
            <CCol md="6">
              <span>
                วันที่ประกาศใช้
              </span>
              <!-- <datepicker :typeable="true" v-model="currentDate" format="dd/MM/yyyy"></datepicker> -->
              <date-picker
                v-model="currentDate"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
              <!-- <CInput v-model="currentDate" type="date"  /> -->
            </CCol>
            <CCol md="6">
              <span>วันที่หมดอายุ</span>
              <date-picker
                v-model="defaultExDate"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
              <!-- <datepicker :typeable="true"  v-model="defaultExDate" format="dd/MM/yyyy"></datepicker> -->
              <!-- <CInput v-model="defaultExDate" type="date" /> -->
            </CCol>
          </CRow>
          <CRow>
            <CCol md="10" class="mt-2">
              <span style="font-size: 14px"> ขนาดป้าย </span>
              <CRow>
                <CCol md="6">
                  <span class=""
                    >ความกว้าง (cm)<span class="text-danger"> *</span></span
                  >
                  <input
                    autocomplete="off"
                    id="sizeWidth"
                    type="number"
                    v-model="insertLabel.sizeWidth"
                    pattern="[0-9]"
                    class="input-box"
                  />
                </CCol>
                <CCol md="6">
                  <span class=""
                    >ความยาว (cm)<span class="text-danger"> *</span></span
                  >
                  <input
                    autocomplete="off"
                    id="sizeLength"
                    type="number"
                    v-model="insertLabel.sizeLength"
                    class="input-box"
                  />
                </CCol>
              </CRow>
            </CCol>
          </CRow>
          
          <CRow>
            <CCol md="10">
              <span>รหัส 10 หลัก</span>
              <multiselect
                :allow-empty="false"
                id="itemcode10-filter"
                placeholder=""
                v-model="itemcode10.selected"
                :multiple="false"
                :options="itemcode10.lists"
                label="_label"
                track-by="itemCode"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow>
            <CCol md="3" class="mt-3">
              <span>
                Version
                <span class="text-danger">*</span>
              </span>
              <input
                autocomplete="off"
                v-model="insertLabel.label_version"
                type="number"
                step="0.01"
                class="input-box"
                @change="searchDupLabelCD()"
              />
            </CCol>
            <CCol md="9" class="mt-3">
              <span>
                หมายเหตุ
              </span>
              <input
                autocomplete="off"
                v-model="insertLabel.label_remark"
                class="input-box"
              />
            </CCol>
          </CRow>
        </CCol>
        <CCol md="6">
          <CRow>
            <CCol md="12">
              <span>
                เลือกรูปภาพ
                <span class="text-danger"></span>
              </span>
              <br />

              <input
                autocomplete="off"
                type="file"
                name="filename"
                id="filename"
                class="my-2"
                accept="image/jpeg, image/png"
                :v-model="insertLabel.labelImg"
                @click="showPreview()"
                @change="SaveImage"
              />
            </CCol>
            <CCol md="12">
              <CCard style="min-height: 400px">
                <CCardBody v-if="insertLabel.labelImg == ''">
                  <img id="showImage" />
                </CCardBody>
                <CCardBody v-else>
                  <img id="showImage" />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">เพิ่มข้อมูลป้ายสินค้า</h5>
        <CButtonClose
          @click="(openAddModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openAddModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
        <CButton v-if="insertLabel.labelID.length != 4" color="success" disabled>บันทึก</CButton>
        <CButton v-else @click="CheckDate()" color="success">บันทึก</CButton>
      </template>
    </CModal>
    <!-- openEditModal -->
    <div>
      <CModal
        :show.sync="openEditModal"
        :closeOnBackdrop="false"
        :centered="true"
        title="Modal title 2"
        size="xl"
        color="warning"
      >
        <CRow class="form-group mx-5">
          <CCol md="6">
            <CRow>
              <CCol md="5">
                <span>รหัสป้าย</span>
                <CInput v-model="editLabel.labelID" disabled />
              </CCol>
            </CRow>
            <CRow>
              <CCol md="10">
                <span>ชื่อป้ายภาษาไทย</span>
                <CInput
                  v-model="editLabel.labelNameTH"
                  v-if="thisNowDate > editLabel.startUseDate"
                  disabled
                />
                <CInput v-model="editLabel.labelNameTH" v-else />
              </CCol>
            </CRow>
            <CRow>
              <CCol md="10">
                <span>ชื่อป้ายภาษาอังกฤษ</span>
                <CInput
                  v-model="editLabel.labelNameEN"
                  v-if="thisNowDate > editLabel.startUseDate"
                  disabled
                />
                <CInput
                  v-model="editLabel.labelNameEN"
                  v-else
                  onkeypress="return (event.charCode > 64 && 
event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 )"
                />
              </CCol>
            </CRow>
            <CRow>
              <CCol md="6">
                <span>วันที่ประกาศใช้</span>
                <!-- <CInput
                  v-model="editLabel.startUseDate"
                  type="date"
                  max="3000-12-31"
                  v-if="thisNowDate > editLabel.startUseDate"
                  disabled
                /> -->
                <date-picker
                  :value="editLabel.startUseDate"
                  v-if="thisNowDate > editLabel.startUseDate"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                  disabled
                ></date-picker>
                <date-picker
                  v-model="editLabel.startUseDate"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                  v-else
                ></date-picker>

                <!-- <datepicker v-model="editLabel.startUseDate" format="dd/MM/yyyy" v-else></datepicker> -->
                <!-- <CInput v-model="editLabel.startUseDate" type="date" max="3000-12-31" v-else /> -->
              </CCol>
              <CCol md="6">
                <span>วันที่หมดอายุ</span>

                <date-picker
                  v-model="editLabel.ExpireDate"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                ></date-picker>

                <!-- <datepicker v-model="editLabel.ExpireDate" format="dd/MM/yyyy" ></datepicker> -->
                <!-- <CInput v-model="editLabel.ExpireDate" type="date" max="3000-12-31" /> -->
              </CCol>
            </CRow>
            <CRow>
              <CCol md="10" class="mt-2">
                <span style="font-size: 14px"> ขนาดป้าย </span>
                <CRow>
                  <CCol md="6">
                    <div v-if="thisNowDate > editLabel.startUseDate">
                      <span class="">ความกว้าง (cm)</span>
                      <CInput v-model="editLabel.sizeWidth" disabled />
                    </div>
                    <div v-else>
                      <span class="">ความกว้าง (cm)</span>
                      <CInput v-model="editLabel.sizeWidth" type="number" />
                    </div>
                  </CCol>
                  <CCol md="6">
                    <div v-if="thisNowDate > editLabel.startUseDate">
                      <span class="">ความยาว (cm)</span>
                      <CInput v-model="editLabel.sizeLength" disabled />
                    </div>
                    <div v-else>
                      <span class="">ความยาว (cm)</span>
                      <CInput v-model="editLabel.sizeLength" type="number" />
                    </div>
                  </CCol>
                </CRow>
              </CCol>
            </CRow>
            <CRow class="mb-3">
              <CCol md="4">
                <input
                  autocomplete="off"
                  type="radio"
                  id="1"
                  value="C"
                  v-model="editLabel.labelType"
                  v-if="thisNowDate > editLabel.startUseDate"
                  disabled
                />
                <input
                  autocomplete="off"
                  type="radio"
                  id="1"
                  value="C"
                  v-model="editLabel.labelType"
                  v-else
                />
                <span class="mx-2">ป้าย OEM</span>
              </CCol>
              <CCol md="4">
                <input
                  autocomplete="off"
                  type="radio"
                  id="2"
                  value="K"
                  v-model="editLabel.labelType"
                  v-if="thisNowDate > editLabel.startUseDate"
                  disabled
                />
                <input
                  autocomplete="off"
                  type="radio"
                  id="2"
                  value="K"
                  v-model="editLabel.labelType"
                  v-else
                />
                <span class="mx-2">ป้าย KKF</span>
              </CCol>
            </CRow>
            <CRow>
              <CCol md="10">
                <span>รหัส 10 หลัก</span>
                <CInput
                  v-model="editLabel.label10ID"
                  v-if="thisNowDate > editLabel.startUseDate"
                  disabled
                />

                <multiselect
                  :allow-empty="false"
                  id="itemcode10-edit-filter"
                  v-model="itemcode10.selected"
                  :multiple="false"
                  :options="itemcode10.lists"
                  label="_label"
                  :placeholder="editLabel.label10ID"
                  track-by="itemCode"
                  v-else
                ></multiselect>
              </CCol>
            </CRow>
            <CRow v-if="thisNowDate > editLabel.startUseDate">
              <CCol md="3" class="mt-3">
                <span>
                  Version
                </span>
                <CInput
                  v-model="editLabel.label_version"
                  type="number"
                  disabled
                ></CInput>
              </CCol>
              <CCol md="9" class="mt-3">
                <span>
                  หมายเหตุ
                </span>
                <CInput v-model="editLabel.label_remark" disabled> </CInput>
              </CCol>
            </CRow>
            <CRow v-else>
              <CCol md="3" class="mt-3">
                <span>
                  Version
                </span>
                <input
                  autocomplete="off"
                  v-model="editLabel.label_version"
                  type="number"
                  step="0.01"
                  class="input-box"
                  @change="checkDupEdit()"
                />
              </CCol>
              <CCol md="9" class="mt-3">
                <span>
                  หมายเหตุ
                </span>
                <input
                  autocomplete="off"
                  v-model="editLabel.label_remark"
                  class="input-box"
                />
              </CCol>
            </CRow>
          </CCol>

          <CCol md="6">
            <CRow>
              <CCol md="12">
                <span>
                  เลือกรูปภาพ
                  <span class="text-danger"></span>
                </span>
                <br />
                <input
                  autocomplete="off"
                  v-if="thisNowDate > editLabel.startUseDate"
                  type="file"
                  disabled
                />
                <input
                  autocomplete="off"
                  v-else
                  type="file"
                  name="filename-edit"
                  id="filename-edit"
                  class="my-2"
                  accept="image/jpeg, image/png"
                  :v-model="editLabel.labelImg"
                  @click="showPreviewEdit()"
                  @change="SaveEditImage"
                />
              </CCol>
              <CCol md="12">
                <CCard style="min-height: 400px">
                  <CCardBody>
                    <img
                      id="showImage2"
                      :src="
                        'http://masterdatadev.kkfnets.com' + editLabel.labelImg
                      "
                    />
                  </CCardBody>
                </CCard>
              </CCol>
            </CRow>
          </CCol>
        </CRow>
        <template #header>
          <h5 class="modal-title">แก้ไขข้อมูลป้ายสินค้า</h5>
          <CButtonClose
            @click="(openEditModal = false), resetData()"
            class="text-white"
          />
        </template>
        <template #footer>
          <CButton @click="(openEditModal = false), resetData()" color="danger"
            >ยกเลิก</CButton
          >
          <CButton @click="SaveEditLableButton" color="success">บันทึก</CButton>
        </template>
      </CModal>
    </div>
    <!-- openViewModal -->
    <div>
      <CModal
        :show.sync="openViewModal"
        :closeOnBackdrop="false"
        :centered="true"
        title="Modal title 2"
        size="xl"
        color="info"
      >
        <CRow class="form-group mx-5">
          <CCol md="6">
            <CRow>
              <CCol md="5">
                <span> รหัสป้าย </span>
                <CInput v-model="viewLabel.labelID" disabled />
              </CCol>
            </CRow>
            <CRow>
              <CCol md="10">
                <span> ชื่อป้ายภาษาไทย </span>
                <CInput v-model="viewLabel.labelNameTH" disabled />
              </CCol>
            </CRow>
            <CRow>
              <CCol md="10">
                <span> ชื่อป้ายภาษาอังกฤษ </span>
                <CInput v-model="viewLabel.labelNameEN" disabled />
              </CCol>
            </CRow>
            <CRow>
              <CCol md="6">
                <span> วันที่ประกาศใช้ </span>
                <!-- <CInput
                  v-model="viewLabel.startUseDate"
                  type="date"
                  max="3000-12-31"
                  disabled
                /> -->
                <date-picker
                  :value="viewLabel.startUseDate"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                  disabled
                ></date-picker>
              </CCol>
              <CCol md="6">
                <span> วันที่หมดอายุ </span>
                <!-- <CInput
                  v-model="viewLabel.ExpireDate"
                  type="date"
                  max="3000-12-31"
                  disabled
                /> -->
                <date-picker
                  :value="viewLabel.ExpireDate"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                  disabled
                ></date-picker>
              </CCol>
            </CRow>
            <CRow>
              <CCol md="10" class="mt-2">
                <span style="font-size: 14px"> ขนาดป้าย </span>
                <CRow>
                  <CCol md="6">
                    <span class="">ความกว้าง (cm)</span>
                    <CInput v-model="viewLabel.sizeWidth" disabled />
                  </CCol>
                  <CCol md="6">
                    <span class="">ความยาว (cm)</span>
                    <CInput v-model="viewLabel.sizeLength" disabled />
                  </CCol>
                </CRow>
              </CCol>
            </CRow>
            <CRow class="mb-3">
              <CCol md="4">
                <input
                  autocomplete="off"
                  type="radio"
                  id="1"
                  value="C"
                  v-model="viewLabel.labelType"
                  disabled
                />
                <span class="mx-2">ป้าย OEM</span>
              </CCol>
              <CCol md="4">
                <input
                  autocomplete="off"
                  type="radio"
                  id="2"
                  value="K"
                  v-model="viewLabel.labelType"
                  disabled
                />
                <span class="mx-2">ป้าย KKF</span>
              </CCol>
            </CRow>
            <CRow>
              <CCol md="3" class="mt-3">
                <span>
                  Version
                </span>
                <CInput
                  v-model="viewLabel.label_version"
                  type="number"
                  disabled
                ></CInput>
              </CCol>
              <CCol md="9" class="mt-3">
                <span>
                  หมายเหตุ
                </span>
                <CInput v-model="viewLabel.label_remark" disabled> </CInput>
              </CCol>
            </CRow>
          </CCol>
          <CCol md="6" class="mt-5">
            <CRow>
              <CCol md="12">
                <CCard style="min-height: 370px">
                  <CCardBody>
                    <img id="showImage2" :src="viewLabel.labelImg" />
                  </CCardBody>
                </CCard>
              </CCol>
            </CRow>
          </CCol>
        </CRow>
        <template #header>
          <h6 class="modal-title">ดูรายละเอียดป้ายสินค้า</h6>
          <CButtonClose @click="openViewModal = false" class="text-white" />
        </template>
        <template #footer>
          <CButton @click="openViewModal = false" color="danger">ปิด</CButton>
        </template>
      </CModal>
    </div>
    <!-- openDeleteModal -->
    <div>
      <CModal
        :show.sync="openDeleteModal"
        :closeOnBackdrop="false"
        :centered="true"
        title="Modal title 2"
        color="danger"
      >
        <CRow class="form-group mx-5">
          <CCol md="10">
            <h6>ยืนยันการลบข้อมูลป้ายสินค้า ดังต่อไปนี้</h6>
            <div v-for="items in checkItemID" :key="items.index">
              <h6>
                {{ items.split("-")[1].toString() }} :
                {{ items.split("-")[2].toString() }}
              </h6>
            </div>
          </CCol>
        </CRow>
        <template #header>
          <h5 class="modal-title">ลบข้อมูลป้ายสินค้า</h5>
          <CButtonClose @click="openDeleteModal = false" class="text-white" />
        </template>
        <template #footer>
          <CButton
            @click="openDeleteModal = false"
            color="danger"
            variant="ghost"
            >ยกเลิก</CButton
          >
          <CButton @click="DeleteLableButton" color="danger">ลบ</CButton>
        </template>
      </CModal>
    </div>
  </div>
</template>

<script>
import master_s_labelmixin from "./master_s_labelmixin";
export default {
  mixins: [master_s_labelmixin],
};
</script>
</script>

<style>
.input-box {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid;
  color: #768192;
  background-color: #fff;
  border-color: #d8dbe0;
  border-radius: 0.25rem;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#spinners {
  position: absolute;
  top: 50%;
  left: 60%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
</style>
