<template>
  <div class>
    <CCard class="card-content">
      <CCardHeader class="card-header ">
        <h4 id="" class="mt-0 mb-0">
          การบันทึก/แก้ไข ข้อมูลแถบสี
        </h4>
      </CCardHeader>
      <CCardBody>
        <CRow class="mx-1" v-if="HReport == true">
          <CCol md="6">
            <CRow class="form-group">
              <CCol md="6" class="my-2">
                <span>Code แถบสี</span>
                <input autocomplete="off"
                  maxlength="1"
                  @keyup.enter="SearchBarcolor"
                  v-model="search.barcolor_cd"
                  style="text-transform: uppercase !important"
                  class="input-box"
                />
              </CCol>
              <CCol md="6" class="my-2">
                <span>รายละเอียด</span>
                <input autocomplete="off"
                  v-model="search.txtsearch"
                  style="text-transform: uppercase !important"
                  @keyup.enter="SearchBarcolor"
                  class="input-box"
                />
              </CCol>
            </CRow>
          </CCol>
          <CCol md="1">
            <CRow class="">
                <CButton
                  class="mt-4"
                  color="info"
                  block
                  @click="SearchBarcolor"
                >
                  <CIcon name="cil-magnifying-glass" />ค้นหา
                </CButton>
            </CRow>
          </CCol>
        </CRow>
        <CRow class="mx-3">
          <CButton
            class="mt-1 mr-3"
            color="success"
            @click="openAddModal = true"
          >
            <i class="fa fa-plus"></i>
            เพิ่ม
          </CButton>
          <CButton
            class="mt-1 mr-3 text-white"
            color="warning"
            v-if="checkItemID.length == 1 && itemsTabs1 == true"
            @click="EditBarcolorButton"
          >
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton class="mt-1 mr-3 text-white" color="warning" v-else disabled>
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="info"
            v-if="checkItemID.length == 1"
            @click="ViewBarcolorButton()"
          >
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton class="mt-1 mr-3" color="info" disabled v-else>
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="danger"
            v-if="checkItemID.length == 1 && itemsTabs3 == false"
            @click="DeleteView()"
          >
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton class="mt-1 mr-3" color="danger" disabled v-else>
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton
            variant="outline"
            color="secondary"
            class="mt-1 mr-3"
            :pressed.sync="HReport"
            >{{ HReport ? "ซ่อน" : "แสดง" }}เงื่อนไข</CButton
          >
        </CRow>
      </CCardBody>
      <hr class="my-0" />
      <CCardBody>
        <CNav variant="tabs">
          <CNavItem v-model="itemsTabs1" active>
            <CButton
              @click="
                (itemsTabs1 = true), (itemsTabs2 = false), (itemsTabs3 = false)
              "
              >ข้อมูลแถบสีที่ Active</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs2">
            <CButton
              @click="
                (itemsTabs2 = true), (itemsTabs1 = false), (itemsTabs3 = false)
              "
              >ข้อมูลแถบสีที่หมดอายุ (Inactive)</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs3">
            <CButton
              @click="
                (itemsTabs3 = true), (itemsTabs1 = false), (itemsTabs2 = false)
              "
              >ข้อมูลแถบสีที่ถูกลบ</CButton
            >
          </CNavItem>
        </CNav>
        <CCard>
          <CCardBody style="overflow-x: auto" v-if="itemsTabs1 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPageA">แสดง</label>
                <select
                  class="mx-1 selectPage-box"
                  name="selectPageA"
                  id="selectPageA"
                  v-model="perPageA"
                  @click="setPagesActive()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage">/ {{ dataBarcolorCount }} รายการ</label>
              </div>
            </form>
            <table class="table styled-table">
              <thead class="tableTab1">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col">ID</th>
                  <th scope="col">Code แถบสี</th>
                  <th scope="col">รายละเอียดแถบสี</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                  <th scope="col">ผู้บันทึก</th>
                  <th scope="col">วันที่บันทึก</th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="p in displayedPostsActive" :key="p.barcolor_id">
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.barcolor_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      @click="checkItems(p.barcolor_id)"
                    />
                  </th>
                  <td class="td-fontsize">{{ p.barcolor_id }}</td>
                  <td class="td-fontsize">{{ p.barcolor_cd }}</td>
                  <td class="td-fontsize">{{ p.barcolor_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                  <td class="td-fontsize">{{ p.user_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    color="primary"
                    v-if="pageA != 1"
                    @click="pageA--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="page-link" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageA++"
                    color="primary"
                    v-if="pageA < pagesA.length"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="page-link"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>

          <CCardBody style="overflow-x: auto" v-if="itemsTabs2 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPageI">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPageI"
                  id="selectPageI"
                  v-model="perPageI"
                  @click="setPagesIntive()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage"
                  >/ {{ dataIBarcolorCount }} รายการ</label
                >
              </div>
            </form>
            <table class="table styled-table">
              <thead class="tableTab2">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col">ID</th>
                  <th scope="col">Code แถบสี</th>
                  <th scope="col">รายละเอียดแถบสี</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                  <th scope="col">ผู้บันทึก</th>
                  <th scope="col">วันที่บันทึก</th>
                </tr>
              </thead>
              <tbody v-if="showTable == true && dataIBarcolorCount != 0">
                <tr v-for="p in displayedPostsInactive" :key="p.barcolor_id">
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.barcolor_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      @click="checkItems(p.barcolor_id)"
                    />
                  </th>
                  <td class="td-fontsize">{{ p.barcolor_id }}</td>
                  <td class="td-fontsize">{{ p.barcolor_cd }}</td>
                  <td class="td-fontsize">{{ p.barcolor_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                  <td class="td-fontsize">{{ p.user_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
              <tbody v-else>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><h5>ไม่พบข้อมูล</h5></td>
                <td></td>
                <td></td>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class="text-info"
                    v-if="pageI != 1"
                    @click="pageI--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="text-info" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageI++"
                    v-if="pageI < pagesI.length"
                    class="text-info"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="text-info"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>

          <CCardBody style="overflow-x: auto" v-if="itemsTabs3 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPage">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPage"
                  id="selectPage"
                  v-model="perPageC"
                  @click="setPagesCancel()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage"
                  >/ {{ dataCBarcolorCount }} รายการ</label
                >
              </div>
            </form>
            <table class="table styled-table">
              <thead class="tableTab3">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col">ID</th>
                  <th scope="col">Code แถบสี</th>
                  <th scope="col">รายละเอียดแถบสี</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                  <th scope="col">ผู้ยกเลิก</th>
                  <th scope="col">วันที่ยกเลิก</th>
                </tr>
              </thead>
              <tbody v-if="showTable == true && dataCBarcolorCount != 0">
                <tr v-for="p in displayedPostsCancel" :key="p.barcolor_id">
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.barcolor_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      @click="checkItems(p.barcolor_id)"
                    />
                  </th>
                  <td class="td-fontsize">{{ p.barcolor_id }}</td>
                  <td class="td-fontsize">{{ p.barcolor_cd }}</td>
                  <td class="td-fontsize">{{ p.barcolor_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                  <td class="td-fontsize">{{ p.cancel_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.cancel_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
              <tbody v-else>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><h5>ไม่พบข้อมูล</h5></td>
                <td></td>
                <td></td>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class="text-danger"
                    v-if="pageC != 1"
                    @click="pageC--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="text-danger" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageC++"
                    v-if="pageC < pagesC.length"
                    class="text-danger"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="text-danger"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>
        </CCard>
      </CCardBody>
      <CCardFooter>
        <CRow class>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-if="itemsTabs3 == true">
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_u_barcolor
          </CCol>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-else>
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_s_barcolor
          </CCol>
        </CRow>
      </CCardFooter>
    </CCard>

    <!-- openAddModal -->
    <CModal
      :show.sync="openAddModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="success"
    >
      <CRow class="form-group mx-5">
        <CCol md="6" class="mt-3">
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ID แถบสี</span>
            </CCol>
            <CCol md="4">
              <CInput disabled v-model="maxBarcolorID" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">Code แถบสี</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="4">
              <input autocomplete="off"
                @change="CheckInsertBarcolorButton"
                maxlength="1"
                id="barcolor_cd"
                class="input-box mb-3"
                style="text-transform: uppercase !important"
                v-model="insert.barcolor_cd"
              />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รายละเอียด</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="9">
              <CTextarea
                maxlength="49"
                v-model="insert.barcolor_name"
                rows="5"
              />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="mb-2">
                วันที่ประกาศใช้
                <span class="text-danger">*</span>
              </span>
            </CCol>
            <CCol md="9" class="mb-2">
              <date-picker
                v-model="insert.barcolor_st"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
              <!-- <CInput v-model="insert.barcolor_st" type="da.te" max="3000-12-31" /> -->
            </CCol>

            <CCol md="3">
              <span>วันที่หมดอายุ</span>
            </CCol>
            <CCol md="9" class="mb-2">
              <date-picker
                v-model="insert.barcolor_en"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
              <!-- <CInput v-model="insert.barcolor_en" type="da.te" max="3000-12-31" /> -->
            </CCol>
          </CRow>
        </CCol>
        <CCol md="6">
          <CRow>
            <CCol md="12">
              <span>
                เลือกรูป
                <span class="text-danger"></span>
              </span>
              <br />
              <input autocomplete="off"
                type="file"
                name="filename"
                id="filename"
                class="my-2"
                accept="image/jpeg, image/png"
                :v-model="insert.barcolorImg"
                @click="showPreview()"
                @change="SaveImage"
              />
            </CCol>
            <CCol md="12">
              <CCard style="min-height: 400px">
                <CCardBody>
                  <img id="showImage" />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">เพิ่มข้อมูลแถบสี</h5>
        <CButtonClose
          @click="(openAddModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openAddModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
        <CButton @click="InsertBarcolorButton" color="success">บันทึก</CButton>
      </template>
    </CModal>
    <!-- openEditModal -->
    <div>
      <CModal
        :show.sync="openEditModal"
        :closeOnBackdrop="false"
        :centered="true"
        title="Modal title 2"
        size="xl"
        color="warning"
      >
        <CRow
          class="form-group mx-5"
          v-if="editBarcolor.barcolor_st < currentDate"
        >
          <h5 class="text-danger">
            * ไม่สามารถแก้ไขได้ เนื่องจากมีวันประกาศใช้ไปแล้ว
            แก้ไขได้เฉพาะวันที่หมดอายุ
          </h5>
          <CCol md="6" class="mt-3">
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">ID แถบสี</span>
              </CCol>
              <CCol md="4">
                <CInput disabled v-model="editBarcolor.barcolor_id" />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">Code แถบสี</span>
              </CCol>
              <CCol md="4">
                <CInput
                  disabled
                  id="barcolor_cd-edit"
                  style="text-transform: uppercase !important"
                  v-model="editBarcolor.barcolor_cd"
                />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">รายละเอียด</span>
              </CCol>
              <CCol md="9">
                <CTextarea
                  disabled
                  maxlength="49"
                  v-model="editBarcolor.barcolor_name"
                  rows="5"
                />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="mb-2">
                  วันที่ประกาศใช้
                  <span class="text-danger">*</span>
                </span>
              </CCol>
              <CCol md="9" class="mb-2">
                <date-picker
                  v-model="editBarcolor.barcolor_st"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                  disabled
                ></date-picker>
                <!-- <CInput disabled v-model="editBarcolor.barcolor_st" type="da.te" max="3000-12-31" /> -->
              </CCol>

              <CCol md="3">
                <span>วันที่หมดอายุ</span>
              </CCol>
              <CCol md="9" class="mb-2">
                <date-picker
                  v-model="editBarcolor.barcolor_en"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                ></date-picker>
                <!-- <CInput v-model="editBarcolor.barcolor_en" type="da.te" max="3000-12-31" /> -->
              </CCol>
            </CRow>
          </CCol>
          <CCol md="6">
            <CRow>
              <CCol md="12">
                <span>
                  เลือกรูป
                  <span class="text-danger"></span>
                </span>
                <br />
                <input autocomplete="off"
                  disabled
                  type="file"
                  name="filename-edit"
                  id="filename-edit"
                  class="my-2"
                  accept="image/jpeg, image/png"
                  :v-model="editBarcolor.path_pic"
                  @click="showPreviewEdit()"
                  @change="SaveEditImage"
                />
              </CCol>
              <CCol md="12">
                <CCard style="min-height: 400px">
                  <CCardBody>
                    <img id="showImage2" :src="editBarcolor.path_pic" />
                  </CCardBody>
                </CCard>
              </CCol>
            </CRow>
          </CCol>
        </CRow>
        <CRow class="form-group mx-5" v-else>
          <CCol md="6" class="mt-3">
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">ID แถบสี</span>
              </CCol>
              <CCol md="4">
                <CInput disabled v-model="editBarcolor.barcolor_id" />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">Code แถบสี</span>
              </CCol>
              <CCol md="4">
                <input autocomplete="off"
                  @change="CheckEditBarcolorButton"
                  maxlength="1"
                  id="barcolor_cd-edit"
                  class="input-box mb-3"
                  style="text-transform: uppercase !important"
                  v-model="editBarcolor.barcolor_cd"
                />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">รายละเอียด</span>
              </CCol>
              <CCol md="9">
                <CTextarea
                  maxlength="49"
                  v-model="editBarcolor.barcolor_name"
                  rows="5"
                />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="mb-2">
                  วันที่ประกาศใช้
                  <span class="text-danger">*</span>
                </span>
              </CCol>
              <CCol md="9" class="mb-2">
                <date-picker
                  v-model="editBarcolor.barcolor_st"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                ></date-picker>
                <!-- <CInput v-model="editBarcolor.barcolor_st" type="da.te" max="3000-12-31" /> -->
              </CCol>

              <CCol md="3">
                <span>วันที่หมดอายุ</span>
              </CCol>
              <CCol md="9" class="mb-2">
                <date-picker
                  v-model="editBarcolor.barcolor_en"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                ></date-picker>
                <!-- <CInput v-model="editBarcolor.barcolor_en" type="da.te" max="3000-12-31" /> -->
              </CCol>
            </CRow>
          </CCol>
          <CCol md="6">
            <CRow>
              <CCol md="12">
                <span>
                  เลือกรูป
                  <span class="text-danger"></span>
                </span>
                <br />
                <input autocomplete="off"
                  type="file"
                  name="filename-edit"
                  id="filename-edit"
                  class="my-2"
                  accept="image/jpeg, image/png"
                  :v-model="editBarcolor.path_pic"
                  @click="showPreviewEdit()"
                  @change="SaveEditImage"
                />
              </CCol>
              <CCol md="12">
                <CCard style="min-height: 400px">
                  <CCardBody>
                    <img id="showImage2" :src="editBarcolor.path_pic" />
                  </CCardBody>
                </CCard>
              </CCol>
            </CRow>
          </CCol>
        </CRow>
        <template #header>
          <h5 class="modal-title">ดูรายละเอียดแถบสี</h5>
          <CButtonClose @click="openEditModal = false" class="text-white" />
        </template>
        <template #footer>
          <CButton @click="(openEditModal = false), resetData()" color="danger"
            >ยกเลิก</CButton
          >
          <CButton @click="SaveEditBarcolorButton" color="success"
            >บันทึก</CButton
          >
        </template>
      </CModal>
    </div>
    <!-- openViewModal -->
    <CModal
      :show.sync="openViewModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="info"
    >
      <CRow class="form-group mx-5">
        <CCol md="6" class="mt-3">
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ID แถบสี</span>
            </CCol>
            <CCol md="4">
              <CInput disabled v-model="viewBarcolor.barcolor_id" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">Code แถบสี</span>
            </CCol>
            <CCol md="4">
              <CInput
                disabled
                id="barcolor_cd-view"
                style="text-transform: uppercase !important"
                v-model="viewBarcolor.barcolor_cd"
              />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รายละเอียด</span>
            </CCol>
            <CCol md="9">
              <CTextarea
                disabled
                maxlength="49"
                v-model="viewBarcolor.barcolor_name"
                rows="5"
              />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="mb-2"> วันที่ประกาศใช้ </span>
            </CCol>
            <CCol md="9" class="mb-2">
              <date-picker
                v-model="viewBarcolor.barcolor_st"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
                disabled
              ></date-picker>
              <!-- <CInput disabled v-model="viewBarcolor.barcolor_st" type="da.te" max="3000-12-31" /> -->
            </CCol>

            <CCol md="3">
              <span>วันที่หมดอายุ</span>
            </CCol>
            <CCol md="9" class="mb-2">
              <date-picker
                v-model="viewBarcolor.barcolor_en"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
                disabled
              ></date-picker>
              <!-- <CInput disabled v-model="viewBarcolor.barcolor_en" type="da.te" max="3000-12-31" /> -->
            </CCol>
          </CRow>
        </CCol>
        <CCol md="6">
          <CRow>
            <CCol md="12">
              <CCard style="min-height: 400px">
                <CCardBody>
                  <img id="showImage2" :src="viewBarcolor.path_pic" />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">ดูรายละเอียดแถบสี</h5>
        <CButtonClose @click="openViewModal = false" class="text-white" />
      </template>
      <template #footer>
        <CButton @click="openViewModal = false" color="danger">ปิด</CButton>
      </template>
    </CModal>
    <!-- openDeleteModal -->
    <div>
      <CModal
        :show.sync="openDeleteModal"
        :closeOnBackdrop="false"
        :centered="true"
        title="Modal title 2"
        color="danger"
      >
        <CRow class="form-group mx-5">
          <h6>ยืนยันการลบข้อมูลแถบสี ดังต่อไปนี้</h6>
          <CCol md="12">
            <div v-for="i in deleteBarcolor" :key="i.index" class="mb-2">
              <CRow>
                <CCol md="12">
                  รหัส {{ i.barcolor_cd }} {{ i.barcolor_name }}
                </CCol>
              </CRow>
            </div>
          </CCol>
        </CRow>
        <template #header>
          <h5 class="modal-title">ลบข้อมูลแถบสี</h5>
          <CButtonClose @click="openDeleteModal = false" class="text-white" />
        </template>
        <template #footer>
          <CButton
            @click="openDeleteModal = false"
            color="danger"
            variant="ghost"
            >ยกเลิก</CButton
          >
          <CButton @click="DeleteBarcolorButton" color="danger">ลบ</CButton>
        </template>
      </CModal>
    </div>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import { GetObjValJoin, GetDate, FileToBase64 } from "@/shared/utils";
import setupmixin from "@/shared/setupmixin";
import swal from "sweetalert";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import { loadPartialConfig } from "@babel/core";

export default {
  name: "Barcolor",
  data() {
    return {
      HReport: true,
      search: {
        barcolor_id: "",
        barcolor_cd: "",
        txtsearch: "",
      },
      checkItemID: [],

      showTable: false,
      itemsTabs1: true,
      itemsTabs2: false,
      itemsTabs3: false,

      // Active
      dataBarcolor: [],
      CancelBarcolor: [],
      dataActive: [],
      dataBarcolorCount: 0,
      pageA: 1,
      perPageA: 10,
      pagesA: [],

      // InActive
      dataIBarcolor: [],
      dataInactive: [],
      dataIBarcolorCount: 0,
      pageI: 1,
      perPageI: 5,
      pagesI: [],

      // Cancel
      dataCBarcolor: [],
      dataCancel: [],
      dataCBarcolorCount: 0,
      pageC: 1,
      perPageC: 5,
      pagesC: [],

      BarcolorImg: null,
      insert: {
        barcolor_cd: "",
        barcolor_name: "",
        barcolor_st: "",
        barcolorImg: "",
        barcolor_en: "",
      },
      viewBarcolor: {
        barcolor_cd: "",
        barcolor_name: "",
        barcolor_st: "",
        barcolor_en: "",
        barcolor_id: "",
        path_pic: "",
        status: "",
      },
      editBarcolor: {
        barcolor_cd: "",
        barcolor_name: "",
        barcolor_st: "",
        barcolor_en: "",
        barcolor_id: "",
        path_pic: "",
        status: "",
        barcolorImg: "",
      },
      openAddModal: false,
      openEditModal: false,
      openViewModal: false,
      openDeleteModal: false,
      checked: [],
      deleteBarcolor: [],
      maxBarcolorID: 0,
      currentDate: "",
      oldbarcolor_cd: "",
    };
  },
  components: {
    Multiselect,
    DatePicker,
  },
  created() {
    let nowDate = new Date();
    this.currentDate = GetDate(nowDate.setDate(nowDate.getDate()));
    let defaultExDate = "2000-01-01";
    this.insert.barcolor_st = this.currentDate;
    this.insert.barcolor_en = defaultExDate;
  },
  mounted() {
    this.$root.api.Master_s_BarcolorSearchView({
      data: {
        // barcolor_cd: this.search.barcolor_cd,
        // txtsearch: this.search.txtsearch,
      },
      callback: (res) => {
        this.dataBarcolor = res;
        // max barcolor id now
        this.maxBarcolorID = res[res.length - 1].barcolor_id + 1;
      },
    });
  },
  updated() {
    if (this.insert.barcolor_cd == "") {
      $("#barcolor_cd").focus();
    }
    $(document).ready(function() {
      $("#MyTable").DataTable({
        initComplete: function() {
          this.api()
            .columns()
            .every(function() {
              var column = this;
              var select = $('<select><option value=""></option></select>')
                .appendTo($(column.footer()).empty())
                .on("change", function() {
                  var val = $.fn.dataTable.util.escapeRegex($(this).val());
                  //to select and search from grid
                  column.search(val ? "^" + val + "$" : "", true, false).draw();
                });

              column
                .data()
                .unique()
                .sort()
                .each(function(d, j) {
                  select.append('<option value="' + d + '">' + d + "</option>");
                });
            });
        },
      });
    });
  },
  methods: {
    SearchBarcolor() {
      this.dataBarcolorCount = 0;
      this.dataIBarcolorCount = 0;
      this.dataCBarcolorCount = 0;
      this.checked = [];
      this.checkItemID = [];
      this.dataBarcolor = [];
      this.CancelBarcolor = [];
      this.$root.api.Master_s_BarcolorSearchView({
        data: {
          barcolor_cd: this.search.barcolor_cd,
          txtsearch: this.search.txtsearch,
        },
        callback: (res) => {
          if (res.length == 0) {
            swal({
              title: "ผิดพลาด!",
              text: "ไม่พบรายากรแถบสีที่ค้นหา",
              icon: "warning",
              button: "ตกลง",
            });
            this.search = [];
          }
          // max barcolor id now
          this.maxBarcolorID = res[res.length - 1].barcolor_id + 1;
          this.dataBarcolor = res;
          for (let i = 0; i < res.length; i++) {
            if (res[i].status == "A") {
              this.dataBarcolorCount = this.dataBarcolorCount + 1;
            } else if (res[i].status == "I") {
              this.dataIBarcolorCount = this.dataIBarcolorCount + 1;
            } else if (res[i].status == "C") {
              this.dataCBarcolorCount = this.dataCBarcolorCount + 1;
            }
            this.getDataBarcolor();
          }
          this.setPagesActive();
          this.setPagesInactive();
          this.setPagesCancel();
          this.showTable = true;
        },
      });
      this.$root.api.Master_s_BarcolorSearchU({
        data: {
          barcolor_cd: this.search.barcolor_cd,
          txtsearch: this.search.txtsearch,
        },
        callback: (res) => {
          this.CancelBarcolor = res;
          this.getCancelBarcolor();
        },
      });
    },
    getDataBarcolor() {
      this.dataActive = [];
      this.dataInactive = [];

      for (let i = 0; i < this.dataBarcolor.length; i++) {
        if (this.dataBarcolor[i].status == "A") {
          this.dataActive.push({
            barcolor_id: this.dataBarcolor[i].barcolor_id,
            barcolor_cd: this.dataBarcolor[i].barcolor_cd,
            barcolor_name: this.dataBarcolor[i].barcolor_name,
            effdate_en: this.dataBarcolor[i].effdate_en,
            effdate_st: this.dataBarcolor[i].effdate_st,
            path_pic: this.dataBarcolor[i].path_pic,
            status: this.dataBarcolor[i].status,
            user_date: this.dataBarcolor[i].user_date,
            user_id: this.dataBarcolor[i].user_id,
            user_name: this.dataBarcolor[i].user_name,
          });
        } else if (this.dataBarcolor[i].status == "I") {
          this.dataInactive.push({
            barcolor_id: this.dataBarcolor[i].barcolor_id,
            barcolor_cd: this.dataBarcolor[i].barcolor_cd,
            barcolor_name: this.dataBarcolor[i].barcolor_name,
            effdate_en: this.dataBarcolor[i].effdate_en,
            effdate_st: this.dataBarcolor[i].effdate_st,
            path_pic: this.dataBarcolor[i].path_pic,
            status: this.dataBarcolor[i].status,
            user_date: this.dataBarcolor[i].user_date,
            user_id: this.dataBarcolor[i].user_id,
            user_name: this.dataBarcolor[i].user_name,
          });
        }
        //  else if (this.dataBarcolor[i].status == "C") {
        //   this.dataCancel.push({
        //     barcolor_id: this.dataBarcolor[i].barcolor_id,
        //     barcolor_cd: this.dataBarcolor[i].barcolor_cd,
        //     barcolor_name: this.dataBarcolor[i].barcolor_name,
        //     effdate_en: this.dataBarcolor[i].effdate_en,
        //     effdate_st: this.dataBarcolor[i].effdate_st,
        //     path_pic: this.dataBarcolor[i].path_pic,
        //     status: this.dataBarcolor[i].status,
        //     user_date: this.dataBarcolor[i].user_date,
        //     user_id: this.dataBarcolor[i].user_id,
        //     user_name: this.dataBarcolor[i].user_name,
        //   });
        // }
      }
    },
    getCancelBarcolor() {
      this.dataCancel = [];
      for (let i = 0; i < this.CancelBarcolor.length; i++) {
        this.dataCancel.push({
          barcolor_id: this.CancelBarcolor[i].barcolor_id,
          barcolor_cd: this.CancelBarcolor[i].barcolor_cd,
          barcolor_name: this.CancelBarcolor[i].barcolor_name,
          effdate_en: this.CancelBarcolor[i].effdate_en,
          effdate_st: this.CancelBarcolor[i].effdate_st,
          path_pic: this.CancelBarcolor[i].path_pic,
          status: this.CancelBarcolor[i].status,
          user_date: this.CancelBarcolor[i].user_date,
          user_id: this.CancelBarcolor[i].user_id,
          user_name: this.CancelBarcolor[i].user_name,
          cancel_date: this.CancelBarcolor[i].cancel_date,
          cancel_name: this.CancelBarcolor[i].cancel_name,
        });
      }
    },
    setPagesActive() {
      this.pagesA = [];
      let numberOfPages = Math.ceil(this.dataBarcolorCount / this.perPageA);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesA.push(index);
      }
      this.pageA = 1;
    },
    setPagesInactive() {
      this.pagesI = [];
      let numberOfPages = Math.ceil(this.dataIBarcolorCount / this.perPageI);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesI.push(index);
      }
      this.pageI = 1;
    },
    setPagesCancel() {
      this.pagesC = [];
      let numberOfPages = Math.ceil(this.dataCBarcolorCount / this.perPageI);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesC.push(index);
      }
      this.pageC = 1;
    },
    paginate(Active) {
      let pageA = this.pageA;
      let perPageA = this.perPageA;
      let from = pageA * perPageA - perPageA;
      let to = pageA * perPageA;
      return Active.slice(from, to);
    },
    paginateInactive(Inactive) {
      let pageI = this.pageI;
      let perPageI = this.perPageI;
      let from = pageI * perPageI - perPageI;
      let to = pageI * perPageI;
      return Inactive.slice(from, to);
    },
    paginateCancel(Cancel) {
      let pageC = this.pageC;
      let perPageC = this.perPageC;
      let from = pageC * perPageC - perPageC;
      let to = pageC * perPageC;
      return Cancel.slice(from, to);
    },
    showPreview() {
      document.getElementById("showImage").removeAttribute("src");
      var filename = document.getElementById("filename");
      filename.onchange = function() {
        var files = filename.files[0];
        var reader = new FileReader();
        reader.readAsDataURL(files);
        reader.onload = function() {
          var result = reader.result;
          document.getElementById("showImage").src = result;
        };
      };
    },
    showPreviewEdit() {
      var filename = document.getElementById("filename-edit");
      filename.onchange = function() {
        var files = filename.files[0];
        var reader = new FileReader();
        reader.readAsDataURL(files);
        reader.onload = function() {
          var result = reader.result;
          document.getElementById("showImage2").src = result;
        };
      };
    },
    SaveImage(event) {
      if (event.target.files.length) {
        let file = event.target.files[0];
        if (
          file &&
          (/^image[/]jpeg/.test(file.type) || /^image[/]png/.test(file.type))
        ) {
          FileToBase64(file).then((pic) => {
            this.insert.barcolorImg = pic;
            return;
          });
        }
        this.BarcolorImg = null;
      }
    },
    checkItems(val) {
      this.checkItemID = $("input[type=checkbox][name=Choosed]:checked")
        .map(function(_, el) {
          return $(el).val();
        })
        .get();
    },
    EditBarcolorButton() {
      this.openEditModal = true;
      var x = this.checkItemID[0];
      this.$root.api.Master_s_BarcolorSearchID({
        data: {
          barcolor_id: x,
        },
        callback: (res) => {
          this.editBarcolor.barcolor_id = res[0].barcolor_id;
          this.editBarcolor.barcolor_cd = res[0].barcolor_cd;
          this.editBarcolor.barcolor_name = res[0].barcolor_name.trim();
          this.editBarcolor.barcolor_st = res[0].effdate_st.split("T")[0];
          this.editBarcolor.barcolor_en = res[0].effdate_en.split("T")[0];
          this.editBarcolor.path_pic =
            "http://masterdatadev.kkfnets.com" + res[0].path_pic;
          this.editBarcolor.barcolorImg = res[0].path_pic;
          this.editBarcolor.status = res[0].status;
          this.oldbarcolor_cd = res[0].barcolor_cd;
          $("#barcolor_cd-edit").focus();
        },
      });
    },
    ViewBarcolorButton() {
      this.openViewModal = true;
      var x = this.checkItemID[0];
      this.$root.api.Master_s_BarcolorSearchID({
        data: {
          barcolor_id: x,
        },
        callback: (res) => {
          this.viewBarcolor.barcolor_id = res[0].barcolor_id;
          this.viewBarcolor.barcolor_cd = res[0].barcolor_cd;
          this.viewBarcolor.barcolor_name = res[0].barcolor_name.trim();
          this.viewBarcolor.barcolor_st = res[0].effdate_st.split("T")[0];
          this.viewBarcolor.barcolor_en = res[0].effdate_en.split("T")[0];
          this.viewBarcolor.path_pic =
            "http://masterdatadev.kkfnets.com" + res[0].path_pic;
          this.viewBarcolor.status = res[0].status;
        },
      });
    },
    SaveEditImage(event) {
      if (event.target.files.length) {
        let file = event.target.files[0];
        if (
          file &&
          (/^image[/]jpeg/.test(file.type) || /^image[/]png/.test(file.type))
        ) {
          FileToBase64(file).then((pic) => {
            this.editBarcolor.barcolorImg = pic;
            return;
          });
        } else {
        }
        // this.file = null;
      }
    },
    CheckEditBarcolorButton() {
      if (this.editBarcolor.barcolor_cd != "") {
        this.$root.api.Master_s_BarcolorSearchView({
          data: {
            barcolor_cd: this.editBarcolor.barcolor_cd,
          },
          callback: (res) => {
            if (res.length != 0) {
              swal({
                title: "Code แถบสีซ้ำ!",
                text: "ไม่สามารถใช้ Code แถบสี นี้ได้",
                icon: "error",
                button: "ตกลง",
              });
              $("#barcolor_cd-edit").focus();
              this.editBarcolor.barcolor_cd = this.oldbarcolor_cd;
            }
          },
        });
      }
    },
    SaveEditBarcolorButton() {
      var itemCode = "";
      if (
        this.editBarcolor.barcolor_en == "2000-01-01" ||
        (this.editBarcolor.barcolor_en > this.currentDate &&
          this.editBarcolor.barcolor_en > this.editBarcolor.barcolor_st)
      ) {
        if (this.editBarcolor.barcolor_name != "") {
          this.$root.api.Master_s_BarcolorSave({
            data: {
              barcolor_id: this.editBarcolor.barcolor_id,
              barcolor_cd: this.editBarcolor.barcolor_cd.toUpperCase(),
              barcolor_name: this.editBarcolor.barcolor_name,
              effdate_en: this.editBarcolor.barcolor_en,
              effdate_st: this.editBarcolor.barcolor_st,
              path_pic: this.editBarcolor.barcolorImg,
              status: "A",
              user_id: localStorage.getItem("UserID"),
              user_name: localStorage.getItem("User"),
            },
            callback: (res) => {
              if (res.status == "S") {
                swal({
                  title: "สำเร็จ",
                  text: "บันทึกข้อมูลแถบสีเสร็จสิ้น",
                  icon: "success",
                  button: "ตกลง",
                });
              } else if (res.status == "F") {
                swal({
                  title: "ผิดพลาด!",
                  text: "ไม่สามารถบันทึกข้อมูลแถบสีได้",
                  icon: "error",
                  button: "ตกลง",
                });
              }
              this.resetData();
              this.SearchBarcolor();
              this.openEditModal = false;
            },
          });
        } else {
          swal({
            title: "ผิดพลาด",
            text: "กรุณากรอกข้อมูลรายละเอียดแถบสี",
            icon: "error",
            button: "ตกลง",
          });
        }
      } else {
        swal({
          title: "ข้อมูลไม่ถูกต้อง!",
          text: "วันหมดอายุจะต้องมากกว่าวันที่ประกาศใช้และวันปัจจุบัน",
          icon: "error",
          button: "ตกลง",
        });
      }
    },
    DeleteView() {
      this.openDeleteModal = true;
      var x = this.checkItemID[0];
      this.$root.api.Master_s_BarcolorSearchID({
        data: {
          barcolor_id: x,
        },
        callback: (res) => {
          this.deleteBarcolor = res;
        },
      });
    },
    DeleteBarcolorButton() {
      var x = this.deleteBarcolor[0].barcolor_id;
      this.$root.api.Master_s_CanvasnBarSearchUsed({
        data: {
          barcolor_id: x,
        },
        callback: (res) => {
          if (res.length >= 1) {
            swal({
              title: "ผิดพลาด!",
              text:
                "ไม่สามารถลบข้อมูลผ้าใบได้ เนื่องจากได้นำไปใช้ที่ \nหน้าจอบันทึกความสัมพันธ์ผ้าใบและแถบสีแล้ว",
              icon: "error",
              button: "ตกลง",
            });
            this.openDeleteModal = false;
          } else {
            this.$root.api.Master_s_BarcolorMove({
              data: {
                barcolor_move: [
                  {
                    barcolor_id: this.deleteBarcolor[0].barcolor_id,
                    barcolor_cd: this.deleteBarcolor[0].barcolor_cd,
                    user_id: localStorage.getItem("UserID"),
                    user_name: localStorage.getItem("User"),
                  },
                ],
              },
              callback: (res) => {
                if (res[0].status == "S") {
                  swal({
                    title: "สำเร็จ",
                    text: "ลบข้อมูลแถบสีเสร็จสิ้น",
                    icon: "success",
                    button: "ตกลง",
                  });
                } else {
                  swal({
                    title: "ผิดพลาด!",
                    text: "ไม่สามารถลบข้อมูลแถบสีได้",
                    icon: "error",
                    button: "ตกลง",
                  });
                }
                this.openDeleteModal = false;
                this.SearchBarcolor();
              },
            });
          }
        },
      });
    },
    CheckInsertBarcolorButton() {
      this.$root.api.Master_s_BarcolorSearchView({
        data: {
          barcolor_cd: this.insert.barcolor_cd,
        },
        callback: (res) => {
          if (res.length != 0) {
            swal({
              title: "Code แถบสีซ้ำ!",
              text: "ไม่สามารถใช้ Code แถบสี นี้ได้",
              icon: "error",
              button: "ตกลง",
            });
            $("#barcolor_cd").focus();
          }
        },
      });
    },
    InsertBarcolorButton() {
      if (
        this.insert.barcolor_en == "2000-01-01" ||
        (this.insert.barcolor_en > this.currentDate &&
          this.insert.barcolor_en > this.insert.barcolor_st)
      ) {
        if (this.insert.barcolor_name != "") {
          this.$root.api.Master_s_BarcolorSave({
            data: {
              barcolor_cd: this.insert.barcolor_cd.toUpperCase(),
              barcolor_name: this.insert.barcolor_name,
              effdate_en: this.insert.barcolor_en,
              effdate_st: this.insert.barcolor_st,
              path_pic: this.insert.barcolorImg,
              status: "A",
              user_id: localStorage.getItem("UserID"),
              user_name: localStorage.getItem("User"),
            },
            callback: (res) => {
              if (res.status == "S") {
                swal({
                  title: "สำเร็จ",
                  text: "บันทึกข้อมูลแถบสีเสร็จสิ้น",
                  icon: "success",
                  button: "ตกลง",
                });
              } else if (res.status == "F") {
                swal({
                  title: "ผิดพลาด!",
                  text: "ไม่สามารถบันทึกข้อมูลแถบสีได้",
                  icon: "error",
                  button: "ตกลง",
                });
              }
              this.resetData();
              this.SearchBarcolor();
              this.openAddModal = false;
            },
          });
        } else {
          swal({
            title: "ผิดพลาด",
            text: "กรุณากรอกข้อมูลรายละเอียดแถบสี",
            icon: "error",
            button: "ตกลง",
          });
        }
      } else {
        swal({
          title: "ข้อมูลไม่ถูกต้อง!",
          text: "วันหมดอายุจะต้องมากกว่าวันที่ประกาศใช้และวันปัจจุบัน",
          icon: "error",
          button: "ตกลง",
        });
      }
    },
    resetData() {
      this.insert.barcolorImg = "";
      this.insert.barcolor_cd = "";
      this.insert.barcolor_name = "";
      document.getElementById("filename").value = "";
      document.getElementById("showImage").removeAttribute("src");
      document.getElementById("filename-edit").value = "";
      this.insert.barcolor_st = this.currentDate;
      this.insert.barcolor_en = "2000-01-01";
    },
  },
  computed: {
    displayedPostsActive() {
      return this.paginate(this.dataActive);
    },
    displayedPostsInactive() {
      return this.paginateInactive(this.dataInactive);
    },
    displayedPostsCancel() {
      return this.paginateCancel(this.dataCancel);
    },
  },
  watch: {
    Active() {
      this.setPagesActive();
    },
    Inactive() {
      this.setPagesIntive();
    },
    Cancel() {
      this.setPagesCancel();
    },
  },
};
</script>

<style scoped></style>
