<template>
  <div>
    <CCard class="card-content">
      <CCardHeader class="card-header ">
        <h4 id="" class="mt-0 mb-0">
          การบันทึก/แก้ไข ถุงบรรจุสินค้า
        </h4>
      </CCardHeader>
      <CCardBody
        ><CRow class="mx-1" v-if="HReport == true">
          <CCol md="6">
            <CRow class="form-group">
              <CCol md="6" class="my-1">
                <span>รหัสถุง</span>
                <input
                  autocomplete="off"
                  v-model="search.bag_cd"
                  style="text-transform: uppercase !important"
                  maxlength="2"
                  class="input-box"
                  onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)"
                  @keyup.enter="SearchData"
                />
              </CCol>
              <CCol md="6" class="my-1">
                <span>รายละเอียด</span>
                <input
                  autocomplete="off"
                  v-model="search.txtsearch"
                  style="text-transform: uppercase !important"
                  class="input-box"
                  @keyup.enter="SearchData"
                />
              </CCol>
            </CRow>
          </CCol>
          <CCol md="1">
            <CRow class="">
              <CButton class="mt-4" color="info" block @click="SearchData">
                <CIcon name="cil-magnifying-glass" /> ค้นหา
              </CButton>
            </CRow>
          </CCol>
        </CRow>
        <!-- //? ACTION BTN -->
        <CRow class="mx-3">
          <CButton
            class="mt-1 mr-3"
            color="success"
            @click="openAddModal = true"
          >
            <i class="fa fa-plus"></i>
            เพิ่ม
          </CButton>
          <CButton
            class="mt-1 mr-3 text-white"
            color="warning"
            @click="EditView()"
            v-if="checkedItem > 0 && itemsTabs1 == true"
          >
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton class="mt-1 mr-3 text-white" color="warning" disabled v-else>
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="info"
            @click="ViewButton"
            v-if="checkedItem > 0"
          >
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton class="mt-1 mr-3" color="info" disabled v-else>
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="danger"
            @click="DeleteButton"
            v-if="checkedItem > 0 && itemsTabs3 == false"
          >
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton class="mt-1 mr-3 " color="danger" disabled v-else>
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton
            variant="outline"
            color="secondary"
            class="mt-1 mr-3"
            :pressed.sync="HReport"
            >{{ HReport ? "ซ่อน" : "แสดง" }}เงื่อนไข</CButton
          >
        </CRow>
        <!-- //? ACTION BTN -->
      </CCardBody>
      <hr class="my-0" />
      <CCardBody>
        <CNav variant="tabs">
          <CNavItem v-model="itemsTabs1" active>
            <CButton
              @click="
                (itemsTabs1 = true),
                  (itemsTabs2 = false),
                  (itemsTabs3 = false),
                  resetCheck()
              "
              >ข้อมูลถุงบรรจุสินค้า Active</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs2">
            <CButton
              @click="
                (itemsTabs2 = true),
                  (itemsTabs1 = false),
                  (itemsTabs3 = false),
                  resetCheck()
              "
              >ข้อมูลถุงบรรจุสินค้าที่หมดอายุ Inactive</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs3">
            <CButton
              @click="
                (itemsTabs3 = true),
                  (itemsTabs1 = false),
                  (itemsTabs2 = false),
                  resetCheck()
              "
              >ข้อมูลถุงบรรจุสินค้าที่ถูกลบ</CButton
            >
          </CNavItem>
        </CNav>
        <!-- //? TABLE -->
        <CCard>
          <CCardBody style="overflow-x: auto">
            <div v-if="itemsTabs1 === true">
              <form>
                <div class="offset my-3">
                  <label for="selectPageA">แสดง</label>
                  <select
                    class="mx-1 selectPage-box"
                    name="selectPageA"
                    id="selectPageA"
                    v-model="perPageA"
                    @click="setPagesActive()"
                  >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">แสดงทั้งหมด</option>
                  </select>
                  <label for="selectPage">/ {{ dataActiveCount }} รายการ</label>
                </div>
              </form>
              <table class="table styled-table">
                <thead class="tableTab1">
                  <tr class>
                    <th scope="col" class="text-center">เลือก</th>
                    <th scope="col">รหัสถุง</th>
                    <th scope="col">รายละเอียดภาษาไทย</th>
                    <th scope="col">รายละเอียดภาษาอังกฤษ</th>
                    <th scope="col">รหัสเก่า</th>
                    <th scope="col">กว้าง (ซม.)</th>
                    <th scope="col">ยาว (ซม.)</th>
                    <th scope="col">แสดงขนาดถุงที่เคยสั่งผลิต</th>
                    <th scope="col">วันที่ประกาศใช้</th>
                    <th scope="col">วันหมดอายุ</th>
                    <th scope="col">ผู้บันทึก</th>
                    <th scope="col">วันที่บันทึก</th>
                  </tr>
                </thead>
                <tbody v-for="p in displayedPostsActive" :key="p.bag_id">
                  <tr>
                    <th scope="row" class="text-center">
                      <input
                        autocomplete="off"
                        :value="p.bag_id"
                        v-model="checked"
                        type="checkbox"
                        name="Choosed"
                        id="Choosed"
                        @click="checkItems(p.bag_id)"
                      />
                    </th>
                    <td class="td-fontsize">{{ p.bag_cd }}</td>
                    <td class="td-fontsize">{{ p.bag_name_th }}</td>
                    <td class="td-fontsize">{{ p.bag_name_en }}</td>
                    <td class="td-fontsize">{{ p.bag_cd_old }}</td>
                    <td class="td-fontsize">
                      {{
                        p.width.toLocaleString(undefined, {
                          minimumFractionDigits: 2,
                          maximumFractionDigits: 2,
                        })
                      }}
                    </td>
                    <td class="td-fontsize ">
                      {{
                        p.length.toLocaleString(undefined, {
                          minimumFractionDigits: 2,
                          maximumFractionDigits: 2,
                        })
                      }}
                    </td>
                    <td class="td-fontsize text-center">
                      <CButton
                        color="info"
                        shape="pill"
                        variant="outline"
                        @click="
                          LastOrderBaView(
                            p.bag_id,
                            p.bag_cd,
                            p.bag_cd_old,
                            p.bag_name_th
                          )
                        "
                        >แสดง</CButton
                      >
                    </td>
                    <td class="td-fontsize">
                      {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                    </td>
                    <td
                      class="td-fontsize"
                      v-if="p.effdate_en == '2000-01-01T00:00:00'"
                    >
                      ไม่กำหนด
                    </td>
                    <td class="td-fontsize" v-else>
                      {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                    </td>
                    <td class="td-fontsize">{{ p.user_name }}</td>
                    <td class="td-fontsize">
                      {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <CButton
                      type="button"
                      color="primary"
                      v-if="pageA != 1"
                      @click="pageA--"
                      >Previous</CButton
                    >
                    <CButton type="button" class="page-link" v-else disabled
                      >Previous</CButton
                    >
                  </li>
                  <li class="page-item">
                    <CButton
                      type="button"
                      @click="pageA++"
                      color="primary"
                      v-if="pageA < pagesA.length"
                      >Next</CButton
                    >
                    <CButton type="button" v-else disabled class="page-link"
                      >Next</CButton
                    >
                  </li>
                </ul>
              </nav>
            </div>
            <div v-if="itemsTabs2 === true">
              <form>
                <div class="offset my-3">
                  <label for="selectPageI">แสดง</label>
                  <!--		Show Numbers Of Rows 		-->
                  <select
                    class="mx-1 selectPage-box"
                    name="selectPageI"
                    id="selectPageI"
                    v-model="perPageI"
                    @click="setPagesIntive()"
                  >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">แสดงทั้งหมด</option>
                  </select>
                  <label for="selectPage"
                    >/ {{ dataInactiveCount }} รายการ</label
                  >
                </div>
              </form>
              <table class="table styled-table">
                <thead class="tableTab2">
                  <tr class>
                    <th scope="col" class="text-center">เลือก</th>
                    <th scope="col">รหัสถุง</th>
                    <th scope="col">รายละเอียดภาษาไทย</th>
                    <th scope="col">รายละเอียดภาษาอังกฤษ</th>
                    <th scope="col">รหัสเก่า</th>
                    <th scope="col">กว้าง (ซม.)</th>
                    <th scope="col">ยาว (ซม.)</th>
                    <th scope="col">แสดงขนาดถุงที่เคยสั่งผลิต</th>
                    <th scope="col">วันที่ประกาศใช้</th>
                    <th scope="col">วันหมดอายุ</th>
                    <th scope="col">ผู้บันทึก</th>
                    <th scope="col">วันที่บันทึก</th>
                  </tr>
                </thead>
                <tbody v-for="p in displayedPostsInactive" :key="p.bag_id">
                  <tr>
                    <th scope="row" class="text-center">
                      <input
                        autocomplete="off"
                        :value="p.bag_id"
                        v-model="checked"
                        type="checkbox"
                        name="Choosed"
                        id="Choosed"
                        @click="checkItems(p.bag_id)"
                      />
                    </th>
                    <td class="td-fontsize">{{ p.bag_cd }}</td>
                    <td class="td-fontsize">{{ p.bag_name_th }}</td>
                    <td class="td-fontsize">{{ p.bag_name_en }}</td>
                    <td class="td-fontsize">{{ p.bag_cd_old }}</td>
                    <td class="td-fontsize">
                      {{
                        p.width.toLocaleString(undefined, {
                          minimumFractionDigits: 2,
                          maximumFractionDigits: 2,
                        })
                      }}
                    </td>
                    <td class="td-fontsize">
                      {{
                        p.length.toLocaleString(undefined, {
                          minimumFractionDigits: 2,
                          maximumFractionDigits: 2,
                        })
                      }}
                    </td>
                    <td class="td-fontsize text-center">
                      <CButton
                        color="info"
                        shape="pill"
                        variant="outline"
                        @click="
                          LastOrderBaView(
                            p.bag_id,
                            p.bag_cd,
                            p.bag_cd_old,
                            p.bag_name_th
                          )
                        "
                        >แสดง</CButton
                      >
                    </td>
                    <td class="td-fontsize">
                      {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                    </td>
                    <td
                      class="td-fontsize"
                      v-if="p.effdate_en == '2000-01-01T00:00:00'"
                    >
                      ไม่กำหนด
                    </td>
                    <td class="td-fontsize" v-else>
                      {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                    </td>
                    <td class="td-fontsize">{{ p.user_name }}</td>
                    <td class="td-fontsize">
                      {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <CButton
                      type="button"
                      class="text-info"
                      v-if="pageI != 1"
                      @click="pageI--"
                      >Previous</CButton
                    >
                    <CButton type="button" class="text-info" v-else disabled
                      >Previous</CButton
                    >
                  </li>
                  <li class="page-item">
                    <CButton
                      type="button"
                      @click="pageI++"
                      v-if="pageI < pagesI.length"
                      class="text-info"
                      >Next</CButton
                    >
                    <CButton type="button" v-else disabled class="text-info"
                      >Next</CButton
                    >
                  </li>
                </ul>
              </nav>
            </div>
            <div v-if="itemsTabs3 === true">
              <form>
                <div class="offset my-3">
                  <label for="selectPage">แสดง</label>
                  <!--		Show Numbers Of Rows 		-->
                  <select
                    class="mx-1 selectPage-box"
                    name="selectPage"
                    id="selectPage"
                    v-model="perPageC"
                    @click="setPagesCancel()"
                  >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">แสดงทั้งหมด</option>
                  </select>
                  <label for="selectPage">/ {{ dataCancelCount }} รายการ</label>
                </div>
              </form>
              <table class="table styled-table">
                <thead class="tableTab3">
                  <tr class>
                    <th scope="col" class="text-center">เลือก</th>
                    <th scope="col">รหัสถุง</th>
                    <th scope="col">รายละเอียดภาษาไทย</th>
                    <th scope="col">รายละเอียดภาษาอังกฤษ</th>
                    <th scope="col">รหัสเก่า</th>
                    <th scope="col">กว้าง (ซม.)</th>
                    <th scope="col">ยาว (ซม.)</th>
                    <th scope="col">แสดงขนาดถุงที่เคยสั่งผลิต</th>
                    <th scope="col">วันที่ประกาศใช้</th>
                    <th scope="col">วันหมดอายุ</th>
                    <th scope="col">ผู้ยกเลิก</th>
                    <th scope="col">วันที่ยกเลิก</th>
                  </tr>
                </thead>
                <tbody v-for="p in displayedPostsCancel" :key="p.bag_id">
                  <tr>
                    <th scope="row" class="text-center">
                      <input
                        autocomplete="off"
                        :value="p.bag_id"
                        v-model="checked"
                        type="checkbox"
                        name="Choosed"
                        id="Choosed"
                        @click="checkItems(p.bag_id)"
                      />
                    </th>
                    <td class="td-fontsize">{{ p.bag_cd }}</td>
                    <td class="td-fontsize">{{ p.bag_name_th }}</td>
                    <td class="td-fontsize">{{ p.bag_name_en }}</td>
                    <td class="td-fontsize">{{ p.bag_cd_old }}</td>
                    <td class="td-fontsize">
                      {{
                        p.width.toLocaleString(undefined, {
                          minimumFractionDigits: 2,
                          maximumFractionDigits: 2,
                        })
                      }}
                    </td>
                    <td class="td-fontsize">
                      {{
                        p.length.toLocaleString(undefined, {
                          minimumFractionDigits: 2,
                          maximumFractionDigits: 2,
                        })
                      }}
                    </td>
                    <td class="td-fontsize text-center">
                      <CButton
                        color="secondary"
                        shape="pill"
                        variant="outline"
                        disabled
                        @click="
                          LastOrderBaView(
                            p.bag_id,
                            p.bag_cd,
                            p.bag_cd_old,
                            p.bag_name_th
                          )
                        "
                        >แสดง</CButton
                      >
                    </td>
                    <td class="td-fontsize">
                      {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                    </td>
                    <td
                      class="td-fontsize"
                      v-if="p.effdate_en == '2000-01-01T00:00:00'"
                    >
                      ไม่กำหนด
                    </td>
                    <td class="td-fontsize" v-else>
                      {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                    </td>
                    <td class="td-fontsize">{{ p.cancel_name }}</td>
                    <td class="td-fontsize">
                      {{ new Date(p.cancel_date).toLocaleDateString("en-GB") }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <CButton
                      type="button"
                      class="text-danger"
                      v-if="pageC != 1"
                      @click="pageC--"
                      >Previous</CButton
                    >
                    <CButton type="button" class="text-danger" v-else disabled
                      >Previous</CButton
                    >
                  </li>
                  <li class="page-item">
                    <CButton
                      type="button"
                      @click="pageC++"
                      v-if="pageC < pagesC.length"
                      class="text-danger"
                      >Next</CButton
                    >
                    <CButton type="button" v-else disabled class="text-danger"
                      >Next</CButton
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </CCardBody>
        </CCard>
        <!-- //? TABLE -->
      </CCardBody>
      <CCardFooter>
        <CRow class>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-if="itemsTabs3 == true">
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_u_bag
          </CCol>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-else>
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_s_bag
          </CCol>
        </CRow>
      </CCardFooter>
    </CCard>

    <!-- openAddModal -->
    <CModal
      :show.sync="openAddModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="success"
    >
      <CRow class="form-group mx-5">
        <CCol md="6">
          <CRow>
            <CCol md="5" class="mt-3">
              <span>
                รหัสถุง
                <span class="text-danger">*</span>
              </span>
              <input
                autocomplete="off"
                id="bag_cd"
                ref="bag_cd"
                v-model="insertData.bag_cd"
                style="text-transform: uppercase"
                class="input-box"
                maxlength="2"
                onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)"
                @change="CheckDupCode()"
              />
            </CCol>
          </CRow>
          <CRow>
            <CCol md="10" class="mt-3">
              <span>
                รายละเอียดถุงภาษาไทย
                <span class="text-danger">*</span>
              </span>
              <input
                autocomplete="off"
                id="bag_name_th"
                v-model="insertData.bag_name_th"
                class="input-box"
              />
            </CCol>
          </CRow>
          <CRow>
            <CCol md="10" class="mt-3">
              <span>
                รายละเอียดถุงภาษาอังกฤษ
                <span class="text-danger">*</span>
              </span>
              <input
                autocomplete="off"
                id="bag_name_en"
                v-model="insertData.bag_name_en"
                class="input-box"
                onkeypress="return (event.charCode > 64 && 
event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 )"
              />
            </CCol>
          </CRow>
          <CRow class="mt-3">
            <CCol md="6">
              <span>
                วันที่ประกาศใช้
              </span>
              <date-picker
                v-model="insertData.effdate_st"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
            </CCol>
            <CCol md="6">
              <span>วันที่หมดอายุ</span>
              <date-picker
                v-model="insertData.effdate_en"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
            </CCol>
          </CRow>
          <CRow>
            <CCol md="10" class="mt-2">
              <span style="font-size: 14px"> ขนาดถุง </span>
              <CRow>
                <CCol md="6">
                  <span class=""
                    >ความกว้าง (cm)<span class="text-danger"> *</span></span
                  >
                  <input
                    autocomplete="off"
                    id="sizeWidth"
                    type="number"
                    placeholder="0.00"
                    step="0.01"
                    v-model="insertData.width"
                    pattern="[0-9]"
                    class="input-box"
                  />
                </CCol>
                <CCol md="6">
                  <span class=""
                    >ความยาว (cm)<span class="text-danger"> *</span></span
                  >
                  <input
                    autocomplete="off"
                    id="sizeLength"
                    type="number"
                    placeholder="0.00"
                    step="0.01"
                    v-model="insertData.length"
                    class="input-box"
                  />
                </CCol>
              </CRow>
            </CCol>
          </CRow>
          <CRow>
            <CCol md="4" class="mt-2">
              <span>รหัสถุงเก่า</span>
              <input
              style="text-transform: uppercase"
              maxlength="2"
                autocomplete="off"
                id="bag_codr_old"
                onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)"
                v-model="insertData.bag_cd_old"
                class="input-box"
              />
            </CCol>
          </CRow>
        </CCol>
        <CCol md="6">
          <CRow>
            <CCol md="12">
              <span>
                เลือกรูปภาพ
              </span>
              <br />
              <input
                autocomplete="off"
                type="file"
                name="filename"
                id="filename"
                class="my-2"
                accept="image/jpeg, image/png"
                :v-model="insertData.path_pic"
                @click="showPreview()"
                @change="SaveImage"
              />
            </CCol>
            <CCol md="12">
              <CCard style="min-height: 400px">
                <CCardBody v-if="insertData.path_pic == ''">
                  <img id="showImage" />
                </CCardBody>
                <CCardBody v-else>
                  <img id="showImage" />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">เพิ่มข้อมูลถุงบรรจุสินค้า</h5>
        <CButtonClose
          @click="(openAddModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openAddModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
        <CButton @click="InsertSaveButton()" color="success">บันทึก</CButton>
      </template>
    </CModal>

    <!-- openEditModal -->
    <CModal
      :show.sync="openEditModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="warning"
    >
      <CRow class="form-group mx-5" v-if="old_effdate_st < nowDate">
        <h5 class="text-danger">
          * ไม่สามารถแก้ไขได้ เนื่องจากมีวันประกาศใช้ไปแล้ว
          แก้ไขได้เฉพาะวันที่หมดอายุ
        </h5>
        <CCol md="6">
          <CRow>
            <CCol md="5" class="mt-3">
              <span>
                รหัสถุง
              </span>
              <CInput
                autocomplete="off"
                id="bag_cd_edit"
                ref="bag_cd"
                v-model="EditData.bag_cd"
                style="text-transform: uppercase"
                disabled
              />
            </CCol>
          </CRow>
          <CRow>
            <CCol md="10" class="mt-3">
              <span>
                รายละเอียดถุงภาษาไทย
              </span>
              <CInput
                autocomplete="off"
                id="bag_name_th_edit"
                v-model="EditData.bag_name_th"
                disabled
              />
            </CCol>
          </CRow>
          <CRow>
            <CCol md="10" class="mt-3">
              <span>
                รายละเอียดถุงภาษาอังกฤษ
              </span>
              <CInput
                autocomplete="off"
                id="bag_name_en-edit"
                v-model="EditData.bag_name_en"
                disabled
              />
            </CCol>
          </CRow>
          <CRow class="mt-3">
            <CCol md="6">
              <span>
                วันที่ประกาศใช้
              </span>
              <date-picker
                v-model="EditData.effdate_st"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
                disabled
              ></date-picker>
            </CCol>
            <CCol md="6">
              <span>วันที่หมดอายุ</span>
              <date-picker
                v-model="EditData.effdate_en"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
            </CCol>
          </CRow>
          <CRow>
            <CCol md="10" class="mt-2">
              <span style="font-size: 14px"> ขนาดถุง </span>
              <CRow>
                <CCol md="6">
                  <span class="">ความกว้าง (cm)</span>
                  <CInput
                    autocomplete="off"
                    id="sizeWidth"
                    type="number"
                    placeholder="0.00"
                    step="0.01"
                    v-model="EditData.width"
                    pattern="[0-9]"
                    disabled
                  />
                </CCol>
                <CCol md="6">
                  <span class="">ความยาว (cm)</span>
                  <CInput
                    autocomplete="off"
                    id="sizeLength"
                    type="number"
                    placeholder="0.00"
                    step="0.01"
                    v-model="EditData.length"
                    disabled
                  />
                </CCol>
              </CRow>
            </CCol>
          </CRow>
          <CRow>
            <CCol md="4" class="mt-2">
              <span>รหัสถุงเก่า</span>
              <CInput
              maxlength="2"
                autocomplete="off"
                id="bag_cd_old_edit"
                v-model="EditData.bag_cd_old"
                disabled
              />
            </CCol>
          </CRow>
        </CCol>
        <CCol md="6">
          <CRow>
            <CCol md="12">
              <CCard style="min-height: 400px">
                <CCardBody>
                  <img
                    id="showImage2"
                    :src="
                      'http://masterdatadev.kkfnets.com' + EditData.path_pic
                    "
                  />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <CRow class="form-group mx-5" v-else>
        <CCol md="6">
          <CRow>
            <CCol md="5" class="mt-3">
              <span>
                รหัสถุง
              </span>
              <input
                autocomplete="off"
                id="bag_cd_edit"
                ref="bag_cd"
                v-model="EditData.bag_cd"
                style="text-transform: uppercase"
                class="input-box"
                maxlength="2"
                onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)"
                @change="CheckDupCode()"
              />
            </CCol>
          </CRow>
          <CRow>
            <CCol md="10" class="mt-3">
              <span>
                รายละเอียดถุงภาษาไทย
              </span>
              <input
                autocomplete="off"
                id="bag_name_th_edit"
                v-model="EditData.bag_name_th"
                class="input-box"
              />
            </CCol>
          </CRow>
          <CRow>
            <CCol md="10" class="mt-3">
              <span>
                รายละเอียดถุงภาษาอังกฤษ
              </span>
              <input
                autocomplete="off"
                id="bag_name_en-edit2"
                v-model="EditData.bag_name_en"
                class="input-box"
                onkeypress="return (event.charCode > 64 && 
event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 )"
              />
            </CCol>
          </CRow>
          <CRow class="mt-3">
            <CCol md="6">
              <span>
                วันที่ประกาศใช้
              </span>
              <date-picker
                v-model="EditData.effdate_st"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
            </CCol>
            <CCol md="6">
              <span>วันที่หมดอายุ</span>
              <date-picker
                v-model="EditData.effdate_en"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
            </CCol>
          </CRow>
          <CRow>
            <CCol md="10" class="mt-2">
              <span style="font-size: 14px"> ขนาดถุง </span>
              <CRow>
                <CCol md="6">
                  <span class="">ความกว้าง (cm)</span>
                  <input
                    autocomplete="off"
                    id="sizeWidth"
                    type="number"
                    placeholder="0.00"
                    step="0.01"
                    v-model="EditData.width"
                    pattern="[0-9]"
                    class="input-box"
                  />
                </CCol>
                <CCol md="6">
                  <span class="">ความยาว (cm)</span>
                  <input
                    autocomplete="off"
                    id="sizeLength"
                    type="number"
                    placeholder="0.00"
                    step="0.01"
                    v-model="EditData.length"
                    class="input-box"
                  />
                </CCol>
              </CRow>
            </CCol>
          </CRow>
          <CRow>
            <CCol md="4" class="mt-2">
              <span>รหัสถุงเก่า</span>
              <input
              style="text-transform: uppercase"
              maxlength="2"
                autocomplete="off"
                id="bag_cd_old_edit"
                onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)"
                v-model="EditData.bag_cd_old"
                class="input-box"
              />
            </CCol>
          </CRow>
        </CCol>
        <CCol md="6">
          <CRow>
            <CCol md="12">
              <span>
                เลือกรูปภาพ
              </span>
              <br />
              <input
                autocomplete="off"
                type="file"
                name="filename"
                id="filename-edit"
                class="my-2"
                accept="image/jpeg, image/png"
                :v-model="EditData.path_pic"
                @click="showPreviewEdit()"
                @change="SaveEditImage"
              />
            </CCol>
            <CCol md="12">
              <CCard style="min-height: 400px">
                <CCardBody v-if="EditData.path_pic == ''">
                  <img id="showImage" />
                </CCardBody>
                <CCardBody v-else>
                  <img id="showImage2" :src="EditData.path_pic" />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">แก้ไขข้อมูลถุงบรรจุสินค้า</h5>
        <CButtonClose
          @click="(openEditModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openEditModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
        <CButton @click="EditSaveButton()" color="success">บันทึก</CButton>
      </template>
    </CModal>

    <!-- openViewModal -->
    <CModal
      :show.sync="openViewModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="info"
    >
      <CRow class="form-group mx-5">
        <CCol md="6">
          <CRow>
            <CCol md="5" class="mt-3">
              <span>
                รหัสถุง
              </span>
              <CInput
                autocomplete="off"
                ref="bag_cd"
                v-model="ViewData.bag_cd"
                style="text-transform: uppercase"
                disabled
              />
            </CCol>
          </CRow>
          <CRow>
            <CCol md="10" class="mt-3">
              <span>
                รายละเอียดถุงภาษาไทย
              </span>
              <CInput
                autocomplete="off"
                id="bag_name_th_view"
                v-model="ViewData.bag_name_th"
                disabled
              />
            </CCol>
          </CRow>
          <CRow>
            <CCol md="10" class="mt-3">
              <span>
                รายละเอียดถุงภาษาอังกฤษ
              </span>
              <CInput
                autocomplete="off"
                id="bag_name_en_view"
                v-model="ViewData.bag_name_en"
                onkeypress="return (event.charCode > 64 && 
event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 )"
                disabled
              />
            </CCol>
          </CRow>
          <CRow class="mt-3">
            <CCol md="6">
              <span>
                วันที่ประกาศใช้
              </span>
              <date-picker
                v-model="ViewData.effdate_st"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
                disabled
              ></date-picker>
            </CCol>
            <CCol md="6">
              <span>วันที่หมดอายุ</span>
              <date-picker
                v-model="ViewData.effdate_en"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
                disabled
              ></date-picker>
            </CCol>
          </CRow>
          <CRow>
            <CCol md="10" class="mt-2">
              <span style="font-size: 14px"> ขนาดถุง </span>
              <CRow>
                <CCol md="6">
                  <span class="">ความกว้าง (cm)</span>
                  <CInput
                    autocomplete="off"
                    id="sizeWidth"
                    type="number"
                    placeholder="0.00"
                    step="0.01"
                    v-model="ViewData.width"
                    pattern="[0-9]"
                    disabled
                  />
                </CCol>
                <CCol md="6">
                  <span class="">ความยาว (cm)</span>
                  <CInput
                    autocomplete="off"
                    id="sizeLength"
                    type="number"
                    placeholder="0.00"
                    step="0.01"
                    v-model="ViewData.length"
                    disabled
                  />
                </CCol>
              </CRow>
            </CCol>
          </CRow>
          <CRow>
            <CCol md="4" class="mt-2">
              <span>รหัสถุงเก่า</span>
              <CInput
                autocomplete="off"
                id="bag_cd_old_view"
                v-model="ViewData.bag_cd_old"
                disabled
              />
            </CCol>
          </CRow>
        </CCol>
        <CCol md="6">
          <CRow>
            <CCol md="12">
              <CCard style="min-height: 400px">
                <CCardBody v-if="ViewData.path_pic == ''">
                  <img id="showImage" />
                </CCardBody>
                <CCardBody v-else>
                  <img
                    id="showImage2"
                    :src="
                      'http://masterdatadev.kkfnets.com' + ViewData.path_pic
                    "
                  />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">ดูรายละเอียดข้อมูลถุงบรรจุสินค้า</h5>
        <CButtonClose
          @click="(openViewModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openViewModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
      </template>
    </CModal>

    <!-- openDeleteModal -->
    <CModal
      :show.sync="openDeleteModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      color="danger"
    >
      <CRow class="form-group mx-5">
        <h6>ยืนยันการลบข้อมูลถุงบรรจุสินค้า</h6>
        <CCol md="12">
          <CRow>
            <CCol md="10">
              id : {{ DeleteData.bag_id }} <br />
              รหัสถุง : {{ DeleteData.bag_cd }} <br />
              รายละเอียดถุง : {{ DeleteData.bag_name_th }}
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">
          ยืนยันการลบข้อมูล
        </h5>
        <CButtonClose @click="openDeleteModal = false" class="text-white" />
      </template>
      <template #footer>
        <CButton @click="openDeleteModal = false" color="danger" variant="ghost"
          >ยกเลิก</CButton
        >
        <CButton @click="DeleteSaveButton()" color="danger">ลบ</CButton>
      </template>
    </CModal>

    <!-- openLastOrderBagModal -->
    <CModal
      :show.sync="openLastOrderBagModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      color="info"
      size="lg"
    >
      <CRow class="form-group mx-5">
        <CCol md="12">
          <CRow>
            <CCol md="5" class="mt-3">
              <span>
                รหัสถุง
              </span>
              <CInput
                autocomplete="off"
                ref="bag_cd"
                v-model="LastOrderBagData.bag_cd"
                style="text-transform: uppercase"
                disabled
              />
            </CCol>
            <CCol md="7" class="mt-3">
              <span>
                รายละเอียดถุง
              </span>
              <CInput
                autocomplete="off"
                ref="bag_cd"
                v-model="LastOrderBagData.bag_name_th"
                style="text-transform: uppercase"
                disabled
              />
            </CCol>
          </CRow>
          <CRow>
            <CCol md="5">
              <span>
                รหัสถุงเก่า
              </span>
              <CInput
                autocomplete="off"
                ref="bag_cd"
                v-model="LastOrderBagData.bag_cd_old"
                style="text-transform: uppercase"
                disabled
              />
            </CCol>
          </CRow>
          <CRow>
            <CCol md="12" class="mt-3">
              <h6 class="ml-5">ขนาดที่เคยสั่งผลิต</h6>
              <div class="d-flex justify-content-center">
                <table style="width:80%;" class="LastOrderTable">
                  <tr
                    class="LastOrderTable text-white"
                    style=" background-color: #6c757d;"
                  >
                    <th class="LastOrderTable">กว้าง (ซม)</th>
                    <th class="LastOrderTable">ยาว (ซม)</th>
                    <th class="LastOrderTable">วันที่ Order ที่สั่งผลิต</th>
                  </tr>
                  <tr v-if="LastOrderData.width == ''">
                    <td class="LastOrderTable">ยังไม่มีข้อมูล</td>
                    <td class="LastOrderTable">ยังไม่มีข้อมูล</td>
                    <td class="LastOrderTable">ยังไม่มีข้อมูล</td>
                  </tr>
                  <tr v-else>
                    <td class="LastOrderTable">{{ LastOrderData.width }}</td>
                    <td class="LastOrderTable">{{ LastOrderData.length }}</td>
                    <td class="LastOrderTable">
                      {{ LastOrderData.last_date_use }}
                    </td>
                  </tr>
                </table>
              </div>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">
          แสดงขนาดถุงที่เคยสั่งผลิต
        </h5>
        <CButtonClose
          @click="openLastOrderBagModal = false"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="openLastOrderBagModal = false" color="danger"
          >ปิด</CButton
        >
      </template>
    </CModal>
  </div>
</template>

<script>
import bagmixin from "./master_s_bagmixin";

export default {
  mixins: [bagmixin],
};
</script>

<style>
.LastOrderTable {
  border: 0.5px solid #768192;
  border-collapse: collapse;
  vertical-align: middle;
  overflow: hidden;
  height: 30px;
}
</style>
