<template>
  <div class="text-center">
  <CImg src="../img/mianpage-2.png" class="img-fluid pt-5 mt-5" style="width:550px" />
  </div>
</template>

<script>
export default {
  name: "Dashboard",
  components: {},
  data() {
    return {};
  },
  methods: {},
};
</script>
