<template>
  <div class>
    <CCard class="card-content">
      <CCardHeader class="card-header ">
        <h4 id="" class="mt-0 mb-0">
          การบันทึก/แก้ไข แสดงรายละเอียดการพิมพ์ป้าย
        </h4>
      </CCardHeader>
      <CCardBody>
        <CRow class="mx-1" v-if="HReport == true">
          <CCol md="6">
            <CRow class="form-group">
              <CCol md="6" class="my-2">
                <span>รหัสลูกค้า</span>
                <input autocomplete="off"
                  @keyup.enter="SearchLineLabel"
                  v-model="search.cuscod_id"
                  style="text-transform: uppercase !important"
                  class="input-box"
                />
              </CCol>
              <CCol md="6" class="my-2">
                <span>รหัสป้าย</span>
                <input autocomplete="off"
                  v-model="search.label_cd"
                  style="text-transform: uppercase !important"
                  @keyup.enter="SearchLineLabel"
                  maxlength="4"
                  class="input-box"
                />
              </CCol>
              <CCol md="12" class="my-2">
                <span>รายละเอียดลูกค้าหรือรายละเอียดป้าย</span>
                <input autocomplete="off"
                  @keyup.enter="SearchLineLabel"
                  v-model="search.txtsearch"
                  type
                  class="input-box"
                />
              </CCol>
            </CRow>
          </CCol>
          <CCol md="1">
            <CRow class="">
                <CButton
                  class="mt-4"
                  color="info"
                  block
                  @click="SearchLineLabel"
                >
                  <CIcon name="cil-magnifying-glass" />ค้นหา
                </CButton>
            </CRow>
          </CCol>
        </CRow>
        <CRow class="mx-3">
          <CButton class="mt-1 mr-3" color="success" @click="openAddModal = true">
            <i class="fa fa-plus"></i>
            เพิ่ม
          </CButton>
          <CButton
            class="mt-1 mr-3 text-white"
            color="warning"
            @click="EditLableButton"
            v-if="checkItemID.length == 1 && itemsTabs1 == true"
          >
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton class="mt-1 mr-3 text-white" color="warning" v-else disabled>
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="info"
            @click="ViewLineLableButton()"
            v-if="checkItemID.length == 1"
          >
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton class="mt-1 mr-3" color="info" disabled v-else>
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="danger"
            @click="DeleteView()"
            v-if="checkItemID.length > 0 && itemsTabs3 == false"
          >
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton class="mt-1 mr-3" color="danger" disabled v-else>
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton
            variant="outline"
            color="secondary"
            class="mt-1 mr-3"
            :pressed.sync="HReport"
            >{{ HReport ? "ซ่อน" : "แสดง" }}เงื่อนไข</CButton
          >
        </CRow>
      </CCardBody>
      <hr class="my-0" />
      <CCardBody>
        <CNav variant="tabs">
          <CNavItem v-model="itemsTabs1" active>
            <CButton
              @click="
                (itemsTabs1 = true), (itemsTabs2 = false), (itemsTabs3 = false)
              "
              >ข้อมูลรายละเอียดการพิมพ์ป้าย (Active)</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs2">
            <CButton
              @click="
                (itemsTabs2 = true), (itemsTabs1 = false), (itemsTabs3 = false)
              "
              >ข้อมูลรายละเอียดการพิมพ์ป้ายที่หมดอายุ (Inactive)</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs3">
            <CButton
              @click="
                (itemsTabs3 = true), (itemsTabs1 = false), (itemsTabs2 = false)
              "
              >ข้อมูลรายละเอียดการพิมพ์ป้ายที่ถูกลบ</CButton
            >
          </CNavItem>
        </CNav>
        <CCard>
          <CCardBody v-if="itemsTabs1 === true" style="overflow-x: auto">
            <form>
              <div class="offset my-3">
                <label for="selectPageA">แสดง</label>
                <select
                  class="mx-1 selectPage-box"
                  name="selectPageA"
                  id="selectPageA"
                  v-model="perPageA"
                  @click="setPagesActive()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage"
                  >/ {{ dataLineLabelCount }} รายการ</label
                >
              </div>
            </form>
            <table class="table styled-table">
              <thead class="tableTab1">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col">รหัสลูกค้า</th>
                  <th scope="col">ชื่อลูกค้า</th>
                  <th scope="col">รหัสป้าย</th>
                  <th scope="col">รายละเอียดภาษาไทย</th>
                  <th scope="col">รายละเอียดที่แสดงในป้าย</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                </tr>
              </thead>
              <tbody v-if="showTable == true">
                <tr v-for="p in displayedPostsActive" :key="p.linelabel_id">
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.linelabel_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      @click="checkItems(p.linelabel_id)"
                    />
                  </th>
                  <td class="td-fontsize">{{ p.cus_cod }}</td>
                  <td class="td-fontsize">{{ p.cus_name }}</td>
                  <td class="td-fontsize">{{ p.label_cd }}</td>
                  <td class="td-fontsize">{{ p.label_name_th }}</td>
                  <td class="td-fontsize">{{ p.linelabel_desc }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    color="primary"
                    v-if="pageA != 1"
                    @click="pageA--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="page-link" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageA++"
                    color="primary"
                    v-if="pageA < pagesA.length"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="page-link"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>

          <CCardBody v-if="itemsTabs2 === true" style="overflow-x: auto">
            <form>
              <div class="offset my-3">
                <label for="selectPageI">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPageI"
                  id="selectPageI"
                  v-model="perPageI"
                  @click="setPagesIntive()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage"
                  >/ {{ dataILineLabelCount }} รายการ</label
                >
              </div>
            </form>
            <table class="table styled-table">
              <thead class="tableTab2">
                <tr class>
                  <th scope="col">เลือก</th>
                  <th scope="col">รหัสลูกค้า</th>
                  <th scope="col">ชื่อลูกค้า</th>
                  <th scope="col">รหัสป้าย</th>
                  <th scope="col">รายละเอียดภาษาไทย</th>
                  <th scope="col">รายละเอียดที่แสดงในป้าย</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                </tr>
              </thead>
              <tbody v-if="showTable == true && dataILineLabelCount != 0">
                <tr v-for="p in displayedPostsInactive" :key="p.linelabel_id">
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.linelabel_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      @click="checkItems(p.linelabel_id)"
                    />
                  </th>
                  <td class="td-fontsize">{{ p.cus_cod }}</td>
                  <td class="td-fontsize">{{ p.cus_name }}</td>
                  <td class="td-fontsize">{{ p.label_cd }}</td>
                  <td class="td-fontsize">{{ p.label_name_th }}</td>
                  <td class="td-fontsize">{{ p.linelabel_desc }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
              <tbody v-else>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><h5>ไม่พบข้อมูล</h5></td>
                <td></td>
                <td></td>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class="text-info"
                    v-if="pageI != 1"
                    @click="pageI--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="text-info" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageI++"
                    v-if="pageI < pagesI.length"
                    class="text-info"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="text-info"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>

          <CCardBody v-if="itemsTabs3 === true" style="overflow-x: auto">
            <form>
              <div class="offset my-3">
                <label for="selectPage">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPage"
                  id="selectPage"
                  v-model="perPageC"
                  @click="setPagesCancel()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage"
                  >/ {{ dataCLineLabelCount }} รายการ</label
                >
              </div>
            </form>
            <table class="table styled-table">
              <thead class="tableTab3">
                <tr class>
                  <th scope="col">เลือก</th>
                  <th scope="col">รหัสลูกค้า</th>
                  <th scope="col">ชื่อลูกค้า</th>
                  <th scope="col">รหัสป้าย</th>
                  <th scope="col">รายละเอียดภาษาไทย</th>
                  <th scope="col">รายละเอียดที่แสดงในป้าย</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันที่หมดอายุ</th>
                </tr>
              </thead>
              <tbody v-if="showTable == true && dataCLineLabelCount != 0">
                <tr v-for="p in displayedPostsCancel" :key="p.linelabel_id">
                  <th scope="row" class="text-center">
                    <input autocomplete="off"
                      :value="p.linelabel_id"
                      v-model="checked"
                      type="checkbox"
                      @click="checkItems(p.linelabel_id)"
                      name="Choosed"
                    />
                  </th>
                  <td class="td-fontsize">{{ p.cus_cod }}</td>
                  <td class="td-fontsize">{{ p.cus_name }}</td>
                  <td class="td-fontsize">{{ p.label_cd }}</td>
                  <td class="td-fontsize">{{ p.label_name_th }}</td>
                  <td class="td-fontsize">{{ p.linelabel_desc }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
              <tbody v-else>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><h5>ไม่พบข้อมูล</h5></td>
                <td></td>
                <td></td>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class="text-danger"
                    v-if="pageC != 1"
                    @click="pageC--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="text-danger" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageC++"
                    v-if="pageC < pagesC.length"
                    class="text-danger"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="text-danger"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>
        </CCard>
      </CCardBody>
      <CCardFooter>
        <CRow class>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-if="itemsTabs3 == true">
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_u_linelabel_h,
            master_u_linelabel_d
          </CCol>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-else>
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_s_linelabel_h,
            master_s_linelabel_d
          </CCol>
        </CRow>
      </CCardFooter>
    </CCard>

    <!-- openAddModal -->
    <CModal
      :show.sync="openAddModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="success"
    >
      <CRow class="form-group mx-5">
        <CCol md="6">
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสลูกค้า</span>
              <span class="text-danger">*</span>
            </CCol>
            <CCol md="9">
              <multiselect
                :allow-empty="false"
                placeholder
                id="CustomerOptions-filter"
                v-model="CustomerOptions.selected"
                :multiple="false"
                :options="CustomerOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="cuscod"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสป้าย</span>
              <span class="text-danger">*</span>
            </CCol>
            <CCol md="9">
              <multiselect
                :allow-empty="false"
                placeholder
                id="LabelOptions-filter"
                v-model="LabelOptions.selected"
                :multiple="false"
                :options="LabelOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="label_id"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสป้ายเก่า</span>
            </CCol>
            <CCol md="4">
              <CInput v-if="LabelOptions.selected == null" disabled />
              <CInput
                v-else
                :value="LabelOptions.selected.label_cd_old"
                disabled
              />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="12">
              <table class="table" style="border: 1px solid #dddddd">
                <tr>
                  <th style="border: 1px solid #dddddd" class="text-center">
                    รายละเอียดการพิมพ์ป้าย
                  </th>
                  <th style="border: 1px solid #dddddd" class="text-center">
                    แสดงในป้ายหรือไม่
                  </th>
                </tr>
                <tr v-for="i in Linesubject" :key="i.linesubject_id">
                  <td
                    style="
                      border: 1px solid #dddddd;
                      border-top: none !important;
                      border-bottom: none !important;
                    "
                    class="text-center"
                  >
                    {{ i.linesubject_desc }}
                  </td>
                  <th
                    style="
                      border: 1px solid #dddddd;
                      border-top: none !important;
                      border-bottom: none !important;
                    "
                    class="text-center"
                  >
                    <input autocomplete="off"
                      :value="i.linesubject_id + '-' + i.linesubject_desc"
                      v-model="subjectCheck"
                      type="checkbox"
                      @click="ValuesCheck(i.linesubject_id, i.linesubject_desc)"
                    />
                  </th>
                </tr>
              </table>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="6">
          <CRow>
            <CCol md="6">
              <span>วันที่ประกาศใช้</span>
              <date-picker
                v-model="currentDate"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
            </CCol>
            <CCol md="6">
              <span>วันที่หมดอายุ</span>
              <date-picker
                v-model="defaultExDate"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
            </CCol>
            <CCol md="12" class="mt-2">
              <span>
                เลือกรูปภาพ
                <span class="text-danger"></span>
              </span>
              <input autocomplete="off"
                type="file"
                name="filename"
                id="filename"
                class="my-2"
                accept="image/jpeg, image/png"
                :v-model="lineLabelImg"
                @click="showPreview()"
                @change="SaveImage"
              />
            </CCol>
            <CCol md="12">
              <CCard style="min-height: 400px">
                <CCardBody>
                  <img id="showImage" />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">เพิ่มรายละเอียดการพิมพ์ป้าย</h5>
        <CButtonClose
          @click="(openAddModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openAddModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
        <CButton @click="InsertLabelButton()" color="success">บันทึก</CButton>
      </template>
    </CModal>
    <!-- openEditModal -->
    <div v-if="thisNowDate > this.editLineLabel.effdate_st">
      <CModal
        :show.sync="openEditModal"
        :closeOnBackdrop="false"
        :centered="true"
        title="Modal title 2"
        size="xl"
        color="warning"
      >
        <CRow class="form-group mx-5">
          <CCol md="12">
            <h5 class="text-danger">
              * ไม่สามารถแก้ไขได้ เนื่องจากมีวันประกาศใช้ไปแล้ว
              แก้ไขได้เฉพาะวันที่หมดอายุ
            </h5>
          </CCol>
          <CCol md="6">
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">รหัสลูกค้า</span>
              </CCol>
              <CCol md="9">
                <CInput disabled v-model="editLineLabel.cus_name" />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">รหัสป้าย</span>
              </CCol>
              <CCol md="9">
                <CInput disabled v-model="editLineLabel.label_name" />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="12">
                <table class="table" style="border: 1px solid #dddddd">
                  <tr>
                    <th style="border: 1px solid #dddddd" class="text-center">
                      รายละเอียดการพิมพ์ป้าย
                    </th>
                    <th style="border: 1px solid #dddddd" class="text-center">
                      แสดงในป้ายหรือไม่
                    </th>
                  </tr>
                  <tr v-for="i in editLineLabel_d" :key="i.linesubject_id">
                    <td
                      style="
                        border: 1px solid #dddddd;
                        border-top: none !important;
                        border-bottom: none !important;
                      "
                      class="text-center"
                    >
                      {{ i.linesubject_desc }}
                    </td>
                    <th
                      style="
                        border: 1px solid #dddddd;
                        border-top: none !important;
                        border-bottom: none !important;
                      "
                      class="text-center"
                    >
                      <input autocomplete="off"
                        v-if="i.show_flag == 1"
                        checked
                        value="i.lineitemno_id"
                        type="checkbox"
                        class="view-checkboxes"
                      />
                      <input autocomplete="off"
                        v-else
                        value="i.lineitemno_id"
                        type="checkbox"
                        disabled
                      />
                    </th>
                  </tr>
                </table>
              </CCol>
            </CRow>
          </CCol>
          <CCol md="6">
            <CRow>
              <CCol md="6">
                <span>วันที่ประกาศใช้</span>
                <date-picker
                  v-model="editLineLabel.effdate_st"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                  disabled
                ></date-picker>
              </CCol>
              <CCol md="6">
                <span>วันที่หมดอายุ</span>
                <date-picker
                  v-model="editLineLabel.effdate_en"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                ></date-picker>
              </CCol>
              <CCol md="12" class="mt-3">
                <span> เลือกรูปภาพ </span>
                <input autocomplete="off"
                  disabled
                  type="file"
                  name="filename-edit"
                  id="filename-edit"
                  class="my-2"
                  accept="image/jpeg, image/png"
                  :v-model="editLineLabel.lineLabelImg"
                  @click="showPreviewEdit()"
                  @change="SaveEditImage"
                />
                <CCard style="height: 400px">
                  <CCardBody>
                    <img
                      id="showImage2"
                      :src="
                        'http://masterdatadev.kkfnets.com' +
                          editLineLabel.lineLabelImg
                      "
                    />
                  </CCardBody>
                </CCard>
              </CCol>
            </CRow>
          </CCol>
        </CRow>
        <template #header>
          <h5 class="modal-title">แก้ไขรายละเอียดการพิมพ์ป้าย</h5>
          <CButtonClose @click="openEditModal = false" class="text-white" />
        </template>
        <template #footer>
          <CButton @click="(openEditModal = false), resetData()" color="danger"
            >ยกเลิก</CButton
          >
          <CButton @click="SaveEditLineLableButton()" color="success"
            >บันทึก</CButton
          >
        </template>
      </CModal>
    </div>
    <div v-else>
      <CModal
        :show.sync="openEditModal"
        :closeOnBackdrop="false"
        :centered="true"
        title="Modal title 2"
        size="xl"
        color="warning"
      >
        <CRow class="form-group mx-5">
          <CCol md="6">
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">รหัสลูกค้า</span>
              </CCol>
              <CCol md="9">
                <CInput disabled v-model="editLineLabel.cus_name" />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="3">
                <span class="label-formInput">รหัสป้าย</span>
              </CCol>
              <CCol md="9">
                <CInput disabled v-model="editLineLabel.label_name" />
              </CCol>
            </CRow>
            <CRow class="mb-1">
              <CCol md="12">
                <table class="table" style="border: 1px solid #dddddd">
                  <tr>
                    <th style="border: 1px solid #dddddd" class="text-center">
                      รายละเอียดการพิมพ์ป้าย
                    </th>
                    <th style="border: 1px solid #dddddd" class="text-center">
                      แสดงในป้ายหรือไม่
                    </th>
                  </tr>
                  <tr v-for="i in editLineLabel_d" :key="i.linesubject_id">
                    <td
                      style="
                        border: 1px solid #dddddd;
                        border-top: none !important;
                        border-bottom: none !important;
                      "
                      class="text-center"
                    >
                      {{ i.linesubject_desc }}
                    </td>
                    <th
                      style="
                        border: 1px solid #dddddd;
                        border-top: none !important;
                        border-bottom: none !important;
                      "
                      class="text-center"
                    >
                      <input autocomplete="off"
                        v-if="i.show_flag == 1"
                        checked
                        name="edit-checkbox"
                        :value="
                          i.lineitemno_id +
                            '-' +
                            i.linesubject_desc +
                            '-' +
                            i.linesubject_id
                        "
                        type="checkbox"
                        @click="editLineLabelD()"
                      />
                      <input autocomplete="off"
                        v-else
                        :value="
                          i.lineitemno_id +
                            '-' +
                            i.linesubject_desc +
                            '-' +
                            i.linesubject_id
                        "
                        type="checkbox"
                        name="edit-checkbox"
                        @click="editLineLabelD()"
                      />
                    </th>
                  </tr>
                </table>
              </CCol>
            </CRow>
          </CCol>
          <CCol md="6">
            <CRow>
              <CCol md="6">
                <span>วันที่ประกาศใช้</span>
                <date-picker
                  v-model="editLineLabel.effdate_st"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                ></date-picker>
              </CCol>
              <CCol md="6">
                <span>วันที่หมดอายุ</span>
                <date-picker
                  v-model="editLineLabel.effdate_en"
                  value-type="YYYY-MM-DD"
                  format="DD/MM/YYYY"
                ></date-picker>
              </CCol>
              <CCol md="12" class="mt-2">
                <span> เลือกรูปภาพ </span>
                <input autocomplete="off"
                  type="file"
                  name="filename-edit"
                  id="filename-edit"
                  class="my-2"
                  accept="image/jpeg, image/png"
                  :v-model="editLineLabel.lineLabelImg"
                  @click="showPreviewEdit()"
                  @change="SaveEditImage"
                />
                <CCard style="height: 400px">
                  <CCardBody>
                    <img
                      id="showImage2"
                      :src="
                        'http://masterdatadev.kkfnets.com' +
                          editLineLabel.lineLabelImg
                      "
                    />
                  </CCardBody>
                </CCard>
              </CCol>
            </CRow>
          </CCol>
        </CRow>
        <template #header>
          <h5 class="modal-title">แก้ไขรายละเอียดการพิมพ์ป้าย</h5>
          <CButtonClose @click="openEditModal = false" class="text-white" />
        </template>
        <template #footer>
          <CButton @click="(openEditModal = false), resetData()" color="danger"
            >ยกเลิก</CButton
          >
          <CButton @click="SaveEditLineLableButton()" color="success"
            >บันทึก</CButton
          >
        </template>
      </CModal>
    </div>
    <!-- openViewModal -->
    <CModal
      :show.sync="openViewModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="info"
    >
      <CRow class="form-group mx-5">
        <CCol md="6">
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสลูกค้า</span>
            </CCol>
            <CCol md="9">
              <CInput disabled v-model="viewLineLabel.cus_name" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสป้าย</span>
            </CCol>
            <CCol md="9">
              <CInput disabled v-model="viewLineLabel.label_name" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="12">
              <table class="table" style="border: 1px solid #dddddd">
                <tr>
                  <th style="border: 1px solid #dddddd" class="text-center">
                    รายละเอียดการพิมพ์ป้าย
                  </th>
                  <th style="border: 1px solid #dddddd" class="text-center">
                    แสดงในป้ายหรือไม่
                  </th>
                </tr>
                <tr v-for="i in viewLineLabel_d" :key="i.linesubject_id">
                  <td
                    style="
                      border: 1px solid #dddddd;
                      border-top: none !important;
                      border-bottom: none !important;
                    "
                    class="text-center"
                  >
                    {{ i.linesubject_desc }}
                  </td>
                  <th
                    style="
                      border: 1px solid #dddddd;
                      border-top: none !important;
                      border-bottom: none !important;
                    "
                    class="text-center"
                  >
                    <input autocomplete="off"
                      v-if="i.show_flag == 1"
                      checked
                      value="i.lineitemno_id"
                      type="checkbox"
                      class="view-checkboxes"
                    />
                    <input autocomplete="off"
                      v-else
                      value="i.lineitemno_id"
                      type="checkbox"
                      disabled
                    />
                  </th>
                </tr>
              </table>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="6">
          <CRow>
            <CCol md="6" class="mb-2">
              <span>วันที่ประกาศใช้</span>
              <date-picker
                v-model="viewLineLabel.effdate_st"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
                disabled
              ></date-picker>
            </CCol>
            <CCol md="6">
              <span>วันที่หมดอายุ</span>
              <date-picker
                v-model="viewLineLabel.effdate_en"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
                disabled
              ></date-picker>
            </CCol>
            <CCol md="12" class="mt-5">
              <CCard style="height: 400px">
                <CCardBody>
                  <img id="showImage2" :src="viewLineLabel.lineLabelImg" />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">ดูรายละเอียดการพิมพ์ป้าย</h5>
        <CButtonClose @click="openViewModal = false" class="text-white" />
      </template>
      <template #footer>
        <CButton @click="openViewModal = false" color="danger">ปิด</CButton>
      </template>
    </CModal>
    <!-- openDeleteModal -->
    <div>
      <CModal
        :show.sync="openDeleteModal"
        :closeOnBackdrop="false"
        :centered="true"
        title="Modal title 2"
        color="danger"
      >
        <CRow class="form-group mx-5">
          <h6>ยืนยันการลบรายละเอียดการพิมพ์ป้าย ดังต่อไปนี้</h6>
          <CCol md="12">
            <div v-for="i in deleteLineLabelarray" :key="i.index" class="mb-2">
              <CRow>
                <CCol md="12"> ลูกค้า {{ i.cusname }} </CCol>
                <CCol md="12"> รหัสป้าย {{ i.label }} </CCol>
              </CRow>
            </div>
          </CCol>
        </CRow>
        <template #header>
          <h5 class="modal-title">ลบรายละเอียดการพิมพ์ป้าย</h5>
          <CButtonClose @click="openDeleteModal = false" class="text-white" />
        </template>
        <template #footer>
          <CButton
            @click="openDeleteModal = false"
            color="danger"
            variant="ghost"
            >ยกเลิก</CButton
          >
          <CButton @click="DeleteLineLableButton" color="danger">ลบ</CButton>
        </template>
      </CModal>
    </div>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import { GetObjValJoin, GetDate, FileToBase64 } from "@/shared/utils";
import setupmixin from "@/shared/setupmixin";
import swal from "sweetalert";
import { loadPartialConfig } from "@babel/core";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";

export default {
  name: "LineLabel",
  data() {
    return {
      HReport: true,
      search: {
        cuscod_id: "",
        label_cd: "",
        txtsearch: "",
      },
      LabelOptions: {
        lists: [],
        selected: null,
      },
      CustomerOptions: {
        lists: [],
        selected: null,
      },

      Linesubject: [],
      checkItemID: [],

      showTable: false,
      itemsTabs1: true,
      itemsTabs2: false,
      itemsTabs3: false,

      // Active
      dataLineLabel: [],
      dataActive: [],
      dataLineLabelCount: 0,
      pageA: 1,
      perPageA: 10,
      pagesA: [],

      // InActive
      dataInactive: [],
      dataILineLabel: [],
      dataILineLabelCount: 0,
      pageI: 1,
      perPageI: 5,
      pagesI: [],

      // Cancel
      dataCancel: [],
      dataCLineLabel: [],
      dataCLineLabelCount: 0,
      pageC: 1,
      perPageC: 5,
      pagesC: [],

      lineLabelImg: null,
      viewLineLabel: {
        cus_name: "",
        label_name: "",
        lineLabelImg: "",
        effdate_en: "",
        effdate_st: "",
      },
      viewLineLabel_d: [],
      editLineLabel: {
        cus_name: "",
        label_name: "",
        lineLabelImg: "",
        effdate_en: "",
        effdate_st: "",
      },
      editLineLabel_d: [],
      editLineLabelD_id: [],
      checkedSpec: "",
      openAddModal: false,
      openEditModal: false,
      openViewModal: false,
      openDeleteModal: false,
      labelType: [],
      checked: [],
      deleteLineLabel: {
        cus_name: "",
        label_name: "",
        linelabel_id: "",
      },
      deleteLineLabelarray: [],
      subjectCheck: [],
      currentDate: "",
      defaultExDate: null,
      thisNowDate: "",
    };
  },
  components: {
    Multiselect,
    DatePicker,
  },
  created() {
    let nowDate = new Date();
    this.currentDate = GetDate(nowDate.setDate(nowDate.getDate()));
    this.thisNowDate = GetDate(nowDate.setDate(nowDate.getDate()));
    this.defaultExDate = "2000-01-01";
    // console.log(this.currentDate);

    this.$root.api.View_master_s_labelSearchActive({
      data: {},
      callback: (res) => {
        res.forEach(
          (x) => (x._label = GetObjValJoin(x, ["label_cd", "label_name_th"]))
        );
        this.LabelOptions.lists = res;
      },
    });

    this.$root.api.View_master_s_cutomerSearch({
      data: {},
      callback: (res) => {
        res.forEach((x) => (x._label = GetObjValJoin(x, ["cuscod", "fname"])));
        this.CustomerOptions.lists = res;
      },
    });

    this.$root.api.View_master_s_linesubjectSearch({
      data: {},
      callback: (res) => {
        this.Linesubject = res;
      },
    });
  },
  mounted() {},
  updated() {
    $(document).ready(function() {
      $("#MyTable").DataTable({
        initComplete: function() {
          this.api()
            .columns()
            .every(function() {
              var column = this;
              var select = $('<select><option value=""></option></select>')
                .appendTo($(column.footer()).empty())
                .on("change", function() {
                  var val = $.fn.dataTable.util.escapeRegex($(this).val());
                  //to select and search from grid
                  column.search(val ? "^" + val + "$" : "", true, false).draw();
                });

              column
                .data()
                .unique()
                .sort()
                .each(function(d, j) {
                  select.append('<option value="' + d + '">' + d + "</option>");
                });
            });
        },
      });
    });
  },
  methods: {
    SearchLineLabel() {
      this.dataLineLabelCount = 0;
      this.dataILineLabelCount = 0;
      this.dataCLineLabelCount = 0;

      this.checked = [];
      this.$root.api.View_master_s_labelspecSearchbyCus({
        data: {
          cuscod: this.search.cuscod_id,
        },
        callback: (res) => {
          // console.log(res);
        },
      });

      this.$root.api.View_master_s_linelabelSearch({
        data: {
          label_cd: this.search.label_cd,
          cuscod: this.search.cuscod_id,
          txtSearch: this.search.txtsearch,
        },
        callback: (res) => {
          this.dataLineLabel = res;
          for (let i = 0; i < res.length; i++) {
            if (res[i]._status == "A") {
              this.dataLineLabelCount = this.dataLineLabelCount + 1;
            } else if (res[i]._status == "I") {
              this.dataILineLabelCount = this.dataILineLabelCount + 1;
            } else if (res[i]._status == "C") {
              this.dataCLineLabelCount = this.dataCLineLabelCount + 1;
            }
            this.getDataLineLabel();
          }
          this.setPagesActive();
          this.setPagesInactive();
          this.setPagesCancel();
          this.showTable = true;
          if (res.length == 0) {
            swal(
              "ไม่พบเงื่อนไขป้ายที่ค้นหา",
              "กรุณาใส่รหัสลูกค้าหรือรหัสป้ายใหม่",
              "warning"
            );
            this.search = [];
          }
        },
      });
    },
    editLineLabelD() {
      this.editLineLabelD_id = [];

      this.editLineLabelD_id = $(
        "input[type=checkbox][name=edit-checkbox]:checked"
      )
        .map(function(_, el) {
          return $(el).val();
        })
        .get();
      // console.log("editLineLabelD_id", this.editLineLabelD_id);
    },
    getDataLineLabel() {
      this.dataActive = [];
      this.dataInactive = [];
      this.dataCancel = [];
      for (let i = 0; i < this.dataLineLabel.length; i++) {
        if (this.dataLineLabel[i]._status == "A") {
          this.dataActive.push({
            cus_cod: this.dataLineLabel[i].cus_cod,
            cus_id: this.dataLineLabel[i].cus_id,
            cus_name: this.dataLineLabel[i].cus_name,
            effdate_en: this.dataLineLabel[i].effdate_en,
            effdate_st: this.dataLineLabel[i].effdate_st,
            label_cd: this.dataLineLabel[i].label_cd,
            label_cd_old: this.dataLineLabel[i].label_cd_old,
            label_id: this.dataLineLabel[i].label_id,
            label_name_en: this.dataLineLabel[i].label_name_en,
            label_name_th: this.dataLineLabel[i].label_name_th,
            linelabel_desc: this.dataLineLabel[i].linelabel_desc,
            linelabel_id: this.dataLineLabel[i].linelabel_id,
            path_pic: this.dataLineLabel[i].path_pic,
            _status: this.dataLineLabel[i]._status,
          });
        } else if (this.dataLineLabel[i]._status == "I") {
          this.dataInactive.push({
            cus_cod: this.dataLineLabel[i].cus_cod,
            cus_id: this.dataLineLabel[i].cus_id,
            cus_name: this.dataLineLabel[i].cus_name,
            effdate_en: this.dataLineLabel[i].effdate_en,
            effdate_st: this.dataLineLabel[i].effdate_st,
            label_cd: this.dataLineLabel[i].label_cd,
            label_cd_old: this.dataLineLabel[i].label_cd_old,
            label_id: this.dataLineLabel[i].label_id,
            label_name_en: this.dataLineLabel[i].label_name_en,
            label_name_th: this.dataLineLabel[i].label_name_th,
            linelabel_desc: this.dataLineLabel[i].linelabel_desc,
            linelabel_id: this.dataLineLabel[i].linelabel_id,
            path_pic: this.dataLineLabel[i].path_pic,
            _status: this.dataLineLabel[i]._status,
          });
        } else if (this.dataLineLabel[i]._status == "C") {
          this.dataCancel.push({
            cus_cod: this.dataLineLabel[i].cus_cod,
            cus_id: this.dataLineLabel[i].cus_id,
            cus_name: this.dataLineLabel[i].cus_name,
            effdate_en: this.dataLineLabel[i].effdate_en,
            effdate_st: this.dataLineLabel[i].effdate_st,
            label_cd: this.dataLineLabel[i].label_cd,
            label_cd_old: this.dataLineLabel[i].label_cd_old,
            label_id: this.dataLineLabel[i].label_id,
            label_name_en: this.dataLineLabel[i].label_name_en,
            label_name_th: this.dataLineLabel[i].label_name_th,
            linelabel_desc: this.dataLineLabel[i].linelabel_desc,
            linelabel_id: this.dataLineLabel[i].linelabel_id,
            path_pic: this.dataLineLabel[i].path_pic,
            _status: this.dataLineLabel[i]._status,
          });
        }
      }
    },
    sortTable(n) {
      var table,
        rows,
        switching,
        i,
        x,
        y,
        shouldSwitch,
        dir,
        switchcount = 0;
      table = document.getElementById("table");
      switching = true;
      dir = "asc";
      while (switching) {
        switching = false;
        rows = table.getElementsByTagName("TR");
        for (i = 1; i < rows.length - 1; i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount++;
        } else {
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    },
    setPagesActive() {
      this.pagesA = [];
      let numberOfPages = Math.ceil(this.dataLineLabelCount / this.perPageA);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesA.push(index);
      }
      this.pageA = 1;
    },
    setPagesInactive() {
      this.pagesI = [];
      let numberOfPages = Math.ceil(this.dataILineLabelCount / this.perPageI);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesI.push(index);
      }
      this.pageI = 1;
    },
    setPagesCancel() {
      this.pagesC = [];
      let numberOfPages = Math.ceil(this.dataCLineLabelCount / this.perPageI);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesC.push(index);
      }
      this.pageC = 1;
    },
    paginate(Active) {
      let pageA = this.pageA;
      let perPageA = this.perPageA;
      let from = pageA * perPageA - perPageA;
      let to = pageA * perPageA;
      return Active.slice(from, to);
    },
    paginateInactive(Inactive) {
      let pageI = this.pageI;
      let perPageI = this.perPageI;
      let from = pageI * perPageI - perPageI;
      let to = pageI * perPageI;
      return Inactive.slice(from, to);
    },
    paginateCancel(Cancel) {
      let pageC = this.pageC;
      let perPageC = this.perPageC;
      let from = pageC * perPageC - perPageC;
      let to = pageC * perPageC;
      return Cancel.slice(from, to);
    },
    ValuesCheck() {
      this.subjectCheck = $("input[type=checkbox]:checked")
        .map(function(_, el) {
          return $(el).val();
        })
        .get();
    },
    showPreview() {
      document.getElementById("showImage").removeAttribute("src");
      var filename = document.getElementById("filename");
      filename.onchange = function() {
        var files = filename.files[0];
        var reader = new FileReader();
        reader.readAsDataURL(files);
        reader.onload = function() {
          var result = reader.result;
          document.getElementById("showImage").src = result;
        };
      };
    },
    showPreviewEdit() {
      var filename = document.getElementById("filename-edit");
      filename.onchange = function() {
        var files = filename.files[0];
        var reader = new FileReader();
        reader.readAsDataURL(files);
        reader.onload = function() {
          var result = reader.result;
          document.getElementById("showImage2").src = result;
        };
      };
    },
    SaveImage(event) {
      if (event.target.files.length) {
        let file = event.target.files[0];
        if (
          file &&
          (/^image[/]jpeg/.test(file.type) || /^image[/]png/.test(file.type))
        ) {
          FileToBase64(file).then((pic) => {
            this.lineLabelImg = pic;
            return;
          });
        }
        this.lineLabelImg = null;
      }
    },
    checkItems() {
      this.checkItemID = $("input[type=checkbox][name=Choosed]:checked")
        .map(function(_, el) {
          return $(el).val();
        })
        .get();
    },
    EditLableButton() {
      this.openEditModal = true;
      this.editLineLabel_d = [];
      var x = this.checkItemID[0];
      // console.log(x);
      this.$root.api.View_master_s_linelabelSearch({
        data: {},
        callback: (res) => {
          for (let i = 0; i < res.length; i++) {
            if (res[i].linelabel_id == this.checkItemID[0]) {
              this.editLineLabel.effdate_en = res[i].effdate_en.split("T")[0];
              this.editLineLabel.effdate_st = res[i].effdate_st.split("T")[0];
            }
          }
        },
      });
      // console.log(this.editLineLabel);
      this.$root.api.View_master_s_linelabelSearchID({
        data: { linelabel_id: x },
        callback: (res) => {
          this.editLineLabel.cus_name =
            res[0].cus_cod + " : " + res[0].cus_name;
          this.editLineLabel.label_name =
            res[0].label_cd + " : " + res[0].label_name_th;
          this.editLineLabel.lineLabelImg = res[0].path_pic;

          this.$root.api.View_master_s_linelabelSearchID_D({
            data: { linelabel_id: x },
            callback: (res) => {
              for (let i = 0; i < res.length; i++) {
                this.editLineLabel_d.push({
                  linelabel_id: res[i].linelabel_id,
                  lineitemno_id: res[i].lineitemno_id,
                  lineitemno: res[i].lineitemno,
                  linesubject_id: res[i].linesubject_id,
                  linesubject_desc: this.Linesubject[i].linesubject_desc,
                  show_flag: res[i].show_flag,
                });
              }
            },
          });
        },
      });
      this.$root.api.View_master_s_linelabelSearchID_D_U({
        data: { linelabel_id: x },
        callback: (res) => {
          for (let i = 0; i < res.length; i++) {
            this.editLineLabel_d.push({
              linelabel_id: res[i].linelabel_id,
              lineitemno_id: res[i].lineitemno_id,
              lineitemno: res[i].lineitemno,
              linesubject_id: res[i].linesubject_id,
              linesubject_desc: this.Linesubject[i].linesubject_desc,
              show_flag: res[i].show_flag,
            });
          }
        },
      });
    },
    ViewLineLableButton() {
      this.openViewModal = true;
      this.viewLineLabel_d = [];
      var x = this.checkItemID[0];
      this.$root.api.View_master_s_linelabelSearch({
        data: {},
        callback: (res) => {
          for (let i = 0; i < res.length; i++) {
            if (res[i].linelabel_id == this.checkItemID[0]) {
              this.viewLineLabel.effdate_en = res[i].effdate_en.split("T")[0];
              this.viewLineLabel.effdate_st = res[i].effdate_st.split("T")[0];
            }
          }
        },
      });
      this.$root.api.View_master_s_linelabelSearchID({
        data: { linelabel_id: x },
        callback: (res) => {
          this.viewLineLabel.cus_name =
            res[0].cus_cod + " : " + res[0].cus_name;
          this.viewLineLabel.label_name =
            res[0].label_cd + " : " + res[0].label_name_th;
          this.viewLineLabel.lineLabelImg =
            "http://masterdatadev.kkfnets.com" + res[0].path_pic;

          this.$root.api.View_master_s_linelabelSearchID_D({
            data: { linelabel_id: x },
            callback: (res) => {
              for (let i = 0; i < res.length; i++) {
                this.viewLineLabel_d.push({
                  linelabel_id: res[i].linelabel_id,
                  lineitemno_id: res[i].lineitemno_id,
                  lineitemno: res[i].lineitemno,
                  linesubject_id: res[i].linesubject_id,
                  linesubject_desc: this.Linesubject[i].linesubject_desc,
                  show_flag: res[i].show_flag,
                });
              }
            },
          });
        },
      });
      this.$root.api.View_master_s_linelabelSearchID_D_U({
        data: { linelabel_id: x },
        callback: (res) => {
          for (let i = 0; i < res.length; i++) {
            this.viewLineLabel_d.push({
              linelabel_id: res[i].linelabel_id,
              lineitemno_id: res[i].lineitemno_id,
              lineitemno: res[i].lineitemno,
              linesubject_id: res[i].linesubject_id,
              linesubject_desc: this.Linesubject[i].linesubject_desc,
              show_flag: res[i].show_flag,
            });
          }
        },
      });
    },
    SaveEditImage(event) {
      if (event.target.files.length) {
        let file = event.target.files[0];
        if (
          file &&
          (/^image[/]jpeg/.test(file.type) || /^image[/]png/.test(file.type))
        ) {
          FileToBase64(file).then((pic) => {
            this.editLineLabel.lineLabelImg = pic;
            return;
          });
        } else {
        }
        this.file = null;
        this.editLineLabel.lineLabelImg = null;
      }
    },
    SaveEditLineLableButton() {
      if (
        (this.editLineLabel.effdate_en > this.editLineLabel.effdate_st &&
          this.editLineLabel.effdate_en > this.thisNowDate) ||
        this.editLineLabel.effdate_en == "2000-01-01"
      ) {
        // linelabel_id
        var x = this.checkItemID[0];

        var lineitemno_id = [];
        var subjDesc = "";
        var subjId = [];
        var Desc = [];

        this.editLineLabelD_id = $(
          "input[type=checkbox][name=edit-checkbox]:checked"
        )
          .map(function(_, el) {
            return $(el).val();
          })
          .get();

        for (let i = 0; i < this.editLineLabelD_id.length; i++) {
          lineitemno_id.push(parseInt(this.editLineLabelD_id[i].split("-")[0]));
          subjId.push(parseInt(this.editLineLabelD_id[i].split("-")[2]));
          Desc.push(this.editLineLabelD_id[i].split("-")[1]);
        }

        // subjDesc
        subjDesc = Desc.join();
        for (let i = 1; i <= this.Linesubject.length; i++) {
          var linesubject_id = i;
          var show_flag = 0;
          // show_flag
          if (subjId.includes(linesubject_id)) {
            show_flag = 1;
          } else {
            show_flag = 0;
          }
          this.$root.api.Master_s_linelabelEdit({
            data: {
              label_d: [
                {
                  linelabel_id: x,
                  lineitemno_id: this.editLineLabel_d[i - 1].lineitemno_id,
                  lineitemno: this.editLineLabel_d[i - 1].lineitemno,
                  linelabel_desc: subjDesc,
                  linesubject_id: linesubject_id,
                  show_flag: show_flag,
                  effdate_st: this.editLineLabel.effdate_st,
                  effdate_en: this.editLineLabel.effdate_en,
                  path_pic: this.editLineLabel.lineLabelImg,
                  user_id: localStorage.getItem("UserID"),
                  user_name: localStorage.getItem("User"),
                },
              ],
            },
            callback: (res) => {
              if (res[0].status == "S") {
                swal({
                  title: "สำเร็จ!",
                  text: "บันทึกแสดงรายละเอียดการพิมพ์ป้ายเสร็จสิ้น",
                  icon: "success",
                  button: "ตกลง",
                });
              } else if (res[0].status == "F") {
                swal({
                  title: "ไม่สำเร็จ!",
                  text: "ไม่สามารถบันทึกแสดงรายละเอียดการพิมพ์ป้ายได้",
                  icon: "error",
                  dangerMode: true,
                  button: "ตกลง",
                });
              }
            },
          });
        }
        this.openEditModal = false;
      } else {
        swal(
          "ข้อมูลไม่ถูกต้อง",
          "วันหมดอายุจะต้องมากกว่าวันที่ประกาศใช้และวันปัจจุบัน",
          "warning"
        );
      }
      this.SearchLineLabel();
    },
    DeleteView() {
      var x = this.checkItemID.sort();
      this.openDeleteModal = true;
      this.deleteLineLabelarray = [];
      for (let i = 0; i < this.checkItemID.length; i++) {
        this.$root.api.View_master_s_linelabelSearchID({
          data: { linelabel_id: x[i] },
          callback: (res) => {
            this.deleteLineLabelarray.push({
              id: x[i],
              cusname: res[0].cus_cod + " : " + res[0].cus_name,
              label: res[0].label_cd + " : " + res[0].label_name_th,
            });
          },
        });
      }
    },
    DeleteLineLableButton() {
      for (let i = 0; i < this.checkItemID.length; i++) {
        this.$root.api.Master_s_linelabelMove({
          data: {
            linelabel_move: [
              {
                linelabel_id: this.checkItemID[i],
                user_id: localStorage.getItem("UserID"),
                user_name: localStorage.getItem("User"),
              },
            ],
          },
          callback: (res) => {
            if ((res[0].status = "s")) {
              swal({
                title: "สำเร็จ!",
                text: "บันทึกข้อมูลรายละเอียดป้ายเสร็จสิ้น",
                icon: "success",
                button: "ตกลง",
              });
            } else {
              swal({
                title: "ไม่สำเร็จ!",
                text: "ไม่สามารถบันทึกรายละเอียดป้ายได้",
                icon: "error",
                dangerMode: true,
                button: "ตกลง",
              });
            }
          },
        });
      }
      this.SearchLineLabel();

      this.openDeleteModal = false;
    },
    InsertLabelButton() {
      var subjId = [];
      var subjDesc = "";
      var Desc = [];
      if (
        (this.defaultExDate > this.currentDate &&
          this.defaultExDate > this.thisNowDate) ||
        this.defaultExDate == "2000-01-01"
      ) {
        if (
          this.CustomerOptions.selected == null ||
          this.LabelOptions.selected == null
        ) {
          swal({
            title: "ไม่สามารถบันทึกข้อมูลได้!",
            text: "กรุณาใส่รายละเอียดให้ครบถ้วน",
            icon: "error",
            button: "ตกลง",
          });
        } else {
          for (let i = 0; i < this.subjectCheck.length; i++) {
            subjId.push(parseInt(this.subjectCheck[i].split("-")[0]));
            Desc.push(this.subjectCheck[i].split("-")[1]);
          }
          console.log(this.subjectCheck);
          subjDesc = Desc.join();
          this.$root.api.Master_s_linelabelSave({
            data: {
              linelabel_save: [
                {
                  cus_cod: this.CustomerOptions.selected.cuscod,
                  cus_name: this.CustomerOptions.selected.fname,
                  label_id: this.LabelOptions.selected.label_id,
                  label_cd: this.LabelOptions.selected.label_cd,
                  label_name_th: this.LabelOptions.selected.label_name_th,
                  path_pic: this.lineLabelImg,
                  effdate_st: this.currentDate,
                  effdate_en: this.defaultExDate,
                  user_id: localStorage.getItem("UserID"),
                  user_name: localStorage.getItem("User"),
                  status: this.LabelOptions.selected.status,
                  linelabel_desc: subjDesc,
                },
              ],
            },
            callback: (res) => {
              if (res[0].status == "S") {
                var linelabel_id = 0;
                linelabel_id = res[0].linelabel_id;
                for (let i = 1; i <= this.Linesubject.length; i++) {
                  var lineitemno = linelabel_id + "." + i;
                  var linesubject_id = i;
                  var show_flag = 0;
                  if (subjId.includes(linesubject_id)) {
                    show_flag = 1;
                  } else {
                    show_flag = 0;
                  }
                  this.$root.api.Master_s_linelabelSaveD({
                    data: {
                      label_d: [
                        {
                          linelabel_id: linelabel_id,
                          lineitemno: lineitemno,
                          linesubject_id: linesubject_id,
                          show_flag: show_flag,
                          user_id: localStorage.getItem("UserID"),
                          user_name: localStorage.getItem("User"),
                        },
                      ],
                    },
                    callback: (res) => {
                      if (res[0].status == "S") {
                        swal({
                          title: "สำเร็จ!",
                          text: "บันทึกข้อมูลรายละเอียดการพิมพ์ป้ายเสร็จสิ้น",
                          icon: "success",
                          button: "ตกลง",
                        });
                      } else if (res[0].status == "F") {
                        swal({
                          title: "ไม่สำเร็จ!",
                          text: "ไม่สามารถบันทึกรายละเอียดการพิมพ์ป้ายได้",
                          icon: "error",
                          dangerMode: true,
                          button: "ตกลง",
                        });
                      }
                    },
                  });
                }
              } else if (res[0].status == "F") {
                swal({
                  title: "ไม่สำเร็จ!",
                  text: "ไม่สามารถบันทึกรายละเอียดการพิมพ์ป้ายได้",
                  icon: "error",
                  dangerMode: true,
                  button: "ตกลง",
                });
              }
            },
          });
          this.SearchLineLabel();
          this.openAddModal = false;
          document.getElementById("filename").value = "";
          document.getElementById("showImage").removeAttribute("src");
        }
      } else {
        swal(
          "ข้อมูลไม่ถูกต้อง",
          "วันหมดอายุจะต้องมากกว่าวันที่ประกาศใช้และวันปัจจุบัน",
          "warning"
        );
      }
    },
    resetData() {
      this.CustomerOptions.selected = null;
      this.LabelOptions.selected = null;
      this.subjectCheck = [];
      this.editLineLabelD_id = [];
      document.getElementById("filename").value = "";
      document.getElementById("showImage").removeAttribute("src");
      document.getElementById("filename-edit").value = "";
      this.SearchLineLabel();
      let nowDate = new Date();
      this.currentDate = GetDate(nowDate.setDate(nowDate.getDate()));
      this.thisNowDate = GetDate(nowDate.setDate(nowDate.getDate()));
      this.defaultExDate = "2000-01-01";
    },
  },
  computed: {
    displayedPostsActive() {
      return this.paginate(this.dataActive);
    },
    displayedPostsInactive() {
      return this.paginateInactive(this.dataInactive);
    },
    displayedPostsCancel() {
      return this.paginateCancel(this.dataCancel);
    },
  },
  watch: {
    Active() {
      this.setPagesActive();
    },
    Inactive() {
      this.setPagesIntive();
    },
    Cancel() {
      this.setPagesCancel();
    },
  },
};
</script>

<style>
.view-checkboxes {
  background-color: rgba(0, 255, 98, 0.5);
  pointer-events: none;
  opacity: 0.5;
}
</style>
