<template>
  <CForm class="align-self-center">
    <CInput
    class="mt-4"
      label="รหัสพนักงาน *"
      v-model="formRegis.user_id"
      horizontal
      @keyup.enter="onUserIDSearch()"
    >
      <template #append>
        <CButton @click="onUserIDSearch()" color="bg-gray-100">
          <CIcon name="cil-magnifying-glass" />
        </CButton>
      </template>
    </CInput>
    <div>
      <CInput disabled label="ชื่อ-สกุล " v-model="formRegis.user_name" horizontal />
      <CInput disabled label="ตำแหน่ง" placeholder v-model="formRegis.user_pos" horizontal>
        <template #append>
          <CButton class="ml-2 btn-posname" color="secondary" disabled>{{ formRegis.user_posname }}</CButton>
        </template>
      </CInput>
      <CInput disabled label="หน่วยงาน" placeholder v-model="formRegis.user_comp" horizontal />
      <CInput disabled label=" " placeholder v-model="formRegis.user_compname" horizontal />
    </div>
    <CInput
      label="รหัสผ่าน *"
      placeholder
      ref="password"
      type="password"
      v-model="formRegis.password"
      horizontal
    />
    <CInput
      label="ยืนยันรหัสผ่าน *"
      placeholder
      ref="repassword"
      type="password"
      v-model="formRegis.cpassword"
      @keyup.enter="onSignUpButtonClick"
      horizontal
    />
    <!-- <CInput
      label="ยืนยันรหัสผ่าน"
      placeholder
      ref="repassword"
      type="password"
      v-model="formRegis.cpassword"

      :is-valid="validator"
      @keyup.enter="onSigninButtonClick"
      horizontal
    />-->
    <CRow>
      <CCol col="6" class="text-left mt-4"></CCol>
      <CCol col="6" class="text-right mt-4">
        <CButton class="px-4 primary-button btn-block" @click="onSignUpButtonClick">สมัครสมาชิก</CButton>
      </CCol>
    </CRow>
  </CForm>
</template>

<script>
import swal from "sweetalert";

export default {
  data() {
    return {
      formRegis: {
        user_id: "",
        user_name: "",
        user_pos: "",
        user_posname: "",
        user_comp: "",
        user_compname: "",
        password: "",
        cpassword: "",
      },
      resTemploy: "",
    };
  },
  components: {},
  mounted() {},
  methods: {
    // validator(val) {
    //   return val ? formRegis.cpassword = formRegis.cpassword: false;
    // },
    onUserIDSearch() {
      this.$root.api.VTemploy1Search({
        data: {
          CODEMPID: this.formRegis.user_id,
        },
        callback: (res) => {
          this.resTemploy = res[0];
           if (res.length == 0) {
            swal(
              "ผิดพลาด!",
              "ไม่พบรหัสพนักงาน",
              "error"
            );
          }
          else if (this.resTemploy.staemp == 9) {
            swal(
              "ผิดพลาด!",
              "สถานะพนักงานเป็นพ้นสภาพ ไม่สมารถสมัครสมาชิกได้",
              "error"
            );
          } 
          else {
          this.formRegis.user_name = this.resTemploy.nameempt;
          this.formRegis.user_pos = this.resTemploy.codpos;
          this.formRegis.user_posname = this.resTemploy.codposname;
          this.formRegis.user_comp = this.resTemploy.codcomp;
          this.formRegis.user_compname = this.resTemploy.codcompname;}
        },
      });
    },
    onSignUpButtonClick() {
      this.$root.api.UserSearch({
        data: {
          USERNAME: this.formRegis.user_id,
        },
        callback: (res) => {
          if (res.length != 0) {
            swal(
              "ผิดพลาด!",
              "มีบัญชีผู้ใช้นี้อยู่แล้ว ไม่สามารถสมัครสมาชิกได้",
              "error"
            );
          } else {
            if (this.formRegis.user_id != "" && this.formRegis.password != "") {
              if (this.formRegis.password == this.formRegis.cpassword) {
                swal("ต้องการสมัครสมาชิก ?", "", "info", {
                  buttons: {
                    cancel: "ยกเลิก",
                    catch: {
                      text: "ยันยัน",
                      value: "catch",
                    },
                  },
                }).then((value) => {
                  switch (value) {
                    case "catch":
                       this.$root.api.UserRegister({
                  data: {
                    USERNAME: this.formRegis.user_id,
                    EMPNAME: this.formRegis.user_name,
                    codpos: this.formRegis.user_pos,
                    codposname: this.formRegis.user_posname,
                    codcomp: this.formRegis.user_comp,
                    codcompname: this.formRegis.user_compname,
                    staemp: this.resTemploy.staemp,
                    PASSWORD: this.formRegis.password,
                  },
                  callback: (res) => {
                    swal(
                      "สำเร็จ!",
                      "สมัครสมาชิกสำเร็จ กรุณาเข้าสู่ระบบ!",
                      "success"
                    );
                    setTimeout("window.location.href = '/user/login';",700);
                  },
                });
                  }
                });
               
              } else {
                swal("ผิดพลาด!", "กรุณากรอกรหัสผ่านให้ตรงกัน", "error");
              }
            } else {
              swal("ผิดพลาด!", "กรุณากรอกข้อมูลให้ครบถ้วน", "error");
            }
          }
        },
      });
    },
  },
};
</script>

<style >
  .input-group-prepend .btn,
  .input-group-append .btn-posname {
    position: relative;
    z-index: 2;
    width: 150px;
    color: #3c4b64;
  }

@media (max-width: 768px) {
  .input-group-prepend .btn,
  .input-group-append .btn-posname {
    position: relative;
    z-index: 2;
    width: 200px;
    color: #3c4b64;
    font-display: ;
  }
}
</style>
