<template>
  <div>
    <CCard class="card-content">
      <CCardHeader class="card-header ">
        <h4 id="" class="mt-0 mb-0">
          การบันทึก/แก้ไข Sticker/Tape Sticker
        </h4>
      </CCardHeader>
      <CCardBody>
        <CRow class="mx-1" v-if="HReport == true">
          <CCol md="6">
            <CRow class="form-group">
              <CCol md="6" class="my-1">
                <span>รหัส</span>
                <input
                  autocomplete="off"
                  v-model="search.sticker_cd"
                  style="text-transform: uppercase !important"
                  maxlength="2"
                  class="input-box"
                  @keyup.enter="SearchSticker"
                />
              </CCol>
              <CCol md="6" class="my-1">
                <span>รายละเอียด</span>
                <input
                  autocomplete="off"
                  v-model="search.txtSearch"
                  class="input-box"
                  @keyup.enter="SearchSticker"
                />
              </CCol>
            </CRow>
          </CCol>
          <CCol md="1">
            <CRow class="">
              <CButton class="mt-4" color="info" block @click="SearchSticker">
                <CIcon name="cil-magnifying-glass" /> ค้นหา
              </CButton>
            </CRow>
          </CCol>
        </CRow>
        <CRow class="mx-3">
          <CButton
            class="mt-1 mr-3"
            color="success"
            @click="openAddModal = true"
          >
            <i class="fa fa-plus"></i>
            เพิ่ม
          </CButton>
          <CButton
            class="mt-1 mr-3 text-white"
            color="warning"
            @click="EditStickerView"
            v-if="checkedItem > 0 && itemsTabs1 == true"
          >
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton class="mt-1 mr-3 text-white" color="warning" disabled v-else>
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="info"
            @click="ViewStickerButton"
            v-if="checkedItem > 0"
          >
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton class="mt-1 mr-3" color="info" disabled v-else>
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="danger"
            @click="DeleteStickerView"
            v-if="checkedItem > 0 && itemsTabs3 == false"
          >
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton class="mt-1 mr-3 " color="danger" disabled v-else>
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton
            variant="outline"
            color="secondary"
            class="mt-1 mr-3"
            :pressed.sync="HReport"
            >{{ HReport ? "ซ่อน" : "แสดง" }}เงื่อนไข</CButton
          >
        </CRow>
      </CCardBody>
      <hr class="my-0" />
      <CCardBody>
        <CNav variant="tabs">
          <CNavItem v-model="itemsTabs1" active>
            <CButton
              @click="
                (itemsTabs1 = true), (itemsTabs2 = false), (itemsTabs3 = false)
              "
              >ข้อมูล Sticker/Tape Sticker ที่ Active</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs2">
            <CButton
              @click="
                (itemsTabs2 = true), (itemsTabs1 = false), (itemsTabs3 = false)
              "
              >ข้อมูล Sticker/Tape Sticker ที่หมดอายุ (Inactive)</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs3">
            <CButton
              @click="
                (itemsTabs3 = true), (itemsTabs1 = false), (itemsTabs2 = false)
              "
              >ข้อมูล Sticker/Tape Sticker ที่ถูกลบ</CButton
            >
          </CNavItem>
        </CNav>
        <CCard>
          <CCardBody style="overflow-x: auto" v-if="itemsTabs1 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPageA">แสดง</label>
                <select
                  class="mx-1 selectPage-box"
                  name="selectPageA"
                  id="selectPageA"
                  v-model="perPageA"
                  @click="setPagesActive()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage">/ {{ dataStickerCount }} รายการ</label>
              </div>
            </form>
            <table class="table styled-table" id="table">
              <thead class="tableTab1">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col">รหัส Sticker</th>
                  <th scope="col">รายละเอียด</th>
                  <th scope="col">รูปแบบ Sticker</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันหมดอายุ</th>
                  <th scope="col">ผู้บันทึก</th>
                  <th scope="col">วันที่บันทึก</th>
                </tr>
              </thead>

              <tbody v-for="p in displayedPostsActive" :key="p.sticker_id">
                <tr>
                  <th scope="row" class="text-center">
                    <input
                      autocomplete="off"
                      :value="p.sticker_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      id="Choosed"
                      @click="checkItems(p.sticker_id)"
                    />
                  </th>
                  <td class="td-fontsize">{{ p.sticker_cd }}</td>
                  <td class="td-fontsize">{{ p.sticker_name }}</td>
                  <td class="td-fontsize">{{ p.sticker_type }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                  <td class="td-fontsize">{{ p.user_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    color="primary"
                    v-if="pageA != 1"
                    @click="pageA--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="page-link" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageA++"
                    color="primary"
                    v-if="pageA < pagesA.length"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="page-link"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>

          <CCardBody style="overflow-x: auto" v-if="itemsTabs2 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPageI">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPageI"
                  id="selectPageI"
                  v-model="perPageI"
                  @click="setPagesIntive()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage">/ {{ dataIStickerCount }} รายการ</label>
              </div>
            </form>
            <table class="table styled-table">
              <thead class="tableTab2">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col">รหัส Sticker</th>
                  <th scope="col">รายละเอียด</th>
                  <th scope="col">รูปแบบ Sticker</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันหมดอายุ</th>
                  <th scope="col">ผู้บันทึก</th>
                  <th scope="col">วันที่บันทึก</th>
                </tr>
              </thead>
              <tbody v-for="p in displayedPostsInactive" :key="p.sticker_id">
                <tr>
                  <th scope="row" class="text-center">
                    <input
                      autocomplete="off"
                      :value="p.sticker_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      id="Choosed"
                      @click="checkItems(p.sticker_id)"
                    />
                  </th>
                  <td class="td-fontsize">{{ p.sticker_cd }}</td>
                  <td class="td-fontsize">{{ p.sticker_name }}</td>
                  <td class="td-fontsize">{{ p.sticker_type }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                  <td class="td-fontsize">{{ p.user_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class="text-info"
                    v-if="pageI != 1"
                    @click="pageI--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="text-info" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageI++"
                    v-if="pageI < pagesI.length"
                    class="text-info"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="text-info"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>

          <CCardBody style="overflow-x: auto" v-if="itemsTabs3 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPage">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPage"
                  id="selectPage"
                  v-model="perPageC"
                  @click="setPagesCancel()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage">/ {{ dataCStickerCount }} รายการ</label>
              </div>
            </form>
            <table class="table styled-table">
              <thead class="tableTab3">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col">รหัส Sticker</th>
                  <th scope="col">รายละเอียด</th>
                  <th scope="col">รูปแบบ Sticker</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันหมดอายุ</th>
                  <th scope="col">ผู้ยกเลิก</th>
                  <th scope="col">วันที่ยกเลิก</th>
                </tr>
              </thead>
              <tbody v-for="p in displayedPostsCancel" :key="p.sticker_id">
                <tr>
                  <th scope="row" class="text-center">
                    <input
                      autocomplete="off"
                      :value="p.sticker_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      id="Choosed"
                      @click="checkItems(p.sticker_id)"
                    />
                  </th>
                  <td class="td-fontsize">{{ p.sticker_cd }}</td>
                  <td class="td-fontsize">{{ p.sticker_name }}</td>
                  <td class="td-fontsize">{{ p.sticker_type }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                  <td class="td-fontsize">{{ p.cancel_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.cancel_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
            </table>

            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class="text-danger"
                    v-if="pageC != 1"
                    @click="pageC--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="text-danger" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageC++"
                    v-if="pageC < pagesC.length"
                    class="text-danger"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="text-danger"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>
        </CCard>
      </CCardBody>
      <CCardFooter>
        <CRow class>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-if="itemsTabs3 == true">
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_u_sticker
          </CCol>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-else>
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_s_sticker
          </CCol>
        </CRow>
      </CCardFooter>
    </CCard>

    <!-- openAddModal -->
    <CModal
      :show.sync="openAddModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="success"
    >
      <CRow class="form-group ml-3">
        <CCol md="7" class="mt-3">
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">รหัส Sticker/Tape Sticker</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="4">
              <input
                autocomplete="off"
                maxlength="2"
                id="sticker_cd"
                class="input-box mb-3"
                style="text-transform: uppercase !important"
                v-model="insertSticker.sticker_cd"
                @change="CheckDupCode()"
              />
            </CCol>
          </CRow>
          <CRow class="mb-2">
            <CCol md="4">
              <span class="label-formInput">รายละเอียด</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="8">
              <input
                autocomplete="off"
                v-model="insertSticker.sticker_name"
                class="input-box"
              />
            </CCol>
          </CRow>

          <CRow class="mb-2">
            <CCol md="4">
              <span class="label-formInput">รูปแบบ Sticker</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="8">
              <multiselect
                v-model="StickerTypeValue"
                track-by="name"
                label="name"
                placeholder
                ref="stickertypevalue"
                :options="StickerTypeOptions"
                :show-labels="false"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>

          <CRow class="mb-2">
            <CCol md="4">
              <span class="label-formInput">รหัสสินค้าระบบจัดซื้อ(10หลัก)</span>
            </CCol>
            <CCol md="8">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="ItemCodeOptions-filter"
                v-model="ItemCodeOptions.selected"
                :multiple="false"
                :options="ItemCodeOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="ItemCode"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="4" class="">
                  <span>
                    วันที่ประกาศใช้
                    <span class="text-danger">*</span>
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="insertSticker.effdate_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>

            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="4" class="">
                  <span> วันที่หมดอายุ </span>
                </CCol>
                <CCol md="6" class="">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="insertSticker.effdate_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
          <CRow class="mt-2">
            <CCol md="4">
              <span class="label-formInput">Version</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="4">
              <input
                autocomplete="off"
                v-model="insertSticker.version"
                type="number"
                step="0.01"
                class="input-box"
                @change="CheckDupCode()"
              />
            </CCol>
          </CRow>
          <CRow class="mt-2">
            <CCol md="4">
              <span class="label-formInput">หมายเหตุ</span>
            </CCol>
            <CCol md="8" class="">
              <CTextarea
                maxlength="49"
                v-model="insertSticker.remark"
                rows="3"
              />
            </CCol>
          </CRow>
        </CCol>
        <CCol md="5">
          <CRow>
            <CCol md="12">
              <span>
                เลือกรูปภาพ
                <span class="text-danger"></span>
              </span>
              <br />
              <input
                autocomplete="off"
                type="file"
                name="filename"
                id="filename"
                class="my-2"
                accept="image/jpeg, image/png"
                :v-model="insertSticker.path_pic"
                @click="showPreview()"
                @change="SaveImage"
              />
            </CCol>
            <CCol md="12">
              <CCard style="min-height: 400px">
                <CCardBody v-if="insertSticker.labelImg == ''">
                  <img id="showImage" />
                </CCardBody>
                <CCardBody v-else>
                  <img id="showImage" />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">เพิ่มข้อมูล Sticker/Tape Sticker</h5>
        <CButtonClose
          @click="(openAddModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openAddModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
        <CButton @click="insertStickerButton" color="success">บันทึก</CButton>
      </template>
    </CModal>
    <!-- openEditModal -->
    <CModal
      :show.sync="openEditModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="warning"
    >
      <CRow class="form-group ml-3" v-if="editSticker.effdate_st < nowDate">
        <h5 class="text-danger">
          * ไม่สามารถแก้ไขได้ เนื่องจากมีวันประกาศใช้ไปแล้ว
          แก้ไขได้เฉพาะวันที่หมดอายุ
        </h5>
        <CCol md="7" class="mt-3">
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">รหัส Sticker/Tape Sticker</span>
            </CCol>
            <CCol md="4">
              <CInput disabled v-model="editSticker.sticker_cd" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">รายละเอียด</span>
            </CCol>
            <CCol md="8">
              <CInput disabled v-model="editSticker.sticker_name" />
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">รูปแบบ Sticker</span>
            </CCol>
            <CCol md="8">
              <CInput disabled v-model="editSticker.sticker_type" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">รหัสสินค้าระบบจัดซื้อ(10หลัก)</span>
            </CCol>
            <CCol md="8">
              <CInput disabled v-model="editSticker.itemcode" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="4" class="">
                  <span>
                    วันที่ประกาศใช้
                  </span>
                </CCol>
                <CCol md="8" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    disabled
                    v-model="editSticker.effdate_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>

            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="4" class="">
                  <span> วันที่หมดอายุ </span>
                </CCol>
                <CCol md="8" class="">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="editSticker.effdate_en"
                  ></date-picker>
                </CCol>
              </CRow>
              <CRow class="mt-3">
                <CCol md="4">
                  <span class="label-formInput">Version</span>
                </CCol>
                <CCol md="4">
                  <CInput disabled v-model="editSticker.version" />
                </CCol>
              </CRow>
              <CRow class="">
                <CCol md="4">
                  <span class="label-formInput">หมายเหตุ</span>
                </CCol>
                <CCol md="8" class="">
                  <CTextarea
                    maxlength="49"
                    v-model="editSticker.remark"
                    rows="3"
                    disabled
                  />
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="5">
          <CRow>
            <CCol md="12">
              <CCard style="min-height: 400px">
                <CCardBody>
                  <img
                    id="showImage2"
                    :src="
                      'http://masterdatadev.kkfnets.com' + editSticker.path_pic
                    "
                  />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <CRow class="form-group ml-3" v-else>
        <CCol md="7" class="mt-3">
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">รหัส Sticker/Tape Sticker</span>
            </CCol>
            <CCol md="4">
              <input
                autocomplete="off"
                maxlength="2"
                id="sticker_cd"
                class="input-box mb-3"
                style="text-transform: uppercase !important"
                v-model="editSticker.sticker_cd"
                @change="CheckDupCode()"
              />
            </CCol>
          </CRow>
          <CRow class="mb-2">
            <CCol md="4">
              <span class="label-formInput">รายละเอียด</span>
            </CCol>
            <CCol md="8">
              <input
                autocomplete="off"
                v-model="editSticker.sticker_name"
                class="input-box"
              />
            </CCol>
          </CRow>

          <CRow class="mb-2">
            <CCol md="4">
              <span class="label-formInput">รูปแบบ Sticker</span>
            </CCol>
            <CCol md="8">
              <multiselect
                v-model="StickerTypeValue"
                track-by="name"
                label="name"
                placeholder
                ref="stickertypevalue"
                :options="StickerTypeOptions"
                :show-labels="false"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>

          <CRow class="mb-2">
            <CCol md="4">
              <span class="label-formInput">รหัสสินค้าระบบจัดซื้อ(10หลัก)</span>
            </CCol>
            <CCol md="8">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="ItemCodeOptions-filter"
                v-model="ItemCodeOptions.selected"
                :multiple="false"
                :options="ItemCodeOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="ItemCode"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="4" class="">
                  <span>
                    วันที่ประกาศใช้
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="editSticker.effdate_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>

            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="4" class="">
                  <span> วันที่หมดอายุ </span>
                </CCol>
                <CCol md="6" class="">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="editSticker.effdate_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
          <CRow class="mt-2">
            <CCol md="4">
              <span class="label-formInput">Version</span>
            </CCol>
            <CCol md="4">
              <input
                autocomplete="off"
                v-model="editSticker.version"
                type="number"
                step="0.01"
                class="input-box"
                @change="CheckDupCode()"
              />
            </CCol>
          </CRow>
          <CRow class="mt-2">
            <CCol md="4">
              <span class="label-formInput">หมายเหตุ</span>
            </CCol>
            <CCol md="8" class="">
              <CTextarea maxlength="49" v-model="editSticker.remark" rows="3" />
            </CCol>
          </CRow>
        </CCol>
        <CCol md="5">
          <CRow>
            <CCol md="12">
              <span>
                เลือกรูปภาพ
                <span class="text-danger"></span>
              </span>
              <br />
              <input
                autocomplete="off"
                type="file"
                name="filename-edit"
                id="filename-edit"
                class="my-2"
                accept="image/jpeg, image/png"
                :v-model="editSticker.path_pic"
                @click="showPreviewEdit()"
                @change="SaveEditImage"
              />
            </CCol>
            <CCol md="12">
              <CCard style="min-height: 400px">
                <CCardBody>
                  <img id="showImage2" :src="editSticker.path_pic" />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">แก้ไขข้อมูล Sticker/Tape Sticker</h5>
        <CButtonClose
          @click="(openEditModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openEditModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
        <CButton @click="EditStickerButton" color="success">บันทึก</CButton>
      </template>
    </CModal>
    <!-- openViewModal -->
    <CModal
      :show.sync="openViewModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="info"
    >
      <CRow class="form-group mx-5">
        <CCol md="7" class="mt-3">
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">รหัส Sticker/Tape Sticker</span>
            </CCol>
            <CCol md="4">
              <CInput disabled v-model="viewSticker.sticker_cd" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">รายละเอียด</span>
            </CCol>
            <CCol md="8">
              <CInput disabled v-model="viewSticker.sticker_name" />
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">รูปแบบ Sticker</span>
            </CCol>
            <CCol md="8">
              <CInput disabled v-model="viewSticker.sticker_type" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">รหัสสินค้าระบบจัดซื้อ(10หลัก)</span>
            </CCol>
            <CCol md="8">
              <CInput disabled v-model="viewSticker.itemcode" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="4" class="">
                  <span>
                    วันที่ประกาศใช้
                  </span>
                </CCol>
                <CCol md="8" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    disabled
                    v-model="viewSticker.effdate_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>

            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="4" class="">
                  <span> วันที่หมดอายุ </span>
                </CCol>
                <CCol md="8" class="">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="viewSticker.effdate_en"
                  ></date-picker>
                </CCol>
              </CRow>
              <CRow class="mt-3">
                <CCol md="4">
                  <span class="label-formInput">Version</span>
                </CCol>
                <CCol md="4">
                  <CInput disabled v-model="viewSticker.version" />
                </CCol>
              </CRow>
              <CRow class="">
                <CCol md="4">
                  <span class="label-formInput">หมายเหตุ</span>
                </CCol>
                <CCol md="8" class="">
                  <CTextarea
                    maxlength="49"
                    v-model="viewSticker.remark"
                    rows="3"
                    disabled
                  />
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="5">
          <CRow>
            <CCol md="12">
              <CCard style="min-height: 400px">
                <CCardBody>
                  <img id="showImage2" :src="viewSticker.path_pic" />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">ดูรายละเอียดข้อมูล Sticker/Tape Sticker</h5>
        <CButtonClose @click="openViewModal = false" class="text-white" />
      </template>
      <template #footer>
        <CButton @click="openViewModal = false" color="danger">ยกเลิก</CButton>
      </template>
    </CModal>

    <!-- openDeleteModal -->
    <div>
      <CModal
        :show.sync="openDeleteModal"
        :closeOnBackdrop="false"
        :centered="true"
        title="Modal title 2"
        color="danger"
      >
        <CRow class="form-group mx-5">
          <h6>ยืนยันการลบข้อมูล Sticker/Tape Sticker ดังต่อไปนี้</h6>
          <CCol md="12">
            <div v-for="i in deleteSticker" :key="i.index" class="mb-2">
              <CRow>
                <CCol md="10">
                  รหัส sticker : {{ i.sticker_cd }} <br />
                  รายละเอียด : {{ i.sticker_name }}
                </CCol>
              </CRow>
            </div>
          </CCol>
        </CRow>
        <template #header>
          <h5 class="modal-title">
            ลบข้อมูล Sticker
          </h5>
          <CButtonClose @click="openDeleteModal = false" class="text-white" />
        </template>
        <template #footer>
          <CButton
            @click="openDeleteModal = false"
            color="danger"
            variant="ghost"
            >ยกเลิก</CButton
          >
          <CButton @click="DeleteStickerฺฺButton()" color="danger">ลบ</CButton>
        </template>
      </CModal>
    </div>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import { GetObjValJoin, GetDate, FileToBase64 } from "@/shared/utils";
import setupmixin from "@/shared/setupmixin";
import swal from "sweetalert";
import { loadPartialConfig } from "@babel/core";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";

export default {
  data() {
    return {
      HReport: true,
      search: {
        sticker_id: "",
        sticker_cd: "",
        txtSearch: "",
      },

      StickerTypeOptions: [
        { value: "L", name: "Label Sticker" },
        { value: "T", name: "Tape Sticker" },
      ],
      StickerTypeValue: {},

      itemsTabs1: true,
      itemsTabs2: false,
      itemsTabs3: false,
      checked: [],
      checkedItem: "",

      // Active
      dataSticker: [],
      cancelSticker: [],
      dataActive: [],
      dataStickerCount: 0,
      pageA: 1,
      perPageA: 10,
      pagesA: [],

      // InActive
      dataInactive: [],
      dataIStickerCount: 0,
      pageI: 1,
      perPageI: 5,
      pagesI: [],

      // Cancel
      dataCancel: [],
      dataCStickerCount: 0,
      pageC: 1,
      perPageC: 5,
      pagesC: [],

      openAddModal: false,
      openEditModal: false,
      openViewModal: false,
      openDeleteModal: false,

      insertSticker: {
        sticker_cd: "",
        sticker_name: "",
        effdate_st: "",
        effdate_en: "",
        path_pic: "",
        version: "",
        remark: "",
      },
      editSticker: {
        sticker_cd: "",
        sticker_name: "",
        sticker_type: "",
        itemcode: "",
        effdate_st: "",
        effdate_en: "",
        path_pic: "",
        version: "",
        remark: "",
        old_version: "",
      },
      viewSticker: {
        sticker_cd: "",
        sticker_name: "",
        itemcode: "",
        effdate_st: "",
        effdate_en: "",
        path_pic: "",
        version: "",
        remark: "",
      },
      deleteSticker: {},

      ItemCodeOptions: {
        lists: [],
        selected: null,
      },
      showTable: false,

      //  ? Date Time
      nowDate: "",
    };
  },
  components: {
    Multiselect,
    DatePicker,
  },
  updated() {
    if (this.insertSticker.sticker_cd == "") {
      $("#sticker_cd").focus();
    }
  },
  created() {
    let nowDate = new Date();
    this.nowDate = GetDate(nowDate.setDate(nowDate.getDate()));
    this.insertSticker.effdate_st = this.nowDate;
    this.insertSticker.effdate_en = "2000-01-01";

    this.$root.api.View_itemSearchAllItemCode({
      data: {
        ItemCode: "0820",
        ItemGrp: "0820",
      },
      callback: (res) => {
        res.forEach(
          (x) => (x._label = GetObjValJoin(x, ["itemCode", "itemName"]))
        );
        this.ItemCodeOptions.lists = res;
      },
    });
  },
  mounted() {},
  methods: {
    showPreview() {
      document.getElementById("showImage").removeAttribute("src");
      var filename = document.getElementById("filename");
      filename.onchange = function() {
        var files = filename.files[0];
        var reader = new FileReader();
        reader.readAsDataURL(files);
        reader.onload = function() {
          var result = reader.result;
          document.getElementById("showImage").src = result;
        };
      };
    },
    SaveImage(event) {
      if (event.target.files.length) {
        let file = event.target.files[0];
        if (
          file &&
          (/^image[/]jpeg/.test(file.type) || /^image[/]png/.test(file.type))
        ) {
          FileToBase64(file).then((pic) => {
            this.insertSticker.path_pic = pic;
            return;
          });
        } else {
        }
      }
      this.file = null;
      this.insertSticker.path_pic = "";
    },
    showPreviewEdit() {
      var filename = document.getElementById("filename-edit");
      filename.onchange = function() {
        var files = filename.files[0];
        var reader = new FileReader();
        reader.readAsDataURL(files);
        reader.onload = function() {
          var result = reader.result;
          document.getElementById("showImage2").src = result;
        };
      };
    },
    SaveEditImage(event) {
      if (event.target.files.length) {
        let file = event.target.files[0];
        if (
          file &&
          (/^image[/]jpeg/.test(file.type) || /^image[/]png/.test(file.type))
        ) {
          FileToBase64(file).then((pic) => {
            this.editSticker.path_pic = pic;
            return;
          });
        } else {
        }
        this.file = null;
        this.editSticker.path_pic = null;
      }
    },
    checkItems(val) {
      this.checkedItem = $("input[type=checkbox][name=Choosed]:checked")
        .map(function(_, el) {
          return $(el).val();
        })
        .get();
    },
    SearchSticker() {
      this.dataSticker = [];
      this.cancelSticker = [];
      this.dataStickerCount = 0;
      this.dataIStickerCount = 0;
      this.dataCStickerCount = 0;
      this.checked = [];
      this.checkedItem = "";
      this.$root.api.Master_s_StickerSearchView({
        data: {
          sticker_id: this.search.sticker_id,
          sticker_cd: this.search.sticker_cd,
          txtsearch: this.search.txtSearch,
        },
        callback: (res) => {
          //  ?console.log(res.length);
          if (res.length == 0) {
            swal({
              title: "ผิดพลาด",
              text: "ไม่พบรายการเงื่อนไขที่ค้นหา",
              icon: "warning",
              button: "ตกลง",
            });
          } else {
            this.dataSticker = res;
            for (let i = 0; i < res.length; i++) {
              if (res[i].status == "A") {
                this.dataStickerCount = this.dataStickerCount + 1;
              } else if (res[i].status == "I") {
                this.dataIStickerCount = this.dataIStickerCount + 1;
              } else if (res[i].status == "C") {
                this.dataCStickerCount = this.dataCStickerCount + 1;
              }
            }
            this.getDataSticker();
            this.setPagesActive();
            this.setPagesInactive();
            this.setPagesCancel();
          }
          this.$root.api.Master_s_StickerSearchCancel({
            data: {
              label_cd: this.search.label_cd,
              strap_cd: this.search.strap_cd,
              txtsearch: this.search.txtSearch,
            },
            callback: (res) => {
              this.cancelSticker = res;
              this.getCancelSticker();
            },
          });
        },
      });
    },
    insertStickerButton() {
      var _itemCode = "";
      if (this.ItemCodeOptions.selected == null) {
        _itemCode = "";
      } else {
        _itemCode = this.ItemCodeOptions.selected.itemCode;
      }
      if (
        this.insertSticker.sticker_cd != "" &&
        this.insertSticker.sticker_name != "" &&
        this.insertSticker.version != "" &&
        this.StickerTypeValue != null
      ) {
        if (
          this.insertSticker.effdate_en == "2000-01-01" ||
          (this.insertSticker.effdate_en > this.nowDate &&
            this.insertSticker.effdate_en > this.insertSticker.effdate_st)
        ) {
          this.$root.api.Master_s_StickerSave({
            data: {
              sticker_cd: this.insertSticker.sticker_cd.toUpperCase(),
              sticker_name: this.insertSticker.sticker_name,
              sticker_type: this.StickerTypeValue.value,
              status: "A",
              itemcode: _itemCode,
              version: this.insertSticker.version,
              remark: this.insertSticker.remark,
              path_pic: this.insertSticker.path_pic,
              effdate_st: this.insertSticker.effdate_st,
              effdate_en: this.insertSticker.effdate_en,
              user_id: localStorage.getItem("UserID"),
              user_name: localStorage.getItem("User"),
            },
            callback: (res) => {
              if (res._status == "S") {
                swal({
                  title: "สำเร็จ",
                  text: "บันทึกข้อมูล Sticker/Tape Sticker เสร็จสิ้น",
                  icon: "success",
                  button: "ตกลง",
                });
                this.resetData();
              } else if (res._status == "F") {
                swal({
                  title: "ผิดพลาด!",
                  text: "ไม่สามารถบันทึกข้อมูล Sticker/Tape Sticker ได้",
                  icon: "error",
                  button: "ตกลง",
                });
                this.resetData();
              }
              this.SearchSticker();
            },
          });
        } else {
          swal({
            title: "ข้อมูลไม่ถูกต้อง!",
            text: "วันหมดอายุจะต้องมากกว่าวันที่ประกาศใช้และวันปัจจุบัน",
            icon: "error",
            button: "ตกลง",
          });
        }
      } else {
        swal({
          title: "ผิดพลาด",
          text: "กรุณากรอกข้อมูล Sticker/Tape Sticker ให้ครบ",
          icon: "error",
          button: "ตกลง",
        });
      }
    },
    EditStickerView() {
      this.openEditModal = true;
      var x = this.checkedItem[0];
      this.$root.api.Master_s_StickerSearch({
        data: {
          sticker_id: x,
        },
        callback: (res) => {
          this.editSticker.effdate_st = res[0].effdate_st.split("T")[0];
          this.editSticker.effdate_en = res[0].effdate_en.split("T")[0];
          this.editSticker.sticker_cd = res[0].sticker_cd;
          this.editSticker.sticker_name = res[0].sticker_name;
          this.editSticker.version = res[0].version;
          this.editSticker.remark = res[0].remark;
          this.editSticker.old_version = res[0].version;
          this.editSticker.path_pic = res[0].path_pic;
          if (res[0].sticker_type == "L") {
            this.StickerTypeValue = { value: "L", name: "Label Sticker" };
            this.editSticker.sticker_type = "L : Label Sticker";
          } else {
            this.StickerTypeValue = { value: "T", name: "Tape Sticker" };
            this.editSticker.sticker_type = "T : Tape Sticker";
          }

          this.$root.api.View_itemSearchItemCode({
            data: { ItemCode: res[0].itemcode },
            callback: (res) => {
              res.forEach(
                (x) => (x._label = GetObjValJoin(x, ["itemCode", "itemName"]))
              );
              this.ItemCodeOptions.selected = res[0];
              this.editSticker.itemcode = res[0]._label;
            },
          });
        },
      });
    },
    EditStickerButton() {
      var _itemCode = "";
      if (this.ItemCodeOptions.selected == null) {
        _itemCode = "";
      } else {
        _itemCode = this.ItemCodeOptions.selected.itemCode;
      }

      var x = this.checkedItem[0];
      // ? console.log(this.editSticker.effdate_en);
      if (
        this.editSticker.effdate_en == "2000-01-01" ||
        (this.editSticker.effdate_en > this.nowDate &&
          this.editSticker.effdate_en > this.editSticker.effdate_st)
      ) {
        this.$root.api.Master_s_StickerSave({
          data: {
            sticker_id: x,
            sticker_cd: this.editSticker.sticker_cd.toUpperCase(),
            sticker_name: this.editSticker.sticker_name,
            sticker_type: this.StickerTypeValue.value,
            itemcode: _itemCode,
            version: this.editSticker.version,
            remark: this.editSticker.remark,
            path_pic: this.editSticker.path_pic,
            status: "A",
            effdate_st: this.editSticker.effdate_st,
            effdate_en: this.editSticker.effdate_en,
            user_id: localStorage.getItem("UserID"),
            user_name: localStorage.getItem("User"),
          },
          callback: (res) => {
            if (res._status == "S") {
              swal({
                title: "สำเร็จ",
                text: "บันทึกข้อมูล Sticker/Tape Sticker เสร็จสิ้น",
                icon: "success",
                button: "ตกลง",
              });
            } else if (res._status == "F") {
              swal({
                title: "ผิดพลาด!",
                text: "ไม่สามารถบันทึกข้อมูลได้",
                icon: "error",
                button: "ตกลง",
              });
            }
            this.openEditModal = false;
            this.SearchSticker();
            this.resetData();
          },
        });
      } else {
        swal({
          title: "ผิดพลาด!",
          text: "วันหมดอายุจะต้องมากกว่าวันที่ประกาศใช้และวันปัจจุบัน",
          icon: "error",
          button: "ตกลง",
        });
      }
    },
    ViewStickerButton() {
      this.openViewModal = true;
      var x = this.checkedItem[0];
      this.$root.api.Master_s_StickerSearch({
        data: {
          sticker_id: x,
        },
        callback: (res) => {
          this.viewSticker.effdate_st = res[0].effdate_st.split("T")[0];
          this.viewSticker.effdate_en = res[0].effdate_en.split("T")[0];
          this.viewSticker.sticker_cd = res[0].sticker_cd;
          this.viewSticker.sticker_name = res[0].sticker_name;
          this.viewSticker.version = res[0].version;
          this.viewSticker.remark = res[0].remark;
          this.viewSticker.path_pic =
            "http://masterdatadev.kkfnets.com" + res[0].path_pic;
          if (res[0].sticker_type == "L") {
            this.viewSticker.sticker_type = "L : Label Sticker";
          } else {
            this.viewSticker.sticker_type = "T : Tape Sticker";
          }

          this.$root.api.View_itemSearchItemCode({
            data: { ItemCode: res[0].itemcode },
            callback: (res) => {
              console.log(res);
              res.forEach(
                (x) => (x._label = GetObjValJoin(x, ["itemCode", "itemName"]))
              );
              this.viewSticker.itemcode = res[0]._label;
            },
          });
        },
      });
    },
    DeleteStickerView() {
      this.openDeleteModal = true;
      var x = this.checkedItem[0];
      this.$root.api.Master_s_StickerSearch({
        data: {
          sticker_id: x,
        },
        callback: (res) => {
          this.deleteSticker = res;
        },
      });
    },
    CheckDupCode() {
      var Dupvalue = [];
      if (this.openAddModal == true) {
        if (this.insertSticker.sticker_cd.length < 2) {
          swal({
            title: "ผิดพลาด!",
            text: "รหัส Sticker/Tape Sticker ต้องมี 2 หลัก",
            icon: "error",
            button: "ตกลง",
          });
          $("#sticker_cd").focus();
        } else {
          this.$root.api.Master_s_StickerSearch({
            data: {
              sticker_cd: this.insertSticker.sticker_cd,
            },
            callback: (res) => {
              if (res.length != 0) {
                swal({
                  title: "รหัส Sticker/Tape Sticker ซ้ำ",
                  text:
                    "กรุณากรอกรหัส Sticker/Tape Sticker หรือเปลี่ยน version",
                  icon: "warning",
                  button: "ตกลง",
                });
                for (let i = 0; i < res.length; i++) {
                  if (res[i].version == this.insertSticker.version) {
                    Dupvalue.push("true");
                  }
                }
                var CheckDupvalue = Dupvalue.includes("true");
                if (CheckDupvalue == true) {
                  swal({
                    title: "รหัส Sticker/Tape Sticker ซ้ำ",
                    text:
                      "กรุณากรอกรหัส Sticker/Tape Sticker หรือเปลี่ยน version",
                    icon: "warning",
                    button: "ตกลง",
                  });
                  this.insertSticker.version = "";
                }
              }
            },
          });
        }
      } else if (this.openEditModal == true) {
        console.log("Edit");
        this.$root.api.Master_s_StickerSearch({
          data: {
            sticker_cd: this.editSticker.sticker_cd,
          },
          callback: (res) => {
            if (res.length != 0) {
              for (let i = 0; i < res.length; i++) {
                if (res[i].version == this.editSticker.version) {
                  if (
                    this.editSticker.version != this.editSticker.old_version
                  ) {
                    Dupvalue.push("true");
                  }
                }
              }
              var CheckDupvalue = Dupvalue.includes("true");
              if (CheckDupvalue == true) {
                swal({
                  title: "รหัส Sticker/Tape Sticker ซ้ำ",
                  text:
                    "กรุณากรอกรหัส Sticker/Tape Sticker หรือเปลี่ยน version",
                  icon: "error",
                  button: "ตกลง",
                });
                this.editSticker.version = this.editSticker.old_version;
              }
            }
          },
        });
      }
    },
    DeleteStickerฺฺButton() {
      this.$root.api.Master_s_StickerMove({
        data: {
          sticker_move: [
            {
              sticker_id: this.deleteSticker[0].sticker_id,
              sticker_cd: this.deleteSticker[0].sticker_cd,
              user_id: localStorage.getItem("UserID"),
              user_name: localStorage.getItem("User"),
            },
          ],
        },
        callback: (res) => {
          if (res._status == "S") {
            swal({
              title: "สำเร็จ",
              text: "ลบข้อมูล Sticker/Tape Sticker เสร็จสิ้น",
              icon: "success",
              button: "ตกลง",
            });
          } else {
            swal({
              title: "ผิดพลาด!",
              text: "ไม่สามารถลบข้อมูล Sticker/Tape Sticker ได้",
              icon: "error",
              button: "ตกลง",
            });
          }
          this.openDeleteModal = false;
          this.SearchSticker();
        },
      });
    },
    resetData() {
      this.checked = [];
      this.checkedItem = "";
      this.ItemCodeOptions.selected = null;
      this.insertSticker.effdate_st = this.nowDate;
      this.insertSticker.effdate_en = "2000-01-01";
      this.insertSticker.sticker_cd = "";
      this.insertSticker.sticker_name = "";
      this.insertSticker.version = "";
      this.insertSticker.remark = "";
      this.StickerTypeValue = null;
      this.openDeleteModal = false;
      this.openAddModal = false;
      this.openEditModal = false;
      this.SearchSticker();
      document.getElementById("filename").value = "";
      document.getElementById("showImage").removeAttribute("src");
      document.getElementById("filename-edit").value = "";
    },
    // ? Pagination
    getDataSticker() {
      this.dataActive = [];
      this.dataInactive = [];
      for (let i = 0; i < this.dataSticker.length; i++) {
        var sticker_type_show = "";
        if (this.dataSticker[i].sticker_type == "L") {
          sticker_type_show = "L : Label Sticker";
        } else {
          sticker_type_show = "T : Tape Sticker";
        }

        if (this.dataSticker[i].status == "A") {
          this.dataActive.push({
            sticker_id: this.dataSticker[i].sticker_id,
            sticker_cd: this.dataSticker[i].sticker_cd,
            sticker_name: this.dataSticker[i].sticker_name,
            sticker_type: sticker_type_show,
            effdate_en: this.dataSticker[i].effdate_en,
            effdate_st: this.dataSticker[i].effdate_st,
            user_date: this.dataSticker[i].user_date,
            user_id: this.dataSticker[i].user_id,
            user_name: this.dataSticker[i].user_name,
          });
        } else if (this.dataSticker[i].status == "I") {
          this.dataInactive.push({
            sticker_id: this.dataSticker[i].sticker_id,
            sticker_cd: this.dataSticker[i].sticker_cd,
            sticker_name: this.dataSticker[i].sticker_name,
            sticker_type: sticker_type_show,
            effdate_en: this.dataSticker[i].effdate_en,
            effdate_st: this.dataSticker[i].effdate_st,
            user_date: this.dataSticker[i].user_date,
            user_id: this.dataSticker[i].user_id,
            user_name: this.dataSticker[i].user_name,
          });
        }
      }
    },
    getCancelSticker() {
      this.dataCancel = [];
      for (let i = 0; i < this.cancelSticker.length; i++) {
        var sticker_type_show = "";
        if (this.cancelSticker[i].sticker_type == "L") {
          sticker_type_show = "L : Label Sticker";
        } else {
          sticker_type_show = "T : Tape Sticker";
        }

        this.dataCancel.push({
          sticker_id: this.cancelSticker[i].sticker_id,
          sticker_cd: this.cancelSticker[i].sticker_cd,
          sticker_name: this.cancelSticker[i].sticker_name,
          sticker_type: sticker_type_show,
          effdate_en: this.cancelSticker[i].effdate_en,
          effdate_st: this.cancelSticker[i].effdate_st,
          user_date: this.cancelSticker[i].user_date,
          user_id: this.cancelSticker[i].user_id,
          user_name: this.cancelSticker[i].user_name,
          cancel_id: this.cancelSticker[i].cancel_id,
          cancel_name: this.cancelSticker[i].cancel_name,
          cancel_date: this.cancelSticker[i].cancel_date,
        });
      }
    },
    setPagesActive() {
      this.pagesA = [];
      let numberOfPages = Math.ceil(this.dataStickerCount / this.perPageA);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesA.push(index);
      }
      this.pageA = 1;
    },
    setPagesInactive() {
      this.pagesI = [];
      let numberOfPages = Math.ceil(this.dataIStickerCount / this.perPageI);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesI.push(index);
      }
      this.pageI = 1;
    },
    setPagesCancel() {
      this.pagesC = [];
      let numberOfPages = Math.ceil(this.dataCStickerCount / this.perPageI);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesC.push(index);
      }
      this.pageC = 1;
    },
    paginate(Active) {
      let pageA = this.pageA;
      let perPageA = this.perPageA;
      let from = pageA * perPageA - perPageA;
      let to = pageA * perPageA;
      return Active.slice(from, to);
    },
    paginateInactive(Inactive) {
      let pageI = this.pageI;
      let perPageI = this.perPageI;
      let from = pageI * perPageI - perPageI;
      let to = pageI * perPageI;
      return Inactive.slice(from, to);
    },
    paginateCancel(Cancel) {
      let pageC = this.pageC;
      let perPageC = this.perPageC;
      let from = pageC * perPageC - perPageC;
      let to = pageC * perPageC;
      return Cancel.slice(from, to);
    },
  },
  computed: {
    displayedPostsActive() {
      return this.paginate(this.dataActive);
    },
    displayedPostsInactive() {
      return this.paginateInactive(this.dataInactive);
    },
    displayedPostsCancel() {
      return this.paginateCancel(this.dataCancel);
    },
  },
  watch: {
    Active() {
      this.setPagesActive();
    },
    Inactive() {
      this.setPagesInactive();
    },
    Cancel() {
      this.setPagesCancel();
    },
  },
};
</script>

<style></style>
