<template>
  <div>
    <CCard class="card-content">
      <CCardHeader class="card-header ">
        <h4 id="" class="mt-0 mb-0">
          กำหนดมาตรฐานเงื่อนไขการใช้ Sticker/Tape Sticker
        </h4>
      </CCardHeader>
      <CCardBody>
        <CRow class="mx-1" v-if="HReport == true">
          <CCol md="6">
            <CRow class="form-group">
              <CCol md="6" class="my-1">
                <span>รหัสป้าย</span>
                <input
                  autocomplete="off"
                  v-model="search.label"
                  style="text-transform: uppercase !important"
                  maxlength="4"
                  class="input-box"
                  @keyup.enter="SearchStickerSpec"
                />
              </CCol>
              <CCol md="6" class="my-1">
                <span>ประเภทการอบ</span>
                <input
                  autocomplete="off"
                  v-model="search.stretching"
                  style="text-transform: uppercase !important"
                  maxlength="4"
                  class="input-box"
                  @keyup.enter="SearchStickerSpec"
                />
              </CCol>
              <CCol md="8" class="my-1">
                <span>รายละเอียด Sticker</span>
                <input
                  autocomplete="off"
                  v-model="search.txtsearch"
                  style="text-transform: uppercase !important"
                  class="input-box"
                  @keyup.enter="SearchStickerSpec"
                />
              </CCol>
            </CRow>
          </CCol>
          <CCol md="1">
            <CRow class="">
              <CButton
                class="mt-4"
                color="info"
                block
                @click="SearchStickerSpec"
              >
                <CIcon name="cil-magnifying-glass" /> ค้นหา
              </CButton>
            </CRow>
          </CCol>
        </CRow>
        <CRow class="mx-3">
          <CButton
            class="mt-1 mr-3"
            color="success"
            @click="openAddModal = true"
          >
            <i class="fa fa-plus"></i>
            เพิ่ม
          </CButton>
          <CButton
            class="mt-1 mr-3 text-white"
            color="warning"
            @click="EditStickerSpecView"
            v-if="checkedSpec > 0 && itemsTabs1 == true"
          >
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton class="mt-1 mr-3 text-white" color="warning" disabled v-else>
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="info"
            @click="ViewStickerSpecButton"
            v-if="checkedSpec > 0"
          >
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton class="mt-1 mr-3" color="info" disabled v-else>
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="danger"
            @click="DeleteStickerSpecView"
            v-if="checkedSpec > 0 && itemsTabs3 == false"
          >
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton class="mt-1 mr-3 " color="danger" disabled v-else>
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton
            variant="outline"
            color="secondary"
            class="mt-1 mr-3"
            :pressed.sync="HReport"
            >{{ HReport ? "ซ่อน" : "แสดง" }}เงื่อนไข</CButton
          >
        </CRow>
      </CCardBody>
      <hr class="my-0" />
      <CCardBody>
        <CNav variant="tabs">
          <CNavItem v-model="itemsTabs1" active>
            <CButton
              @click="
                (itemsTabs1 = true), (itemsTabs2 = false), (itemsTabs3 = false)
              "
              >ข้อมูลมตฐ.เงื่อนไขการใช้ Sticker ที่ Active</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs2">
            <CButton
              @click="
                (itemsTabs2 = true), (itemsTabs1 = false), (itemsTabs3 = false)
              "
              >ข้อมูลมตฐ.เงื่อนไขการใช้ Stickerที่หมดอายุ (Inactive)</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs3">
            <CButton
              @click="
                (itemsTabs3 = true), (itemsTabs1 = false), (itemsTabs2 = false)
              "
              >ข้อมูลมตฐ.เงื่อนไขการใช้ Sticker ที่ถูกลบ</CButton
            >
          </CNavItem>
        </CNav>
        <CCard>
          <CCardBody style="overflow-x: auto" v-if="itemsTabs1 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPageA">แสดง</label>
                <select
                  class="mx-1 selectPage-box"
                  name="selectPageA"
                  id="selectPageA"
                  v-model="perPageA"
                  @click="setPagesActive()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage"
                  >/ {{ dataStickerSpecCount }} รายการ</label
                >
              </div>
            </form>
            <table class="table styled-table" id="table">
              <thead class="tableTab1">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col">
                    ลูกค้า
                  </th>
                  <th scope="col">ประเภทการอบ</th>
                  <th scope="col">รหัสป้าย</th>
                  <th scope="col">รายละเอียด</th>
                  <th scope="col">รหัส Sticker</th>
                  <th scope="col">รายละเอียด</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันหมดอายุ</th>
                </tr>
              </thead>

              <tbody v-for="p in displayedPostsActive" :key="p.stickerspec_id">
                <tr>
                  <th scope="row" class="text-center">
                    <input
                      autocomplete="off"
                      :value="p.stickerspec_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      id="Choosed"
                      @click="
                        checkItems(p.stickerspec_id),
                          showHideRow(p.stickerspec_id)
                      "
                    />
                  </th>
                  <td
                    style="width: 20%"
                    class="td-fontsize"
                    v-if="p.cus_cod != null"
                  >
                    {{ p.cus_cod + " : " + p.cus_name }}
                  </td>
                  <td class="td-fontsize" v-else>
                    ทั้งหมด
                  </td>
                  <td class="td-fontsize">
                    {{ p.stretchingtype_code + " : " + p.stretchingtype_name }}
                  </td>
                  <td class="td-fontsize">{{ p.label_cd }}</td>
                  <td class="td-fontsize">{{ p.label_name }}</td>
                  <td class="td-fontsize">{{ p.sticker_cd }}</td>
                  <td class="td-fontsize">{{ p.sticker_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
                <tr class="sub">
                  <td
                    name="hiddenrow"
                    :id="p.stickerspec_id"
                    colspan="9"
                    class="text-right hidden_row"
                  >
                    ผู้บันทึก {{ p.user_name }} <br />
                    วันที่บันทึก
                    {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    color="primary"
                    v-if="pageA != 1"
                    @click="pageA--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="page-link" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageA++"
                    color="primary"
                    v-if="pageA < pagesA.length"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="page-link"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>

          <CCardBody style="overflow-x: auto" v-if="itemsTabs2 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPageI">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPageI"
                  id="selectPageI"
                  v-model="perPageI"
                  @click="setPagesIntive()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage"
                  >/ {{ dataIStickerSpecCount }} รายการ</label
                >
              </div>
            </form>

            <table class="table styled-table">
              <thead class="tableTab2">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col">
                    ลูกค้า
                  </th>
                  <th scope="col">ประเภทการอบ</th>
                  <th scope="col">รหัสป้าย</th>
                  <th scope="col">รายละเอียด</th>
                  <th scope="col">รหัส Sticker</th>
                  <th scope="col">รายละเอียด</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันหมดอายุ</th>
                </tr>
              </thead>
              <tbody
                v-for="p in displayedPostsInactive"
                :key="p.stickerspec_id"
              >
                <tr>
                  <th scope="row" class="text-center">
                    <input
                      autocomplete="off"
                      :value="p.stickerspec_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      id="Choosed"
                      @click="
                        checkItems(p.stickerspec_id),
                          showHideRow(p.stickerspec_id)
                      "
                    />
                  </th>
                  <td
                    style="width: 20%"
                    class="td-fontsize"
                    v-if="p.cus_cod != null"
                  >
                    {{ p.cus_cod + " : " + p.cus_name }}
                  </td>
                  <td class="td-fontsize" v-else>
                    ทั้งหมด
                  </td>
                  <td class="td-fontsize">
                    {{ p.stretchingtype_code + " : " + p.stretchingtype_name }}
                  </td>
                  <td class="td-fontsize">{{ p.label_cd }}</td>
                  <td class="td-fontsize">{{ p.label_name }}</td>
                  <td class="td-fontsize">{{ p.sticker_cd }}</td>
                  <td class="td-fontsize">{{ p.sticker_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
                <tr class="sub">
                  <td
                    name="hiddenrow"
                    :id="p.stickerspec_id"
                    colspan="9"
                    class="text-right hidden_row"
                  >
                    ผู้บันทึก {{ p.user_name }} <br />
                    วันที่บันทึก
                    {{ new Date(p.user_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class="text-info"
                    v-if="pageI != 1"
                    @click="pageI--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="text-info" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageI++"
                    v-if="pageI < pagesI.length"
                    class="text-info"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="text-info"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>

          <CCardBody style="overflow-x: auto" v-if="itemsTabs3 === true">
            <form>
              <div class="offset my-3">
                <label for="selectPage">แสดง</label>
                <!--		Show Numbers Of Rows 		-->
                <select
                  class="mx-1 selectPage-box"
                  name="selectPage"
                  id="selectPage"
                  v-model="perPageC"
                  @click="setPagesCancel()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">แสดงทั้งหมด</option>
                </select>
                <label for="selectPage"
                  >/ {{ dataCStickerSpecCount }} รายการ</label
                >
              </div>
            </form>
            <table class="table styled-table">
              <thead class="tableTab3">
                <tr class>
                  <th scope="col" class="text-center">เลือก</th>
                  <th scope="col">
                    ลูกค้า
                  </th>
                  <th scope="col">ประเภทการอบ</th>
                  <th scope="col">รหัสป้าย</th>
                  <th scope="col">รายละเอียด</th>
                  <th scope="col">รหัส Sticker</th>
                  <th scope="col">รายละเอียด</th>
                  <th scope="col">วันที่ประกาศใช้</th>
                  <th scope="col">วันหมดอายุ</th>
                </tr>
              </thead>
              <tbody v-for="p in displayedPostsCancel" :key="p.stickerspec_id">
                <tr>
                  <th scope="row" class="text-center">
                    <input
                      autocomplete="off"
                      :value="p.stickerspec_id"
                      v-model="checked"
                      type="checkbox"
                      name="Choosed"
                      id="Choosed"
                      @click="
                        checkItems(p.stickerspec_id),
                          showHideRow(p.stickerspec_id)
                      "
                    />
                  </th>
                  <td
                    style="width: 20%"
                    class="td-fontsize"
                    v-if="p.cus_cod != null"
                  >
                    {{ p.cus_cod + " : " + p.cus_name }}
                  </td>
                  <td class="td-fontsize" v-else>
                    ทั้งหมด
                  </td>
                  <td class="td-fontsize">
                    {{ p.stretchingtype_code + " : " + p.stretchingtype_name }}
                  </td>
                  <td class="td-fontsize">{{ p.label_cd }}</td>
                  <td class="td-fontsize">{{ p.label_name }}</td>
                  <td class="td-fontsize">{{ p.sticker_cd }}</td>
                  <td class="td-fontsize">{{ p.sticker_name }}</td>
                  <td class="td-fontsize">
                    {{ new Date(p.effdate_st).toLocaleDateString("en-GB") }}
                  </td>
                  <td
                    class="td-fontsize"
                    v-if="p.effdate_en == '2000-01-01T00:00:00'"
                  >
                    ไม่กำหนด
                  </td>
                  <td class="td-fontsize" v-else>
                    {{ new Date(p.effdate_en).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
                <tr class="sub">
                  <td
                    name="hiddenrow"
                    :id="p.stickerspec_id"
                    colspan="9"
                    class="text-right hidden_row"
                  >
                    ผู้ยกเลิก {{ p.cancel_name }} <br />
                    วันที่ยกเลิก
                    {{ new Date(p.cancel_date).toLocaleDateString("en-GB") }}
                  </td>
                </tr>
              </tbody>
            </table>

            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <CButton
                    type="button"
                    class="text-danger"
                    v-if="pageC != 1"
                    @click="pageC--"
                    >Previous</CButton
                  >
                  <CButton type="button" class="text-danger" v-else disabled
                    >Previous</CButton
                  >
                </li>
                <li class="page-item">
                  <CButton
                    type="button"
                    @click="pageC++"
                    v-if="pageC < pagesC.length"
                    class="text-danger"
                    >Next</CButton
                  >
                  <CButton type="button" v-else disabled class="text-danger"
                    >Next</CButton
                  >
                </li>
              </ul>
            </nav>
          </CCardBody>
        </CCard>
      </CCardBody>
      <CCardFooter>
        <CRow class>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-if="itemsTabs3 == true">
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_u_stickerspec
          </CCol>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-else>
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_s_stickerspec
          </CCol>
        </CRow>
      </CCardFooter>
    </CCard>

    <!-- openAddModal -->
    <CModal
      :show.sync="openAddModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="success"
    >
      <CRow class="form-group mx-5">
        <CCol md="8" class="mt-3">
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">ประเภทการขาย</span>
            </CCol>
            <CCol md="4">
              <multiselect
                v-model="SaleValue"
                track-by="name"
                label="name"
                placeholder
                ref="salevalue"
                :options="SaleOptions"
                :searchable="false"
                :show-labels="false"
                :allow-empty="false"
                @input="FindCustomer"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">รหัสลูกค้า</span>
            </CCol>
            <CCol md="8">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="CustomerOptions-filter"
                v-model="CustomerOptions.selected"
                :multiple="false"
                :options="CustomerOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="cuscod"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">ประเภทการอบ</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="4">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="StretchingTypeOptions-filter"
                v-model="StretchingTypeOptions.selected"
                :multiple="false"
                :options="StretchingTypeOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="stretching_type"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">รหัสป้าย</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="8">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="LabelOptions-filter"
                v-model="LabelOptions.selected"
                :multiple="false"
                :options="LabelOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="label_id"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">รหัส Sticker</span>
              <span class="text-danger"> *</span>
            </CCol>
            <CCol md="8">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="StickerOptions-filter"
                v-model="StickerOptions.selected"
                :multiple="false"
                :options="StickerOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="sticker_id"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="4" class="">
                  <span>
                    วันที่ประกาศใช้
                    <span class="text-danger">*</span>
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="insertStickerSpec.effdate_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>

            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="4" class="">
                  <span> วันที่หมดอายุ </span>
                </CCol>
                <CCol md="6" class="">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="insertStickerSpec.effdate_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="4">
          <CRow>
            <CCol md="12">
              <span>รูป Sticker</span>
              <CCard style="min-height: 370px">
                <CCardBody v-if="StickerOptions.selected != null">
                  <img
                    id="showImage"
                    :src="
                      'http://masterdatadev.kkfnets.com' +
                        StickerOptions.selected.path_pic
                    "
                  />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">เพิ่มข้อมูลมาตราฐานเงื่อนไขการใช้ Sticker</h5>
        <CButtonClose
          @click="(openAddModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openAddModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
        <CButton @click="insertStickerSpecButton" color="success"
          >บันทึก</CButton
        >
      </template>
    </CModal>
    <!-- openEditModal -->
    <CModal
      :show.sync="openEditModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="warning"
    >
      <CRow
        class="form-group mx-5"
        v-if="editStickerSpec.old_effdate_st < nowDate"
      >
        <h5 class="text-danger">
          * ไม่สามารถแก้ไขได้ เนื่องจากมีวันประกาศใช้ไปแล้ว
          แก้ไขได้เฉพาะวันที่หมดอายุ
        </h5>
        <CCol md="8" class="mt-3">
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ประเภทการขาย</span>
            </CCol>
            <CCol md="5">
              <CInput disabled v-model="editStickerSpec.tsale" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสลูกค้า</span>
            </CCol>
            <CCol md="5">
              <CInput disabled v-model="editStickerSpec.customer" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ประเภทการอบ</span>
            </CCol>
            <CCol md="5">
              <CInput disabled v-model="editStickerSpec.stretchingtype" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสป้าย</span>
            </CCol>
            <CCol md="8">
              <CTextarea v-model="editStickerSpec.label" rows="3" disabled />
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัส Sticker</span>
            </CCol>
            <CCol md="9">
              <CInput disabled v-model="editStickerSpec.sticker" />
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span>
                    วันที่ประกาศใช้
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    disabled
                    v-model="editStickerSpec.effdate_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>

            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span> วันที่หมดอายุ </span>
                </CCol>
                <CCol md="6" class="">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="editStickerSpec.effdate_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="4">
          <CRow>
            <CCol md="12">
              <span>รูป Sticker</span>
              <CCard style="min-height: 370px">
                <CCardBody v-if="StickerOptions.selected != null">
                  <img
                    id="showImage"
                    :src="
                      'http://masterdatadev.kkfnets.com' +
                        editStickerSpec.path_pic
                    "
                  />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <CRow class="form-group mx-5" v-else>
        <CCol md="8" class="mt-3">
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">ประเภทการขาย</span>
            </CCol>
            <CCol md="4">
              <multiselect
                v-model="SaleValue"
                track-by="name"
                label="name"
                placeholder
                ref="salevalue"
                :options="SaleOptions"
                :searchable="false"
                :show-labels="false"
                :allow-empty="false"
                @input="FindCustomer"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">รหัสลูกค้า</span>
            </CCol>
            <CCol md="8">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="CustomerOptions-filter"
                v-model="CustomerOptions.selected"
                :multiple="false"
                :options="CustomerOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="cuscod"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">ประเภทการอบ</span>
            </CCol>
            <CCol md="8">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="StretchingTypeOptions-filter"
                v-model="StretchingTypeOptions.selected"
                :multiple="false"
                :options="StretchingTypeOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="stretching_type"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">รหัสป้าย</span>
            </CCol>
            <CCol md="8">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="LabelOptions-filter"
                v-model="LabelOptions.selected"
                :multiple="false"
                :options="LabelOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="label_id"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="4">
              <span class="label-formInput">รหัส Sticker</span>
            </CCol>
            <CCol md="8">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="StickerOptions-filter"
                v-model="StickerOptions.selected"
                :multiple="false"
                :options="StickerOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="sticker_id"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="4" class="">
                  <span>
                    วันที่ประกาศใช้
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="editStickerSpec.effdate_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>

            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="4" class="">
                  <span> วันที่หมดอายุ </span>
                </CCol>
                <CCol md="6" class="">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="editStickerSpec.effdate_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="4">
          <CRow>
            <CCol md="12">
              <span>รูป Sticker</span>
              <CCard style="min-height: 370px">
                <CCardBody v-if="StickerOptions.selected != null">
                  <img
                    id="showImage"
                    :src="
                      'http://masterdatadev.kkfnets.com' +
                        StickerOptions.selected.path_pic
                    "
                  />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">แก้ไขข้อมูลมาตราฐานเงื่อนไขการใช้ Sticker</h5>
        <CButtonClose
          @click="(openEditModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openEditModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
        <CButton @click="EditStickerSpecButton" color="success">บันทึก</CButton>
      </template>
    </CModal>
    <!-- openViewModal -->
    <CModal
      :show.sync="openViewModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="info"
    >
      <CRow class="form-group mx-5">
        <CCol md="8" class="mt-3">
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ประเภทการขาย</span>
            </CCol>
            <CCol md="5">
              <CInput disabled v-model="viewStickerSpec.tsale" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสลูกค้า</span>
            </CCol>
            <CCol md="5">
              <CInput disabled v-model="viewStickerSpec.customer" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">ประเภทการอบ</span>
            </CCol>
            <CCol md="5">
              <CInput disabled v-model="viewStickerSpec.stretchingtype" />
            </CCol>
          </CRow>
          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัสป้าย</span>
            </CCol>
            <CCol md="8">
              <CTextarea v-model="viewStickerSpec.label" rows="3" disabled />
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="3">
              <span class="label-formInput">รหัส Sticker</span>
            </CCol>
            <CCol md="9">
              <CInput disabled v-model="viewStickerSpec.sticker" />
            </CCol>
          </CRow>

          <CRow class="mb-1">
            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span>
                    วันที่ประกาศใช้
                  </span>
                </CCol>
                <CCol md="6" class="mb-2">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    disabled
                    v-model="viewStickerSpec.effdate_st"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>

            <CCol md="12" class="">
              <CRow class="mb-1">
                <CCol md="3" class="">
                  <span> วันที่หมดอายุ </span>
                </CCol>
                <CCol md="6" class="">
                  <date-picker
                    value-type="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    disabled
                    v-model="viewStickerSpec.effdate_en"
                  ></date-picker>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="4">
          <CRow>
            <CCol md="12">
              <span>รูป Sticker</span>
              <CCard style="min-height: 370px">
                <CCardBody v-if="openViewModal == true">
                  <img
                    id="showImage"
                    :src="
                      'http://masterdatadev.kkfnets.com' +
                        viewStickerSpec.path_pic
                    "
                  />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">
          ดูรายละเอียดข้อมูลมาตราฐานเงื่อนไขการใช้ Sticker
        </h5>
        <CButtonClose @click="openViewModal = false" class="text-white" />
      </template>
      <template #footer>
        <CButton @click="openViewModal = false" color="danger">ยกเลิก</CButton>
      </template>
    </CModal>

    <!-- openDeleteModal -->
    <div>
      <CModal
        :show.sync="openDeleteModal"
        :closeOnBackdrop="false"
        :centered="true"
        title="Modal title 2"
        color="danger"
      >
        <CRow class="form-group mx-5">
          <h6>ยืนยันการลบข้อมูลมาตราฐานเงื่อนไขการใช้ Sticker ดังต่อไปนี้</h6>
          <CCol md="12">
            <div v-for="i in deleteStickerSpec" :key="i.index" class="mb-2">
              <CRow>
                <CCol md="10">
                  <span> id : {{ i.stickerspec_id }} </span> <br />
                  <div v-if="i.cus_cod != null">

                    <span v-if="i.tsale == 0"> ประเภทการขาย : ขายในประเทศ</span>
                    <span v-else> ประเภทการขาย : ขายต่างประเทศ</span> 
                    <br />
                    <span> ลูกค้า : {{ i.cus_cod }} </span> <br />
                  </div>
                  <div v-else>
                    <span> ประเภทการขาย : ทั้งหมด </span> <br />
                    <span> ลูกค้า : ทั้งหมด </span> <br />
                  </div>
                  <span> ป้าย : {{ i.label_id }} </span> <br />
                  <span> ประเภทการอบ : {{ i.stretchingtype_code }} : {{ i.stretchingtype_name }} </span>
                  <br />
                  <span> Sticker : {{ i.sticker_name }} </span> <br />
                </CCol>
              </CRow>
            </div>
          </CCol>
        </CRow>
        <template #header>
          <h5 class="modal-title">
            ลบข้อมูลมาตราฐานเงื่อนไขการใช้ Sticker
          </h5>
          <CButtonClose @click="openDeleteModal = false" class="text-white" />
        </template>
        <template #footer>
          <CButton
            @click="openDeleteModal = false"
            color="danger"
            variant="ghost"
            >ยกเลิก</CButton
          >
          <CButton @click="DeleteStickerSpecฺฺButton()" color="danger"
            >ลบ</CButton
          >
        </template>
      </CModal>
    </div>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import { GetObjValJoin, GetDate } from "@/shared/utils";
import setupmixin from "@/shared/setupmixin";
import swal from "sweetalert";
import { loadPartialConfig } from "@babel/core";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";

export default {
  data() {
    return {
      HReport: true,
      SaleOptions: [
        { value: "0", name: "ขายในประเทศ" },
        { value: "1", name: "ขายต่างประเทศ" },
      ],
      SaleValue: {},

      search: {
        label: "",
        stretching: "",
        txtsearch: "",
      },
      itemsTabs1: true,
      itemsTabs2: false,
      itemsTabs3: false,
      checked: [],
      checkedSpec: "",

      // Active
      dataStickerSpec: [],
      cancelStickerSpec: [],
      dataActive: [],
      dataStickerSpecCount: 0,
      pageA: 1,
      perPageA: 10,
      pagesA: [],

      // InActive
      dataInactive: [],
      dataIStickerSpecCount: 0,
      pageI: 1,
      perPageI: 5,
      pagesI: [],

      // Cancel
      dataCancel: [],
      dataCStickerSpecCount: 0,
      pageC: 1,
      perPageC: 5,
      pagesC: [],

      openAddModal: false,
      openEditModal: false,
      openViewModal: false,
      openDeleteModal: false,

      insertStickerSpec: {
        effdate_st: "",
        effdate_en: "",
      },
      editStickerSpec: {
        tsale: "",
        customer: "",
        stretchingtype: "",
        label: "",
        sticker: "",
        effdate_st: "",
        effdate_en: "",
        path_pic: "",
        old_effdate_st: "",
      },
      viewStickerSpec: {
        tsale: "",
        customer: "",
        stretchingtype: "",
        label: "",
        sticker: "",
        effdate_st: "",
        effdate_en: "",
        path_pic: "",
      },

      deleteStickerSpec: {},

      CustomerOptions: {
        lists: [],
        selected: null,
      },
      StretchingTypeOptions: {
        lists: [],
        selected: null,
      },
      LabelOptions: {
        lists: [],
        selected: null,
      },
      StickerOptions: {
        lists: [],
        selected: null,
      },

      showTable: false,

      //  ? Date Time
      nowDate: "",
    };
  },
  components: {
    Multiselect,
    DatePicker,
  },
  updated() {},
  created() {
    let nowDate = new Date();
    this.nowDate = GetDate(nowDate.setDate(nowDate.getDate()));
    this.insertStickerSpec.effdate_st = this.nowDate;
    this.insertStickerSpec.effdate_en = "2000-01-01";

    this.$root.api.View_master_s_stretchingtypeSearch({
      data: {},
      callback: (res) => {
        res.forEach(
          (x) =>
            (x._label = GetObjValJoin(x, [
              "stretching_type",
              "stretching_desc",
            ]))
        );
        this.StretchingTypeOptions.lists = res;
      },
    });

    this.$root.api.View_master_s_labelSearchActive({
      data: {},
      callback: (res) => {
        res.forEach(
          (x) => (x._label = GetObjValJoin(x, ["label_cd  ", "label_name_th"]))
        );
        this.LabelOptions.lists = res;
      },
    });

    this.$root.api.Master_s_StickerSearch({
      data: {},
      callback: (res) => {
        res.forEach(
          (x) => (x._label = GetObjValJoin(x, ["sticker_cd  ", "sticker_name"]))
        );
        this.StickerOptions.lists = res;
      },
    });
  },
  mounted() {},
  methods: {
    FindCustomer() {
      this.CustomerOptions.selected = null;
      this.$root.api.View_master_s_cutomerSearch({
        data: { tsale: this.SaleValue.value },
        callback: (res) => {
          res.forEach(
            (x) => (x._label = GetObjValJoin(x, ["cuscod", "fname"]))
          );
          this.CustomerOptions.lists = res;
        },
      });
    },
    showHideRow(row) {
      $("#" + row).toggle();
    },
    checkItems(val) {
      this.checkedSpec = $("input[type=checkbox][name=Choosed]:checked")
        .map(function(_, el) {
          return $(el).val();
        })
        .get();
    },
    SearchStickerSpec() {
      this.dataStickerSpec = [];
      this.cancelStickerSpec = [];
      this.dataStickerSpecCount = 0;
      this.dataIStickerSpecCount = 0;
      this.dataCStickerSpecCount = 0;

      this.checked = [];
      this.checkedSpec = ""
      var x = document.getElementsByClassName("hidden_row");
      for (var i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      this.$root.api.Master_s_StickerSpecSearch({
        data: {
          stretchingtype_code: this.search.stretching,
          label_cd: this.search.label,
          txtsearch: this.search.txtsearch,
        },
        callback: (res) => {
          if (res.length == 0) {
            swal({
              title: "ผิดพลาด",
              text: "ไม่พบรายการเงื่อนไขที่ค้นหา",
              icon: "warning",
              button: "ตกลง",
            });
          } else {
            this.dataStickerSpec = res;
            for (let i = 0; i < res.length; i++) {
              if (res[i].status == "A") {
                this.dataStickerSpecCount = this.dataStickerSpecCount + 1;
              } else if (res[i].status == "I") {
                this.dataIStickerSpecCount = this.dataIStickerSpecCount + 1;
              } else if (res[i].status == "C") {
                this.dataCStickerSpecCount = this.dataCStickerSpecCount + 1;
              }
            }
            this.getDataStickerSpec();
            this.setPagesActive();
            this.setPagesInactive();
            this.setPagesCancel();
          }
          this.$root.api.Master_s_StickerSpecSearchCancel({
            data: {
              stretchingtype_code: this.search.stretching,
              label_cd: this.search.label,
              txtsearch: this.search.txtsearch,
            },
            callback: (res) => {
              this.cancelStickerSpec = res;
              this.getCancelStickerSpec();
            },
          });
        },
      });
    },
    insertStickerSpecButton() {
      var _tsale = "";
      var _cus_cod = "";
      var _cus_name = "";
      if (this.SaleValue.value == null) {
        _tsale = null;
      } else {
        _tsale = this.SaleValue.value;
      }
      if (this.CustomerOptions.selected == null) {
        _cus_cod = null;
        _cus_name = null;
      } else {
        _cus_cod = this.CustomerOptions.selected.cuscod;
        _cus_name = this.CustomerOptions.selected.fname;
      }

      console.log(_tsale);
      console.log(_cus_cod);
      if (
        this.StretchingTypeOptions.selected != null ||
        this.LabelOptions.selected != null ||
        this.StickerOptions.selected != null
      ) {
        if (
          this.insertStickerSpec.effdate_en == "2000-01-01" ||
          (this.insertStickerSpec.effdate_en > this.nowDate &&
            this.insertStickerSpec.effdate_en >
              this.insertStickerSpec.effdate_st)
        ) {
          this.$root.api.Master_s_StickerSpecSave({
            data: {
              tsale: _tsale,
              cus_cod: _cus_cod,
              cus_name: _cus_name,
              stretchingtype_code: this.StretchingTypeOptions.selected
                .stretching_type,
              stretchingtype_name: this.StretchingTypeOptions.selected
                .stretching_desc,
              label_id: this.LabelOptions.selected.label_id,
              label_cd: this.LabelOptions.selected.label_cd,
              label_name: this.LabelOptions.selected.label_name_th,
              sticker_id: this.StickerOptions.selected.sticker_id,
              sticker_cd: this.StickerOptions.selected.sticker_cd,
              sticker_name: this.StickerOptions.selected.sticker_name,
              status: "A",
              effdate_st: this.insertStickerSpec.effdate_st,
              effdate_en: this.insertStickerSpec.effdate_en,
              user_id: localStorage.getItem("UserID"),
              user_name: localStorage.getItem("User"),
            },
            callback: (res) => {
              if (res._status == "S") {
                swal({
                  title: "สำเร็จ",
                  text:
                    "บันทึกข้อมูลมาตรฐานเงื่อนไขการใช้ Sticker/Tape Sticker เสร็จสิ้น",
                  icon: "success",
                  button: "ตกลง",
                });
              } else if (res._status == "F") {
                swal({
                  title: "ผิดพลาด!",
                  text:
                    "ไม่สามารถบันทึกข้อมูลมาตรฐานเงื่อนไขการใช้ Sticker/Tape Sticker ได้",
                  icon: "error",
                  button: "ตกลง",
                });
              }
              this.resetData();
              this.SearchStickerSpec();
              this.openAddModal = false;
            },
          });
        } else {
          swal({
            title: "ข้อมูลไม่ถูกต้อง!",
            text: "วันหมดอายุจะต้องมากกว่าวันที่ประกาศใช้และวันปัจจุบัน",
            icon: "error",
            button: "ตกลง",
          });
        }
      } else {
        swal({
          title: "ผิดพลาด",
          text:
            "กรุณากรอกมาตรฐานเงื่อนไข" +
            "\n" +
            "การใช้ Sticker/Tape Sticker ให้ครบ",
          icon: "error",
          button: "ตกลง",
        });
      }
    },
    EditStickerSpecView() {
      this.openEditModal = true;
      var x = this.checkedSpec[0];
      this.$root.api.Master_s_StickerSpecSearch({
        data: {
          stickerspec_id: x,
        },
        callback: (res) => {
          this.editStickerSpec.old_effdate_st = res[0].effdate_st.split("T")[0];
          this.editStickerSpec.effdate_st = res[0].effdate_st.split("T")[0];
          this.editStickerSpec.effdate_en = res[0].effdate_en.split("T")[0];

          if (res[0].tsale == "0") {
            this.SaleValue = { value: "0", name: "ขายในประเทศ" };
            this.editStickerSpec.tsale = "ขายในประเทศ";
          } else if (res[0].tsale == "1") {
            this.SaleValue = { value: "1", name: "ขายต่างประเทศ" };
            this.editStickerSpec.tsale = "ขายต่างประเทศ";
          }

          this.$root.api.View_master_s_labelSearchID({
            data: { txtSearch: res[0].label_id },
            callback: (res) => {
              res.forEach(
                (x) =>
                  (x._label = GetObjValJoin(x, ["label_cd  ", "label_name_th"]))
              );
              this.LabelOptions.selected = res[0];
              this.editStickerSpec.label =
                res[0].label_cd + " : " + res[0].label_name_th.trim();
            },
          });

          if (res[0].cus_cod != null) {
            this.$root.api.View_master_s_cutomerSearch({
              data: { cuscod: res[0].cus_cod },
              callback: (res) => {
                res.forEach(
                  (x) => (x._label = GetObjValJoin(x, ["cuscod", "fname"]))
                );
                this.CustomerOptions.selected = res[0];
                this.editStickerSpec.customer =
                  res[0].cuscod.trim() + " : " + res[0].fname.trim();
              },
            });
          }

          this.$root.api.View_master_s_stretchingtypeSearch({
            data: { stretchingtype_code: res[0].stretchingtype_code },
            callback: (res) => {
              res.forEach(
                (x) =>
                  (x._label = GetObjValJoin(x, [
                    "stretching_type",
                    "stretching_desc",
                  ]))
              );
              this.StretchingTypeOptions.selected = res[0];
              this.editStickerSpec.stretchingtype =
                res[0].stretching_type + " : " + res[0].stretching_desc.trim();
            },
          });

          this.$root.api.Master_s_StickerSearchView({
            data: { sticker_id: res[0].sticker_id },
            callback: (res) => {
              res.forEach(
                (x) =>
                  (x._label = GetObjValJoin(x, [
                    "sticker_cd  ",
                    "sticker_name",
                  ]))
              );
              this.StickerOptions.selected = res[0];
              this.editStickerSpec.sticker =
                res[0].sticker_cd + " : " + res[0].sticker_name.trim();
              this.editStickerSpec.path_pic = res[0].path_pic;
            },
          });
        },
      });
    },
    EditStickerSpecButton() {
      var _tsale = "";
      var _cus_cod = "";
      var _cus_name = "";
      if (this.SaleValue.value != null) {
        _tsale = this.SaleValue.value;
      } else {
        _tsale = null;
      }
      if (this.CustomerOptions.selected == null) {
        _cus_cod = null;
        _cus_name = null;
      } else {
        _cus_cod = this.CustomerOptions.selected.cuscod;
        _cus_name = this.CustomerOptions.selected.fname;
      }

      console.log(_tsale);
      console.log(_cus_cod);
      var x = this.checkedSpec[0];
      if (
        this.editStickerSpec.effdate_en == "2000-01-01" ||
        (this.editStickerSpec.effdate_en > this.nowDate &&
          this.editStickerSpec.effdate_en > this.editStickerSpec.effdate_st)
      ) {
        this.$root.api.Master_s_StickerSpecSave({
          data: {
            stickerspec_id: x,
            tsale: _tsale,
            cus_cod: _cus_cod,
            cus_name: _cus_name,
            stretchingtype_code: this.StretchingTypeOptions.selected
              .stretching_type,
            stretchingtype_name: this.StretchingTypeOptions.selected
              .stretching_desc,
            label_id: this.LabelOptions.selected.label_id,
            label_cd: this.LabelOptions.selected.label_cd,
            label_name: this.LabelOptions.selected.label_name_th,
            sticker_id: this.StickerOptions.selected.sticker_id,
            sticker_cd: this.StickerOptions.selected.sticker_cd,
            sticker_name: this.StickerOptions.selected.sticker_name,

            status: "A",
            effdate_st: this.editStickerSpec.effdate_st,
            effdate_en: this.editStickerSpec.effdate_en,
            user_id: localStorage.getItem("UserID"),
            user_name: localStorage.getItem("User"),
          },
          callback: (res) => {
            if (res._status == "S") {
              swal({
                title: "สำเร็จ",
                text: "บันทึกข้อมูล sticker เสร็จสิ้น",
                icon: "success",
                button: "ตกลง",
              });
            } else if (res._status == "F") {
              swal({
                title: "ผิดพลาด!",
                text: "ไม่สามารถบันทึกข้อมูลได้",
                icon: "error",
                button: "ตกลง",
              });
            }
            this.resetData();
            this.SearchStickerSpec();
            this.openEditModal = false;
          },
        });
      } else {
        swal({
          title: "ผิดพลาด!",
          text: "วันหมดอายุจะต้องมากกว่าวันที่ประกาศใช้และวันปัจจุบัน",
          icon: "error",
          button: "ตกลง",
        });
      }
    },
    ViewStickerSpecButton() {
      this.openViewModal = true;
      var x = this.checkedSpec[0];
      this.$root.api.Master_s_StickerSpecSearch({
        data: {
          stickerspec_id: x,
        },
        callback: (res) => {
          this.viewStickerSpec.effdate_st = res[0].effdate_st.split("T")[0];
          this.viewStickerSpec.effdate_en = res[0].effdate_en.split("T")[0];

          if (res[0].tsale == "0") {
            this.viewStickerSpec.tsale = "ขายในประเทศ";
          } else if (res[0].tsale == "1") {
            this.viewStickerSpec.tsale = "ขายต่างประเทศ";
          }

          this.$root.api.View_master_s_labelSearchID({
            data: { txtSearch: res[0].label_id },
            callback: (res) => {
              res.forEach(
                (x) =>
                  (x._label = GetObjValJoin(x, ["label_cd  ", "label_name_th"]))
              );
              this.viewStickerSpec.label =
                res[0].label_cd + " : " + res[0].label_name_th.trim();
            },
          });

          if (res[0].cus_cod != null) {
            this.$root.api.View_master_s_cutomerSearch({
              data: { cuscod: res[0].cus_cod },
              callback: (res) => {
                res.forEach(
                  (x) => (x._label = GetObjValJoin(x, ["cuscod", "fname"]))
                );
                this.viewStickerSpec.customer =
                  res[0].cuscod.trim() + " : " + res[0].fname.trim();
              },
            });
          }

          this.$root.api.View_master_s_stretchingtypeSearch({
            data: { stretchingtype_code: res[0].stretchingtype_code },
            callback: (res) => {
              res.forEach(
                (x) =>
                  (x._label = GetObjValJoin(x, [
                    "stretching_type",
                    "stretching_desc",
                  ]))
              );
              this.viewStickerSpec.stretchingtype =
                res[0].stretching_type + " : " + res[0].stretching_desc.trim();
            },
          });

          this.$root.api.Master_s_StickerSearchView({
            data: { sticker_id: res[0].sticker_id },
            callback: (res) => {
              res.forEach(
                (x) =>
                  (x._label = GetObjValJoin(x, [
                    "sticker_cd  ",
                    "sticker_name",
                  ]))
              );
              this.viewStickerSpec.sticker =
                res[0].sticker_cd + " : " + res[0].sticker_name.trim();
              this.viewStickerSpec.path_pic = res[0].path_pic;
            },
          });
        },
      });
    },
    DeleteStickerSpecView() {
      this.openDeleteModal = true;
      var x = this.checkedSpec[0];
      this.$root.api.Master_s_StickerSpecSearch({
        data: {
          stickerspec_id: x,
        },
        callback: (res) => {
          this.deleteStickerSpec = res;
        },
      });
    },
    DeleteStickerSpecฺฺButton() {
      var x = this.checkedSpec[0];
      this.$root.api.Master_s_StickerSpecMove({
        data: {
          stickerspec_move: [
            {
              stickerspec_id: x,
              user_id: localStorage.getItem("UserID"),
              user_name: localStorage.getItem("User"),
            },
          ],
        },
        callback: (res) => {
          if (res[0]._status == "S") {
            swal({
              title: "สำเร็จ",
              text:
                "ลบข้อมูลมาตรฐานเงื่อนไขการใช้ Sticker/Tape Sticker เสร็จสิ้น",
              icon: "success",
              button: "ตกลง",
            });
          } else if (res[0]._status == "F") {
            swal({
              title: "ผิดพลาด!",
              text:
                "ไม่สามารถลบข้อมูลมาตรฐานเงื่อนไขการใช้ Sticker/Tape Sticker ได้",
              icon: "error",
              button: "ตกลง",
            });
          }
          this.openDeleteModal = false;
          this.SearchStickerSpec();
        },
      });
    },
    resetData() {
      this.SaleValue = {};
      this.CustomerOptions.selected = null;
      this.StretchingTypeOptions.selected = null;
      this.LabelOptions.selected = null;
      this.StickerOptions.selected = null;
      this.insertStickerSpec.effdate_st = this.nowDate;
      this.insertStickerSpec.effdate_en = "2000-01-01";
    },
    // ? Pagination
    getDataStickerSpec() {
      this.dataActive = [];
      this.dataInactive = [];
      for (let i = 0; i < this.dataStickerSpec.length; i++) {
        if (this.dataStickerSpec[i].status == "A") {
          this.dataActive.push({
            stickerspec_id: this.dataStickerSpec[i].stickerspec_id,
            tsale: this.dataStickerSpec[i].tsale,
            cus_cod: this.dataStickerSpec[i].cus_cod,
            cus_name: this.dataStickerSpec[i].cus_name,
            stretchingtype_code: this.dataStickerSpec[i].stretchingtype_code,
            stretchingtype_name: this.dataStickerSpec[i].stretchingtype_name,
            label_id: this.dataStickerSpec[i].label_id,
            label_cd: this.dataStickerSpec[i].label_cd,
            label_name: this.dataStickerSpec[i].label_name,
            sticker_id: this.dataStickerSpec[i].sticker_id,
            sticker_cd: this.dataStickerSpec[i].sticker_cd,
            sticker_name: this.dataStickerSpec[i].sticker_name,
            status: this.dataStickerSpec[i].status,
            effdate_en: this.dataStickerSpec[i].effdate_en,
            effdate_st: this.dataStickerSpec[i].effdate_st,
            sticker_id: this.dataStickerSpec[i].sticker_id,
            user_date: this.dataStickerSpec[i].user_date,
            user_id: this.dataStickerSpec[i].user_id,
            user_name: this.dataStickerSpec[i].user_name,
          });
        } else if (this.dataStickerSpec[i].status == "I") {
          this.dataInactive.push({
            stickerspec_id: this.dataStickerSpec[i].stickerspec_id,
            tsale: this.dataStickerSpec[i].tsale,
            cus_cod: this.dataStickerSpec[i].cus_cod,
            cus_name: this.dataStickerSpec[i].cus_name,
            stretchingtype_code: this.dataStickerSpec[i].stretchingtype_code,
            stretchingtype_name: this.dataStickerSpec[i].stretchingtype_name,
            label_id: this.dataStickerSpec[i].label_id,
            label_cd: this.dataStickerSpec[i].label_cd,
            label_name: this.dataStickerSpec[i].label_name,
            sticker_id: this.dataStickerSpec[i].sticker_id,
            sticker_cd: this.dataStickerSpec[i].sticker_cd,
            sticker_name: this.dataStickerSpec[i].sticker_name,
            status: this.dataStickerSpec[i].status,
            effdate_en: this.dataStickerSpec[i].effdate_en,
            effdate_st: this.dataStickerSpec[i].effdate_st,
            sticker_id: this.dataStickerSpec[i].sticker_id,
            user_date: this.dataStickerSpec[i].user_date,
            user_id: this.dataStickerSpec[i].user_id,
            user_name: this.dataStickerSpec[i].user_name,
          });
        }
      }
    },
    getCancelStickerSpec() {
      this.dataCancel = [];
      for (let i = 0; i < this.cancelStickerSpec.length; i++) {
        this.dataCancel.push({
          stickerspec_id: this.cancelStickerSpec[i].stickerspec_id,
          tsale: this.cancelStickerSpec[i].tsale,
          cus_cod: this.cancelStickerSpec[i].cus_cod,
          cus_name: this.cancelStickerSpec[i].cus_name,
          stretchingtype_code: this.cancelStickerSpec[i].stretchingtype_code,
          stretchingtype_name: this.cancelStickerSpec[i].stretchingtype_name,
          label_id: this.cancelStickerSpec[i].label_id,
          label_cd: this.cancelStickerSpec[i].label_cd,
          label_name: this.cancelStickerSpec[i].label_name,
          sticker_id: this.cancelStickerSpec[i].sticker_id,
          sticker_cd: this.cancelStickerSpec[i].sticker_cd,
          sticker_name: this.cancelStickerSpec[i].sticker_name,
          status: this.cancelStickerSpec[i].status,
          effdate_en: this.cancelStickerSpec[i].effdate_en,
          effdate_st: this.cancelStickerSpec[i].effdate_st,
          sticker_id: this.cancelStickerSpec[i].sticker_id,
          user_date: this.cancelStickerSpec[i].user_date,
          user_id: this.cancelStickerSpec[i].user_id,
          user_name: this.cancelStickerSpec[i].user_name,
          cancel_date: this.cancelStickerSpec[i].cancel_date,
          cancel_id: this.cancelStickerSpec[i].cancel_id,
          cancel_name: this.cancelStickerSpec[i].cancel_name,
        });
      }
    },
    setPagesActive() {
      this.pagesA = [];
      let numberOfPages = Math.ceil(this.dataStickerSpecCount / this.perPageA);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesA.push(index);
      }
      this.pageA = 1;
    },
    setPagesInactive() {
      this.pagesI = [];
      let numberOfPages = Math.ceil(this.dataIStickerSpecCount / this.perPageI);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesI.push(index);
      }
      this.pageI = 1;
    },
    setPagesCancel() {
      this.pagesC = [];
      let numberOfPages = Math.ceil(this.dataCStickerSpecCount / this.perPageI);
      for (let index = 0; index < numberOfPages; index++) {
        this.pagesC.push(index);
      }
      this.pageC = 1;
    },
    paginate(Active) {
      let pageA = this.pageA;
      let perPageA = this.perPageA;
      let from = pageA * perPageA - perPageA;
      let to = pageA * perPageA;
      return Active.slice(from, to);
    },
    paginateInactive(Inactive) {
      let pageI = this.pageI;
      let perPageI = this.perPageI;
      let from = pageI * perPageI - perPageI;
      let to = pageI * perPageI;
      return Inactive.slice(from, to);
    },
    paginateCancel(Cancel) {
      let pageC = this.pageC;
      let perPageC = this.perPageC;
      let from = pageC * perPageC - perPageC;
      let to = pageC * perPageC;
      return Cancel.slice(from, to);
    },
  },
  computed: {
    displayedPostsActive() {
      return this.paginate(this.dataActive);
    },
    displayedPostsInactive() {
      return this.paginateInactive(this.dataInactive);
    },
    displayedPostsCancel() {
      return this.paginateCancel(this.dataCancel);
    },
  },
  watch: {
    Active() {
      this.setPagesActive();
    },
    Inactive() {
      this.setPagesInactive();
    },
    Cancel() {
      this.setPagesCancel();
    },
  },
};
</script>

<style>
.hidden_row {
  display: none;
}
</style>
