<template>
  <router-view></router-view>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert';

export default {
  name: 'App',
  data ()  {
    return {
      datas: [],
      accessToken: []
    }
  },
  state: {
    AccessToken: localStorage.getItem('token') || '',
  },
  created () {
  },
  mounted() {
    this.$root.api.OauthAccess({
      callback: res => {
        this.$localStorage.set("AccessToken", res.accessToken);
      }
    })
  },
  watch: {
    $route(p) {
        if (!this.$localStorage.get("Token")) {
          this.$router.push("/user/login").catch(err => {});
        } else {
          // this.$router.push("/dashboard").catch(err => {});
        }
    }
  },
  methods: {
    // setAccessToken () {
    //   try {
    //     axios.get('http://kkfrumapidev.kkfnets.com/v1/Oauth/Access')
    //     .then(response => (localStorage.setItem("AccessToken",response.data.accessToken)));
    //     // localStorage.setItem("AccessToken", this.accessToken)
    //   }
    //   catch(err)
    //   {
    //     localStorage.removeItem("AccessToken")
    //     reject(err)
    //   }
    // }
  }
}
</script>

<style lang="scss">
@import "~vue-multiselect/dist/vue-multiselect.min.css";
  // Import Main styles for this application
  @import 'assets/scss/style';
  @import 'assets/css/main';
</style>
