<template>
  <div>
    <CCard class="card-content">
      <CCardHeader class="card-header ">
        <h4 id="" class="mt-0 mb-0">
          การกำหนดมาตรฐานเงื่อนไขการใช้ ถุงบรรจุสินค้า
        </h4>
      </CCardHeader>
      <CCardBody
        ><CRow class="mx-1" v-if="HReport == true">
          <CCol md="5">
            <CRow class="form-group">
              <CCol md="5" class="my-1">
                <span>รหัสถุง/รหัสลูกค้า/รหัสปภ.การอบ</span>
                <input
                  autocomplete="off"
                  v-model="search.codeSearch"
                  style="text-transform: uppercase !important"
                  maxlength="5"
                  class="input-box"
                  onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)"
                  @keyup.enter="SearchData"
                />
              </CCol>
              <CCol md="7" class="my-1">
                <span>รายละเอียดถุง/ชื่อลูกค้า/ชื่อปภ.การอบ</span>
                <input
                  autocomplete="off"
                  v-model="search.txtSearch"
                  style="text-transform: uppercase !important"
                  class="input-box"
                  @keyup.enter="SearchData"
                />
              </CCol>
            </CRow>
          </CCol>
          <CCol md="1">
            <CRow class="">
              <CButton class="mt-4" color="info" block @click="SearchData">
                <CIcon name="cil-magnifying-glass" /> ค้นหา
              </CButton>
            </CRow>
          </CCol>
        </CRow>
        <!-- //? ACTION BTN -->
        <CRow class="mx-3">
          <CButton
            class="mt-1 mr-3"
            color="success"
            @click="openAddModal = true"
          >
            <i class="fa fa-plus"></i>
            เพิ่ม
          </CButton>
          <CButton
            class="mt-1 mr-3 text-white"
            color="warning"
            @click="EditButton()"
            v-if="checkedItem.length == 1 && itemsTabs1 == true"
          >
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton class="mt-1 mr-3 text-white" color="warning" disabled v-else>
            <i class="fa fa-pencil"></i> แก้ไข
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="info"
            @click="ViewButton"
            v-if="checkedItem.length == 1"
          >
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton class="mt-1 mr-3" color="info" disabled v-else>
            <i class="fa fa-eye"></i> ดูรายละเอียด
          </CButton>
          <CButton
            class="mt-1 mr-3"
            color="danger"
            @click="DeleteButton"
            v-if="checkedItem.length == 1 && itemsTabs3 == false"
          >
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton class="mt-1 mr-3 " color="danger" disabled v-else>
            <i class="fa fa-trash"></i> ลบ
          </CButton>
          <CButton
            variant="outline"
            color="secondary"
            class="mt-1 mr-3"
            :pressed.sync="HReport"
            >{{ HReport ? "ซ่อน" : "แสดง" }}เงื่อนไข</CButton
          >
        </CRow>
        <!-- //? ACTION BTN -->
      </CCardBody>
      <hr class="my-0" />
      <CCardBody>
        <CNav variant="tabs">
          <CNavItem v-model="itemsTabs1" active>
            <CButton
              @click="
                (itemsTabs1 = true),
                  (itemsTabs2 = false),
                  (itemsTabs3 = false),
                  resetCheck()
              "
              >ข้อมูลมตฐ.เงื่อนไข Active</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs2">
            <CButton
              @click="
                (itemsTabs2 = true),
                  (itemsTabs1 = false),
                  (itemsTabs3 = false),
                  resetCheck()
              "
              >ข้อมูลมตฐ.เงื่อนไข Inactive</CButton
            >
          </CNavItem>
          <CNavItem v-model="itemsTabs3">
            <CButton
              @click="
                (itemsTabs3 = true),
                  (itemsTabs1 = false),
                  (itemsTabs2 = false),
                  resetCheck()
              "
              >ข้อมูลมตฐ.เงื่อนไขที่ถูกลบ</CButton
            >
          </CNavItem>
        </CNav>
        <!-- //? TABLE -->
        <CCard>
          <CCardBody v-if="itemsTabs1 === true">
            <CRow>
              <CCol md="8">
                <form>
                  <div class="offset my-3">
                    <label for="selectPageA">แสดง</label>
                    <select
                      class="mx-1 selectPage-box"
                      name="selectPageA"
                      id="selectPageA"
                      v-model="perPageA"
                      @click="setPagesActive()"
                    >
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="100">แสดงทั้งหมด</option>
                    </select>
                    <label for="selectPage"
                      >/ {{ dataActiveCount }} รายการ</label
                    >
                  </div>
                </form>
              </CCol>
              <CCol md="4" class="mt-3">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item">
                      <CButton
                        type="button"
                        color="primary"
                        v-if="pageA != 1"
                        @click="pageA--"
                        >Previous</CButton
                      >
                      <CButton type="button" class="page-link" v-else disabled
                        >Previous</CButton
                      >
                    </li>
                    <li class="page-item">
                      <CButton
                        type="button"
                        @click="pageA++"
                        color="primary"
                        v-if="pageA < pagesA.length"
                        >Next</CButton
                      >
                      <CButton type="button" v-else disabled class="page-link"
                        >Next</CButton
                      >
                    </li>
                  </ul>
                </nav>
              </CCol>
              <CCol md="10" style="overflow-x: auto">
                <table id="example" class="table styled-table wrap-table100">
                  <thead class="tableTab1">
                    <tr class>
                      <th style="width: 10%" scope="col" class="text-center">
                        เลือก
                      </th>
                      <th style="width: 20%">
                        ประเภทการขาย
                      </th>
                      <th style="width: 20%">
                        รหัสลูกค้า
                      </th>
                      <th style="width: 50%">
                        ชื่อลูกค้า
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="items in displayedPostsActive"
                      :key="items.cus_cod"
                    >
                      <th scope="row" class="text-center">
                        <input
                          autocomplete="off"
                          :value="items.cus_cod"
                          text-left
                          v-model="checked"
                          type="radio"
                          @click="FindByCuscod(items.cus_cod)"
                        />
                      </th>
                      <td
                        class="sub-table-header-items"
                        v-if="items.tsale == 0"
                      >
                        ขายในประเทศ
                      </td>
                      <td
                        class="sub-table-header-items"
                        v-else-if="items.tsale == 1"
                      >
                        ขายต่างประเทศ
                      </td>
                      <td class="sub-table-header-items">
                        {{ items.cus_cod }}
                      </td>
                      <td class="sub-table-header-items">
                        {{ items.cus_name }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </CCol>

              <CCol md="12" style="overflow-x: auto">
                <table class="table styled-table wrap-table100">
                  <thead class="tableTab1">
                    <tr>
                      <th scope="col">เลือก</th>
                      <th scope="col">ประเภทสินค้า</th>
                      <th scope="col">ปภ.การอบ</th>
                      <th scope="col">รายละเอียด</th>
                      <th scope="col">รหัสป้าย</th>
                      <th scope="col">รายละเอียด</th>
                      <th scope="col">รหัสถุงบรรจุสินค้า</th>
                      <th scope="col">รายละเอียด</th>
                      <th scope="col">วันที่ประกาศใช้</th>
                      <th scope="col">วันที่หมดอายุ</th>
                    </tr>
                  </thead>
                  <tbody v-for="items in DataSubTable" :key="items.bagspec_id">
                    <tr style="max-height: 50px" v-if="items.status == 'A'">
                      <th class="sub-table-header-items" scope="col">
                        <input
                          autocomplete="off"
                          :value="items.bagspec_id"
                          text-left
                          v-model="checkedSpec"
                          type="checkbox"
                          class="checkbox_check"
                          name="Choosed"
                          @click="FindbyBagSpecID(items.bagspec_id)"
                        />
                      </th>
                      <th class="sub-table-header-items" scope="col">
                        {{ items.produccttype_code }}
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-if="items.stretchingtype_code.trim() != ''"
                      >
                        {{ items.stretchingtype_code }}
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-else-if="
                          items.stretchingtype_code.trim() == '' &&
                            producttype_net.includes(items.produccttype_code) ==
                              true
                        "
                      >
                        ทั้งหมด
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-else-if="
                          items.stretchingtype_code.trim() == '' &&
                            producttype_net.includes(items.produccttype_code) ==
                              false
                        "
                      >
                        &nbsp;
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-if="items.stretchingtype_desc.trim() != ''"
                      >
                        {{ items.stretchingtype_desc }}
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-else-if="
                          items.stretchingtype_desc.trim() == '' &&
                            producttype_net.includes(items.produccttype_code) ==
                              true
                        "
                      >
                        ทั้งหมด
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-else-if="
                          items.stretchingtype_desc.trim() == '' &&
                            producttype_net.includes(items.produccttype_code) ==
                              false
                        "
                      >
                        &nbsp;
                      </th>
                      <th class="sub-table-header-items" scope="col">
                        {{ items.label_cd }}
                      </th>
                      <th class="sub-table-header-items" scope="col">
                        {{ items.label_name }}
                      </th>
                      <th class="sub-table-header-items" scope="col">
                        {{ items.bag_cd }}
                      </th>
                      <th class="sub-table-header-items" scope="col">
                        {{ items.bag_name }}
                      </th>
                      <th class="sub-table-header-items" scope="col">
                        {{
                          new Date(items.effdate_st).toLocaleDateString("en-GB")
                        }}
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-if="items.effdate_en == '2000-01-01T00:00:00'"
                      >
                        ไม่กำหนด
                      </th>
                      <th class="sub-table-header-items" scope="col" v-else>
                        {{
                          new Date(items.effdate_en).toLocaleDateString("en-GB")
                        }}
                      </th>
                    </tr>
                  </tbody>
                </table>
              </CCol>
            </CRow>
          </CCardBody>

          <CCardBody v-if="itemsTabs2 === true">
            <CRow>
              <CCol md="8">
                <form>
                  <div class="offset my-3">
                    <label for="selectPageI">แสดง</label>
                    <select
                      class="mx-1 selectPage-box"
                      name="selectPageI"
                      id="selectPageI"
                      v-model="perPageI"
                      @click="setPagesInactive()"
                    >
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="100">แสดงทั้งหมด</option>
                    </select>
                    <label for="selectPage"
                      >/ {{ dataInactiveCount }} รายการ</label
                    >
                  </div>
                </form>
              </CCol>
              <CCol md="4" class="mt-3">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item">
                      <CButton
                        type="button"
                        color="secondary"
                        v-if="pageI != 1"
                        @click="pageI--"
                        >Previous</CButton
                      >
                      <CButton type="button" class="text-info" v-else disabled
                        >Previous</CButton
                      >
                    </li>
                    <li class="page-item">
                      <CButton
                        type="button"
                        @click="pageI++"
                        color="secondary"
                        v-if="pageI < pagesI.length"
                        >Next</CButton
                      >
                      <CButton type="button" v-else disabled class="text-info"
                        >Next</CButton
                      >
                    </li>
                  </ul>
                </nav>
              </CCol>
              <CCol md="10" style="overflow-x: auto">
                <table id="example" class="table styled-table wrap-table100">
                  <thead class="tableTab2">
                    <tr class>
                      <th style="width: 10%" scope="col" class="text-center">
                        เลือก
                      </th>
                      <th style="width: 20%">
                        ประเภทการขาย
                      </th>
                      <th style="width: 20%">
                        รหัสลูกค้า
                      </th>
                      <th style="width: 50%">
                        ชื่อลูกค้า
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="items in displayedPostsInactive"
                      :key="items.cus_cod"
                      v-if="items.status == 'I'"
                    >
                      <th scope="row" class="text-center">
                        <input
                          autocomplete="off"
                          :value="items.cus_cod"
                          text-left
                          v-model="checked"
                          type="radio"
                          @click="FindByCuscod(items.cus_cod)"
                        />
                      </th>
                      <td
                        class="sub-table-header-items"
                        v-if="items.tsale == 0"
                      >
                        ขายในประเทศ
                      </td>
                      <td
                        class="sub-table-header-items"
                        v-else-if="items.tsale == 1"
                      >
                        ขายต่างประเทศ
                      </td>
                      <td class="sub-table-header-items">
                        {{ items.cus_cod }}
                      </td>
                      <td class="sub-table-header-items">
                        {{ items.cus_name }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </CCol>

              <CCol md="12" style="overflow-x: auto">
                <table class="table styled-table wrap-table100">
                  <thead class="tableTab2">
                    <tr>
                      <th scope="col">เลือก</th>
                      <th scope="col">ประเภทสินค้า</th>
                      <th scope="col">ปภ.การอบ</th>
                      <th scope="col">รายละเอียด</th>
                      <th scope="col">รหัสป้าย</th>
                      <th scope="col">รายละเอียด</th>
                      <th scope="col">รหัสถุงบรรจุสินค้า</th>
                      <th scope="col">รายละเอียด</th>
                      <th scope="col">วันที่ประกาศใช้</th>
                      <th scope="col">วันที่หมดอายุ</th>
                    </tr>
                  </thead>
                  <tbody v-for="items in DataSubTable" :key="items.bagspec_id">
                    <tr style="max-height: 50px" v-if="items.status == 'I'">
                      <th class="sub-table-header-items" scope="col">
                        <input
                          autocomplete="off"
                          :value="items.bagspec_id"
                          text-left
                          v-model="checkedSpec"
                          type="checkbox"
                          class="checkbox_check"
                          name="Choosed"
                          @click="FindbyBagSpecID(items.bagspec_id)"
                        />
                      </th>
                      <th class="sub-table-header-items" scope="col">
                        {{ items.produccttype_code }}
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-if="items.stretchingtype_code.trim() != ''"
                      >
                        {{ items.stretchingtype_code }}
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-else-if="
                          items.stretchingtype_code.trim() == '' &&
                            producttype_net.includes(items.produccttype_code) ==
                              true
                        "
                      >
                        ทั้งหมด
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-else-if="
                          items.stretchingtype_code.trim() == '' &&
                            producttype_net.includes(items.produccttype_code) ==
                              false
                        "
                      >
                        &nbsp;
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-if="items.stretchingtype_desc.trim() != ''"
                      >
                        {{ items.stretchingtype_desc }}
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-else-if="
                          items.stretchingtype_desc.trim() == '' &&
                            producttype_net.includes(items.produccttype_code) ==
                              true
                        "
                      >
                        ทั้งหมด
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-else-if="
                          items.stretchingtype_desc.trim() == '' &&
                            producttype_net.includes(items.produccttype_code) ==
                              false
                        "
                      >
                        &nbsp;
                      </th>
                      <th class="sub-table-header-items" scope="col">
                        {{ items.label_cd }}
                      </th>
                      <th class="sub-table-header-items" scope="col">
                        {{ items.label_name }}
                      </th>
                      <th class="sub-table-header-items" scope="col">
                        {{ items.bag_cd }}
                      </th>
                      <th class="sub-table-header-items" scope="col">
                        {{ items.bag_name }}
                      </th>
                      <th class="sub-table-header-items" scope="col">
                        {{
                          new Date(items.effdate_st).toLocaleDateString("en-GB")
                        }}
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-if="items.effdate_en == '2000-01-01T00:00:00'"
                      >
                        ไม่กำหนด
                      </th>
                      <th class="sub-table-header-items" scope="col" v-else>
                        {{
                          new Date(items.effdate_en).toLocaleDateString("en-GB")
                        }}
                      </th>
                    </tr>
                  </tbody>
                </table>
              </CCol>
            </CRow>
          </CCardBody>
          <CCardBody v-if="itemsTabs3 === true">
            <CRow>
              <CCol md="8">
                <form>
                  <div class="offset my-3">
                    <label for="selectPageC ">แสดง</label>
                    <select
                      class="mx-1 selectPage-box"
                      name="selectPageC"
                      id="selectPageC"
                      v-model="perPageC"
                      @click="setPagesCancel()"
                    >
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="100">แสดงทั้งหมด</option>
                    </select>
                    <label for="selectPage"
                      >/ {{ dataCancelCount }} รายการ</label
                    >
                  </div>
                </form>
              </CCol>
              <CCol md="4" class="mt-3">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item">
                      <CButton
                        type="button"
                        class="text-danger"
                        v-if="pageC != 1"
                        @click="pageC--"
                        >Previous</CButton
                      >
                      <CButton type="button" class="text-danger" v-else disabled
                        >Previous</CButton
                      >
                    </li>
                    <li class="page-item">
                      <CButton
                        type="button"
                        @click="pageC++"
                        v-if="pageC < pagesC.length"
                        class="text-danger"
                        >Next</CButton
                      >
                      <CButton type="button" v-else disabled class="text-danger"
                        >Next</CButton
                      >
                    </li>
                  </ul>
                </nav>
              </CCol>
              <CCol md="10" style="overflow-x: auto">
                <table id="example" class="table styled-table wrap-table100">
                  <thead class="tableTab3">
                    <tr class>
                      <th style="width: 10%" scope="col" class="text-center">
                        เลือก
                      </th>
                      <th style="width: 20%">
                        ประเภทการขาย
                      </th>
                      <th style="width: 20%">
                        รหัสลูกค้า
                      </th>
                      <th style="width: 50%">
                        ชื่อลูกค้า
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="items in displayedPostsCancel"
                      :key="items.cus_cod"
                      v-if="items.status == 'C'"
                    >
                      <th scope="row" class="text-center">
                        <input
                          autocomplete="off"
                          :value="items.cus_cod"
                          text-left
                          v-model="checked"
                          type="radio"
                          @click="FindByCuscod(items.cus_cod)"
                        />
                      </th>
                      <td
                        class="sub-table-header-items"
                        v-if="items.tsale == 0"
                      >
                        ขายในประเทศ
                      </td>
                      <td
                        class="sub-table-header-items"
                        v-else-if="items.tsale == 1"
                      >
                        ขายต่างประเทศ
                      </td>
                      <td class="sub-table-header-items">
                        {{ items.cus_cod }}
                      </td>
                      <td class="sub-table-header-items">
                        {{ items.cus_name }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </CCol>

              <CCol md="12" style="overflow-x: auto">
                <table class="table styled-table wrap-table100">
                  <thead class="tableTab3">
                    <tr>
                      <th scope="col">เลือก</th>
                      <th scope="col">ประเภทสินค้า</th>
                      <th scope="col">ปภ.การอบ</th>
                      <th scope="col">รายละเอียด</th>
                      <th scope="col">รหัสป้าย</th>
                      <th scope="col">รายละเอียด</th>
                      <th scope="col">รหัสถุงบรรจุสินค้า</th>
                      <th scope="col">รายละเอียด</th>
                      <th scope="col">วันที่ประกาศใช้</th>
                      <th scope="col">วันที่หมดอายุ</th>
                    </tr>
                  </thead>
                  <tbody v-for="items in DataSubTable" :key="items.bagspec_id">
                    <tr style="max-height: 50px" v-if="items.status == 'C'">
                      <th class="sub-table-header-items" scope="col">
                        <input
                          autocomplete="off"
                          :value="items.bagspec_id"
                          text-left
                          v-model="checkedSpec"
                          type="checkbox"
                          class="checkbox_check"
                          name="Choosed"
                          @click="FindbyBagSpecID(items.bagspec_id)"
                        />
                      </th>
                      <th class="sub-table-header-items" scope="col">
                        {{ items.produccttype_code }}
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-if="items.stretchingtype_code.trim() != ''"
                      >
                        {{ items.stretchingtype_code }}
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-else-if="
                          items.stretchingtype_code.trim() == '' &&
                            producttype_net.includes(items.produccttype_code) ==
                              true
                        "
                      >
                        ทั้งหมด
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-else-if="
                          items.stretchingtype_code.trim() == '' &&
                            producttype_net.includes(items.produccttype_code) ==
                              false
                        "
                      >
                        &nbsp;
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-if="items.stretchingtype_desc.trim() != ''"
                      >
                        {{ items.stretchingtype_desc }}
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-else-if="
                          items.stretchingtype_desc.trim() == '' &&
                            producttype_net.includes(items.produccttype_code) ==
                              true
                        "
                      >
                        ทั้งหมด
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-else-if="
                          items.stretchingtype_desc.trim() == '' &&
                            producttype_net.includes(items.produccttype_code) ==
                              false
                        "
                      >
                        &nbsp;
                      </th>
                      <th class="sub-table-header-items" scope="col">
                        {{ items.label_cd }}
                      </th>
                      <th class="sub-table-header-items" scope="col">
                        {{ items.label_name }}
                      </th>
                      <th class="sub-table-header-items" scope="col">
                        {{ items.bag_cd }}
                      </th>
                      <th class="sub-table-header-items" scope="col">
                        {{ items.bag_name }}
                      </th>
                      <th class="sub-table-header-items" scope="col">
                        {{
                          new Date(items.effdate_st).toLocaleDateString("en-GB")
                        }}
                      </th>
                      <th
                        class="sub-table-header-items"
                        scope="col"
                        v-if="items.effdate_en == '2000-01-01T00:00:00'"
                      >
                        ไม่กำหนด
                      </th>
                      <th class="sub-table-header-items" scope="col" v-else>
                        {{
                          new Date(items.effdate_en).toLocaleDateString("en-GB")
                        }}
                      </th>
                    </tr>
                  </tbody>
                </table>
              </CCol>
            </CRow>
          </CCardBody>
        </CCard>
        <!-- //? TABLE -->
      </CCardBody>
      <CCardFooter>
        <CRow class>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-if="itemsTabs3 == true">
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_u_bagspec
          </CCol>
          <CCol md sm="12" class="mb-sm-2 mb-0" v-else>
            <div class="text-muted">ฐานข้อมูล</div>
            191.20.2.90 > masterdata > master_s_bagspec
          </CCol>
        </CRow>
      </CCardFooter>
    </CCard>

    <!-- openAddModal -->
    <CModal
      :show.sync="openAddModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="success"
    >
      <CRow class="form-group mx-5">
        <CCol md="8">
          <CRow class="mt-3">
            <CCol md="3">
              <span class="label-formInput">ประเภทการขาย</span>
              <span class="text-danger">*</span>
            </CCol>

            <CCol md="8">
              <div @click="CustomerOptions.selected = null">
                <multiselect
                  @input="FindCustomer"
                  v-model="SaleValue"
                  track-by="name"
                  label="name"
                  placeholder
                  ref="salevalue"
                  :options="SaleOptions"
                  :searchable="false"
                  :show-labels="false"
                  :allow-empty="false"
                ></multiselect>
              </div>
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span class="label-formInput">รหัสลูกค้า</span>
              <span class="text-danger">*</span>
            </CCol>
            <CCol md="8">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="CustomerOptions-filter"
                v-model="CustomerOptions.selected"
                :multiple="false"
                :options="CustomerOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="cuscod"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span class="label-formInput">ประเภทสินค้า</span>
              <span class="text-danger">*</span>
            </CCol>
            <CCol md="8">
              <multiselect
                @input="StretchingTypeOptions.selected = null"
                placeholder
                style="text-transform: uppercase !important"
                id="ProductTypeOptions-filter"
                v-model="ProductTypeOptions.selected"
                :multiple="false"
                :options="ProductTypeOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="producttypecode"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span>ประเภทการอบ</span>
            </CCol>
            <CCol md="6">
              <multiselect
                :allow-empty="false"
                placeholder
                v-if="
                  ProductTypeOptions.selected != null &&
                    producttype_net.includes(
                      ProductTypeOptions.selected.producttypecode
                    ) == true
                "
                id="StretchingTypeOptions-filter"
                v-model="StretchingTypeOptions.selected"
                :multiple="false"
                :options="StretchingTypeOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="stretching_type"
              ></multiselect>
              <input class="disableFormInput" v-else disabled />
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span class="label-formInput">รหัสป้าย</span>
              <span class="text-danger">*</span>
            </CCol>
            <CCol md="3">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="LabelOptions-filter"
                v-model="LabelOptions.selected"
                :multiple="false"
                :options="LabelOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="label_id"
                :allow-empty="false"
              ></multiselect>
            </CCol>
            <CCol md="6">
              <input
                class="disableFormInput"
                v-if="LabelOptions.selected != null"
                v-model="LabelOptions.selected.label_name_th"
                disabled
              />
              <input class="disableFormInput" v-else disabled />
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span class="label-formInput">รหัสถุงบรรจุสินค้า</span>
              <span class="text-danger">*</span>
            </CCol>
            <CCol md="3">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="BagOptions-filter"
                v-model="BagOptions.selected"
                :multiple="false"
                :options="BagOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="bag_id"
                :allow-empty="false"
              ></multiselect>
            </CCol>
            <CCol md="6">
              <input
                class="disableFormInput"
                v-if="BagOptions.selected != null"
                v-model="BagOptions.selected.bag_name_th"
                disabled
              />
              <input class="disableFormInput" v-else disabled />
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span>
                วันที่ประกาศใช้
              </span>
            </CCol>
            <CCol md="6">
              <date-picker
                v-model="insertData.effdate_st"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
            </CCol>
          </CRow>
          <CRow class="mt-3">
            <CCol md="3">
              <span>วันที่หมดอายุ</span>
            </CCol>
            <CCol md="6">
              <date-picker
                v-model="insertData.effdate_en"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="4">
          <CRow>
            <CCol md="12">
              <span>รูปถุงบรรจุสินค้า</span>
              <CCard style="min-height: 400px">
                <CCardBody v-if="BagOptions.selected != null">
                  <img
                    id="showImage"
                    :src="
                      'http://masterdatadev.kkfnets.com' +
                        BagOptions.selected.path_pic
                    "
                  />
                </CCardBody>
                <CCardBody v-else>
                  <img id="showImage" />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">
          เพิ่มข้อมูลการกำหนดมตฐ.เงื่อนไขถุงบรรจุสินค้า
        </h5>
        <CButtonClose
          @click="(openAddModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openAddModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
        <CButton @click="InsertSaveButton()" color="success">บันทึก</CButton>
      </template>
    </CModal>

    <!-- openEditModal -->
    <CModal
      :show.sync="openEditModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="warning"
    >
      <CRow class="form-group mx-5" v-if="nowDate > EditData.effdate_st">
        <CCol md="8">
          <h5 class="text-danger">
            * ไม่สามารถแก้ไขได้ เนื่องจากมีวันประกาศใช้ไปแล้ว
            แก้ไขได้เฉพาะวันที่หมดอายุ
          </h5>
          <CRow class="mt-3">
            <CCol md="3">
              <span class="label-formInput">ประเภทการขาย</span>
            </CCol>

            <CCol md="8">
              <div @click="CustomerOptions.selected = null">
                <input
                  class="disableFormInput"
                  v-model="EditData.tsaleType"
                  disabled
                />
              </div>
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span class="label-formInput">รหัสลูกค้า</span>
            </CCol>
            <CCol md="8">
              <input
                class="disableFormInput"
                v-model="EditData.customer"
                disabled
              />
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span class="label-formInput">ประเภทสินค้า</span>
            </CCol>
            <CCol md="8">
              <input
                class="disableFormInput"
                v-model="EditData.productype"
                disabled
              />
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span>ประเภทการอบ</span>
            </CCol>
            <CCol md="6">
              <input
                class="disableFormInput"
                v-model="EditData.stretchingType"
                disabled
              />
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span class="label-formInput">รหัสป้าย</span>
            </CCol>
            <CCol md="3">
              <input
                class="disableFormInput"
                v-model="EditData.label_cd"
                disabled
              />
            </CCol>
            <CCol md="6">
              <input
                class="disableFormInput"
                v-model="EditData.label_name"
                disabled
              />
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span class="label-formInput">รหัสถุงบรรจุสินค้า</span>
            </CCol>
            <CCol md="3">
              <input
                class="disableFormInput"
                v-model="EditData.bag_cd"
                disabled
              />
            </CCol>
            <CCol md="6">
              <input
                class="disableFormInput"
                v-model="EditData.bag_name"
                disabled
              />
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span>
                วันที่ประกาศใช้
              </span>
            </CCol>
            <CCol md="6">
              <date-picker
                v-model="EditData.effdate_st"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
                disabled
              ></date-picker>
            </CCol>
          </CRow>
          <CRow class="mt-3">
            <CCol md="3">
              <span>วันที่หมดอายุ</span>
            </CCol>
            <CCol md="6">
              <date-picker
                v-model="EditData.effdate_en"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="4">
          <CRow>
            <CCol md="12">
              <span>รูปถุงบรรจุสินค้า</span>
              <CCard style="min-height: 400px">
                <CCardBody v-if="BagOptions.selected != null">
                  <img
                    id="showImage"
                    :src="
                      'http://masterdatadev.kkfnets.com' +
                        BagOptions.selected.path_pic
                    "
                  />
                </CCardBody>
                <CCardBody v-else>
                  <img id="showImage" />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
        <CCol class="text-right" v-if="itemsTabs3 == false">
          <span>ผู้บันทึก {{ EditData.user_name }}</span>
          <br />
          <span
            >วันที่บันทึก
            {{
              new Date(EditData.user_date).toLocaleDateString("en-GB")
            }}</span
          >
        </CCol>
        <CCol
          class="text-right"
          v-else-if="checkedSpec != 0 && itemsTabs3 == true"
        >
          <span>ผู้ยกเลิก {{ EditData.cancel_name }}</span>
          <br />
          <span
            >วันที่ยกเลิก
            {{
              new Date(EditData.cancel_date).toLocaleDateString("en-GB")
            }}</span
          >
        </CCol>
      </CRow>
      <CRow class="form-group mx-5" v-else>
        <CCol md="8">
          <CRow class="mt-3">
            <CCol md="3">
              <span class="label-formInput">ประเภทการขาย</span>
            </CCol>
            <CCol md="8">
              <div @click="CustomerOptions.selected = null">
                <multiselect
                  @input="FindCustomer"
                  v-model="SaleValue"
                  track-by="name"
                  label="name"
                  placeholder
                  ref="salevalue"
                  :options="SaleOptions"
                  :searchable="false"
                  :show-labels="false"
                  :allow-empty="false"
                ></multiselect>
              </div>
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span class="label-formInput">รหัสลูกค้า</span>
            </CCol>
            <CCol md="8">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="CustomerOptions-filter-edit"
                v-model="CustomerOptions.selected"
                :multiple="false"
                :options="CustomerOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="cuscod"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span class="label-formInput">ประเภทสินค้า</span>
            </CCol>
            <CCol md="8">
              <multiselect
                @input="ChangeProductype()"
                placeholder
                style="text-transform: uppercase !important"
                id="ProductTypeOptions-filter-edit"
                v-model="ProductTypeOptions.selected"
                :multiple="false"
                :options="ProductTypeOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="producttypecode"
                :allow-empty="false"
              ></multiselect>
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span>ประเภทการอบ</span>
            </CCol>
            <CCol md="6">
              <multiselect
                :allow-empty="false"
                placeholder
                v-if="
                  ProductTypeOptions.selected != null &&
                    producttype_net.includes(EditData.produccttype_code) == true
                "
                id="StretchingTypeOptions-filter-edit"
                v-model="StretchingTypeOptions.selected"
                :multiple="false"
                :options="StretchingTypeOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="stretching_type"
              ></multiselect>
              <input class="disableFormInput" v-else disabled />
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span class="label-formInput">รหัสป้าย</span>
            </CCol>
            <CCol md="3">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="LabelOptions-filter-edit"
                v-model="LabelOptions.selected"
                :multiple="false"
                :options="LabelOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="label_id"
                :allow-empty="false"
              ></multiselect>
            </CCol>
            <CCol md="6">
              <input
                class="disableFormInput"
                v-if="LabelOptions.selected != null"
                v-model="LabelOptions.selected.label_name_th"
                disabled
              />
              <input class="disableFormInput" v-else disabled />
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span class="label-formInput">รหัสถุงบรรจุสินค้า</span>
            </CCol>
            <CCol md="3">
              <multiselect
                placeholder
                style="text-transform: uppercase !important"
                id="BagOptions-filter-edit"
                v-model="BagOptions.selected"
                :multiple="false"
                :options="BagOptions.lists"
                :show-labels="false"
                label="_label"
                track-by="bag_id"
                :allow-empty="false"
              ></multiselect>
            </CCol>
            <CCol md="6">
              <input
                class="disableFormInput"
                v-if="BagOptions.selected != null"
                v-model="BagOptions.selected.bag_name_th"
                disabled
              />
              <input class="disableFormInput" v-else disabled />
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span>
                วันที่ประกาศใช้
              </span>
            </CCol>
            <CCol md="6">
              <date-picker
                v-model="EditData.effdate_st"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
            </CCol>
          </CRow>
          <CRow class="mt-3">
            <CCol md="3">
              <span>วันที่หมดอายุ</span>
            </CCol>
            <CCol md="6">
              <date-picker
                v-model="EditData.effdate_en"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
              ></date-picker>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="4">
          <CRow>
            <CCol md="12">
              <span>รูปถุงบรรจุสินค้า</span>
              <CCard style="min-height: 400px">
                <CCardBody v-if="BagOptions.selected != null">
                  <img
                    id="showImage"
                    :src="
                      'http://masterdatadev.kkfnets.com' +
                        BagOptions.selected.path_pic
                    "
                  />
                </CCardBody>
                <CCardBody v-else>
                  <img id="showImage" />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
        <CCol class="text-right" v-if="itemsTabs3 == false">
          <span>ผู้บันทึก {{ EditData.user_name }}</span>
          <br />
          <span
            >วันที่บันทึก
            {{
              new Date(EditData.user_date).toLocaleDateString("en-GB")
            }}</span
          >
        </CCol>
        <CCol
          class="text-right"
          v-else-if="checkedSpec != 0 && itemsTabs3 == true"
        >
          <span>ผู้ยกเลิก {{ EditData.cancel_name }}</span>
          <br />
          <span
            >วันที่ยกเลิก
            {{
              new Date(EditData.cancel_date).toLocaleDateString("en-GB")
            }}</span
          >
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">
          แก้ไขข้อมูลการกำหนดมตฐ.เงื่อนไขถุงบรรจุสินค้า
        </h5>
        <CButtonClose
          @click="(openEditModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openEditModal = false), resetData()" color="danger"
          >ยกเลิก</CButton
        >
        <CButton @click="EditSaveButton()" color="success">บันทึก</CButton>
      </template>
    </CModal>

    <CModal
      :show.sync="openViewModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      size="xl"
      color="info"
    >
      <CRow class="form-group mx-5">
        <CCol md="8">
          <CRow class="mt-3">
            <CCol md="3">
              <span class="label-formInput">ประเภทการขาย</span>
            </CCol>

            <CCol md="8">
              <input
                class="disableFormInput"
                v-model="ViewData.tsale"
                disabled
              />
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span class="label-formInput">รหัสลูกค้า</span>
            </CCol>
            <CCol md="8">
              <input
                class="disableFormInput"
                v-model="ViewData.customer"
                disabled
              />
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span class="label-formInput">ประเภทสินค้า</span>
            </CCol>
            <CCol md="8">
              <input
                class="disableFormInput"
                v-model="ViewData.productype"
                disabled
              />
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span>ประเภทการอบ</span>
            </CCol>
            <CCol md="6">
              <input
                class="disableFormInput"
                v-model="ViewData.stretchingType"
                disabled
              />
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span class="label-formInput">รหัสป้าย</span>
            </CCol>
            <CCol md="3">
              <input
                class="disableFormInput"
                v-model="ViewData.label_cd"
                disabled
              />
            </CCol>
            <CCol md="6">
              <input
                class="disableFormInput"
                v-model="ViewData.label_name"
                disabled
              />
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span class="label-formInput">รหัสถุงบรรจุสินค้า</span>
            </CCol>
            <CCol md="3">
              <input
                class="disableFormInput"
                v-model="ViewData.bag_cd"
                disabled
              />
            </CCol>
            <CCol md="6">
              <input
                class="disableFormInput"
                v-model="ViewData.bag_name"
                disabled
              />
            </CCol>
          </CRow>

          <CRow class="mt-3">
            <CCol md="3">
              <span>
                วันที่ประกาศใช้
              </span>
            </CCol>
            <CCol md="6">
              <date-picker
                v-model="ViewData.effdate_st"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
                disabled
              ></date-picker>
            </CCol>
          </CRow>
          <CRow class="mt-3">
            <CCol md="3">
              <span>วันที่หมดอายุ</span>
            </CCol>
            <CCol md="6">
              <date-picker
                v-model="ViewData.effdate_en"
                value-type="YYYY-MM-DD"
                format="DD/MM/YYYY"
                disabled
              ></date-picker>
            </CCol>
          </CRow>
        </CCol>
        <CCol md="4">
          <CRow>
            <CCol md="12">
              <span>รูปถุงบรรจุสินค้า</span>
              <CCard style="min-height: 400px">
                <CCardBody>
                  <img
                    id="showImage"
                    :src="
                      'http://masterdatadev.kkfnets.com' + ViewData.path_pic
                    "
                  />
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
        </CCol>
        <CCol class="text-right" v-if="itemsTabs3 == false">
          <span>ผู้บันทึก {{ ViewData.user_name }}</span>
          <br />
          <span
            >วันที่บันทึก
            {{
              new Date(ViewData.user_date).toLocaleDateString("en-GB")
            }}</span
          >
        </CCol>
        <CCol
          class="text-right"
          v-else-if="checkedSpec != 0 && itemsTabs3 == true"
        >
          <span>ผู้ยกเลิก {{ ViewData.cancel_name }}</span>
          <br />
          <span
            >วันที่ยกเลิก
            {{
              new Date(ViewData.cancel_date).toLocaleDateString("en-GB")
            }}</span
          >
        </CCol>
      </CRow>
      <template #header>
        <h5 class="modal-title">
          ดูลายระเอียดข้อมูลการกำหนดมตฐ.เงื่อนไขถุงบรรจุสินค้า
        </h5>
        <CButtonClose
          @click="(openViewModal = false), resetData()"
          class="text-white"
        />
      </template>
      <template #footer>
        <CButton @click="(openViewModal = false), resetData()" color="danger"
          >ปิด</CButton
        >
      </template>
    </CModal>

    <CModal
      :show.sync="openDeleteModal"
      :closeOnBackdrop="false"
      :centered="true"
      title="Modal title 2"
      color="danger"
    >
      <CRow class="form-group mx-1">
        <CCol md="11">
          <h6>ยืนยันการลบข้อมูล</h6>
          <CRow class="mx-4">
            <h6 style="font-weight: 600">ID</h6>
            <h6 class="mx-2">{{ DeleteData.bagspec_id }}</h6>
          </CRow>
          <CRow class="mx-4">
            <h6 style="font-weight: 600">ประเภทการขาย</h6>
            <h6 class="mx-2">{{ DeleteData.tsale }}</h6>
          </CRow>
          <CRow class="mx-4">
            <h6 style="font-weight: 600">ลูกค้า</h6>
            <h6>{{ DeleteData.cus_cod }} : {{ DeleteData.cus_name }}</h6>
          </CRow>
          <CRow class="mx-4">
            <h6 style="font-weight: 600">ประเภทสินค้า</h6>
            <h6>
              {{ DeleteData.produccttype_code }} :
              {{ DeleteData.producttype_desc }}
            </h6>
          </CRow>
          <CRow class="mx-4">
            <h6 style="font-weight: 600">ประเภทการอบ</h6>
            <h6 class="mx-2">
              {{ DeleteData.stretchingtype_code }} :
              {{ DeleteData.stretchingtype_desc }}
            </h6>
          </CRow>
          <CRow class="mx-4">
            <h6 style="font-weight: 600">รหัสป้าย</h6>
            <h6 class="mx-2">
              {{ DeleteData.label_cd }} : {{ DeleteData.label_name }}
            </h6>
          </CRow>
          <CRow class="mx-4">
            <h6 style="font-weight: 600">รหัสถุง</h6>
            <h6 class="mx-2">{{ DeleteData.bag_cd }}</h6>
          </CRow>
          <CRow class="mx-4">
            <h6 style="font-weight: 600">รายละเอียด</h6>
            <h6 class="mx-2">{{ DeleteData.bag_name }}</h6>
          </CRow>
        </CCol>
      </CRow>

      <template #header>
        <h5 class="modal-title">
          ยืนยันการลบข้อมูลการกำหนดมตฐ.เงื่อนไขถุงบรรจุสินค้า
        </h5>
        <CButtonClose @click="openDeleteModal = false" class="text-white" />
      </template>
      <template #footer>
        <CButton @click="openDeleteModal = false" color="danger" variant="ghost"
          >ยกเลิก</CButton
        >
        <CButton @click="DeleteSaveButton" color="danger">ลบ</CButton>
      </template>
    </CModal>
  </div>
</template>

<script>
import bagspecnmixins from "./master_s_bagspecmixin";
export default {
  mixins: [bagspecnmixins],
};
</script>
