<template>
  <div class="c-app flex-row align-items-center container-login">
    <CContainer class>
      <CRow>
        <CCol md="12">
          <CCard class="p-4 wrap-login100 d-md-down-none">
            <CRow>
              <CCol>
                <p class="text-left">
                  <strong>ระบบโปรแกรมฐานข้อมูลอ้างอิงหลัก บริษัท ขอนแก่นแหอวน จำกัด (Master Data)</strong>
                </p>
              </CCol>
            </CRow>
            <CCardBody>
              <CRow>
                <CCol md="6" class="form-center">
                  <CRow v-if="regisFrom==false">
                    <CCol md="6">
                      <h1 class="blue-text">ลงชื่อเข้าใช้</h1>
                    </CCol>
                    <h2>/</h2>
                    <CCol md="5">
                      <h3 @click="regisFrom=true" class="gray-text">สมัครสมาชิก</h3>
                    </CCol>
                  </CRow>

                  <CRow v-if="regisFrom==true">
                    <CCol md="4">
                      <h3 @click="regisFrom=false" class="gray-text">ลงชื่อเข้าใช้</h3>
                    </CCol>
                    <h2>/</h2>
                    <CCol md="7">
                      <h1 class="blue-text-regis">สมัครสมาชิก</h1>
                    </CCol>
                  </CRow>

                  <CForm>
                    <CCol md="12" v-if="regisFrom == true">
                      <registerModule />
                    </CCol>
                  </CForm>
                  <CForm class="center">
                    <CCol md="12" v-if="regisFrom == false">
                      <CInput
                        label="ชื่อผู้ใช้"
                        placeholder
                        class="mt-0"
                        v-model="form.user_id"
                        required
                        trim
                      />
                      <CInput
                        label="รหัสผ่าน"
                        placeholder
                        type="password"
                        v-model="form.user_password"
                        @keyup.enter="onSigninButtonClick"
                        required
                        trim
                      />
                      <CRow>
                        <CCol col="6" class="text-left mt-4"></CCol>
                        <CCol col="6" class="text-right mt-4">
                          <CButton
                            class="px-4 primary-button btn-block"
                            @click="onSigninButtonClick"
                          >เข้าสู่ระบบ</CButton>
                        </CCol>
                      </CRow>
                    </CCol>
                  </CForm>
                </CCol>
                <CCol md="4" class="center">
                  <CImg src="../img/kkf_menulogo.png" class="mx-5" fluid-grow />
                </CCol>
              </CRow>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
      <CContainer>
        <CRow class>
          <CCol md="12">
            <CCardGroup>
              <CCard class="p-4 wrap-login100 d-lg-none">
                <CRow>
                  <CCol>
                    <p class="text-left">
                      <strong>ระบบโปรแกรมฐานข้อมูลอ้างอิงหลัก บริษัท ขอนแก่นแหอวน จำกัด (Master Data)</strong>
                    </p>
                 </CCol>
                </CRow>
                <CCardBody>
                  <CRow>
                    
                  </CRow>
                  <CRow v-if="regisFrom==false">
                    <CCol md="6">
                      <h1 class="blue-text">ลงชื่อเข้าใช้</h1>
                    </CCol>
                    <h2>/</h2>
                    <CCol md="5">
                      <h3 @click="regisFrom=true" class="gray-text">สมัครสมาชิก</h3>
                    </CCol>
                    
                  </CRow>

                  <CRow v-if="regisFrom==true">
                    <CCol md="4">
                      <h3 @click="regisFrom=false" class="gray-text">ลงชื่อเข้าใช้</h3>
                    </CCol>
                    <h2>/</h2>
                    <CCol md="7">
                      <h1 class="blue-text-regis">สมัครสมาชิก</h1>
                    </CCol>
                  </CRow>
                  <CCol md="12" v-if="regisFrom == true">
                    <registerModule />
                  </CCol>
                  <CCol md="12" class="mt-5" v-if="regisFrom == false">
                    <CForm style="margin-top:6rem;">
                      <CInput
                        label="ชื่อผู้ใช้"
                        placeholder
                        class="mt-5"
                        v-model="form.user_id"
                        required
                        trim
                      />
                      <CInput
                        label="รหัสผ่าน"
                        placeholder
                        type="password"
                        v-model="form.user_password"
                        @keyup.enter="onSigninButtonClick"
                        required
                        trim
                      />
                      <CRow>
                        <CCol col="6" class="text-left mt-4">
                          <CButton
                            class="px-4 btn-block primary-ghost-button"
                            block
                            @click="regisFrom=true"
                          >สมัครสมาชิก</CButton>
                        </CCol>
                        <CCol col="6" class="text-right mt-4">
                          <CButton
                            class="px-4 primary-button btn-block"
                            @click="onSigninButtonClick"
                          >เข้าสู่ระบบ</CButton>
                        </CCol>
                      </CRow>
                    </CForm>
                  </CCol>
                </CCardBody>
              </CCard>
            </CCardGroup>
          </CCol>
        </CRow>
      </CContainer>
    </CContainer>
  </div>
</template>

<script>
import swal from "sweetalert";
import registerModule from "@/components/Register";

export default {
  name: "Login",
  data() {
    return {
      form: {
        user_id: "",
        user_password: "",
      },
      regisFrom: false,
      show: true,
    };
  },
  components: {
    registerModule,
  },
  methods: {
    onSigninButtonClick() {
      if (this.form.user_id !== "" && this.form.user_password !== "") {
        try {
          this.$root.api.OauthLogin({
            data: this.form,
            callback: (res) => {
              this.$localStorage.set("Token", res.token);
              this.$localStorage.set("UserID", res.user_id);
              this.$localStorage.set("User", res.user_fullname);
              swal(
                "สำเร็จ!",
                "เข้าสู่ระบบเสร็จสิ้น กรุณารอสักครู่!",
                "success"
              );
              setTimeout("window.location.href = '/dashboard'",700);
            },
          });
          console.error(error);
        } catch (error) {
          swal("ผิดพลาด!", "กรุณากรอกชื่อผู้ใช้และรหัสผ่านให้ถูกต้อง", "error");
        }
      } else {
        swal("ผิดพลาด!", "กรุณากรอกชื่อผู้ใช้และรหัสผ่าน", "error");
      }
    },
  },
};
</script>

<style scoped>
.container-login {
  background-image: url("/img/236.jpg");
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
}
.wrap-login100 {
  height: 700px;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .container-login {
    background-image: url("/img/236.jpg");
  }
  .wrap-login100 {
    border-radius: 10px;
    background-image: url("/img/");
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}
</style>
